.seu-place-schedule-thumbnail {
    margin-top: 50px;
    &:last-child {
        margin-bottom: 100px;
    }
    h2 {
        @extend %text-h2;
    }
    .item-link {
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
        &:hover,
        &:focus {
            h2 {
                text-decoration: underline;
            }
        }
    }
    .detail-block {
        background: #f6f6f6;
        padding: 20px 30px;
    }
    .item-info {
        display: flex;
        justify-content: space-between;
        @include RWD(mobile) {
            display: block;
        }
    }
    .item-real-time {
        display: flex;
        align-items: center;
    }
    .real-time-title {
        font-family: "MontSerrat", arial;
        font-weight: 700;
        text-transform: uppercase;
        color: #31455d;
    }
    .real-time-detail {
        display: block;
        color: #31455d;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .item-geoloc {
        color: #31455d;
        height: 40px;
        display: flex;
        align-items: center;
        span {
            font-family: "MontSerrat", arial;
            font-weight: 700;
            text-transform: uppercase;
            color: #31455d;
            vertical-align: baseline;
        }
        &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background-size: 12px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(svg-bg-uri($svg-marker, #31455d));
            margin-right: 12px;
            flex-shrink: 0;
        }
    }
    .item-schedule {
        background: white;
        padding: 20px 30px;
        margin: 20px 0;
    }
    .schedule-title {
        font-family: "MontSerrat", arial;
        font-weight: 700;
        text-transform: uppercase;
        color: #31455d;
        display: flex;
        justify-content: space-between;
        @include RWD(mobile) {
            display: block;
        }
    }
    .subplace-schedule-list {
        margin-top: 20px;
        @include RWD(not-mobile) {
            padding-left: 20px;
        }
    }
    .subplace-schedule {
        font-family: "MontSerrat", arial;
        @include RWD(not-mobile) {
            display: flex;
            justify-content: space-between;
        }
        &+.subplace-schedule {
            margin-top: 5px;
            padding-top: 5px;
            border-top: 1px solid #e3e3e3 !important;
        }
    }
    .schedule {
        @include RWD(not-mobile) {
            text-align: right;
        }
        @include RWD(mobile) {
            margin-left: 10px;
        }
    }
    .btn-line {
        width: 100%;
        text-align: right;
    }
    .crowded-amount {
        @extend %crowded-amount;
    }
}

%crowded-amount {
    text-align: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #40A040;
    font-size: 2.8rem;
    color: #FFFFFF;
    font-weight: 600;
    font-family: $site-font;
    border-radius: 50%;
    margin: 5px 0;
    margin-right: 25px;
    flex-shrink: 0;
    margin-left: 10px;
    border: solid 2px #FFFFFF;
    white-space: nowrap;
    &.green {
        background-color: #40A040
    }
    &.orange {
        background-color: #FF470F
    }
    &.red {
        background-color: #FF0F0F
    }
    &.black {
        background-color: #272222
    }
    &.white {
        background-color: #FFFFFF;
        color: #272222;
    }
    &.grey {
        background-color: #9E9E9E
    }
}