additionalConfigurations=""
additionalIndexConfigurations = "{\n\t\"index.mapping.total_fields.limit\": 90000,\n\t\"analysis\": {\n\t\t\"filter\": {\n\t\t\t\"strasbourg_synonyms_filter\": {\n\t\t\t\t\"type\": \"synonym\",\n\t\t\t\t\"synonyms_path\": \"analysis/synonyms.txt\"\n\t\t\t}\n\t\t},\n\t\t\"analyzer\": {\n\t\t\t\"strasbourg_analyzer\": {\n\t\t\t\t\"tokenizer\": \"standard\",\n\t\t\t\t\"filter\": [\n\t\t\t\t\t\"lowercase\",\n\t\t\t\t\t\"strasbourg_synonyms_filter\"\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n}"
additionalTypeMappings=""
bootstrapMlockAll="false"
clientTransportIgnoreClusterName="false"
clientTransportNodesSamplerInterval=""
clientTransportPingTimeout=""
clientTransportSniff="true"
clusterName="LiferayElasticsearchCluster"
discoveryZenPingUnicastHostsPort="9300-9400"
httpCORSAllowOrigin="/https?://localhost(:[0-9]+)?/"
httpCORSConfigurations=""
httpCORSEnabled="true"
httpEnabled="true"
indexNamePrefix="liferay-"
indexNumberOfReplicas=""
indexNumberOfShards=""
logExceptionsOnly="true"
networkBindHost=""
networkHost=""
networkPublishHost=""
operationMode="REMOTE"
overrideTypeMappings=""
retryOnConflict="5"
transportAddresses="46.18.194.74:9300"
transportTcpPort=""