.arrow-box {
	position: relative;
	background: #2d2d2d;
	border: 2px solid #fff;
}
.arrow-box:after, .arrow-box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box:after {
	border-color: rgba(45, 45, 45, 0);
	border-bottom-color: #2d2d2d;
	border-width: 8px;
	margin-left: -8px;
}
.arrow-box:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 11px;
	margin-left: -11px;
}