.to-top {
	display: block;
	margin: 1rem auto;
	width: 32px;
	height: 32px;
	background-color: #262626;
	border: 2px solid white;
	background-image: url(../images/ui/top-nobg.png);
	background-repeat: no-repeat;
	background-position: center;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: url(../images/ui/top-nobg@2x.png);
		background-size: 16px;
	}
}
.footer {
	background: #4d4d4d;
	color: white;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	a:hover {
		color: #7FA400;
	}
	.footer-partners {
		background: #444444;
		margin-top: 20px;
		padding: 10px;
		h3 {
			font-size: 1.7rem;
		}
		ul {
			list-style: none;
			padding: 0;
		}
		li {
			display: inline-block;
			margin: 2rem;
			img {
				max-width: 10rem;
				max-height: 10rem;
			}
		}
	}
	.footer-links {
		background: #444444;
		margin-top: 5px;
		a {
			font-size: 1.5rem;
			&:hover {
				text-decoration: underline;
			}
		}
		ul {
			list-style: none;
			padding: 0;
		}
		.links {
			padding-left: 10px;
			border-bottom: 1px solid #999999;
		}
		.links > li {
			display: inline-block;
			vertical-align: top;
			border-right: 1px solid #999999;
			margin: 2rem 0;
			margin-right: 3rem;
			padding-right: 3rem;
			font-size: 1.5rem;
			&:last-child {
				border-right: none;
			}
		}
		.eurometropole {
			text-transform: none;
			padding: 2rem 1rem;
			font-size: 1.3rem;
		}
		.follow-us {
			padding: 2rem;
		}
		.follow-links {
			font-weight: 100;
			padding-top: 2rem;
			margin-top: 2rem;
			border-top: 1px solid #999999;
			li {
				display: inline-block;
				margin-left: 2rem;
				padding-right: 2rem;
				border-right: 1px solid #999999;
				text-transform: none;
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	.footer-bar {
		background: #262626;
		.container {
			padding: 10px;
			padding-left: 3rem;
		}
	}
}


.mobile {
	.footer .footer-partners {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		h3 {
			text-align: center;
			font-size: 2rem;
			font-weight: 400;
		}
		li {
			margin: 0 0 1rem 0;
			width: 100%;
			text-align: center;
			a img {
				display: none;
			}
			a span {
				display: block;
			}
		}
	}
	.footer .footer-links {
		margin-top: 0;
		.left-block {
			background-color: rgba(59, 59, 59, 1);
			border: none;
			margin-left: -1.5rem;
			width: calc(100% + 3rem);
		}
		.eurometropole {
			display: none;
		}
		.links {
			border-bottom: none;
			padding: 1rem 0;
			li {
				display: block;
				width: 100%;
				margin: 0 0 1rem 0;
				text-align: center;
				padding-right: 0;
				border-right: 0;
			}
		}
		.follow-us {
			margin: auto;
			text-align: center;
			li {
				display: block;
				border: none !important;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				padding-bottom: 1rem;
			}
		}
	}
	.footer-bar	{
		text-align: center;
	}
}