#nav-toggle { 
	display: inline-block;
	width: 40px;
	margin-bottom: 10px;
	padding: 0;
	cursor: pointer;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 3px;
	height: 3px;
	width: 35px;
	background: white;
	position: absolute;
	display: block;
	content: '';
}
#nav-toggle span:before {
	top: -10px; 
}
#nav-toggle span:after {
	bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
	background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}
#nav-toggle.active span:before {
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
#nav-toggle.active span:after {
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}