#page .menu {
	position: static;
}

.menu {
	background-color: #2d2d2d;
	margin: auto;
	max-width: 1600px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: table-cell;
		vertical-align: middle;
		width: 13%;
		height: 8rem;
		font-family: 'Roboto', sans-serif;
		font-size: 1.7rem;
		text-transform: uppercase;
		color: white;
		text-align: center;
		border-left: 1px solid #666666;
		border-bottom: 1px solid #97bf0c;
		transition: background-color 0.3s ease;
		&:hover {
			background-color: #97bf0c;
		}
		a {
			display: table;
			width: 100%;
			height: 100%;
			padding: 0.5rem;
			span {
				display: table-cell;
				vertical-align: middle;
			}
		}
		a:hover {
			text-decoration: none;
		}
	}
	li.search {
		width: 5%;
		min-width: 60px;
		border-right: 1px solid #666666;
		border-bottom: 0;
	}
}
.search-box {
	z-index: 11;
	position: absolute;
	left: -300px;
	top: 100%;
	padding-top: 10%;
	height: 40px;
	opacity: 0;
	transition: opacity 0.3s ease;
	button {
		width: 58px;
		height: 40px;
		&:after {
			transition: border-bottom-color 0.3s ease;
		}
		&:hover:after {
			border-bottom-color: #97bf0c;
		}
	}
}
li.search:hover .search-box {
	opacity: 1;
	display: block;
}

.mobile {
	.search-box {
		left: auto;
		top: auto;
		right: 7rem;
		padding-top: 0.3rem;
		&.active {
			opacity: 1;
		}
		font-size: 2rem;
		input[type="text"].search-input {
			width: calc(100% - 60px);
			height: 4rem;
		}
	}
}