#bref{
    padding: 0 5px 20px;

    @include RWD(tablet_portrait){
        padding: 0;
    }

    .content{

        @include RWD(tablet_portrait){
            display: flex;
        }

        h2{
            @include ft($times, 1.875rem, 400, $color_main, 2.125rem, italic);
            text-align: center;
            margin-bottom: 25px;

            @include RWD(tablet_portrait){
                margin: auto;
                font-size: 3.75rem;
                line-height: 4.25rem;
            }
        }

        .slider{
            position: relative;
            width: 100%;

            @include RWD(tablet_portrait){
                width: calc(75% - 110px);
                margin-right: 110px;
            }

            .swiper{
                position: static;

                .swiper-slide{
                    height: auto;

                    .bref-thumbnail{
                        display: flex;
                        flex-direction: column;
                        background: $color_third;
                        padding: 20px 25px 13px;
                        height: 100%;

                        @include RWD(tablet_portrait){
                            padding: 20px 30px 36px;
                        }
            
                        .title{
                            @include ft($proximaNova, 0.875rem, 700, $color_txt, 1rem, "");
                            margin-bottom: 10px;

                            @include RWD(tablet_portrait){
                                font-size: 1.15rem;
                                line-height: 1.4rem;
                            }
                        }
                
                        .chapo{
                            @include ft($proximaNova, 0.875rem, 400, $color_txt, 1rem, "");
                            margin-bottom: 10px;

                            @include RWD(tablet_portrait){
                                font-size: 0.95rem;
                                line-height: 1.25rem;
                            }
                        }
                
                        .date{
                            @include ft($proximaNova, 0.875rem, 400, $color_txt, 1rem, "");
                            margin-bottom: 0;
                            margin-top: auto;

                            @include RWD(tablet_portrait){
                                font-size: 1.05rem;
                                line-height: 1.25rem;
                            }
                        }

                        .paginate{
                            display: none;

                            @include RWD(tablet_portrait){
                                display: block;
                                position: absolute;
                                bottom: 18px;
                                right: 32px;

                                .first, .second{
                                    display: inline-block;
                                    border-radius: 0;
                                    width: 12px;
                                    height: 12px;
                                    opacity: 1;
                                }
                            }
                        }

                        &:first-child{
                            .paginate {                     
                                .first{
                                    background: $color_main;
                                }
        
                                .second{
                                    background: $color_third;
                                }
                            }
                        }
        
                        &:last-child{
                            .paginate {                     
                                .first{
                                    background: $color_third;
                                }
        
                                .second{
                                    background: $color_main;
                                }
                            }
                        }
                    }
                }

                .swiper-pagination{
                    bottom: -30px;

                    @include RWD(tablet_portrait){
                        display: none;
                    }

                    .swiper-pagination-bullet{
                        border-radius: 0;
                        width: 12px;
                        height: 12px;
                        background: $color_third;
                        opacity: 1;
                        box-shadow: 0px 3px 5px 1px #{$color_second}9;
            
                        &.swiper-pagination-bullet-active{
                            background: $color_main;
                        }
                    }
                }
                
                .swiper-button-next, .swiper-button-prev {             
                    @include RWD(tablet_portrait){
                        display: none;
                    }
                }
            }
        }
    }
}