#global .search-asset-thumbnail .event-thumbnail{
    width: 100%;
        
    @include RWD(tablet_portrait){
        width: calc(calc(100% - 110px) / 3);
    }
}

#global .event-thumbnail{
    display: block;
    height: 410px;
    background-size: cover;
    background-position: center;
    margin-left: 15px;
    position: relative;
    box-shadow: 0px 1px 10px 0px #{$color_second}9;

    @include RWD(tablet_portrait){
        margin-right: 15px;

        &:hover{
            .info:after{ 
                transform: translate(-35px, -35px);
                background: white;
                background-image: url( svg-bg-uri($svg-plus, $color_main) );
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    .visit{
        @include ft($proximaNova, 0.75rem, 700, $color_third, 0.95rem, "");
        background: #C42147;
        padding: 15px;
        @include positionAbsolute("", "", (top: 30px, left: -15px));
        text-transform: uppercase;
        max-width: 80%;
        
        @include RWD(tablet_portrait){
            font-size: 0.95rem;
            line-height: 1.1rem;
        }
    }

    .info{
        @include positionAbsolute("", "", (bottom: 0, left: 0));
        width: 100%;
        height: 200px; 
        background: linear-gradient(360deg, $color_main 0.52%, rgba(49, 7, 17, 0.5) 70.83%, rgba(0, 0, 0, 0) 100%);
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        &:after{
            content: '';
            @include positionAbsolute("", "", (bottom: 20px, right: 20px));
            text-align: center;
            background: white;
            background-image: url( svg-bg-uri($svg-plus, $color_main) );
            background-position: center;
            background-repeat: no-repeat;
            padding: 5px;
            width: 30px;
            height: 30px;

            @include RWD(tablet_portrait){
                background-image: none;
                background-color: $color_main;
                bottom: -15px;
                right: -15px;
                transition: all 1s ease;
            }
        }

        .title{
            @include ft($proximaNova, 0.95rem, 700, white, 1.125rem, "");
            margin-bottom: 20px;
            text-transform: uppercase;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
        
            @include RWD(tablet_portrait){
                font-size: 1.05rem;
                line-height: 1.25rem;
            }

            span{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }

        .dates{
            @include ft($proximaNova, 0.875rem, 400, white, 1.05rem, "");
            margin-bottom: 20px;
        
            @include RWD(tablet_portrait){
                font-size: 1rem;
                line-height: 1.25rem;
            }
        }

        .museums{
            @include ft($proximaNova, 0.875rem, 400, white, 1.05rem, "");
            width: calc(100% - 35px);
            height: 1rem;

            @include RWD(tablet_portrait){
                width: auto;
                font-size: 1rem;
                line-height: 1.25rem;
            }

            span{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}