#global .news-thumbnail{
    display: block;
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0px 1px 10px 0px #{$color_second}9;

    @include RWD(tablet_portrait){
        margin-right: 15px;
        margin-bottom: 15px;
        height: 280px;

        &:hover{
            .info:after{ 
                transform: translate(-35px, -35px);
                background: white;
                background-image: url( svg-bg-uri($svg-plus, $color_main) );
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    .info{
        @include positionAbsolute("", "", (bottom: 0, left: 0));
        width: 100%;
        height: 200px; 
        background: linear-gradient(360deg, $color_main 0.52%, rgba(49, 7, 17, 0.5) 70.83%, rgba(0, 0, 0, 0) 100%);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;

        &:after{
            content: '';
            @include positionAbsolute("", "", (bottom: 20px, right: 20px));
            text-align: center;
            background: white;
            background-image: url( svg-bg-uri($svg-plus, $color_main) );
            background-position: center;
            background-repeat: no-repeat;
            padding: 5px;
            width: 30px;
            height: 30px;

            @include RWD(tablet_portrait){
                background-image: none;
                background-color: $color_main;
                bottom: -15px;
                right: -15px;
                transition: all 1s ease;
            }
        }

        .date{
            @include ft($times, 0.875rem, 400, white, 1rem, italic);
            margin-bottom: 10px;

            @include RWD(tablet_portrait){
                font-size: 1rem;
                line-height: 1.15rem;
            }
        }

        .museums{
            @include ft($proximaNova, 0.875rem, 400, white, 1.25rem, "");
            position: relative;
            margin-bottom: 10px;
            width: fit-content;

            @include RWD(tablet_portrait){
                font-size: 0.95rem;

                &:hover{

                    .list-museums{
                        @include ft($proximaNova, 0.95rem, 400, white, 1.25rem, "");
                        background: $color_main;
                        padding: 30px;
                        margin: 0;
                        @include positionAbsolute(1, "", "");
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }
                }
            }

            > span{
                text-decoration: underline;
            }

            .list-museums{
                display: none;
            }
        }

        .title{
            @include ft($proximaNova, 0.8rem, 700, white, 0.95rem, "");
            text-transform: uppercase;
            margin-bottom: 0;
            width: calc(100% - 35px);

            @include RWD(tablet_portrait){
                font-size: 1rem;
                line-height: 1.25rem;
            }

            span{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}