.rubric-thumbnail{
    display: block;
    height: 220px;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0px 15px 10px 0px #{$color_second}2;
    margin-bottom: 30px;
    transition: all 1s ease;

    @include RWD(tablet_portrait){
        width: calc(calc(100% - 80px) / 3);
        height: 260px;

        &:hover{
            height: 220px;
        }

        &:not(:hover) .info:after{
            content: none;
        }
    }

    .info{
        @include positionAbsolute("", "", (bottom: 0, left: 0));
        width: 100%;
        height: 115px; 
        padding: 0 55px;

        &:not(.noImage){
            background: linear-gradient(360deg, $color_main 0.52%, rgba(49, 7, 17, 0.5) 70.83%, rgba(0, 0, 0, 0) 100%);
        }

        @include RWD(tablet_portrait){
            height: 130px;
            padding: 0 65px;
        }
        
        &:after{
            content: '';
            @include positionAbsolute("", "", (bottom: -15px, left: calc(50% - 15px)));
            text-align: center;
            background: white;
            background-image: url( svg-bg-uri($svg-plus, $color_main) );
            background-position: center;
            background-repeat: no-repeat;
            padding: 5px;
            width: 30px;
            height: 30px;
        }

        .title{
            @include ft($proximaNova, 1.0625rem, 700, white, 1.25rem, "");
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 100%;

            @include RWD(tablet_portrait){
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
        }
    }
}