.lfr-form-row {
    width: 40%;
    display: inline-block;
    margin: 20px;
    border: 1px solid #ccc;
}
.lfr-form-row:hover {
    border: 1px solid #B2FF3A;
    padding-top: 1px;
}

.place-period-name, .place-period-label, .place-period-url, .place-period-default, .place-period-start-date, .place-period-end-date, .place-period-incorrect-date {
   	margin-top: -10px;
    margin-bottom: 10px;
    color: #CC6677;
}

.place-slot-start-hour, .place-slot-end-hour, .place-slot-incorrect-hour {
    margin-top: -10px;
    margin-bottom: 10px;
    color: #CC6677;
}

.place-schedule-start-hour, .place-schedule-end-hour, .place-schedule-description, .place-schedule-start-date, .place-schedule-end-date, .place-schedule-incorrect-date, .place-schedule-incorrect-hour {
    margin-top: -10px;
    margin-bottom: 10px;
    color: #CC6677;
}

.row-fields {
	padding: 20px;
}

.period-label {
	margin: -10px;
	margin-bottom: 10px;
	padding: 10px;
	cursor: pointer;
	color: #869CAD;
	background-color: #F5F8FA;
}

.period-label label {
	cursor: pointer;
}

.period {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
}


.slot-label {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    margin-top:10px;
    padding: 10px;
}

.slot-content {
    width: 30%;
    display: inline-block;
    margin: 15px;
	padding: 10px;
    border: 1px solid #ccc;
}

.schedule-label {
	margin-bottom: 10px;
}

.schedule-exception{
	margin-top: 20px;
	margin-bottom: 20px;
}

#site .icon-asterisk{
	display:none;
}

#subPlaces{
	text-align: center;
	margin-bottom: 20px;
}

#subPlacestable tr{
	vertical-align: middle;
	text-align: center !important;
	height: 50px;
}

#subPlacestable th{
	padding: 10px;
	text-align: center !important;
	font-size: 18px;
	background-color: #ddd;
	width: 25%;
}

#subPlaces .form-group{
	margin-bottom: 0px;
}

.attendance-label {
	margin: -10px;
	margin-bottom: 10px;
	padding: 10px;
	cursor: pointer;
	color: #869CAD;
	background-color: #F5F8FA;
}

.attendance-label label {
	cursor: pointer;
}