.portlet {
  margin-bottom: 0;
}

.portlet-topper {
  height: 30px;
  z-index: 3000;
  .dropdown-menu {
    display: none !important;
  }
}

.has-control-menu #mns-header {
  margin-top: 65px;
  @include mobile {
      margin-top: 45px;
    }
}

.has-control-menu #mns-header .mns-nav.mns-nav-scroll {
  margin-top: 65px;
  @include mobile {
      margin-top: 45px;
    }
}

h2.portlet-title-text {
  display: none;
}

 .page-header {
  border-bottom: none;
  padding-bottom: 0;
  margin: 0;
}

 .alert-success {
  display: none;
}

.portlet-asset-publisher .portlet-body > div > .h2 {
  display: none;
}

.navbar .navbar-collapse:after, .navbar .navbar-collapse:before {
  display: table !important;
}

.has-control-menu {
  #mns-header{
    .mns-nav {
      &.mns-nav-scroll {
        .navbar-collapse {
          @include mobile {
            margin-top: 45px;
          }
        }
      }
    }
  }
}

.dropdown-toggle.direction-down.btn.btn-default {
    border: 2px solid #ebded3;
    border-radius: 21px;
    background: none;
}

.pager li > a, .pager li > span {
  border: 2px solid #ebded3;
  border-radius: 21px;
  background: none;

  margin: 0 5px;
  font-family: "playfair",serif;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  line-height: normal;
  position: relative;
}

.taglib-page-iterator {
    position: relative;
    border-top: 1px solid #d8dae4;
    border-bottom: 1px solid #d8dae4;
    padding: 10px 0;
    margin-bottom: 30px;
  .lfr-pagination-buttons {
    line-height: 46px;
  }
}

.mns-thematiques .mns-bloc-actu img{
  height: 195px;
}
