html{
    font-size: 10px;
}

body{
    font-size: 14px;
}

.portlet {
  margin-bottom: 0;
}

.portlet-topper {
  height: 30px;
  z-index: 3000;
  .dropdown-menu {
    display: none !important;
  }
}

.has-control-menu #mns-header {
  margin-top: 56px;
  @include mobile {
      margin-top: 45px;
    }
}

.has-control-menu #mns-header .mns-nav.mns-nav-scroll {
  margin-top: 56px;
  @include mobile {
      margin-top: 45px;
    }
}

h2.portlet-title-text {
  display: none;
}

.page-header {
  border-bottom: none;
  padding-bottom: 0;
  margin: 0;
}

 .alert-success {
  display: none;
}

.portlet-asset-publisher .portlet-body > div > .h2 {
  display: none;
}

.navbar .navbar-collapse:after, .navbar .navbar-collapse:before {
  display: table !important;
}

.has-control-menu {
  #mns-header{
    .mns-nav {
      &.mns-nav-scroll {
        .navbar-collapse {
          @include mobile {
            margin-top: 45px;
          }
        }
      }
    }
  }
}

.dropdown-toggle.direction-down.btn.btn-default {
    border: 2px solid #ebded3;
    border-radius: 21px;
    background: none;
}

.pager li > a, .pager li > span {
  border: 2px solid #ebded3;
  border-radius: 21px;
  background: none;

  margin: 0 5px;
  font-family: "playfair",serif;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  line-height: normal;
  position: relative;
}

.taglib-page-iterator {
    position: relative;
    padding: 10px 0;
    margin-bottom: 30px;
    .lfr-icon-menu-text{
      color: #333;
      font-size: 14px;
    }
    .lfr-icon-menu-arrow{
      color: #333;
    }
    .lfr-pagination-buttons {
      line-height: 46px;
    }
    small.search-results {
      font-size : 85%;
    }
   .lfr-icon-menu-arrow.caret {
        font-size: 14px;
   }
}

// Taille des options des listes déroulantes de liferay
.lfr-icon-item.taglib-icon {
  font-size: 14px;
}

.mns-triple-actu-bloc .mns-bloc-actu img{
  height: 250px;
}

.mns-thematiques .mns-bloc-actu img{
  height: 195px;
}

.portlet-barebone {
  min-height: 100px;

  header{
    transform: none !important;
  }

  .visible-interaction{
    transform: translateY(97%);
  }
}

ul, ol{
    list-style-position: inside;
}

/** Début des correctifs du menu liferay modifié par le theme du site **/
// "Aller au site" avec la bonne size
.goto-link.list-group-heading.panel-header-link{
	font-size: 14px;
}

// Menu de droite
.lfr-add-panel{
	font-size: 15px;
	font-family: OpenSans, arial;

	.lfr-content-item{  
		margin-bottom: 8px;

		.taglib-icon-label {
		font-size: 16px;
		}

		.lexicon-icon {
		height: 14px;
		margin-top: 3px;
		width: 14px;
		}

		.list-group-item-content{      
		h1{
		font-size: 14px !important;
		font-family: OpenSans, arial;
		font-weight: 600;
		}

		h2,h3{
		font-size: 14px !important;
		font-family: OpenSans, arial;
		}
		}
	}
} 

// menu une fois connecté
.nav-btn {
  height: auto;
}

// affichage des menus des portlets
.portlet:hover > .portlet-topper{
  width: calc(100% - 35px);
  height: auto;
}
.portlet-journal-content .portlet .portlet-header .visible-interaction {
  
  display: inline;
  .lfr-icon-menu{
    background-color: transparent;
    display: inline;

    > a{
      height: 32px;
      line-height: 32px;
      width: 32px;

      .lexicon-icon{
        height: 32px;
        width: 32px;
        padding: 8px;
      }
    }
  }
}

/* Masquage du menu du contenu web en mode non connecté liferay */
.signed-out section .mb-2 {
 display: none;
}

/* accès au checkbox se souvenir de moi */
.portlet-login input{
  -webkit-appearance: auto;
}


.icon-youtube-with-circle {
  border-radius: 20px;
  background-color: #FFF;
  margin-right: 20px;

  &:hover {
    background-color: #baa56f;

    &:before{
      content: " ";
      width: 40px;
      height: 36px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' width='28' height='32'%3E%3Ctitle%3EYoutube%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' d='M49.539 12H14.461A12.4 12.4 0 0 0 2 24.327v17.346A12.4 12.4 0 0 0 14.461 54h35.078A12.4 12.4 0 0 0 62 41.673V24.327A12.4 12.4 0 0 0 49.539 12z' fill='%233a3a3a' stroke='%233a3a3a' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath data-name='layer2' d='M41.111 33.844L24.7 41.585a.658.658 0 0 1-.938-.585V25.031a.659.659 0 0 1 .956-.581l16.407 8.225a.649.649 0 0 1-.014 1.169z' fill='%23baa56f' stroke='%233a3a3a' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
    }
}

  &:before{
    content: " ";
    width: 40px;
    height: 36px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 64 64' aria-labelledby='title' aria-describedby='desc' role='img' width='28' height='32'%3E%3Ctitle%3EYoutube%3C/title%3E%3Cdesc%3EA line styled icon from Orion Icon Library.%3C/desc%3E%3Cpath data-name='layer1' d='M49.539 12H14.461A12.4 12.4 0 0 0 2 24.327v17.346A12.4 12.4 0 0 0 14.461 54h35.078A12.4 12.4 0 0 0 62 41.673V24.327A12.4 12.4 0 0 0 49.539 12z' fill='%233a3a3a' stroke='%233a3a3a' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath data-name='layer2' d='M41.111 33.844L24.7 41.585a.658.658 0 0 1-.938-.585V25.031a.659.659 0 0 1 .956-.581l16.407 8.225a.649.649 0 0 1-.014 1.169z' fill='%23FFF' stroke='%233a3a3a' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center;
  }
}