// Variables
// ==========================================================================
@import "base/_t_vars";


// Base Styles
//=====================================
@import "base/_svg-factory";
@import "base/_t_mixins";
@import "base/_atom-btn-square";
@import "base/_grids-distribution";
@import "base/_organism-header";
@import "base/_quark-animation-hoverBar";
@import "base/_round-decimal";
@import "base/_t_base";
@import "base/_t_favorites";
@import "base/_t_grid";
@import "base/_t_libs";
@import "base/_t_text";
@import "base/_quark-tram-destination";


// Library styles + Library Custom
// ==========================================================================
@import "libs/_icomoon";
@import "libs/_owl.carousel.min";
@import "libs/_owl.theme.default.min";
@import "libs/_pikaday";
@import "libs/_selectric";
@import "libs/_t_object-fit";
@import "libs/_customSelect";
@import "libs/_atom-form-customSelect"; 



// Style Header + Footer + Éléments communs du site
// ==========================================================================
@import "style/_t_header";
@import "style/_t_footer";
@import "style/t_main";


// Style Spécifique Pages du site
// ==========================================================================
@import "pages/_t_page-header";
@import "pages/_t_page-accueil";
@import "pages/_t_page-agenda-detail";
@import "pages/_t_page-agenda-list";
@import "pages/_t_page-contact";
@import "pages/_t_page-content";
@import "pages/_t_page-marche";
@import "pages/_t_page-results";
@import "pages/_t_page-top10";
@import "pages/_t_page-experience";
@import "pages/_t_page-experientielle";


@import "pages/_liferay-agenda";

// Style des blocs modulables
// ==========================================================================
@import "blocs/_t_bloc-texte";
@import "blocs/_t_bloc-actu";
@import "blocs/_t_bloc-agenda";
@import "blocs/_t_bloc-aroundme";
@import "blocs/_t_bloc-favConfirm";
@import "blocs/_t_bloc-social-wall";
@import "blocs/_t_bloc-testi";
@import "blocs/_t_form";
@import "blocs/_t_libs";
@import "blocs/_t_bloc-pagination";
@import "blocs/_t_bloc-slider";
@import "blocs/_t_bloc-iframe";
@import "blocs/_t_bloc-video";
@import "blocs/_t_bloc-modal";
@import "blocs/_t_bloc-filtre";
@import "blocs/_t_bloc-slider-instagram";
@import "blocs/_t_bloc-social-share";
@import "blocs/_atom-datepicker";
@import "blocs/datepicker";

// Style du magnific popup
// ==========================================================================
@import "magnificPopup/glossaire";
@import "magnificPopup/lightbox-custom";
@import "magnificPopup/lightbox";

@import "_liferay-hacks";

@import "override/_tarteaucitron";