.seu-offer-container{
    div{
        margin : 10px;
    }

    .seu-gray-box{
        background-color: #F6F6F6;
        padding: 20px;

        h3{
            font-family: MontSerrat,arial;
            font-weight: 700;
            color: #31455d;
        }

        h3+p{
            font-family: MontSerrat,arial;
            color: #31455d;
        }  
    }

    #offerIntroduction, #offerActivities, #offerProfil, #offerConditions, #offerAvantages{
        h2{
            font-family: MontSerrat,arial;
            color: #505050;
            font-size: 2.5rem;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 1.2;
            word-break: break-word;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
    }       
    
    .seu-btn-square.seu-filled.seu-second{
        display: block;
        margin: 0 auto;
        width: 145px;
        padding: 10px;
        border-color: #31455d;
        background-color: #31455d;
        color: white;
        
        .seu-btn-arrow{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' width='31' height='22'%3E%3Cpath d='m21.2 0.3a1.1 1.1 0 1 0-1.6 1.6l8 8 -26.5 0a1.1 1.1 0 0 0-1.1 1.2 1.1 1.1 0 0 0 1.1 1.1l26.6 0 -8 8a1.1 1.1 0 0 0 0 1.6 1.1 1.1 0 0 0 1.6 0l10-10a1.1 1.1 0 0 0 0-1.6l-10.1-9.9z'/%3E%3C/svg%3E");
            top: 5px;
        }
    }

    
        
    div.seu-wi-duo{
        margin-top: 50px;
        margin-bottom: 0;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);

        .portlet-layout.row .portlet-column:nth-child(1){
            height: 250px;
            width: 100%;
            background-color: #46cfc0;
        }

        .portlet-layout.row .portlet-column:nth-child(2){
            height: 250px;
            width: 100%;
            background-color: #5ddfd1;
        }
    }

    div.columns-2{
        margin: 0;
        width: 100%;
    }

    div.portlet-layout.row, div.portlet-column.portlet-column-first, div.portlet-column.portlet-column-last{
        margin: 0;
    }

    .offer-contact {
        .seu-container:before, .seu-container:after {
            display: none;
        }
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);        
        margin-top: 0;
        margin-bottom: -50px;
    }
}