%atom-slider-social-vignette{
    display: block;

    .seu-link{
        padding-bottom: 100%;
        display: block;
        position: relative;
        background-color: #FFFFFF;
        transition: all, 0.5s;

        &:hover, &:focus{
            // opacity: 0.7;
            text-decoration: none;
            background-color: #E3E3E3;
        }
    }
    .seu-picture{
        position: absolute;
        top: 0; left: 0; width: 100%; height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &:after{
            opacity: 0;
            position: absolute;
            content: '';
            display: block;
            top: 0; left: 0;
            height: 100%; width: 100%;
            transition: all, 0.5s;
        }
    }
    .seu-text{
        position: absolute;
        top: 0; left: 0; width: 100%; height: 100%; 
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 20px 35px;
        @include RWD(mobile){
            padding: 20px;
        }
    }
    .seu-content{
        width: 100%;
        color: #818181;
        font-family: $opensans;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.8;
        letter-spacing: 0.04em;

        b{
            font-weight: 700;
        }
    }
    .seu-text-bottom{
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .seu-category{
        font-family: $montserrat;
        font-weight: 400;
        font-size: 1.4rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
    }
    .seu-picto-category{
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: 18px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 5px;
    }
    .seu-date{
        font-family: $montserrat;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: 0.04em;
        display: flex;
        align-items: center;
        
        .seu-picto-date{
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background-size: 18px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 3px;           
            background-image: url( svg-bg-uri($svg-clock, #818181) );   
        }
    }
    &.seu-has-picture{
        .seu-picture:before{
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.04) 7%,rgba(0,0,0,0.16) 21%,rgba(0,0,0,0.35) 38%,rgba(0,0,0,0.8) 75%,rgba(0,0,0,0.93) 89%,rgba(0,0,0,1) 100%);
            content: '';
            display: block;
            position: absolute;
            top: 0; left: 0; width: 100%; height: 100%;
        }
        &:not(.seu-facebook){
            .seu-content{
                color: #FFFFFF;
                b{
                    color: #FFFFFF;
                }
            }
            .seu-date{
                color: #FFFFFF;
            } 
            .seu-category{
                color: #FFFFFF;
            }
            .seu-picto-date{            
                background-image: url( svg-bg-uri($svg-clock, #FFFFFF) );   
            }
        }
        .seu-link{
            &:hover, &:focus{
                .seu-picture:after{
                    opacity: 1;
                    background: rgba(0, 0, 0, 0.4); 
                }
            }
        }
    }
    &:not(.seu-has-picture){
        .seu-date{
            color: #818181;
        } 
    }
    //  Twitter
    &.seu-twitter{
        &.seu-has-picture{
            .seu-picto-category{
                background-image: url( svg-bg-uri($svg-twit, #FFFFFF) );
            }   
        }
        &:not(.seu-has-picture){ 
            .seu-picto-category{
                background-image: url( svg-bg-uri($svg-twit, #0b97bf) );
            }        
            .seu-content{
                b{
                    color: #0b97bf;
                }
            }
            .seu-category{
                color: #0b97bf;
            }
        }
        .emoji {
            width: 18px;
            display: inline;
        }
    }
    // Facebook
    &.seu-facebook{
        &.seu-has-picture{
            .seu-picture{
                height: auto;
                top: 20px;
                left: 20px;
                right: 20px;
                bottom: 50%;
                width: auto;
            }
            .seu-text{
                top: 50%;
                height: 50%;
                padding-top: 10px;
            }
            .seu-picto-category{
                background-image: url( svg-bg-uri($svg-fb, #385188) );
            }   
            .seu-date{
                color: #818181;
            }
        }
        .emoji {
            width: 18px;
            display: inline;
        }
        // &:not(.seu-has-picture){ 
            .seu-picto-category{
                background-image: url( svg-bg-uri($svg-fb, #385188) );
            }        
            .seu-content{
                b{
                    color: #385188;
                }
            }
            .seu-category{
                color: #385188;
            }
            .seu-date{
                // color: #385188;
            }
        // }
    }
    // Dailymotion
    &.seu-dailymotion{
        .seu-picto-category{
            background-size: 15px;
            background-image: url( svg-bg-uri($svg-daily, #FFFFFF) );
        }     
        .seu-content{
            b{
                color: #FFFFFF;
            }
        }
        .seu-category{
            color: #FFFFFF;
        }
        .seu-picture:before{
            opacity: 0.5;
            height: 50%;
            top: unset;
            bottom: 0;
        }
        .seu-link{
            position: relative;

            &:before{
                position: absolute;
                top: 50%; left: 50%; 
                transform: translate(-50%, -50%);
                content: '';
                display: inline-block;
                width: 40px;
                height: 40px;
                background-size: 40px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url( svg-bg-uri($svg-player, #FFFFFF) );
                z-index: 10;
            }
        }
    }
    // Instagram
    &.seu-instagram{
        .seu-picto-category{
            background-image: url( svg-bg-uri($svg-insta, #FFFFFF) );
        }     
        .seu-content{
            b{
                color: #FFFFFF;
            }
        }
        .seu-category{
            color: #FFFFFF;
        }
        .seu-picture:before{
            opacity: 0.5;
            height: 50%;
            top: unset;
            bottom: 0;
        }
    }
}