<ul id="grid--list01">
    <h2 class="hidden">Liste de sous-éléments</h2>
    <li class="grid-item"><a href="#">
        <div class="item-visu" style="background-image: url(http://placehold.it/700x700);"></div>
        <div class="item-content">
            <div class="item-date">07/10/2017</div>
            <h3 class="item-title">Titre de l'évenement sur deux très grandes lignes</h3>
            <div class="item-description">Description de l'évènement assez bref pour pas que ça dépasse sinon ça serait dommage</div>
            <div class="item-categories">Vernissage, concert, débat ...</div>
        </div>
        <div class="item-infos">
            <div class="item-geoloc">
                <i class="fa fa-map-marker"></i>
                <span class="text">Lieu de l'évènement ou de l'article en question</span>
            </div>
            <div class="item-misc">
                Infos en vrac
            </div>
        </div>
    </a></li>
    <li class="grid-item"><a href="#">
        <div class="item-visu" style="background-image: url(http://placehold.it/700x700);"></div>
        <div class="item-content">
            <div class="item-date">13/10 au 20/10/2017</div>
            <h3 class="item-title">Titre court</h3>
            <div class="item-categories">Vernissage, concert, débat ...</div>
        </div>
        <div class="item-infos">
            <div class="item-geoloc">
                <i class="fa fa-map-marker"></i>
                <span class="text">Lieu de l'évènement</span>
            </div>
            <div class="item-misc">
                Infos en vrac
            </div>
        </div>
    </a></li>
    <li class="grid-item"><a href="#">
        <div class="item-visu" style="background-image: url(http://placehold.it/700x700);"></div>
        <div class="item-content">
            <div class="item-date">13/10 au 20/10/2017</div>
            <h3 class="item-title">Pas de catégorie mais un chapeau</h3>
        </div>
        <div class="item-infos">
            <div class="item-geoloc">
                <i class="fa fa-map-marker"></i>
                <span class="text">Lieu de l'évènement</span>
            </div>
            <div class="item-misc">
                Infos en vrac
            </div>
        </div>
    </a></li>
</ul>