@import "style.css";

//Enleve le petit espace quand connecté liferay car la bar en haut est plus petite en 7.2
body.signed-in {
    padding-top: 54px;
  }

//Afficher les imges de home-carousel
.owl-carousel {
    display: flex;

    .carousel-item {
        display: flex;
    }
}

//enlever le fond gris du titre des articles
.page-header-title-and-share{
    background-color: transparent;
}

//enlever le fond gris du titre
.page-header{
    background-color: transparent;
}

.entity-detail-children .entity-detail-child .entity-detail-child-info {
    background: #e6e6e6;
}

//permet de corriger l'affichage du autofit-row
.portlet-layout .portlet-header {
    margin-bottom: 0rem;
}

// L'endroit d'affichage du titre du portlet qu'on ne veut pas
// En non connecté, ça permet de supprimer un margin non voulu
// Mais en connecté on a ce margin à cause d'un border qui annule le margincollapsing
.portlet-content .autofit-row {
    display: none;
}

//affichage des articles en ipad doit etre comme en mobile et pas comme desktop
.portlet-layout.row{
    .col-md-8, .col-md-4 {
        @media (min-width: 768px) and (max-width: 991px){
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .col-md-4{
        @media (min-width: 768px) and (max-width: 991px){
            padding-left: 0 !important;
            padding-right: 20px;
            border-left: none;
        }
    }
}


// Affichage du sélecteur de recherche d'asset
.btn:active, .btn.active{
    box-shadow : inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-default:hover, .btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn{
    padding: 6px 12px;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #ffffff;
}

.breadcrumb .active {
    color: #aaaaaa;
}

.editions-carousel a[download = '']{
    display: none;
}

// affichage config du bandeau
.header-top .portlet:hover > .portlet-topper{
    transform: translateY(97%);
    z-index: 21;
}