.modal-backdrop {
	display: none !important;
}


.fade.in{
	z-index: 1000000;
}

.pro-modal {
	position: fixed;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateY(-50%);
	z-index: -1;
	overflow: hidden;
	display: none;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	padding-right: 0 !important;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	transition: none;

	&.pro-modal-center{
		.modal-dialog{
			position: absolute;
			top: 50%;
			left: 50%;
			bottom: auto;
			z-index: 100;
			display: block;
			height: auto;
			transform: translate(-50%,-50%);
			transform: translate3d(-50%,-50%,0);

			.ie & {
				height: 100%;
				transform: none;
				top: 50px;
				left: 0;
				right: 0;
			}

			.pro-wrapper{
				padding: 20px 20px 10px 20px;
			}
		}
	}

	&.pro-modal-initiative{
		.modal-content{
			form{
				textarea.form-control{
					height: 285px;
				}
			}
		}
	}

	.modal-dialog {
		display: block;
		z-index: 100;
		width: 100%;
		max-width: 650px;
		max-height: 850px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		top: 50%;
		margin: 0 auto;
		transform: translateY(-50%);
		@media screen and (max-height: 800px){
			max-height: 600px;
			top: 30px;
			transform: none;
			bottom: 30px;
			height: calc(100% - 60px);
		}
		@media screen and (max-width: 680px){
			margin: 0 15px;
			width: calc(100% - 30px);
		}
	}

	.modal-header {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10000;
		width: 50px;
		height: 50px;
		border: none;
		&:empty{
			display: none;
		}
		.close {
			right: 0;
			position: absolute;
			top: 2px;
			width: 50px;
			height: 50px;
			background: $c_dark;
			opacity: 1;
			transition: all .2s ease;
			margin-top: -2px;
			outline: none;
			@include addTransition();
			span {
				color: $c_main;
				display: block;
				text-align: center;
				line-height: 50px;
				font-size: 0.9em;
				opacity: 1;
				@include addTransition();
			}
			&:hover, &:focus {
				background: $c_main;
				outline: none;
				span {
					color: $c_txt;
				}
			}
		}
	}

	.modal-content {
		box-shadow: none;
		border-radius: 0;

		.pro-modal-top {
			position: relative;
			width: 100%;
			background: $c_dark;
			padding: 0 20px;
			h3 {
				@include ft($f_hx, 1.25em, 700, $c_main, 1.25em);
				text-align: left;
				text-transform: uppercase;
				margin: 0;
				padding: 15px 30px 15px 0;
			}
			button {
				position: absolute;
				top: 50%;
				right: 20px;
				z-index: 10000;
				color: white;
				opacity: 1;
				font-size: 16px;
				margin-top: -8px;
				outline: none;
				@include addTransition();
				&:hover, &:focus, &:active {
					color: $c_main;
				}
			}
		}
		form {
			background: #edf0f2;
		}

		.pro-btn, .pro-btn-yellow{
			margin-bottom: 10px;
		}
		.pro-btn-yellow{
			&:hover, &:focus{
				background: $c_dark;
				color: $c_main;
				border-color: $c_dark;
			}
		}

	}

	.modal-body {
		position: relative;
		padding: 0;
		@include clearfix();
		@include mobile {
			> * {
				padding: 0;
			}
			.pro-txt {
				padding: 0 15px;
			}
		}
		h2 {
			@include ft($f_hx, 5em, 700, $c_txt, 1.2em);
			display: block;
			text-transform: uppercase;
			margin: 0;
			@include mobile {
				font-size: 3em;
			}
		}
		.pro-soustitre {
			position: relative;
			@include ft($f_hx, 1.250em, 700, $c_txt, 1em);
			display: block;
			text-transform: uppercase;
			padding-left: 40px;
			margin-bottom: 30px;
			@include mobile {
				font-size: 0.8em;
			}
			&:before {
				content: '';
				width: 30px;
				height: 18px;
				position: absolute;
				left: 0;
				top: 0;
				background: $c_main;
			}
		}

		p {
			@include ft($f_txt, 1em, 400, $c_txt, 1.5em);
			max-width: 90%;
			@include mobile {
				max-width: 100%;
			}
		}

		.pro-txt {

			> .pro-btn-yellow {
				width: 260px;
				margin-bottom: 20px;
				@include mobile {
					width: 100%;
				}
				&:hover, &:focus {
					background: $c_dark;
					border-color: $c_dark;
					color: $c_main;
				}
			}
		}


		.pro-reagir {
			position: relative;
			z-index: 200;
			background: $c_dark;
			> div {
				position: relative;
				padding: 50px 0;
				width: 310px;
				margin: auto;
				@include mobile {
					width: 100%;
					padding: 30px 15px;
				}
				h3 {
					@include ft($f_hx, 0.938em, 700, $c_main, 1.571em);
					text-transform: uppercase;
				}
				p {
					@include ft($f_txt, 0.875em, 400, $c_white, 1.571em);
					width: 100%;
					max-width: 100%;
				}

				.pro-or {
					@include ft($f_txt, $s_small, 700, $c_white, 1.571em);
					display: block;
					text-align: center;
					margin: 20px 0;
					text-transform: uppercase;
				}

				.pro-no-account {
					@include ft($f_txt, $s_small, 400, $c_white, 1.571em);
					display: block;
					text-align: center;
					text-decoration: underline;
					margin: 20px 0;
					&:hover, &:focus {
						color: $c_main;
					}
				}

				form {
					margin-top: 40px;

					&.pro-user-connected {
						margin-top: 0;
					}

					label {
						display: none;
					}
					input {
						@include ft($f_txt, 0.875em, 400, $c_txt, 1.571em);
						@extend %appearance;
						height: 50px;
						border-radius: 2px;
						display: block;
						width: 100%;
						padding: 0 17px;
						margin-bottom: 10px;
						&::placeholder {
							color: $c_txt;
						}

						&.pro-btn-yellow {
							@include btn($c_main, $c_txt, 4, $f_hx, $s_p);
							font-weight: 700;
							height: 46px;
							line-height: 46px;
							border: 2px solid $c_main;
							padding: 0;
							position: relative;
							width: 100% !important;
							@include addTransition();
							&:hover, &:focus {
								background: transparent;
								color: $c_main;
							}
						}
					}

					.pro-textearea {
						label {
							display: block;
							@include ft($f_hx, 0.938em, 700, $c_main, 1.571em);
							text-transform: uppercase;
							margin-bottom: 15px;
						}
						textarea {
							width: 100%;
							height: 340px;
							padding: 15px;
							margin-bottom: 10px;
							border-radius: 2px;
							resize: none;
						}
					}
				}
			}
		}

	}
}