//@import "libs/bootstrap.min";
@import "libs/icomoon";
@import "libs/owl.carousel.min";
@import "libs/owl.theme.default.min";
@import "libs/pikaday";
@import "libs/selectric";

@import "_t_vars";
@import "_t_text";
@import "_t_mixins";
@import "_t_base";
@import "_t_navbar";
@import "_t_object-fit";
@import "_t_grid";
@import "_t_libs";
@import "_t_form";

@import "_t_bloc-actu";
@import "_t_bloc-agenda";
@import "_t_bloc-social-wall";
@import "_t_bloc-testi";

@import "_t_page-agenda-detail";
@import "_t_page-agenda-list";
@import "_t_page-contact";
@import "_t_page-content";
@import "_t_page-marche";
@import "_t_page-results";
@import "_t_page-top10";

@import "_liferay-agenda";
@import "_liferay-hacks";


.fit-cover {
	object-fit:cover;
	font-family: 'object-fit: cover';
}

#mns-global{

	.mns-cover {
		position: relative;

		> * {
			z-index: 20;
		}

		&.mns-cover-img,&.mns-cover-fullimg {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: #222;
			min-height: 300px;
			overflow: hidden;
		}

		.video-bg {
		  background: white;
		  position: absolute;
		  top: 0; right: 0; bottom: 0; left: 0;
			@media screen and (max-aspect-ratio:118/101){
				display: none;
			}
			@include tablet_portrait{
				display: none;
			}
		  /* overflow: hidden; */
		}
		.video-bg .video-fg,
		.video-bg iframe {
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		}

		@media (min-aspect-ratio: 16/9) {
		  .video-bg .video-fg { height: 300%; top: -100%; }
		}
		@media (max-aspect-ratio: 16/9) {
		  .video-bg .video-fg { width: 300%; left: -100%; }
		}

		.clicks-preventer {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 101;
		}


		figure {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
	}

	.mns-bloc-video{
		text-align: right;
	}

	.mns-bloc-standard{
		position: relative;
		padding: 30px 15px;
		z-index: 10;
		margin: 0 auto;
		height: 100%;
	}

	.mns-bloc-video .mns-mask-video{
		position: absolute;
		right: 15px;
		left: 15px;
		cursor: pointer;
		z-index: 10;
		@include an(all,0.3);
		figure{
			background-color: #000;
			margin: 0;
			img{
				vertical-align: top;
				width: 100%;
				object-fit: contain;
				height: 100%;
			}
		}

		span{
			font-style: italic;
			font-size: 12px;
			color: #394554;
		}

		span.icon-ico-lecteur{
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(234deg);
			position: absolute;
			color: #fff;
			font-size: 35px;
			background: #000;
			border: 8px solid rgba(255,255,255,0.5);
			padding: 23px;
			border-radius: 50px;
			width: 100px;
			height: 100px;
			text-align: center;
			margin: 0px;
			@include an(all,0.3);
			@include mobile{
				border: 4px solid rgba(255,255,255,0.5);
				padding: 10px;
				border-radius: 50px;
				width: 50px;
				height: 50px;
				font-size: 20px;
			}
			&:hover{
				border-color: $c_white;
			}
		}
	}

	.mns-legend-video{
		font-family: "Source Sans Pro",sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: gray;
		line-height: 21px;
		text-align: right;
		width: 40%;
		margin: 10px 0 0 0;
		float: right;
		@include tablet_portrait{
			width: 65%;
		}
		@include mobile{
			width: 85%;
		}
	}

	.mns-embed-container{
		position: relative;
		overflow: hidden;
		max-width: 100%;
		@include aspect-ratio(1280, 100, 60%);
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.gm-style .gm-style-iw{
		overflow: initial;
	}

	.gm-style-iw{
		> div{
			box-shadow: 0 14px 29px rgba(0,0,22,0.1), 0 0px 10px rgba(0,4,20,0.1);
			&:after{
				content: "\e90b";
				font-family: 'icomoon' !important;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				bottom: -25px;
				left: calc(50% - 10px);
				color: #FFF;
				font-size: 64px;
				transform: rotate(180deg) translateX(50%);
			}
		}
	}

	#mns-map-container{
		@include desktop{
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				max-width: 315px;
				height: 25px;
				background: $c_white;
				z-index: 10;
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#000000', endColorstr='#ffffff')";
			}
		}
		.mns-map-header{
			position: relative;

		}

		.mns-map-content{
			background: $c_white;
			position: relative;
			z-index: 10;

			.mns-map-content-text{
				padding: 20px;
			}

			.mns-title{
				@include ft($f_hx, 16px, 700, $c_txt, normal);
				margin-bottom: 5px;
				display: block;
			}
			img{
				width: 100%;
			}
			p{
				font-size: 13px;
				line-height: 22px;
				margin-bottom: 0;
			}

			.mns-location{
				position: absolute;
				bottom: 10px;
				left: 20px;
				span{
					color: $c_white;
					display: inline-block;
					vertical-align: middle;
				}
				p{
					@include ft($f_txt, 16px, 400, $c_white, normal);
					display: inline-block;
					vertical-align: middle;
					padding: 0 5px;
				}
			}
		}
	}

/***************************/
/***************************/

   /* -- HOMEPAGE -- */

/***************************/
/***************************/

/* Section Texte d'introduction Page d'accueil */
.mns-home-intro{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
	transform: translate3d(0,0,0);
	@include mobile{
		margin-top: 50px;
	}
	.title{
		@include ft($f_txt, 26px, 400, $c_txt, 28px);
		display: block;
		background: none;
	}
	strong{
		display: block;
	}
	p:not(.title){
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: transparent;
			background: -moz-linear-gradient(top, rgba(255,255,255,0.2),rgba(255,255,255,1));
			background: linear-gradient(to bottom, rgba(255,255,255,0.2),rgba(255,255,255,1));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.2),rgba(255,255,255,1));
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#000000', endColorstr='#ffffff')";
			@include desktop{
				content: none;
			}
		}
	}
}

/* Section Zone Entrées */
.mns-wrapper-home-entry{
	position: relative;
	transform: translate3d(0,0,0);
	.deco-bg{
		position: absolute;
		left: -300px;
		top: 600px;
		width: 600px;
		@include mobile{
			left: -200px;
			top: 700px;
			width: 400px;
		}
	}
}	

.mns-home-entry{
	position: relative;
	h1.title{
		@include ft($f_txt, $s_h3, 300, $c_main, 62px);
		text-align: right;
		margin-bottom: 0;
		@include mobile{
			font-size: 40px;
			line-height: normal;
			text-align: center;
		}
	}
	h2.city{
		@include ft($f_txt, 64px, 300, $c_txt, 62px);
		text-align: right;
		@include mobile{
			font-size: 38px;
			line-height: normal;
			text-align: center;
		}

		span{
			@include ft($f_hx, 64px, 700, $c_txt, 62px);
			text-align: right;	
			@include mobile{
				font-size: 38px;
				line-height: normal;
				text-align: center;
			}
		}
	}
}

/* Bloc entrée Page d'accueil */
.mns-bloc-entry{
	position: relative;
	height: 1300px;
	@include desktop{
		height: 1600px;
	}
	@include tablet_portrait {
		height: 1300px;
	}
	@include mobile {
		height: auto;
		text-align: center;
	}
	> div{
		position: relative;
		display: inline-block;
		.caption{
			p,span{
				display: none;
			}
		}
		img{
			border-radius: 50%;
		}
	}

	.mns-image{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.caption{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background: transparent;
		transform-origin: center;
		@include an(all,0.3);
		border-radius: 50%;

		background: rgba($c_txt,0.3);
		width: 100%;
		height: 100%;

		@include mobile{
			width: 300px;
			height: 300px;
		}

		h3{
			@include ft($f_hx, $s_h4, 400, $c_white, normal);
			margin: 0;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 100%;
			@include mobile{
				font-size: 28px;
			}
		}
	}

	.caption.open{
		background: $c_white;
		text-align: center;
		z-index: 99;
		transform: translate(-50%,-50%) scale(0.9);
		transform-origin: center;
		> div{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 100%;
			&:before{
				content: '';
				width: 30px;
				height: 4px;
				background: #ebded3;
				display: block;
				position: absolute;
				left: 50%;
				top: -40px;
				transform: translateX(-50%);
			}
			&:after{
				content: '';
				width: 30px;
				height: 4px;
				background: #ebded3;
				display: block;
				position: absolute;
				left: 50%;
				bottom: -40px;
				transform: translateX(-50%);
			}
			h3{
				color: $c_main;
				font-size: 72px;
				position: relative;
				top: 0;
				left: 0;
				transform: none;
			}
			p{
				display: block;
				width: 80%;
				text-align: center;
				left: 10%;
				margin-top: 10px;
			}
			span{
				@include ft($f_hx, 18px, 700, $c_txt, normal);
				display: block;
			}
		}
	}

	img.deco{
		position: absolute;
		top: 60px;
		right: 300px;
		@include desktop{
			top: 150px;
			right: 220px;
		}
		@include mobile {
			top: 200px;
			left: -7px;
		}
	}
	img.deco-stars{
		position: absolute;
		right: -100px;
		transform: rotate(100deg);
		width: 400px;
		top: -70px;
		@include desktop{
			width: auto;
			top: 100px;
			right: -75px;
		}
		@include mobile {
			right: -100px;
			top: 150px;
		}
	}

	figure{
		width: 100%;
		height: 100%;
	}

	.mns-elipse-1{
		left: 100px;
		width: 400px;
		height: 400px;
		border-radius: 50%;
		overflow: hidden;

		@include desktop{
			left: 550px;
			top: -150px;
		}
		@include tablet_landscape {
			left: 330px;
			top: -0px;
		}
		@include tablet_portrait {
			left: 330px;
			top: -0px;
			width: 380px;
			height: 380px;
		}
		@include mobile {
			position: relative;
			left: 0;
			width: 300px;
			height: 300px;
			margin: 7px auto;
		}

		.caption.open{
			h3{
				font-size: 30px;
			}
		}
	}
	.mns-elipse-2{
		top: -300px;
		width: 530px;
		height: 530px;
		border-radius: 50%;
		overflow: hidden;
		@include desktop{
			top: 100px;
			left: -380px;
		}
		@include tablet_portrait {
			top: -150px;
			left: 0;
			width: 430px;
			height: 430px;
		}
		@include mobile {
			top: 0;
			width: 300px;
			height: 300px;
			margin: 7px auto;
		}
		.caption.open{
			h3{
				font-size: 40px;
			}
		}
	}
	.mns-elipse-3{
		right: -100px;
		top: -100px;
		border-radius: 50%;
		overflow: hidden;
		width: 650px;
		height: 650px;
		@include desktop{
			right: -350px;
			top: -150px;
		}
		@include tablet_portrait {
			right: -350px;
			top: -400px;
			width: 350px;
			height: 350px;
		}
		@include mobile {
			top: 0;
			right: 0;
			left: 0;
			width: 300px;
			height: 300px;
			margin: 7px auto;
		}
		img.deco{
			position: absolute;
			bottom: 60px;
			right: -20px;
		}
		.caption.open{
			h3{
				font-size: 40px;
			}
		}
	}
	.mns-elipse-4{
		left: 270px;
		top: -480px;
		border: 35px solid $c_white;
		border-radius: 50%;
		overflow: hidden;
		width: 490px;
		height: 490px;
		@include desktop{
			left: -60px;
			top: -590px;
		}
		@include tablet_portrait {
			top: -150px;
			left: -300px;
			width: 390px;
			height: 390px;
		}
		@include mobile {
			border: none;
			top: 0;
			left: 0;
			width: 300px;
			height: 300px;
			margin: 7px auto;
		}
		h3{
			font-size: 30px;
			@include mobile{
				font-size: 28px;
			}
		}
		.caption.open{
			h3{
				font-size: 26px;
			}
		}
	}
	.mns-elipse-5{
		left: -400px;
		top: -120px;
		z-index: 6;
		border-radius: 50%;
		overflow: hidden;
		width: 500px;
		height: 500px;
		@include desktop{
			left: 200px;
			top: -715px;
		}
		@include tablet_portrait {
			left: 390px;
			top: -350px;
			width: 300px;
			height: 300px;
		}
		@include mobile {
			top: 0;
			left: 0;
			width: 300px;
			height: 300px;
			margin: 7px auto;
		}
		.caption.open{
			h3{
				font-size: 40px;
			}
		}
	}
}


.mns-p-wrapper-list-actu{
	margin-top: 15px;
	> div{
		margin-bottom: 20px;
	}
}

.mns-section-actualites{
	padding-top: 50px;
	padding-bottom: 100px;
	transform: translate3d(0,0,0);
	@include mobile{
		padding-top: 20px;
		padding-bottom: 50px;
	}
	> .small-container{
		@include mobile{
			padding: 0;
		}
	}
	h2{
		color: $c_main;
		margin: 0;
		top: 20px;
		@include mobile{
			top: 0;
			font-size: 60px;
			left: -15px;
		}
	}
}


/* Section Agenda */
.mns-section-agenda{
	overflow-x: hidden;
	transform: translate3d(0,0,0);
	> div{
		@include mobile{
			padding: 0;
		}
	}
	h2{
		color: $c_txt;
		margin-bottom: 0;
		@include mobile{
			font-size: 60px;
			margin-bottom: 20px;
		}
	}
}


/* Section zone séjour */ 
.mns-sejour{
	position: relative;
	height: 615px;
	text-align: center;
	transform: translate3d(0,0,0);
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: rgba($c_txt,0.4);
		height: 100%;
		width: 100%;
	}
	.caption{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
		z-index: 10;
		h2,h3{
			@include ft($f_txt, $s_h3, 300, $c_white, normal);
			margin-bottom: 5px;
			@include mobile{
				font-size: 42px;
			}
			span{
				font-family: $f_hx;
				font-weight: 700;
			}
		}
		.mns-content-text{
			width: 40%;
			margin: auto;
			@include desktop{
				width: 60%;
			}
			@include tablet_portrait{
				width: 90%;
			}
		}
		p{
			font-size: 18px;
			line-height: 26px;
			color: $c_white;
		}
		a{
			margin-top: 20px;
		}
	}

	.text-right{
		.mns-content-text{
			margin-left: 60%;
		}
	}
	.text-left{
		.mns-content-text{
			margin-right: 60%;
		}
	}
}

.mns-filtres{
	margin: auto;
	background: $c_main;
	transform: translateY(-50%);
	position: relative;
	z-index: 1000;

	.icon-cross{
		display: none;
	}


	@include mobile{
		transform: none;
		display: none;

		.btn-filtre{
			transform: translateY(10px);
		}

		.selectric-wrapper{
			padding-bottom: 10px;
		}

		.icon-cross{
			display: block;
			padding: 15px;
			text-align: center;
			font-size: 30px;
			color: $c_white;
			opacity: 0.6;
		}
	}



	label{
		@include ft($f_txt, 13px, 600, $c_txt, 16px);
		padding: 15px 0 10px 0;
		display: block;
		text-align: left;
		text-transform: uppercase;
		margin: 0;
	}

	.selectric{
		border: none;
		border-radius: 0px;
		background: none;
		position: relative;
		overflow: hidden;
	}

	.selectric-wrapper{
		border: 1px solid $c_main;
		border-bottom: 1px solid #FFF;
	}

	b{
		display: none;
	}

	.selectric-items{
		top: 120%;
		&:before{
			content: "\e90b";
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			position: absolute;
			top: -14px;
			color: #FFF;
			right: 5px;
			font-size: 30px;
		}
	}

	.selectric-focus{
		border: 1px solid rgba($c_white,0.35);
		.selectric{
			border-bottom: none;
		}
	}

	.selectric-open .selectric-items{
		border: none;
	}

	.selectric-items .selectric-scroll{
		box-shadow: 0 14px 29px rgba(0,0,22,0.10), 0 0px 10px rgba(0,4,20,0.10);
		padding: 0 10px;
		background: $c_white;
		li{
			padding: 0;
			margin: 0;
			display: block;
			padding: 8px 0;
			text-decoration: none;
			color: $c_txt;
			border-bottom: 1px solid #e6e8ea;
			transition: all 0.3s ease-out;
			background: none;

			&:hover{
				cursor: pointer;
				font-weight: 700;
			}
		}
	}


	.label {
		position: relative;
		padding: 10px;
		display: block;
		border-bottom: 1px solid $c_white;
		font-size: $s_p;
		text-align: left;
		cursor: pointer;
		outline: none;
		line-height: 20px;
		margin: 0;
		border-style: none;
		@include ft($f_hx, 18px, 700, $c_white, 16px);
		text-transform: lowercase;

		&:after{
			content: "";
			background: url(/o/noel-theme/images/ico/chevron-down-w.svg) no-repeat center right /cover;
			width: 18px;
			height: 10px;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}

		@include mobile{
			width: 100%;
		}
	}

	&.mns-filtres-agenda{
		transform: none;
		padding: 25px 0;
		> .container{
			padding: 0;
		}
		label{
			padding-top: 0;
			@include mobile{
				padding-top: 15px;
			}
		}

		.btn-filtre{
			transform: none;
			width: 100%;
			height: 100%;
			position: relative;
			top: 8px;
			@include desktop{
				padding: 15px 50px;
			}
			@include tablet_portrait {
				width: 100%;
				margin: 0;
				padding: 15px 20px;
			}
			@include mobile {
				margin: 0;
				width: 100%;
				transform: translateY(35px);
			}
		}
	}
}


/* SEARCH Mobile Filtres */ 
.mns-m-filtres-search{
	display: none; 
	background: $c_main;
	text-align: center;
	@include mobile{
		display: block;
	}
	span.label{
		position: relative;
		top: 5px;
		padding: 15px 0;
		display: block;
		text-transform: uppercase;
		@include ft($f_txt, 15px, 600, $c_txt, 20px);
	}
	.btn-filtre{
		transform: translateY(10px);
		width: 100%;
	}
}

.hide-button{
	display: none;
}

.mns-affiner{
	padding: 25px 15px 15px 15px;
	border-bottom: 1px solid $c_filet;
	@include mobile{
		padding: 25px 0 15px 0;
	}

	&.mns-affiner-m{
		display: none;
		@include mobile{
			display: block;
		}
	}
	span.mns-more{
		@include ft($f_txt, 14px, 600, $c_main, 26px);
		display: inline-block;
		text-transform: uppercase;
		width: 80%;
		@include tablet_portrait{
			width: 100%;
			line-height: normal;
		}
		@include mobile {
			width: 80%;
		}
	}
	span.icon-search-more{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		right: 0;
		width: 18%;
		text-align: right;
		&:before{
			font-size: 18px;
		}
	}
}


/* Page d'accueil Social Wall */
.mns-list-social-wall{
	padding:0;
	position: relative;
	clear: both;

	> div:nth-last-child(-n+5){
		.mns-bloc-social-wall{
			margin-bottom: 0;
			@include desktop{
				margin-bottom: 40px;
			}
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: transparent;
			background: linear-gradient(to bottom, rgba(255,255,255,0),rgba(255,255,255,0.85));
			clear: both;
			pointer-events:none;
			@include desktop{
				content: none;
			}
		}
	}
}

.mns-top-social-wall{
	padding: 50px 0 30px 0;
	@include tablet_portrait{
		padding-top: 30px;
	}
	&.mns-p-list-actu{
		padding: 15px 0 30px 0;
	}
}


}