/**** BUTTONS *****/
.btn-menu {
	position:relative;
	padding-left: 60px;
	color: #FFF;
	width:auto;
	margin:auto;
	text-decoration: none;
	font-family: Arial;
	font-size: 1.25em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 4.25em;
	background: transparent url(../images/btn/btn-menu.png) left no-repeat;
	display: none;
}

.btn-more, .image-link{
	display: block;
	float: left;
	line-height: 3em;
	color: #FFF;
	text-decoration: none;
	font-family: Arial;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 10px;
	background: #cb2d2e;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


.btn-more:hover , .image-link:hover {
	background-color: #D69F1F;
}

.image-link:hover {
	background-color: #D69F1F;
}

.btn-news {
    display: block;
    width: 240px;
    float: right;
    line-height: 3.2em;
    text-decoration: none;
    color: #FFF;
    background: #268033 url(../images/sprite.png) 10px -488px no-repeat;
    font-family: Arial;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: 60px;
    margin-right: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-news:hover {
	background-color: #55bd5d;
}

.btn-top {
	width: 45px;
	height: 40px;
	margin: 20px auto;
	cursor: pointer;
	background: url(../images/2016/back_to_top.png) bottom;
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.btn-top:hover {
	background-position: top;
}

.btn-back {
}

.btn-back:hover {
	color: #d69f1f;
}

.btn-calendar-noel {
	font-size: 1.33em;
	color: #003958;
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 15px;
	padding-right: 40px;
	text-transform: none;
	line-height: 1.44em;
	padding-top: 30px;
	background: transparent url(../images/btn/favorite-events.png) top
		center no-repeat;
}

.btn-calendar-noel:hover {
	color: #d69f1f;
}

.btn-calendar-noel .icon {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: transparent url(../images/sprite.png) -58px -976px no-repeat;
}

.btn-calendar-noel:hover .icon {
	background-position: -5px -976px;
}


.btn-shop {
	display: block;
    padding: 10px 0;
    min-height: 58px;
    padding-left: 20px;
    color: #d69f1f;
    background: #003958 url(../images/bg/bg-highlights.png) 95% top no-repeat;
    font-size:1.5em;
    line-height: 1.55em;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

/* Bouton pour Lancer la recherche */
.portlet-cus-video-fo .searchForm .submitButton input,
.portlet-cus-image-fo .searchForm .submitButton input {
	background: none repeat scroll 0 0 #D69F1F;
    color: #FFFFFF;
    padding: 0 25px;
    text-transform: uppercase;
    border: medium none;
    border-radius: 0 0 0 0;
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    height: 2.14em;
    line-height: 2.14em;
    text-shadow: none;
}

.portlet-cus-event-asset-fo .searchForm .submitButton input:hover,
.portlet-cus-video-fo .searchForm .submitButton input:hover ,
.portlet-cus-image-fo .searchForm .submitButton input:hover {
	background: #f5b625;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*Position bouton pour Evènements*/
.portlet-cus-event-asset-fo .submitButton {
	margin-top: 90px;
    margin-right: 90px;
}

/*Position bouton pour Videos*/
.portlet-cus-video-fo .searchForm .submitButton {
	margin-right: 10px;
    margin-top: 38px;
}

/* Position bouton pour Visuels */
.portlet-cus-image-fo .searchForm .submitButton {
	/* margin-right: 20px; */
    margin-top: 34px;
}



.btn-shop span {
	display: block;
    color: #FFF;
    font-size:0.67em;
    line-height: 1.2em;
    text-transform: none;
    padding-right: 40px;
    font-weight: normal;
}

.btn-shop:hover {
	background-color: #d69f1f;
	color: #FFF;
}



.btn-tps-forts {
	background: #FFFFFF;
}

.btn-tps-forts:hover {
	background: #f5b625;
	color: #FFFFFF; 
}


@media all and (max-width: 760px) {
  .btn-news {
    margin-right: 0;
    margin-bottom: 20px;
  } 
}