@charset "UTF-8";

@import "_t_vars";
@import "_t_mixins";

/***************************/
/***************************/

   /* -- BLOC AGENDA -- */

/***************************/
/***************************/

#mns-global{
	.mns-bloc-agenda{
		position: relative;
		a{
			display: block;
			text-align: start;
			@include an(all,0.3);
			> div{
				padding: 15px 0;
			}
			> img{
				width: 100%;
			}


			&:hover{
				.basic-link{
					opacity: 1;
				}
			}
		}
		.date{
			background: $c_main;
			@include ft($f_ms, 12.5px, 700, $c_white, normal);
			position: absolute;
			top: 20px;
			z-index: 5;
			padding: 15px;
			max-width: 260px;
			width: 50%;
			text-align: center;
			padding: 15px 10px;
		}

		img{
			object-fit:cover;
			height: 400px;
			max-width: 260px;
			width: 100%;
			margin-bottom: 0;
			@include desktop{
				height: 350px;
				max-width: 100%;
			}
			@include mobile {
				height: 400px;
			}
		}

		h4,h3{
			@include ft($f_ms, 20px, 500, $c_txt, normal);
			text-align: center;
			margin: auto;
			padding: 10px 0;
			display: block;
			clear: both;
			@include mobile{
				width: 90%;
				font-size: 24px;
			}
		}
		.basic-link{
			text-align: center;
			opacity: 0;
		}
		.ico-map-marker{
			display: flex;
			align-items: center;
			&:before {
			  	content: '';
	  			background: url(/o/summer-2018-theme/images/pin.png) no-repeat center center /contain;
	  			height: 15px;
	  			width: 15px;
	  			margin-right: 15px;
	  			display: inline-block;
  			}
		}

		.ico-type{
			display: flex;
			align-items: center;
			&:before {
			  	content: '';
	  			background: url(/o/summer-2018-theme/images/label.png) no-repeat center center /contain;
	  			height: 15px;
	  			width: 15px;
	  			margin-right: 15px;
	  			display: inline-block;
  			}
		}

		.mns-indic { 
			margin-bottom: 10px;
		}
	}

	.mns-section-agenda {
		.mns-right {
				margin-bottom: 40px;
			}
	}

	.mns-wrapper-video{
		padding: 50px 15px;
		@include mobile{
			padding: 15px;
		}
		p{
			@include ft($f_ms, 17.5px, 300, #808080, 21px);
			text-align: right;
			width: 40%;
			margin-top: 10px;
			margin-bottom: 0;
			float: right;
			@include desktop{
				width: 50%;
			}
			@include tablet_portrait{
				width: 75%;
			}
			@include mobile {
				width: 90%;
			}
		}
	}

	.clearfix.lfr-pagination {
		margin-top: 50px;

		ul {
			li {
				&.disabled {
					display: none;
				}
				padding: 10px;
				margin-right: 10px;
				@include tablet_portrait{
					width: 100%;
					background-color: $c_main;
				}
				@include mobile {
					width: 100%;
					background-color: $c_main;
				}
				a {
					border: 0px;
					z-index: 2;
					position: relative;
					background-color: transparent;
					@include ft($f_ms, 14px, 700, $c_main, normal);				
			        &:hover, &:focus{
			        	color: $c_white;
						background-color: transparent;			        
			        }
			        @include tablet_portrait{
						color: $c_txt;
					}
					@include mobile {
						color: $c_txt;
					}
				}
				&:before{
		            content: '';
		            display: block;
		            position: absolute;
		            bottom: 0;
		            left: 0%;
		            height: 1px;
		            width: 100%;
		            transition: all, 0.3s;
		            background-color: $c-main; 
		            z-index: 1;
		        }
		         &:hover, &:focus{
		            &:before{
		                height: 100%;
		            }
		        }
			}
		}	
	}
}