#mns-global {
	.mns-great-event-slider-full {
		.item {
			height: 1000px;
			img {
				position: absolute !important;
				width: 100%;
			}

			.caption {
				width: 800px;
				bottom: 20%;
				right: 20%;
				padding: 30px;
				position: absolute;
				display: inline-block;
				background-color: rgba(0,0,0,0.5);

				h1 {
					@include ft($f_ms, 78px, 700, $c_main, normal);
					margin: 0;
					text-transform: uppercase;
				}
				h2 {
					text-transform: uppercase;
					@include ft($f_ms, 60px, 400, $c_white, normal);
					
					&:after{
						content: '';
						background: url(/o/summer-2018-theme/images/vague-jaune.png) repeat center center /contain;
						position: absolute;
						display: block;
						width: 100%;
						height: 10px;
						left: 0%;
						z-index: 9999;
						margin-top: 10px;
					}
				}

				p {
					margin-top: 40px;
					@include ft($f_ms, 22px, 400, $c_white, normal);
				}

				.basic-link {
					margin-top: 40px;
					margin-bottom: 40px;
					font-size: 15px;
				}
			}
		}
	}
}