#wi-aroundme{
    box-shadow: none;
    margin-bottom: 40px;
    padding: 0;
    z-index: 5;
    max-width: 1200px;
    margin: auto;

    h2{
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        letter-spacing: 0.03em;
        line-height: 1.2em;
        text-transform: uppercase;
    }

    h2:before{
        display: none;
    }

    #aroundme{
        z-index: 10;
        
        button{
          padding: 0px;
          border-width:0px;
          background-color: transparent;
          cursor: pointer;
          @media screen and (-webkit-min-device-pixel-ratio:0) {
            padding-bottom: 0px;
          }
        }
        button::-moz-focus-inner { 
          border: 0; 
          padding: 0; 
          margin-top:-2px; 
          margin-bottom: -2px; 
        }
        
        .add-favorites{
            color: $c_main !important;
            font-size: 0.875rem !important;
            font-family: $f_ms !important;
            // pas de possibilité d'ajout aux favoris du fait qu'il n'y a pas de connection monStrasbourg
            display: none !important;
        }

        .select2 .select2-selection__rendered li {
            font-size: 0.875rem;
        }
        
        &__center{
            .aroundme__map{
                
                .marker-cluster div{
                    font-family: $f_ms;
                    font-size: 1rem;
                    color: #FFFFFF;
                    font-weight: 700;
                }
                .marker-cluster-small {
                    background-color: rgba(173, 147, 131, 0.6);
                    }
                .marker-cluster-small div {
                    background-color: rgba(173, 147, 131, 1);
                    }
            }
        }
        .top__overflow,
        .side__overflow{
            form{

                .filtres__list h2{
                    font-family: $f_ms;
                    font-size: 1.1375rem;
                    text-transform: none;
                }

                .info-text p {
                    color: #fff;
                    font-family: $f_ms;
                    font-size: 1 rem;
                    a {
                        font-family: $f_ms;
                    }
                }
            }
        }


        /* ------------------------------- UI */
        .side__trigger{
            &--pull{   
                background-color: #f5f5f5;     
                &:before{
                    background-image: url( svg-bg-uri($svg-arrow1, black) );
                }
            }
            &--close{
                background-image: url( svg-bg-uri($svg-filled-close, $c_grey) );
            }
        }
        .top__trigger{

            &:before{
                background-image: url( svg-bg-uri($svg-filters, $c_grey) );
            }

            &--pull{
                background-color: $c_main;
            }

            &--close{
                background-image: url( svg-bg-uri($svg-filled-close, $c_grey) );
            }
        }

        .aroundme__ui{
            background-color: rgba(0, 0, 0, 0.45);
            
            &--fullscreen{background-image: url( svg-bg-uri($svg-fullscreen, #FFFFFF) );}
            &--zoomin{background-image: url( svg-bg-uri($svg-zoomin, #FFFFFF) );}
            &--zoomout{background-image: url( svg-bg-uri($svg-zoomout, #FFFFFF) );}
            &--locate{background-image: url( svg-bg-uri($svg-locate, #FFFFFF) );}
            &--home{background-image: url( svg-bg-uri($svg-home, #FFFFFF) );}
        }


        /* ------------------------------------ FILTERS */
        .filtres{


            &__title, &__title label{
                font-family: $f_ms;
                font-size: 1.0625rem;
            }
            &__item{
                @extend %tram-destination;            
                .tram-destination{
                    .tram-destination-letter{
                        font-size: 0.875rem;
                    }
                }

                .types{
                    font-family: $f_ms;
                    font-size: 0.875rem;
                    color: #808080;
                    margin-bottom: 0px;
                }

                a {
                    font-family: $f_ms;
                    font-size: 1.125rem;

                }

                [type="checkbox"]{

                    & + label{
                        font-family: $f_ms;
                        max-width: calc(100% - 17px);
                        font-size: 0.875rem;

                    }
                }
            }
            &__btn{

                background-color: white;
                padding: 10px 20px;

                .flexbox{
                    @include mobile{
                        display: inline-block;
                    }
                }
                .btn-text{
                    font-size: 1rem;
                    color: black;
                    font-weight: 700;
                    font-family: $f_ms;
                }
                @include mobile{
                    display: block;
                    width: fit-content;
                }
                & + .filtres__btn{
                    margin-left: 15px;
                    @include mobile{
                        margin-left: 0px;
                    }
                }

                &:hover, &:focus{
                    background-color:black;

                    .btn-text{
                        color: white;
                    }
                }

            }

            // Panneau filtres categories
            &--category{
                background-color: $c_main;

                .filtres{
                    &__title{

                        .icon{
                            background-image: url( svg-bg-uri($svg-filters, $c_grey) );
                        }
                        
                        input{
                            background-color: #fff;
                        }
                    }
                    &__list{
                        @include not_mobile{
                            @include grid-distribution(3, 30, grid-item);
                        }
                        @include mobile{
                            @include grid-distribution(1, 0, grid-item);
                        }
                    }
                    &__item{
                        [type="checkbox"]{
            
                            & + label{
                                font-weight: 700;
                                &:after{
                                    background-color: #FFFFFF;
                                }
                            }
                        }
                    }
                }

            }

            // Panneau filtres liste de pois
            &--poi{
                .filtres{
                    &__title{
                        color: $c_main;
                        @include not_tablet_landscape{
                            display: none;
                        }
                        .icon{
                            background-image: url( svg-bg-uri($svg-poi-list, $c_main) );
                        }
                    }
                    &__item{
                        [type="checkbox"]{
            
                            & + label{
                                &:before{
                                    border: solid 1px $c_main;
                                }
                                &:after{
                                    background-color: $c_main;
                                }
                            }
                            &:checked{
                                & + label{
                                    &:before{
                                        border-color: $c_main;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        /* -------------------------- MARKER */
        .aroundme__marker{
            &-amount{

                &.red{
                    background-color: $crowded-red;
                }
                &.orange{
                    background-color: $crowded-orange;
                }
                &.green{
                    background-color: $crowded-green;
                }
                &.black{
                    background-color: $crowded-black;
                }
                &.grey,&.white{
                    background-color: $crowded-grey;
                }
                /*
                &.white{
                    background-color: $crowded-white;
                }
                */
            }
            
            &-alert{
                background-image: url( svg-bg-uri($svg-alert, red) );
            }
    
        }


        /* ------------------------------- Infowindow */
        .leaflet-popup-tip {
            background: black;
        }

        .infowindow{
            &__close{
                background-image: url( svg-bg-uri($svg-filled-close, $c_main) );
            }
            &__name{
                font-family: $f_ms;
                font-size: 1.125rem;
                color: black;
            }
            &__like{
                a{
                    &:not(.liked){
                        background-image: url( svg-bg-uri($svg-favoris, $c_main) );
                    }
                    &.liked{
                        background-image: url( svg-bg-uri($svg-heart-filled, $c_main) );
                    }
        
                }
            }
            &__address{
                font-family: $f_ms;
                color: #6D6D6D;
                font-size: 1rem;
            }
            &__middle{
                 
                .infowindow__contenu:not(:empty){
     
                    @extend %tram-destination;
                }

            }
            &__opened{
                font-family: $f_ms;
                color: #808080;
                font-size: 0.875rem;
            }
            &__schedules{
                font-family: $f_ms;
                color: $c_main;
                font-size: 0.875rem;
            }
            &__contenu, &__contenu p{
                font-family: $f_ms;
                font-weight: 500;
                color: #707070;
                font-size: 0.875rem;
                margin: 0px;
            }
            &__amount{
                .infowindow__frequentation{
                    font-size: 1.3125rem;

                    &.orange{
                        background-color: $crowded-orange;
                    }
                    &.green{
                        background-color: $crowded-green;
                    }
                    &.grey, &.white{
                        background-color: $crowded-grey;
                    }
                    /*
                    &.white{
                        background-color: $crowded-white;
                    }
                    */
                    &.red{
                        background-color: $crowded-red;
                    }
                    &.black{
                        background-color: $crowded-black;
                    }
                }
                .crowded-label{
                    color: #808080;
                    font-family: $f_ms;
                    font-size: 0.8125rem;
                }
            }
            // pas de possibilité d'ajout aux favoris du fait qu'il n'y a pas de connection monStrasbourg
            &__bottom{
                display: none;
            }
            &__url {
                a{
                    @extend %atom-btn-square--filled--core;
                    padding: 10px 20px;

                    &.alert-arret span.flexbox:before {
                        background-image: url( svg-bg-uri($svg-alert, #ff1818) );
                    }
    
                }
            }
        }

        /* ------------------------------- Etat et ouverture des panels */

        // Ouverture du panneau latéral
        &.side-opened{
            // En desktop/tablet on change le picto par une flèche pour replier le panel
            .side__trigger--pull{
                &:before{
                    background-image: url( svg-bg-uri($svg-arrow1, black) );
                }     
            }
        }
    }

    .meta {
        padding: 20px 75px 45px 75px;
        text-align: center;
    }

    .subtitle{
        font-size: 1.125rem;
        color: #5c5c5c;
        margin-bottom: 20px;

    }

    .btn-line{
        margin-top: 20px;
    }
    
    .aroundme--fullscreen #wi-aroundme{
        #aroundme{
            z-index: 1400;
            .aroundme__ui--fullscreen{
                background-image: url( svg-bg-uri($svg-smallscreen, #FFFFFF) );
            }
        }
    }
}

/* ------------------------------ calendrier */
    
#ui-datepicker-div {
    .ui-datepicker-header {
        background-color: $third-color !important;
        
        .ui-datepicker-year, .ui-datepicker-month{
            font-size: 1.25rem !important;
        }
    }

    table td{
        font-size: 0.75rem !important;
    }
}

/* ------------------------------ liste */
.select2-results__option{
    font-size: 1.125rem !important;
}
