@charset "UTF-8";

body{
	-webkit-font-smoothing: antialiased;
}

.fit-cover img{
    object-fit: cover;
    font-family: 'object-fit: cover';
    height: 100%;
}

#mns-global{
	overflow-x: hidden;

	.container{
		@media (min-width: 1200px){
			max-width: 1440px;
		}
	}

	/*.navbar {
		flex-wrap: wrap;
		padding: 0;
	}

	.dropdown-menu {
		max-width: initial;
	}

	.dropdown-toggle {
		white-space: initial;
	} 

	header {
		@include tablet_portrait{
			margin-bottom: 90px;
		}
		@include mobile{
			margin-bottom: 90px;
		}
	}*/

	.small-container{
		width: 100%;
		max-width: 960px;
		margin: auto;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	/*.mns-p50{
		padding: 25px 0;
		@include mobile{
			padding: 30px 15px;
		}
	}

	.mns-left{
		text-align: left;
	}
	.mns-right{
		text-align: right;
		span{
			overflow-x: hidden;
			display: block;
			height: 38px;
		}
	}
	.mns-center{
		text-align: center;
		span{
			overflow-x: hidden;
			display: block;
			height: 38px;
		}
	}

	.mns-portlet-title {
		display: inline-block; 
		text-align: left;
		text-transform: uppercase;		
		h1 {
			@include ft($f_ms, 60px, 100, $c_txt, normal);
			text-align: center;
			margin-bottom: 40px;

			@include mobile{
				font-size: 40px;
				text-align: start;
			}
		}
	}

	.mns-date-event{
		@include ft($f_ms, 16px, 700, $c_main, normal);	
		margin-bottom: 10px;
		display: block;
	}

	.publication{
		@include ft($f_ms, 12.5px, 300, $c_txt, 16px);
		display: block;
	}*/

	/* MNS FCK EDITOR */
	.mns-fck {
		/*h3{
			@include ft($f_ms, 21.5px, 600, $c_txt, 28px);
			margin-bottom: 20px;
		}*/

		strong, p{
			font-size: 1rem;
			margin-bottom: 20px;
		}

		figure{
			position: relative;

			img{
			}

			figcaption{
				position: absolute;
				border: none;
				left: 0;
				bottom: 0;
				top: initial;
				display: inline-block;
				width: auto;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				max-width: 120%;
				padding-right: 10%;
				padding-top: 20px;
				text-align: right;
				@include ft($f_ms, 0.625rem, 400, $c_black, 0.625rem);
			}
		}

		img{
			margin-bottom: 40px;
		}

		ul{
			padding-left: 15px;
			list-style-type: disc;
			margin-bottom: 20px;

			li{
				margin: 0;
				font-size: 1rem;
				line-height: 1.75rem;
				padding-left: 0;
			}
		}
	}


	/* GLOBAL STYLE PAGINATION */
	/*.mns-pagination{
		padding: 10px 0;
		border-top: 1px solid $c_filet;
		border-bottom: 1px solid $c_filet;
		margin-bottom: 40px;
		margin-top: 20px;
		@include mobile{
			padding: 20px 0;
		}

		p, form{
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
		p{
			margin-left: 15px;
			font-size: 14px;
			@include tablet_portrait{
				font-size: 9px;
			}
		}

		.selectric-wrapper{
			width: 150px;
			display: inline-block;
			vertical-align: middle;
			.selectric{
				border: 2px solid #ebded3;
				border-radius: 21px;
				background: none;
				.button{
					background: none;
					&:after{
						content: "\e90e";
						font-family: 'icomoon' !important;
						speak: none;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						color: $c_txt;
						font-size: 16px;
						position: absolute;
						right: 30px;
						left: initial;
						top: -14px;
						border: none;
					}
				}

				.label{
					margin-left: -20px;
					@include ft($f_ms, 14px, 700, $c_txt, 31px);
				}
			}

			.selectric-items{
				top: 110%;
				background: #FFF;
				border: 1px solid #ebded3;
				z-index: -1;
				border-radius: 10px;
				ul{
					li{
						@include ft($f_ms, 14px, 700, $c_txt, 31px);
						padding-left: 15px;
						&.highlighted{
							background: none;
						}
						&:hover{
							background: none;
							color: $c_main;
						}
					}
				}
			}
		}

		.pull-left{
			@include mobile{
				text-align: center;
			}
		}

		.pull-right{
			line-height: 38px;
			text-align: right;
			@include mobile{
				text-align: center;
				margin-top: 20px;
			}
			ul{
				padding: 0;margin: 0;
				li{
					padding: 0;margin: 0;
					display: inline-block;
					vertical-align: middle;
					@include an(all,0.3);
					&:hover{
						a{
							color: $c_main;
							span{
								border-color: $c_main;
								background: $c_main;
								color: $c_white;
							}
						}
					}
					a{
						margin: 0 5px;
						@include ft($f_ms, 14px, 700, $c_txt, normal);	
						position: relative;
						span{
							padding: 5px;
							border: 2px solid #ebded3;
							border-radius: 50%;
							font-size: 22px;
							top: 2px;
							position: relative;
							@include an(all,0.3);
							// &:hover{
							// 	border-color: $c_main;
							// 	background: $c_main;
							// 	color: $c_white;
							// }
						}

						&.mns-prev{
							&:before{
								content: "\e909";
								font-family: 'icomoon' !important;
								font-size: 12px;
								display: inline-block;
								vertical-align: middle;
								margin-right: 5px; 
							}
							&:after{
								content: '';
								display: inline-block;
								vertical-align: middle;
								background: $c_txt;
								width: 1px;
								height: 15px;
								margin-left: 25px;
							}
						}

						&.mns-next{
							margin-left: 15px;
							&:after{
								content: "\e90a";
								font-family: 'icomoon' !important;
								font-size: 12px;
								display: inline-block;
								vertical-align: middle;
								margin-left: 5px; 
							}
						}
					}
				}
			}
		}
	}*/


	/* ICONE Indicateur Lieu / Type */ 
	.mns-indic{
		span, img{
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}

		span{
			@include ft($f_ms, 0.875rem, 400, $c_grey, 1.0625rem);
		}
		
		/*img{
			margin: 0 !important;
		}*/

		/*&:nth-child(1){
			text-align: left;
		}
		&:nth-child(2){
			text-align: left;
		}*/
	}


	/* Fil d'ariane */ 
	/*.mns-wrapper-bread{
		position: relative;
	}*/

	.mns-breadcrumbs{
		margin: 100px 0 30px 30px;

		a{
			@include ft($f_ms, 0.9375rem, 400, $c_txt, 1.125rem);
			text-decoration: none;
			@include an(all,0.3);

			&:after{
				content: '';
				height: 1px;
				width: 18px;
				background: $c_txt;
				display: inline-block;
				vertical-align: middle;
				margin: 0 18px;
			}

			&:hover{
				color: $c_main;
			}
		}

		span{
			@include ft($f_ms, 0.9375rem, 700, $c_txt, 1.125rem);
		}

		&.mns-bread-color{
			background-color: $c_main;
			padding: 20px 30px;
			margin: 0;
			position: absolute;
			bottom: calc(-1 * ((40px + 1.125rem) / 2));
			margin-left: -15px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			
			.has-control-menu &{
				bottom: calc(80px - ((40px + 1.125rem) / 2));
			}
			
			a{
				color: $c_white;

				&:after{
					background: $c_white;
				}
			}

			span{
				color: $c_white;
			}
		}

		/*&.mns-bread-image{
			@include mobile {
				margin-top: 90px !important;

				a{
					color: $c_txt;
					text-decoration: none;
					&:after{
						background: $c_txt;
					}
				}

				span{
					color: $c_txt;
				}
			}

			@include tablet_portrait {
				margin-top: 90px !important;

				a{
					color: $c_txt;
					text-decoration: none;
					&:after{
						background: $c_txt;
					}
				}

				span{
					color: $c_txt;
				}
			}

			@media (min-width: 1000px){
				text-shadow: #000 2px 2px 4px;
			}

			&:before{
				content:'';
				position:absolute;
				z-index:-1;
				top:0;
				left:0;
				bottom:0;
				right:0;
				filter:blur(4px);
				box-shadow:inset 0 0 0 50vw rgba(255,255,255,0.2)
			}
		}*/
	}
}