@charset "UTF-8";

/***************************/
/***************************/

   /* -- PAGE CONTENT STANDARD -- */

/***************************/
/***************************/

#mns-global{
	.mns-wrapper-duo-content{
		margin: 30px auto;
	
		.row {
			flex-wrap: inherit;
			margin-bottom: 70px;
			-js-display: flex;
			display: flex;
			justify-content: center;
			align-items: center;

			.msn-duo-left, .msn-duo-right{
				&.order-1, &.order-2 {
					order: inherit; 
				}

				h2{
					@include ft($f_nr, 4rem, 400, $c_main, 4.875rem);
					width: 80%;
					margin-bottom: 50px;
				}

				p, strong{
					margin-bottom: 20px;
				}

				strong{
					@include ft($f_ms, 1.0625rem, 700, $c_txt, 1.25rem);
				}

				ul{
					padding-left: 15px;
					list-style-type: disc;
					margin-bottom: 20px;
	
					li{
						margin: 0;
						font-size: 16px;
						line-height: 28px;
						padding-left: 0;
					}
				}

				a{
					padding: 14px 50px;
					background: $c_main;
					text-decoration: none;
					@include ft($f_nr, 1.125rem, 400, $c_white, 1.375rem);
					width: fit-content;
					@include an(all,0.3);

					&:hover{
						background: $c_txt;
						color: $c_white;
					}
				}

				.mns-wrapper-img{
					position: relative;

					img{
						margin: 0;
					}
				}
			}

			.msn-duo-left{
				text-align: right;

				h2{
					margin-left: 20%;
				}

				a{
					margin-left: auto;
				}

				.mns-wrapper-img{
					float: left;

					&:after{
						content: '';
						background-color:$second-color;
						position: absolute;
						top: -45px;
						right: -45px;
						width: 100%;
						height: 100%;
						z-index: -1;
					}
				}
			}

			.msn-duo-right{
				text-align: left;
				margin-left: 45px;

				.mns-wrapper-img{
					float: right;

					&:before{
						content: '';
						background-color:$second-color;
						position: absolute;
						top: -45px;
						left: -45px;
						width: 100%;
						height: 100%;
						z-index: -1;
					}
				}
			}
		}
	}

	/*.mns-content-list-actu{
		margin-top: 30px;
		@include tablet_portrait{
			margin-top: 0;
		}
		.mns-bloc-actu:hover{
			box-shadow: none;
			a{
				transform: none;
				box-shadow: none;
				.mns-bloc-top-img{
					img{
						box-shadow: none;
					}
				}
			}
		}
	}

	.mns-triple-actu-bloc{
		&:hover{
			.mns-bloc-top-img{
				box-shadow: none;
			}
		}
		.mns-bloc-actu:hover{
			box-shadow: none;
			a{
				transform: none;
				box-shadow: none;
				.mns-bloc-top-img{
					img{
						box-shadow: none;
					}
				}
			}
		}
	}

	.mns-slider-full{
		@include mobile{
			padding: 15px 0;
		}
	}*/
}