#mns-global{

	.mns-bloc-article{
		
		h2,
		span.h2
		{
			font-size: 3rem;
		}				

		h3,
		span.h3
		{
			font-size: 2rem;
		}

		.mns-title,.mns-catcher{
			text-align: center;
		}
		
		a{
			@include ft($f_ms, 1rem, 700, $c_main, 1.625rem);
			text-decoration: underline;

			&:hover{
				color: $c_txt;
			}
		}
	}
}