@charset "UTF-8";

#mns-global{

	/* Top Header Strasbourg.eu */ 
	.mns-top-header{
		background-color: #343433;
		font-size: 0;
		position: relative;
		z-index: 1300;
		
		/*.ipad & {
			position: fixed;
			top: 0;
			z-index: 1300;
			width: 100%;
			left: 0;
			right: 0;
		}*/

		img{
			float: left;
			padding: 12px 20px;
			height: 45px;
			width: auto;
		}

		> div{
			text-align: right;
			display: inline-block;
			vertical-align: middle;
			width: 20%;

			&:nth-child(1){
				a{
					border: none;
					display: block;
					padding: 0;
				}
			}

			&:nth-child(2){
				text-align: right;
				width: 80%;
			}

			a{
				padding: 13px 15px;
				border-left: 1px solid #7C7C7C;
				@include ft($f_ms, 0.75rem, 400, $c_white, 0.875rem);
				text-transform: uppercase;
				@include an(all,0.3);

				&:nth-child(1){
					border: none;
				}

				&:hover, &.active{
					font-weight: 700;
					text-decoration: none;
				}

				/*&.mns-w-fixe-1{
					width: 130px;
					display: inline-block;
					text-align: center;
				}

				&.mns-w-fixe-2{
					width: 110px;
					display: inline-block;
					text-align: center;
				}*/
			}

			.mns-contact-link {
				border-left: none !important;
				.mns-contact {
					.mns-picto-contact{
						width: 20px;
						position: absolute; 
						height: 20px;
						background-size: 20px;
						background-position: center;
						background-repeat: no-repeat;
						margin-top: -3px;
						background-image: url( svg-bg-uri($svg-mail, #FFFFFF));
					}
					.mns-text {
						margin-left: 30px;
						text-transform: uppercase
					}
				}
			}
		}
	}

	/* HEADER avec image */
	.mns-header{
		height: 610px;
		text-align: center;
		position: relative;
		transform: translate3d(0,0,0);
		margin-bottom: 80px;

		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		> div{
			z-index: 100;

			&.mns-center{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				width: 100%;
			}
			
			h1{
				color: $c_white;
				margin: 0 auto 30px;
			}

			/*h2{
				@include ft($f_ms, 25px, 600, $c_white, 42px);
				margin: 0;
			}

			.mns-surtitre{
				@include ft($f_ms, 34px, 400, $c_white, 42px);
				margin: 0;
				line-height: 26px;
			}*/

			span{
				@include ft($f_ms, 1.625rem, 700, $c_white, 1.9375rem);
				margin: 0;
			}
		}
	}

	/* Header Home */
	.mns-header-home{
		height: 730px;

		> div{
			
			h1{
				@include ft($f_nr, 5rem, 400, $c_white, 6rem);
				text-transform: uppercase;
				max-width: 50%;
				
				&:after {
					content: '';
					height: 4px;
					width: 176px;
					display: block;
					background: $c_white;
					margin: 20px auto 42px;
				}
			}

			span{
				@include ft($f_ms, 2.25rem, 700, $c_white, 2.6875rem);
			}
		}
	}

	/* Header Page List Agenda */
	/*.mns-header-agenda{
		height: calc(100vh - 160px);
		text-align: center;
		position: relative;
		overflow: hidden;

		.owl-carousel{
			height: 100%;
			.owl-stage-outer{
				height: 100%;
				.owl-stage{
					height: 100%;
					.owl-item{
						height: 100%;
						.item{
							height: 100%;
							img{
								object-fit: cover;
								height: 100%;
							}
						}
					}
				}
			}

			.caption{
				max-width: 1200px;
				width: 45%;
				top: 42%;
				left: 9%;
				transform: translateY(-50%);
				bottom: initial;
				text-align: left;
				z-index: 10;

				.mns-slider-date-event{
					@include ft($f_ms, 20px, 700, $c_white, 42px);
					text-transform: uppercase;
				}
				h2{
					@include ft($f_ms, 48px, 700, $c_white, 62px);
				}
			}
		}

		#owl-full .owl-nav{
			left: 9%;
			bottom: 20px;
			right: inherit;
		}

		.mns-wrapper-bread{
			position: absolute;
			width: 100%;
			right: inherit;
			left: 0;
		}

		.mns-breadcrumbs{
			left: 18%;
			bottom: 15px;
			top: auto;
			z-index: 300;
		}
	}*/

	/* Header page résultats */ 
	/*.mns-header-standard{
		height: 150px;
		.container{
			position: relative;
			top: 115px;
			padding: 0;
		}

		h1{
			@include ft($f_ms, 88px, 700, $c_main, 108px);
		}
	}*/

	/*.mns-header-single{
		height: 180px;
		.container{
			position: relative;
			top: 140px;
			padding: 0;
		}

		.mns-breadcrumbs{
			left: 119px;
			top: -40px;
		}
	}*/

	/* STYLE FOOTER */
	.mns-footer{
		background: #3a3a3a;

		.mns-nav-footer{
			border-bottom: 1px solid #838383;
			
			ul{
				padding: 0;
				margin: 0;
				li{
					display: inline-block;
					padding: 0;
					margin: 0;
					
					a{
						@include ft($f_ms, 0.875rem, 700, #b3b3b3, 1.625rem);
						text-transform: uppercase;
						padding: 25px 15px;
						display: inline-block;
						@include an(all,0.3);

						&:hover{
							color: $c_main;
						}
					}
					&:first-child{
						a{
							padding-left: 0;
						}
					}
				}
			}
		}

		.mns-title{
			
			span{
				@include ft($f_ms, 0.9375rem, 700, #b3b3b3, 1.625rem);
				text-transform: uppercase;
				padding: 25px 15px 25px 0;
				display: inline-block;
				border-bottom: 1px solid #838383;
			}

			ul {
			    padding: 0;
			    margin-left: 0em;
			    list-style: none;
			}
			
			ul li {
			    padding: 0;
			    margin: 0;
			    display: block;
			    float: left;
			    padding-left: 10px;
			    margin-top: 10px;
			}

			ul li:first-child {
			    padding-left: 0px;
			}

			ul li a {
				 background-position: top left;
			    -webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3s ease;
			    -o-transition: all 0.3s ease;
			    -ms-transition: all 0.3s ease;
			    -webkit-border-radius: 4px;

			    display: block;
			    text-indent: -999em;
			    overflow: hidden;
			    transition: all 0.3s ease;
			    border-radius: 4px;
			}

			ul li a:hover {
		    	opacity: 0.4;
			}

			a.btn-fb {
			    background: transparent url(../images/btn/icone-facebook.png) center no-repeat;
			    height: 22px;
			    width: 22px;
			    background-size: 25px 25px;

			}

			a.btn-dm {
			    background: transparent url(../images/btn/icone-dailymotion.png) center no-repeat;
			    height: 22px;
			    width: 22px;
			    background-size: 25px 25px;
			    
			}

			a.btn-tw {
			    background: transparent url(../images/btn/icone-twitter.png) center no-repeat;
			    height: 22px;
			    width: 22px;
			    background-size: 25px 25px;
			}

			a.btn-tumblr {
			    background: transparent url(../images/btn/icone-tumblr.png) center no-repeat;
			    height: 22px;
			    width: 22px;
			    background-size: 25px 25px;
			}

			a.btn-instagram {
			    background: transparent url(../images/btn/icone-instagram.png) center no-repeat;
			    height: 22px;
			    width: 22px;
			    background-size: 25px 25px;
			}
		}

		.mns-first-column{
			margin-top: 40px;
			margin-bottom: 30px;
			
			ul{
				padding: 0;
				margin: 0;

				li{
					display: block;
					padding: 0;
					margin: 0;

					a{
						@include ft($f_ms, 0.9375rem, 400, #b3b3b3, normal);
						padding: 5px 0;
						display: inline-block;
						@include an(all,0.3);

						&:hover{
							color: $second-color;
						}
					}
				}
			}

			p{
				margin-top: 40px;
				@include ft($f_ms, 1.09rem, 300, #b3b3b3, normal);
			}
		}

		.mns-second-column{
			margin: 30px 0;
			border-left: 1px solid #838383;
			padding-left: 30px;

			h3{
				@include ft($f_ms, 0.9375rem, 700, $c_white, normal);
				text-transform: uppercase;
				padding: 15px 0;
				margin: 0;
			}

			span{
				@include ft($f_ms, 0.9375rem, 400, $c_white, normal);
				display: block;
				margin-bottom: 10px;
			}

			a{
				@include ft($f_ms, 0.9375rem, 400, $c_white, normal);
				display: block;
				@include an(all,0.3);

				&:hover{
					color: $c_main;
				}
			}

			.info-contact{
				padding: 15px 0 35px 0;

				span:nth-child(2){
					margin: 0;
				}
			}
		}

		.mns-footer-bottom{
			background: #2d2d2d;
			display: block;
			
			img{
				left: -20px;
			}
		}
	}
}