@charset "UTF-8";

@import "_t_vars";
@import "_t_mixins";

#mns-global{

	#owl-full .owl-stage-outer {
		width: 100%
	}

	#owl-full .owl-nav > button{
		position: relative;
		background: transparent;
		background-color: transparent;
		border: 0;
		@include an(all,0.3);
		span{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: $c_white;
			font-size: 18px;	
		}
		@include mobile{
			border-color: #ebded3;
			span{
				color: $c_txt;
			}
		}
	}

	#owl-full .owl-nav{
		position: absolute;
		bottom: 10%;
		right: calc(20% + 20px);
		@include mobile {
			position: absolute;
			bottom: 10%;
			right: calc(20% + 10px);
		}
		@include tablet_portrait {
			position: absolute;
			bottom: 10%;
			right: calc(10% + 20px);
		}

		.owl-prev {
			margin: 0 !important;
        	padding: 0 !important;
			background-color: transparent;
			border: transparent;
			outline: none;
			@extend %atom-home-slider-arrow;  // Flèches
            transform: rotate(180deg);
            left: -100px;
            bottom: 0;
            .mns-picto {
            	left: 0 !important;
            }
        }
        .owl-next {
        	margin: 0 !important;
        	padding: 0 !important;
			background-color: transparent;
			border: transparent;
			outline: none;
			@extend %atom-home-slider-arrow;
			.mns-picto {
            	left: 0 !important;
            }
        }
	}

	#owl-agenda .owl-item{
		max-width: 260px;
		@include an(all,0.3);
		img {
			width: auto !important;
		}
	}

	#owl-agenda .owl-stage {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-box;
		display: box;
	}


	#owl-agenda .owl-nav {
		@include mobile{
            display: none;
        }
        @include tablet_portrait {
            display: none;
        }
		@include an(all,0.3);
		.owl-prev {
			background-color: transparent;
			border: transparent;
			height: 550px;
		 	@extend %atom-home-slider-arrow;  // Flèches
            transform: rotate(180deg);
            left: -300px;
            width: 300px;
            outline: none;
            @include tablet_landscape{
                width: 80px;
                left: 0px;
            }
		}

		.owl-next {
			background-color: transparent;
			border: transparent;
			height: 550px;
			@extend %atom-home-slider-arrow;  // Flèches
            right: 0;
            width: 200px;
            right: -200px;
            outline: none;
            @include tablet_landscape{
                width: 80px;
            }
		}

        .owl-next .mns-picto, .owl-prev .mns-picto{
            transition: all 0.3s ease;
            &:hover{
                 background-image: url( svg-bg-uri($svg-arrow-orange, #FFFFFF) );
                 border: 4px solid $c_main;
                 background-color: $c_white;
            }
        }
	}


}

%atom-home-slider-arrow{
    position: absolute;
    top: 0;
    transition: all, 0.5s;
    cursor: pointer;
    content: '';
    display: flex;
    align-items: center;
    z-index: 100;

    
    .mns-picto{
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url( svg-bg-uri($svg-arrow1, #FFFFFF) );
        z-index: 10;
        height: 40px;
        width: 40px;
        background-color: $c_main;
        border-radius: 50%;
        position: relative;
        left: 30px;
        @include tablet_landscape{
            width: 35px;
            height: 35px;
            background-size: 20px;
        }
        @include mobile{
            left: 35px;
            width: 30px;
            height: 30px;
            background-size: 18px;
        }
    }

    .flexbox{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.owl-prev{
        transform: rotate(180deg);
    }

    &.disabled{
        pointer-events: none;
        opacity: 0 !important;
        @include mobile{
            display: none;
        }
    }
}