@charset "UTF-8";

@import "_t_vars";
@import "_t_mixins";

#mns-global{

	#owl-full .owl-stage-outer {
		width: 100%;
        img {
            height: auto;
            width: auto;
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: none;
            object-fit: cover;
        }
	}

	#owl-full .owl-nav > button{
		background: transparent;
		background-color: transparent;
		border: 0;
		@include an(all,0.3);
		span{
			position: absolute;
			top: 0;
			left: 0;
			color: $c_white;
			font-size: 18px;	
		}
		@include mobile{
			border-color: #ebded3;
			span{
				color: $c_txt;
			}
		}
	}

	#owl-full .owl-nav{
		position: absolute;
		bottom: 10%;
		right: calc(20% + 40px);
		@include mobile {
			position: absolute;
			bottom: 10%;
			left: calc(2% + 250px);
		}
		@include tablet_portrait {
			position: absolute;
			bottom: 10%;
			right: calc(10% + 35px);
		}

		.owl-prev {
            top: 0;
            height: 40px;
            width: 40px;
            @include tablet_portrait {
                width: 35px;
                height: 35px;
            }
            @include mobile {
                width: 30px;
                height: 30px;
            }   
			margin: 0 !important;
        	padding: 0 !important;
			background-color: transparent;
			border: transparent;
			outline: none;
			@extend %atom-home-slider-arrow;  // Flèches
            transform: rotate(180deg);
            left: -100px;
            bottom: 0;
        }
        .owl-next {
            top: 0;
            height: 40px;
            width: 40px;
            @include tablet_landscape {
                width: 35px;
                height: 35px;
            }
            @include mobile {
                width: 30px;
                height: 30px;
            } 
        	margin: 0 !important;
        	padding: 0 !important;
			background-color: transparent;
			border: transparent;
			outline: none;
			@extend %atom-home-slider-arrow;
        }
	}


    #owl-slider .owl-stage-outer {
        width: 100%;

        .item {
            height: 700px;
            @include tablet_portrait {
                height: 600px;
            }
            @include mobile {
                height: 240px !important;
            }
            img {
                position: absolute !important;
                height: auto;
                width: auto;
                min-width: 100%;
                min-height: 100%;
                max-width: 100%;
                max-height: none;
                object-fit: cover;
            }
        }

        .caption {
            text-align: right;
            position: absolute;
            z-index: 3;
            bottom: 20%;
            right: 5%;
            width: 25%;
            @include tablet_portrait {
                width: 50%;
            }
            @include mobile {
                width: 50%;
                p {
                    font-size: 12.5px;
                }
            }
        }
    }

    #owl-slider .owl-nav > button{
        background: transparent;
        background-color: transparent;
        border: 0;
        @include an(all,0.3);
        span{
            position: absolute;
            top: 0;
            left: 0;
            color: $c_white;
            font-size: 18px;    
        }
        @include mobile{
            border-color: #ebded3;
            span{
                color: $c_txt;
            }
        }
    }

    #owl-slider .owl-nav{
        position: absolute;
        bottom: 20%;
        right: calc(5% + 40px);
        @include mobile {
            position: absolute;
            bottom: 10%;
            right: calc(5% + 35px);
        }
        @include tablet_portrait {
            position: absolute;
            bottom: 10%;
            right: calc(5% + 30px);
        }

        .owl-prev {
            top: 0;
            height: 40px;
            width: 40px;
            @include tablet_portrait {
                width: 35px;
                height: 35px;
            }
            @include mobile {
                width: 30px;
                height: 30px;
            } 
            margin: 0 !important;
            padding: 0 !important;
            background-color: transparent;
            border: transparent;
            outline: none;
            @extend %atom-home-slider-arrow;  // Flèches
            transform: rotate(180deg);
            left: -100px;
            bottom: 0;
        }
        .owl-next {
            top: 0;
            height: 40px;
            width: 40px;
            @include tablet_portrait {
                width: 35px;
                height: 35px;
            }
            @include mobile {
                width: 30px;
                height: 30px;
            } 
            margin: 0 !important;
            padding: 0 !important;
            background-color: transparent;
            border: transparent;
            outline: none;
            @extend %atom-home-slider-arrow;
        }
    }


    #owl-agenda {
        @media (min-width: 1300px) {
            float: left !important;
            width: 100% !important;
        }
        @media (min-width: 500px) {
            float: none;
            margin: auto;
            width: 80%;
        }
    }

	#owl-agenda .owl-item{
		max-width: 260px;
        @media (max-width: 330px) {
           max-width: 240px;
        }
		@include an(all,0.3);
		img {
			width: auto !important;
		}
	}

	#owl-agenda .owl-stage {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-box;
		display: box;
	}
      

	#owl-agenda .owl-nav {
        display: none;
        @media (min-width: 500px) {
            display: block;
        }
		@include an(all,0.3);
		.owl-prev {
			background-color: transparent;
			border: transparent;
			height: 550px;
		 	@extend %atom-home-slider-arrow;  // Flèches
            transform: rotate(180deg);
            left: -300px;
            width: 300px;
            outline: none;
            .mns-picto {
                left: 30px;
            }
		}

		.owl-next {
			background-color: transparent;
			border: transparent;
			height: 550px;
			@extend %atom-home-slider-arrow;  // Flèches
            right: 0;
            width: 200px;
            right: -200px;
            outline: none;
            .mns-picto {
                left: 30px;
            }
		}

        .owl-next .mns-picto, .owl-prev .mns-picto{
            transition: all 0.3s ease;
            &:hover{
                 background-image: url( svg-bg-uri($svg-arrow-orange, #FFFFFF) );
                 border: 4px solid $c_main;
                 background-color: $c_white;
            }
        }
	}


}

%atom-home-slider-arrow{
    position: absolute;
    top: 0;
    transition: all, 0.5s;
    cursor: pointer;
    content: '';
    display: flex;
    align-items: center;
    z-index: 100;

    
    .mns-picto{
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url( svg-bg-uri($svg-arrow1, #FFFFFF) );
        z-index: 10;
        height: 40px;
        width: 40px;
        background-color: $c_main;
        border-radius: 50%;
        position: relative;
        @include tablet_portrait {
            width: 35px;
            height: 35px;
            background-size: 20px;
        }
        @include mobile {
            width: 30px;
            height: 30px;
            background-size: 18px;
        }
    }

    .flexbox{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.owl-prev{
        transform: rotate(180deg);
    }

    &.disabled{
        pointer-events: none;
        opacity: 0 !important;
        @include mobile{
            display: none;
        }
    }
}