@charset "UTF-8";

@import "_t_vars";
@import "_t_mixins";

#mns-global{
	.mns-contact-link {
		border-left: none !important;
		.mns-contact {
			.mns-picto-contact{
				width: 20px;
			    position: absolute; 
			    height: 20px;
			    background-size: 20px;
			    background-position: center;
			    background-repeat: no-repeat;
			    margin-top: -3px;
		        background-image: url( svg-bg-uri($svg-mail, #FFFFFF));
		    }
		    .mns-text {
		    	margin-left: 30px;
		    	text-transform: uppercase
		    }
		}
	}	

	.mns-layer{
		position: fixed;
		top: 115px;
		width: 100%;
		height: 9999px;
		z-index: 9999;
		background: rgba($c_txt,0.3);
		@include dl(2);
		@include an(all,1);
		@include tablet_portrait{
			display: none;
		}
		&.mns-nav-scroll-layer{
			top: 171px;
		}
	}

	.mns-search-bar{
		background: $c_white;
		position: relative;
		width: 100%;
		z-index: 1200;
		@include an(all,0.3);

		@include tablet_portrait{
			display: none;
		}

		&.search-display{
			border-bottom: 1px solid $c_filet !important;
			@include an(all,0.3);
		}

		input{
			-webkit-appearance: none;
			height: 75px;
			line-height: 75px;
			width: 100%;
			border: none;
			border-style: none;
			color: $c_txt;
			display: block;
			font-size: 30px;
			font-weight: 300;

			@include mobile {
				font-size: 18px;
				height: 50px;
				line-height: 50px;
			}

			&::-webkit-input-placeholder { 
				color: $c_txt;
				opacity: 0.3;
				font-style: italic;
			}
			&::-moz-placeholder { 
				color: $c_txt;
				opacity: 0.3;
				font-style: italic;
			}
			&:-ms-input-placeholder { 
				color: $c_txt;
				opacity: 0.3;
				font-style: italic;
			}
			&:-moz-placeholder { 
				color: $c_txt;
				opacity: 0.3;
				font-style: italic;
			}
		}

		&.mns-search-bar-mobile{
			display: none !important;
			position: relative;
			@include tablet_portrait{
				display: block !important;
				margin: 0;
				width: 100%;
			}
			.row{
				border-bottom: 1px solid $c_filet;
				input{
					padding-left: 25px;
				}
			}
		}
	}

	.mns-nav{
		position: fixed;
		background: $c_white;
		height: 151px;
		border-bottom: 1px solid #d8dae4;
		box-shadow: 0 12px 24px rgba(0,0,0,0.15), 0 0px 0px rgba(0,0,0,0.22);		
		width: 100%;
		z-index: 800;
		border-radius: 0;
		border: none;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6FFFFFF', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
		transform: translateY(-76px);
		@include an(all,0.3);

		@include desktop{
			background: none;
		}

		@include tablet_portrait {
			transform: none;
			height: auto;
		}

		@include mobile {
			position: fixed;
		}

		&.mns-bigger{
			height: 171px;
			transform: translateY(0px);
		}

		&.mns-nav-ipad{
			transform: translate3d(0,0,0);
			position: fixed;
			@include an(all,0.3);

			@include desktop{
				top: -35px;
			}
			@include tablet_portrait {
				top: 40px;
			}
			&.mns-top{
				transform: translate3d(0,0,0);
			}
		}

		> div{
			border-bottom: none;
			padding: 0;
			@include tablet_portrait{
				margin: 0;
				width: 100%;
			}
		}

		.navbar-header {
			float: left;
			margin-top: 15px;
			@include mobile {
				float: none;
				margin-top: 0;
			}
			@include tablet_portrait {
				float: none;
				margin-top: 0;
			}
		}

		.navbar-brand{
			float: none !important;
			align-items: center;
			margin-bottom: 40px;
			display: flex;
			justify-content: center;
			@include ft($f_ms, 24px, 400, $c_txt, 18px);			
			display: flex !important;
			height: 76px;
			margin-top: -5px;
			background: url(/o/summer-2018-theme/images/logo-menu-small.png) no-repeat center center /contain; ;
			width: 116px;

			@include tablet_portrait{
				font-size: 24px;
				height: 88px !important;
				margin-left: 25px;
			    margin-top: 0;
			    margin-bottom: 5px;
				padding: 15px 25px;
				background: url(/o/summer-2018-theme/images/logo-menu-small.png) no-repeat left center /contain !important;
			}
			@include mobile {
				font-size: 24px;
				height: 78px !important;
				margin-left: 25px;
			    margin-top: 0;
			    margin-bottom: 5px;
				padding: 15px 25px;
				background: url(/o/summer-2018-theme/images/logo-menu-small.png) no-repeat left center /contain !important;
			}
			span{
				display: block;
				@include ft($f_ms, 24px, 700, $c_txt, normal);	
				position: relative;
				left: 40px;
				@include mobile{
					font-size: 24px;
				}
			}
		}

		.navbar-toggle{
			right: 15px;
			top: 18px;
			.icon-bar{
				background: $c_txt;
				width: 35px;
				@include an(all,0.2);
				&:nth-child(2), &:nth-child(5){
					display: none;
				}
				&:nth-child(3){
					transform: rotate(-45deg);
					margin-top: 2px;
				}
				&:nth-child(4){
					transform: rotate(45deg);
					margin-top: -2px;
				}
			}



			&.collapsed{
				.icon-bar{
					transform: rotate(0deg);
					&:nth-child(2), &:nth-child(5){
						display: block;
					}
					&:nth-child(3){
						transform: rotate(0);
						margin-top: 4px;
					}
					&:nth-child(4){
						margin-top: -2px;
						transform: rotate(0);
					}
				}
			}
		}

		.navbar-collapse{
			margin-top: 19px;

			@include mobile {
				margin-top: 9px !important;
			}

			@include tablet_portrait{
				box-shadow: 0 12px 24px rgba(0,0,0,0.15), 0 0px 0px rgba(0,0,0,0.22);
				margin-top: -40px;
				width: calc(100% + 4px);
				left: -2px;
				position: fixed;
				top: 126px;
				bottom: 0; 
				height: auto;
				padding: 0;
				@include mobile{
					margin: 0;
					top: 72px;
					margin-top: 15px;
				}
				ul{
					background: $c_white;
					margin: 0;
					@include mobile{
						display: block;
					}
					@include tablet_portrait {
						display: block;
					}
					li{
						@include mobile {
							max-width: none;
						}
						@include tablet_portrait {
							max-width: none;
						}
						a{
							line-height: 50px;
							color: $c_txt;
							height: auto;
						}
					}
				}
			}
		}

		li.dropdown{
			position: static;
			.dropdown-menu{
				height: auto;
				display: none;
				padding: 40px;
				top: 80%;
				left: 35px;
				position: absolute;
				width: 90%;

				@include desktop{
					padding: 30px 20px;
				}
				@include tablet_portrait{
					top: 0;
					left: 0;
					position: relative;
					width: 100%;
					box-shadow: none;
					border: none;
				}

				li{
					max-width: none;
					height: auto;
					width: 46%;
					float: left;
					overflow: hidden;
					margin: 0 2%;
					@include mobile {
						width: 100%;
						margin: 0;
					}
					@include tablet_portrait {
						width: 100%;
						margin: 0;
					}
					&:nth-child(even){
						float: right;
						@include mobile{
							margin-left: 0;
						}
					}
					a{
						@include ft($f_ms, 15px, 400, $c_txt, normal);	
						height: auto;
						padding: 10px 0;
						border-bottom: 1px solid $c_filet;
						padding-left: 0;
						text-transform: none;
						position: relative;
						max-width: 100%;
						@include an(all,0.3);
						@include desktop{
							padding-left: 35px;
						}
						&:hover{
							font-size: 18px;
							font-weight: 700;
							@include desktop{
								font-weight: 400;
								color: $c_main;
							}
							span{
								display: inline-block;
								color: $c_txt;
							}
							&:after{
								content: none;
							}
						}
						span{
							border: 2px solid $c_main;
							border-radius: 50%;
							padding: 5px;
							margin-right: 5px;
							display: none;
							font-size: 12px;
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							@include an(all,0.45);
							@include desktop{
								display: inline-block;
							}
						}
					}
				}
			}
			&.open{
				a{
					position: relative;
					&:before{
						content: '';
						background: url(/o/noel-theme/images/ico/ico-submenu-c.png) no-repeat center center /contain;
						position: absolute;
						bottom: -11px;
						left: 50%;
						display: block;
						width: 23px;
						height: 23px;
						z-index: 9999;
						transform: translateX(-50%);
						@include tablet_portrait{
							content: none;
						}
					}
					&:hover{
						color: $c_txt;
						@include desktop{
							color: $c_txt;
						}
					}
				}
				a.dropdown-toggle {
					&:hover{
						color: $c_main;
						@include desktop{
							color: $c_main;
						}
					}
				}
				.dropdown-menu{
					display: block;
					@include mobile{
						display: block;
						position: relative;
						padding: 20px 10px;
						left: 0;
						width: 100%;
						column-count: 1;
					}
					li{
						a{
							position: relative;
							display: block;
							line-height: 30px;
							white-space: initial;
							&:before{
								content: none;
							}
						}
					}
				}
			}
		}

		.mns-navbar-wrapper{
			top: 0;
			@include an(all,0.3);
		}

		&.mns-nav-no-header{
			background: $c_white;
			.container{
				border-bottom: 1px solid $c_filet;
			}
			.navbar-brand{
				color: $c_txt;
				span{
					color: $c_txt;
				}
				&.hidden{
					display: none;
				}
			}

			li.dropdown{
				&.open{
					a{
						position: relative;
						&:before{
							content: '';
							background: url(/o/noel-theme/images/ico/ico-submenu-c.png) no-repeat center center /contain;
							position: absolute;
							bottom: 11px;
							left: 50%;
							display: block;
							width: 23px;
							height: 23px;
							z-index: 9999;
							transform: translateX(-50%);
							@include tablet_portrait{
								content: none;
							}
						}
					}
				}
			}

			ul{
				li{
					a{
						color: $c_txt;
					}
				}
			}

			.navbar-toggle.collapsed .icon-bar, .navbar-toggle .icon-bar {
				background: $c_txt;
			}

			&.mns-nav-scroll{
				.container{
					border-bottom: none;
				}
			}
		}

		ul{
			height: 80px;
			display: flex;
			float: none !important;
    		justify-content: space-between;
			@include tablet_portrait {
				height: auto;
				padding: 0 20px;
				border-bottom: 1px solid $c_filet;
				box-shadow: 0 12px 24px rgba(0,0,0,0.15), 0 0px 0px rgba(0,0,0,0.22);
			}
			li{
				max-width: 160px;
				height: 80px;
				padding: 0;
				@include tablet_portrait {
					height: auto;
					width: calc(100% - 20px);
				}
				&.menu-accueil, &.menu-search{
					a{
						&:hover:after, &.active{
							content: none;
						}
					}
				}

				a{
					@include ft($f_ms, 17.5px, 700, $c_txt, normal);
					word-break: normal !important;	
					text-transform: uppercase;
					padding: 0 15px;
					height: 60px;
					text-align: center;
					@include an(all,0.3);
					background: none !important;
					@include desktop{
						padding: 0 10px;
					}
					@include tablet_portrait {
						height: 50px;
						height: auto;
						line-height: 50px;
					}

					&:hover, &:focus{
						background: none;
						color: $c_main;
					}
					&:hover:after, &.active{
						content: '';
						width: 100%;
						height: 4px; 
						background: $c_main;
						position: absolute;
						bottom: 0;
						left: 0;
					}

					img{
						top: 50%;
						transform: translateY(-50%);
					}
				}

				&:last-child{
					a{
						padding-right: 0;
					}
				}
			}
		}

		&.mns-nav-scroll{
			top: 0;

			@include desktop{
				top: 0;
			}
			@include tablet_portrait {
				height: 76px;
				top: 0;
			}
			@include mobile {
				top: 0;
			}
		}		
	}

	@include tablet_portrait{
		.navbar-header {
			float: none;
		}
		.navbar-left,.navbar-right {
			float: none !important;
		}
		.mns-nav .navbar-toggle {
			display: block;
			top: 24px;
			right: 0;
			@include mobile{
				top: 15px;
			}
		}
		.mns-nav.mns-nav-scroll .navbar-toggle {
			top: 15px;
		}
		.navbar-collapse {
			border-top: 1px solid transparent;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
			// border-bottom: 1px solid $c_filet;
			@include mobile{
				display: block !important;
				position: fixed;
				height: 100%;
				z-index: 9999;
			}
		}
		.navbar-fixed-top {
			top: 0;
			border-width: 0 0 1px;
		}

		.navbar-collapse.collapse {
			display: none!important;
		}
		.navbar-nav {
			float: none!important;
			margin-top: 7.5px;
		}
		.navbar-nav>li {
			float: none;
		}
		.navbar-nav>li>a {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.collapse.in{
			display:block !important;
		}
	}

	@include mobile {
		.navbar-header {
			background: white;
			box-shadow: 0 12px 24px rgba(0,0,0,0.15), 0 0px 0px rgba(0,0,0,0.22);
		}
		.navbar-brand.navbar-brand {
			color: black;
			span {
				color: black;
			}
		}
		.mns-nav .navbar-toggle .icon-bar {
			background: black;
		}
	}
	@include tablet_portrait {
		.navbar-header {
			background: white;
			box-shadow: 0 12px 24px rgba(0,0,0,0.15), 0 0px 0px rgba(0,0,0,0.22);
		}
		.navbar-brand.navbar-brand {
			color: black;
			span {
				color: black;
			}
		}
		.mns-nav .navbar-toggle .icon-bar {
			background: black;
		}
	}
}
