@charset "UTF-8";

/***************************/
/***************************/

   /* -- PAGE AGENDA LIST -- */

/***************************/
/***************************/

#mns-global{

	.mns-affiner{
		padding: 25px 15px 15px 15px;
		border-bottom: 1px solid $c_filet;
		@include mobile{
			padding: 25px 0 15px 0;
		}

		&.mns-affiner-m{
			display: none;
			@include mobile{
				display: block;
				margin-top: 50px;
			}
			@include tablet_portrait {
				margin-top: 50px;
			}
		}

		span.mns-more{
			@include ft($f_ms, 1.125rem, 700, $c_black, 1.625rem);
			display: inline-block;
			text-transform: uppercase;
			width: 80%;
			@include tablet_portrait{
				width: 100%;
				line-height: normal;
			}
			@include mobile {
				width: 80%;
			}
		}

		span.icon-search-more{
			display: inline-block;
			vertical-align: middle;
			position: relative;
			right: 0;
			width: 18%;
			text-align: right;
			&:before{
				font-size: 1.125rem;
			}
		}
	}

	.mns-p-list-agenda{
		padding: 35px 0;
		@include mobile {
			padding: 0 15px 25px;
		}		

		.col-sm-3{
			@media (min-width: 576px) and (max-width:767px) {
				flex: none;
				max-width: none;
			}				
		}

		.mns-z-filtres-search{
			@include mobile{
				display: none;
			}

			.mns-affiner{
				text-align: left;
				border-bottom: 0;
				padding-top: 0;
				padding-left: 0;

				@include mobile{
					display: none;
				}

				> .mns-more{
					width: 100%;
				}

				@include mobile{
					padding: 25px 0 15px 0;
				}

				span.mns-more{
					@include ft($f_ms, 1rem, 700, $c_black, 1.625rem);
					text-transform: none;
				}

				span.icon-search-more{
					display: inline-block;
					vertical-align: middle;
					position: relative;
					right: 0;
					width: 18%;
					text-align: right;
					&:before{
						font-size: 1.125rem;
					}
				}
			}

			.mns-label-top{
				width: 100%;
				display: inline-block;
				padding-bottom: 5px;
				border-bottom: 1px solid $c_filet;
				margin-bottom: 15px;
				label{
					@include ft($f_nr, 1.375rem, 400, $c_main, 1.625rem);
				}
			}

			.content{
				flex-grow: 1;
			}

			input[type="text"]{
				width: 100%;
				margin: 0;
				height: 38px;
				padding: 10px 10px 10px 8px;
				text-overflow: ellipsis;
				@include desktop{
					width: 100%;
				}
			}

			.checkbox{
				overflow: hidden; 
				max-height: 1000px;
				transition: max-height 0.5s ease-in;

				&.closed {
					max-height: 0;
					transition: max-height 0.5s ease-out;
				}

				.form-group.form-inline {
					margin-bottom: 0;
					padding: 5px 0;    
					overflow: hidden;
				}
			}

			.form-group{
				margin-bottom: 30px;
			}

			.date-selection{
				.input-checkbox-wrapper {
				  display: none;
				}
				
				input[type=text], input[type=date] {
				  display: inline-block;
				  width: 100%;
				  font-size: 0.8125rem;
				}

				.between-form {
					margin: 10px 5px;
					@include desktop{
						margin: 10px 10px 10px 0;
						display: block;
					}
				}

				@media (max-width: 1199px){
					display: block;
				}
			}

			.mns-submit{
				width: calc(100% + 10px);
				transform: translateX(-10px);

				@include mobile{
					padding: 25px 0 15px 0;
				}

				input{
					position: relative;
					width: 230px;
					@include mobile{
						margin-bottom: 40px;
					}		
				}
			}

			.mns-ico-date{
				display: inline-block;
				position: relative;
				width: calc(50% - 14px);

				&:after{
					content: "\e910";
					font-family: 'icomoon' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					position: absolute;
					top: 10px;
					color: $c_main;
					right: 5px;
					font-size: 1.125rem;
				}
			}

			.mns-expand-collapse {
				display: inline-block;
				float: right;
				cursor: pointer;

				.mns-filter-expand {
					background: center / contain no-repeat url(svg-bg-uri($svg-plus, $c_main)), no-repeat;
					height: 25px;
					width: 25px;
					display: none;
				}
				.mns-filter-collapse {
					background: center / contain no-repeat url(svg-bg-uri($svg-minus, $c_main)), no-repeat;
					height: 25px;
					width: 25px;
				}
			}
		}

		.mns-z-list-agenda{

			.search-asset-results > * {
			  height: 580px;
			  transform: translateY(65px);
			}

			.taglib-page-iterator {
			  padding-top: 20px;
			}

			.lfr-pagination-config {
			  display: none;
			}
		}
	}
}