@charset "UTF-8";

@import "_t_vars";
@import "_t_mixins";

/***************************/
/***************************/

   /* -- PAGE CONTACT -- */

/***************************/
/***************************/

#mns-global{
	
	.mns-page-contact{
		margin: 25px auto 50px auto;
		@include mobile{
			margin-top: 0;
		}

		.mns-intro-form{
			font-size: 14px;
			line-height: 22px;
			padding-bottom: 15px;
			border-bottom: 1px solid #fff6;
			margin-bottom: 40px;
		}

		.mns-outro-form{
			font-size: 12.5px;
			line-height: 20px;
			margin-top: 40px;
			font-weight: 300;

			a {
				color: $c_main;
			}
		}

		form{
			> div.form-group{
				width: 48%;
				float: left;
				&:nth-child(even){
					margin-left: 4%;
					@include mobile{
						margin-left: 0;
					}
				}

				@include mobile{
					width: 100%;
					margin: 0;
					margin-bottom: 20px;
				}

				&.mns-textarea{
					width: 100%;
					margin-bottom: 15px			
				}
				label {
					font-size: 17.5px;
				}
			}
		}

		h3.mns-title-info{
			@include ft($f_ms, 21.5px, 600, $c_white, 24px);
		}

		.mns-submit {
			display: flex;
    		justify-content: center;
    		input{
				width: 150px;
				padding: 6px 0;
				height: auto;
				background: $c_white;
				border: none;
				box-shadow: none;
				color: $c_main !important;
				z-index: 2;
				border: 4px solid $c_main;
				@include ft($f_ms, 15px, 700, $c_txt, normal);
				@include an(all,0.3);
				&:hover{
					background: $c_main;
					color: $c_white !important;
				}
			}
			span{
				width: 100%;
				height: 10px;
				background: url(/o/summer-2018-theme/images/vague.png) repeat center center /contain;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				z-index: 1;
			}
		}
	}

	.mns-info-pratiques{
		background: $c_main;
		position: relative;
		.mns-sec-info{
			padding: 30px 20px;
			border-bottom: 1px solid #fff6;
			strong, p{
				@include ft($f_ms, 14px, 400, $c_white, 22px);
				margin-bottom: 0;
			}
			strong{
				font-weight: 500;
			}

			a.basic-link{
				margin-top: 15px;
			}
		}


		ul{
			padding: 0;margin: 0;
			li{
				padding: 0;margin: 0;
				a{
					border-bottom: 1px solid #fff6;
					@include ft($f_ms, 14px, 400, $c_white, 22px);
					padding: 10px 0;
					display: block;
					padding-left: 20px;
					@include an(all,0.3);
					&:after{
						content: "\e90a";
						font-family: 'icomoon' !important;
						speak: none;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						color: #FFF;
						position: absolute;
						right: 20px;
						top: 50%;
						transform: translateY(-50%);
						font-size: 14px;
						@include an(all,0.3);
					}
					&:hover{
						padding-left: 35px;
						font-weight: 700;
						&:after{
							right: 10px;
						}
					}
				}
			}
		}

		a{
			color: #70e338;
		}

		.mns-sec-access{
			.mns-title-info{
				padding: 30px 20px 0 20px;
				display: block;
				&:after{
					margin-bottom: 15px;
				}
			}
		}
	}

}