@charset "UTF-8";

@import "_t_vars";
@import "_t_mixins";

/***************************/
/***************************/

   /* -- PAGE AGENDA DETAIL -- */

/***************************/
/***************************/

#mns-global{

	.mns-agenda-detail{
		margin-top: 30px;
		@include tablet_portrait {
				margin-top: 50px !important;
			}

		.mns-section-agenda{
			padding-bottom: 50px;
			h2{
				text-align: left;
				@include ft($f_ms, 25px, 600, $c_txt, normal);
				display: inline-block;
				vertical-align: middle;
			}
			.link{
				float: right;
				position: relative;
				top: 10px;
				color: $c_txt;
				text-decoration: none;
			}
		}

		&.mns-fck figure figcaption{
			border: none;
			right: 0;
			left: initial;
			bottom: 0;
			top: initial;
			transform: translate(100%,0) rotate(-90deg);
			color: $c_white;
			display: inline-block;
			padding: 15px;
			transform-origin: bottom left;
			width: auto;
			text-align: left;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			max-width: 120%;
			font-size: 10px;
		}

		.mns-img-agenda-top{
			margin: 0;
		}

		.mns-info-pratiques{
			max-width: 298px;
    		margin-left: 1px;
    		background-color: $c_main;
			.mns-sec-info{
				border-bottom: 0px;
				.mns-title-info{
					text-transform: uppercase;
					color: $c_txt;
					font-family: $f_ms;
					&:after{
						content: '';
						background: url(/o/summer-2018-theme/images/vagues-noires.png) no-repeat left center /contain;
						position: relative;
						display: block;
						top: -5px;
						height: 40px;
						width: 80px;
						z-index: 9999;
					}
				}
				p{
					width: 90%;
					margin-bottom: 20px;
					display: block;
				}
				a{
					display: block;
					@include ft($f_ms, 18px, 700, $c_white, 24px);
					margin-bottom: 20px;
					@include an(all,0.3);
					&:hover{
						color: $c_txt;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}

			&:after{
				content: '';
				width: 290px;
				height: 350px;
				right: initial;
				left: -50px;
				top: initial;
				bottom: -20px;
			}
		}

		.mns-event-date{
			@include ft($f_ms, 20px, 700, $c_txt, normal);
			margin-bottom: 15px;
			display: block;
		}

		.mns-content-agenda-detail{
			@include mobile{
				padding: 0;
			}

			a{
				color: #8399ad;
				text-decoration: underline;
				@include an(all,0.3);
				&:hover{
					color: $c_main;
				}
			}

			h1{
				@include ft($f_ms, 60px, 100, $c_txt, 54px);
				width: 100%;
				margin-bottom: 20px;
			}
			.mns-indic{
				span{
					margin-right: 5px;
					&:nth-child(2){
						margin-right: 15px;
					}
				}
				.icon-ico-map-marker{
					height: 15px;
			  		width: 15px;

					&:before {
					  	content: '';
			  			background: url(/o/summer-2018-theme/images/pin.png) no-repeat center center /contain;
			  			position: absolute;
			  			height: 15px;
			  			width: 15px;
			  		}
				}

				.icon-ico-type{
					height: 15px;
			  		width: 15px;

			  		&:before {
					  	content: '';
			  			background: url(/o/summer-2018-theme/images/label.png) no-repeat center center /contain;
			  			position: absolute;
			  			height: 15px;
			  			width: 15px;
		  			}
				}
			}

			.mns-title-detail-actu{
				@include ft($f_ms, 16px, 700, $c_txt, normal);	
				display: block;
			}

			.mns-info-more{
				margin: 25px 0;
				@include mobile{
					margin-bottom: 30px;
				}
				&:nth-last-child(2), &:nth-last-child(1){
					margin-bottom: 0;
					@include mobile{
						margin-bottom: 30px;
					}
				}
				&:last-child{
					@include mobile{
						margin-bottom: 60px;
					}
				}
				p{
					margin-bottom: 10px;
					width: 100%;
				}

				span[class^="icon-"]{
					font-size: 40px;
					margin-right: 10px;
					@include tablet_portrait{
						margin-right: 5px;
					}
				}
			}
		}
	}
	
}