@charset "UTF-8";

/***************************/
/***************************/

   /* -- PAGE CONTACT -- */

/***************************/
/***************************/

#mns-global{
	.mns-page-contact{
		margin: 25px auto 50px auto;

		/*.mns-intro-form{
			font-size: 14px;
			line-height: 22px;
			padding-bottom: 15px;
			border-bottom: 1px solid #fff6;
			margin-bottom: 40px;
		}*/
		
		form {			
			[style="visibility: hidden;"]{
				display: none;
			}

			.checkbox label{
				font-weight: 700;
			}

			.mns-submit {
	
				span{
					height: 2px;
					background: #d8dae4;
				}
				input{
					width: 230px;
				}
			}
		}

		.mns-outro-form{
			font-size: 0.875rem;
			line-height: 1.625rem;

			a{
				color: $c_main;
				font-weight: 700;
				text-decoration: underline;
				@include an(all,0.3);

				&:hover{
					color: $c_txt;
				}
			}
		}

		/*form{
			> div.form-group{
				width: 48%;
				float: left;
				&:nth-child(even){
					margin-left: 4%;
					@include mobile{
						margin-left: 0;
					}
				}

				@include mobile{
					width: 100%;
					margin: 0;
					margin-bottom: 20px;
				}

				&.mns-textarea{
					width: 100%;
					margin-bottom: 15px			
				}
				label {
					font-size: 17.5px;
				}
			}
		}*/

		/*h3.mns-title-info{
			@include ft($f_ms, 21.5px, 600, $c_white, 24px);
		}*/

	}

	.mns-info-pratiques{
		background: $c_main;
		position: relative;
		
		.mns-sec-info{
			padding: 30px;
			display: inline-block;

			&:not(:last-child){
				border-bottom: 1px solid $c_white;
			}

			h2{
				color: $c_white;
				font-size: 2.25rem;
				line-height: 2.75rem;
				margin: 0 0 20px;
			}

			strong, p{
				@include ft($f_ms, 1rem, 400, $c_white, 1.625rem);

				&:not(:last-child){
					margin-bottom: 10px;
				}
			}

			strong{
				font-weight: 500;
			}
			
			.dload-btns {
				display: flex;
				gap: 10px;
				
				.dload-btn {
					display: block;
					background-color: $c_black;
					text-align: center;
					border-radius: 10px;
					transition: all 0.3s ease-in-out;

					&:hover, &:focus {
						background-color: $c_main;
					}

					img {
						position: relative;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}

			a{
				text-decoration: underline;
				color: $c_white;

				&:hover{
					text-decoration: none;
					color: $c_white;
				}
			}

			ul{
				padding: 0;
				margin: 0;

				li{
					padding: 0;
					margin: 0;

					&:not(:last-child) a{
						padding-bottom: 15px;
					}

					a{
						display: block;
						text-decoration: none;

						&:after{
							content: "\e90a";
							font-family: 'icomoon' !important;
							position: absolute;
							right: 0;
						}
					}
				}
			}
		}
	}

}