@charset "UTF-8";

@import "_t_vars";
@import "_t_mixins";

/***************************/
/***************************/

   /* -- PAGE AGENDA LIST -- */

/***************************/
/***************************/

#mns-global{

	.mns-p-list-agenda{
		padding: 35px 0;
		@include mobile {
			padding: 25px 15px;
		}
		.mns-z-filtres-search{
			@include mobile{
				display: none;
			}
			@include tablet_portrait {
				margin-top: 30px !important;
			}
			.mns-affiner{
				text-align: left;
				border-bottom: 0;
				padding-top: 0;
				padding-left: 0;
				> .mns-more{
					width: 100%;
				}
			}

			.mns-label-top{
				width: 100%;
				display: inline-block;
				padding-bottom: 5px;
				border-bottom: 1px solid $c_filet;
				margin-bottom: 15px;
				label{
					@include ft($f_ms, 18px, 700, $c_txt, 26px);
				}
				span{
					position: absolute;
					right: 15px;
					@include ft($f_ms, 12px, 400, $c_txt, 26px);
				}
			}

			input[type="text"]{
				width: 40%;
				margin: 0;
				height: 38px;
				padding-left: 10px;
				text-overflow: ellipsis;
				@include desktop{
					width: 100%;
				}
			}

			.checkbox{
				overflow: hidden;
				transition: all 0.3s ease
			}

			.between-form{
				margin: 0 11px;
				@include desktop{
					margin: 10px 10px 10px 0;
					display: block;
				}
			}

			.form-group{
				margin-bottom: 30px;
			}

			.checkbox{
				> label{
					display: block;
					padding: 5px 0;
					overflow: hidden;
					input[type="checkbox"]:checked{
						font-weight: 700;
					}
				}
			}

			.mns-submit{
				input{
					text-align: center;
					position: relative;
					width: 100%;
					padding: 12px 0;
					height: auto;
					background: $c_white;
					border: 4px solid $c_main;
					box-shadow: none;
					text-transform: uppercase;
					white-space: normal;
					@include ft($f_ms, 15px, 700, $c_main, normal);
					@include an(all,0.3);
					@include mobile{
						margin-bottom: 40px;
					}
					@include tablet_portrait{
						width: 100%;
						font-size: 12px;
					}
					&:after{
						content: '';
						display: block;
						height: 4px; 
						width: 100%;
						background: $c_main;
						position: relative;
						top: 10px;
						transition: all 0.3s ease
					}
					&:hover{
						background: $c_main;
						color: $c_white;
					}		
				}
				span{
					display: none;
					width: 100%;
					height: 1px;
					background: #a6a6a6;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					z-index: -1;
				}
			}


			.mns-ico-date{
				display: inline-block;
				width: 106px;
				position: relative;
				&:after{
					content: "\e910";
					font-family: 'icomoon' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					position: absolute;
					top: 10px;
					color: $c_main;
					right: 5px;
					font-size: 18px;
				}
			}


			.mns-expand-collapse {
				display: inline-block;
				float: right;
				cursor: pointer;

				.mns-filter-expand {
					background: url(/o/summer-2018-theme/images/plus.png) no-repeat center center /contain;
					height: 26px;
					width: 20px;
					display: none;
				}
				.mns-filter-collapse {
					background: url(/o/summer-2018-theme/images/moins.png) no-repeat center center /contain;
					height: 26px;
					width: 20px;
				}
			}



		}

		.mns-z-list-agenda{
			@include mobile{
				margin-top: 30px !important;
			}
			@include tablet_portrait {
				margin-top: 30px !important;
			}
			> div > div{
				margin-bottom: 0;
				&:nth-child(-n+3){
					margin-top: 10px;
				}

				.cover{
					max-width: 100%;
				}

				
			}
			> div{
				@include mobile{
					padding: 0;
				}
			}
		}
	}

	#_eu_strasbourg_portlet_search_asset_SearchAssetPortlet_toDate {
		font-size: 13px;
	}
	#_eu_strasbourg_portlet_search_asset_SearchAssetPortlet_fromDate {
		font-size: 13px;
	}
}