@charset "UTF-8";

@import "_t_vars";
@import "_t_mixins";

/***************************/
/***************************/

   /* -- PAGE MARCHE DE NOEL -- */

/***************************/
/***************************/

#mns-global{

	.mns-page-marche{
		.small-container{
			@include tablet_portrait{
				padding: 50px 15px 0;
			}
		}

		.mns-marche-intro{
			padding: 20px 15px;
			@include tablet_portrait{
				padding: 0 30px 20px;
			}
		}
	}

	.mns-map-inte{
		border: 1px solid $c_filet;
		position: relative;
		padding: 0;
		overflow: hidden;
		@include tablet_portrait{
			width: calc(100% - 40px);
		}
		@include mobile {
			margin: 0 15px;
			width: calc(100% - 30px);
		}

		#mns-map{
			width: 100%;
			height: 750px;
			@include desktop{
				height: 500px;
			}
			@include tablet_portrait {
				height: 750px;
			}
			@include mobile {
				height: 500px;
			}
		}

		#mns-wrapper-volet{
			position: absolute;
			right: 0;
			top: 0;
			height: 600px;
			width: 310px;
			transform: translateX(250px);
			@include an(all,0.3);
			&.expand{
				transform: translateX(0px);	
			}
		}

		.mns-bloc-legende{
			height: 750px;
			width: 250px;
			overflow-y: auto;
			position: absolute;
			right: 0;
			top: 0;
			background: $c_white;
			padding: 10px 15px;
			@include desktop{
				height: 500px;
			}
			@include tablet_portrait {
				height: 750px;
			}
			@include mobile {
				height: 500px;
			}
			.mns-item-bloc-legende{
				border-bottom: 1px solid $c_filet;
				padding: 15px 0;
				&:hover{
					cursor: pointer;
				}
			}
			.mns-title-legende{
				@include ft($f_ms, 18px, 700, $c_txt, 18px);	
				display: block;
				margin-bottom: 10px;
			}
			p{
				@include ft($f_ms, 17.5px, 300, $c_txt, normal);
				margin: 0;
			}
		}

		.mns-volet-map{
			height: 750px;
			width: 60px;
			background: $c_main;
			position: absolute;
			right: 250px;
			top: 0;
			@include an(all,0.3);
			&:hover{
				cursor: pointer;
				.icon-plus{
					background: $c_white;
					border-color: $c_white;
				}
			}

			@include desktop{
				height: 500px;
			}
			@include tablet_portrait {
				height: 750px;
			}
			@include mobile {
				height: 500px;
			}

			.mns-close-leg{
				transform: rotate(-90deg);
				position: absolute;
				top: 45px;
				left: -34px;
				width: 150px;
				height: 44px;
				span{
					margin: 0 5px;
				}
				span:not(.icon-plus){
					@include ft($f_ms, 16px, 700, $c_white, 18px);	
					text-transform: uppercase;
				}
				span.icon-plus{
					color: $c_txt;
					border: 1px solid rgba($c_white,0.5);
					border-radius: 50%;
					font-size: 22px;
					vertical-align: middle;
					margin-left: 10px;
					padding: 5px;
					@include an(all,0.3);
				}
			}
		}
	}

	.mns-thematiques{
		padding-top: 0; 
		padding-bottom: 50px;
		h2{
			@include ft($f_ms, 78px, 700, $c_txt, 54px);	
			display: block;
			text-align: right;
			margin-bottom: 50px;
			@include mobile{
				font-size: 36px;
				line-height: normal;
				margin-bottom: 20px;
			}
		}
	}
	
}