#main-menu{
	padding-top:40px;
	z-index: 4;
	position: relative;
	.container{
		@extend %container;
	}
	.logo{
		width: 195px;
		margin:0px;
		display: inline-block;
		@include RWD(mobile){
			width:110px;
		}
	}
	.main-nav{
		float:right;
		display: inline-block;
		font-size:0;
		margin:0;
		li{
			display: inline-block;
			vertical-align: top;
			position:relative;
			&:before{
				content:none;
			}
			.link-leading{
				font-family: 'roadwayregular';
				font-size:22px;
				font-size:2.2rem;
				line-height: 1em;
				color:#fdfdfd;
				text-transform: uppercase;
				text-decoration: none;
				position:relative;
				margin-right: 20px;
				padding: 10px 20px;
				letter-spacing: 1px;
				&:after, &:before{
					content:'';
					position:absolute;
					width:0px;
					height:0px;
				}
				&:before{
					right:0;
					bottom:0;
				}
				&:after{
					left:0;
					top:0;
					opacity: 0;
				}
				&:hover, &:focus, &:active{
					&:before, &:after{
						height:100%;
						width:100%;
					}
					&:before{
						border-top:2px solid rgba(255,255,255,0.8);
						border-right:2px solid rgba(255,255,255,0.8);
						@include double-transition(width 0.3s ease 0.3s, height 0.3s ease 0s);
					}
					&:after{
						border-bottom:2px solid rgba(255,255,255,0.8);
						border-left:2px solid rgba(255,255,255,0.8);
						opacity: 1;
						@include triple-transition(width, 0.3s, ease, 0.9s, height, 0.3s, ease, 0.6s, opacity, 0s, linear, 0.6s);
					}
				}
				&.actif{
					&:before, &:after{
						height:100%;
						width:100%;
					}
					&:before{
						border-top:2px solid rgba(255,255,255,0.8);
						border-right:2px solid rgba(255,255,255,0.8);
					}
					&:after{
						border-bottom:2px solid rgba(255,255,255,0.8);
						border-left:2px solid rgba(255,255,255,0.8);
						opacity: 1;
					}
				}
			}
			//Dernier lien le sous menu se cale sur la droite
			&:nth-last-of-type(2){
				.menu-category{
					right:0px;
					left:initial;
				}
			}
		}
		@include RWD(tablet){
			display:none;
		}
	}
	
	.nav-social-network{
		float:right;
		display: flex;
		li{
			display: inline-block;
			a{
				display: inline-block;
				transform: translateY(calc((22px - 35px) / 2));
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				width: 35px;
				height: 35px;
				@include RWD(tablet){
					width: 25px;
					height: 25px;
				}
				@include RWD(mobile){
					width: 20px;
					height: 20px;
				}

				&.btn-fb {
					background-image: url(../images/pictos/facebook-sml.png);
				}
				&.btn-twitter {
					background-image: url(../images/pictos/twitter-sml.png);
				}
				&.btn-insta {
					background-image: url(../images/pictos/instagram-sml.png);
				}
				&.btn-linkdin {
					background-image: url(../images/pictos/linkdin-sml.png);
				}
			}
		}
		@include RWD(tablet){
			display:none;
		}
	}

	.menu-category{
		display: none;
		background-color:rgba(255,255,255,0.8);
		padding:20px 22px;
		position:absolute;
		left:0;
		top: 36px;
		width:325px;
		margin: 10px 0 0;
		li{
			display: block;
			margin-bottom:10px;
			&:before{
				content:none;
			}
			a{
				line-height: normal;
				color:#000;
				font-family: 'roadwayregular';
				font-size:22px;
				font-size:2.2rem;
				text-transform: uppercase;
				text-decoration: none;
				position:relative;
				&:hover, &:active, &:focus, &.actif{
					color:#00aeef;
					text-decoration: underline;
				}
			}
			@include RWD(tablet){
				@include transition(transform 0.3s ease);
			}
		}
	}

}

.search{
	padding: 10px 20px;
	position: relative;
	margin-top: -10px;
	border: none;
	background: none;
	&:after, &:before{
		content:'';
		position:absolute;
		width:0px;
		height:0px;
	}
	&:before{
		right:0;
		bottom:0;
	}
	&:after{
		left:0;
		top:0;
		opacity: 0;
	}
	&:hover, &:focus, &:active{
		border: none;
		background: none;
		&:before, &:after{
			height:100%;
			width:100%;
		}
		&:before{
			border-top:2px solid rgba(255,255,255,0.8);
			border-right:2px solid rgba(255,255,255,0.8);
			@include double-transition(width 0.3s ease 0.3s, height 0.3s ease 0s);
		}
		&:after{
			border-bottom:2px solid rgba(255,255,255,0.8);
			border-left:2px solid rgba(255,255,255,0.8);
			opacity: 1;
			@include triple-transition(width, 0.3s, ease, 0.9s, height, 0.3s, ease, 0.6s, opacity, 0s, linear, 0.6s);
		}
	}
	@include RWD(tablet){
		//display: inline-block;
		display: none;
		vertical-align: middle;
		padding:0px;
		margin-top:0px;
		margin-right:25px;
		&:before, &:after{
			content:none;
		}
	}
}

#burger{
	position: relative;
	width: 25px;
	height: 25px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	outline: none;
	span {
		position: absolute;
		background-color: rgba(255,255,255,1);
		width: 100%;
		height: 4px;
		top: 50%;
		right: 0px;
		margin-top: -2px;
		opacity: 1;
		@include transition(all 0.3s ease-in-out 0s);
		&:before, &:after{
			position: absolute;
			background-color: rgba(255,255,255,1);
			width: 100%;
			height: 4px;
			content: "";
	  		display: block;
	  		@include transition(all 0.3s ease-in-out 0s);
		}
		&:before{
			top: 10px;
		}
		&:after{
			bottom: 10px;
		}
	}
}

//Quand le menu est ouvert
.mm-opened{
	#burger{
		span{
			background-color: rgba(255,255,255,0);
			&:after{
				@include transform(rotate(-45deg));
				bottom:0;
			}
			&:before{
				@include transform(rotate(45deg));
				top:0;
			}
		}
	}
}

.nav-rwd{
	display: none;
	float: right;
	@include RWD(tablet){
		display: block;
	}
}