// BREAKPOINTS
$breakpoint_extra_large: 1250px;
$breakpoint_desktop: 1200px;
$breakpoint_tablet_landscape: 992px;
$breakpoint_tablet_portrait: 768px;
$breakpoint_mobile_landscape: 576px;
$breakpoint_mobile_portrait: 0px;
// BREAKPOINTS

//COLORS
$color_main: #c42147;
$color_txt: #2d2d2d;
$color_second: #333;	
$color_third: #f2f2f2;
//COLORS

// FONTS 
$proximaNova: "Proximanova", sans-serif;
$times: 'Times', serif;
$montserrat: 'MontSerrat', arial;
$opensans: 'OpenSans', arial;
// FONTS

// VARIABILISATION POUR MODULES
:root{
    // placeScheduleWeb
    --color_main : #c42147;
    --color_txt : #2d2d2d;
    --font-main : "Proximanova", sans-serif;

    // contactFormWeb
    --color_h1 : #2d2d2d;
    --font_h1 : "Proximanova", sans-serif;
    --color_form : #2d2d2d;
    --font_form : "Proximanova", sans-serif;
    --color_bold : #2d2d2d;
    --color_em : #2d2d2d;
    --color_link : #c42147
    --color_link_hover : #2d2d2d;
    --color_label : #2d2d2d;
    --color_required : #2d2d2d;
    --font_label : "Proximanova", sans-serif;
    --color_field : #A6A6A6;
    --color_bg_field : #FFF;
    --color_border_field : #A6A6A6;
    --color_bg_field_hover : #FFF;
    --color_border_field_hover : #858585;
    --font_field : "Proximanova", sans-serif;
    --color_placeholder : #A6A6A6;
    --font_placeholder : "Proximanova", sans-serif;
    --font_btns : "Proximanova", sans-serif;
    --color_btn_submit : #FFF;
    --color_bg_btn_submit : #c42147;
    --color_border_btn_submit : #c42147;
    --color_btn_submit_hover : #c42147;
    --color_bg_btn_submit_hover : #FFF;
    --color_btn_cancel : #c42147;
    --color_bg_btn_cancel : #FFF;
    --color_border_btn_cancel : #c42147;
    --color_btn_cancel_hover : #FFF;
    --color_bg_btn_cancel_hover : #c42147;
    --color_btn_previous : #c42147;
    --color_bg_btn_previous : #FFF;
    --color_border_btn_previous : #c42147;
    --color_btn_previous_hover : #FFF;
    --color_bg_btn_previous_hover : #c42147;
    --color_bg_success : #c42147;
}
// VARIABILISATION POUR MODULES