%organism-graveyard{   
    @extend %skin-form-validation;

    .webform-layout-box{
        display: flex;
        justify-content: space-between;
        
        @include RWD(mobile){
            display: block;
        }

        .form-group{
            width: 500px;
            @include RWD(tablet_only){
                flex: 1;
                & + .form-group{
                    margin-left: 30px;
                }
            }

            .webform-layout-box{
                display: block;

                @include RWD(desktop){
                    display: flex;
                    justify-content: space-between;
                }

                .form-group{
                    @include RWD(desktop){
                        width: 245px;
                    }
                    @include RWD(tablet_only){
                        width: 100%;
                    }
                    & + .form-group{
                        margin-left: 0px;
                    }
                }
            }
        }
    }

    label{
        @extend %text-form-label;
        .required{
            color: #ff1818;
        }
        margin-bottom: 10px;
        width: 100%;
    }

    select, input{
        @extend %atom-form-input;
        width: 100%;
    }
    input[disabled="disabled"]::placeholder {
            color: #d9d9d9;
    }
    input[type=checkbox]{
        width: auto;
        height: auto;
        opacity: 0;
        @extend %atom-form-checkbox;
    }
    input[type=checkbox] + span{
        padding-left: 10px;
        display: inline-block;
        width: 100%;
        position: relative;     

        &:before{
            display: inline-block;
            vertical-align: top;
            top: 15px;
        }

        &:after{
            display: inline-block;
            vertical-align: top;
            top: 15px;
        }

        span{
            width: calc(100% - 15px);
            display: inline-block;
            margin-left: 15px;
        }
    }
    
    .type-date{
        max-height: 60px;

        &:after{
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background-size: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url( svg-bg-uri($svg-calendar, #7e7e7e) );
            position: relative;
            left: 90%;
            top: -42px;
        }
    }
    
    .form-group .form-group .type-date:after{
        @include RWD(desktop){
            left: 80%;
        }
    }

    .customSelectContain{
        @extend %atom-customSelect--white; 

        @include RWD(mobile){
            .customSelectInner{
                font-size: 1.2rem !important;
            }
        }

        .customSelect{    
            border: 2 solid transparent;
            height: 50px;
            background-color: #f6f6f6;
        }
    }

    .focused.customSelectContain{
        border-color: $core-color;
    }

    button{
        margin: auto;
        display: block;
    }

    .seu-error-messages  {
        background-image: url( svg-bg-uri($svg-exclamation, #5c5c5c) );
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 20px 20px;
        background-color: #FFDDDE;
        padding: 15px 20px;
        padding-left: 60px;
        color: #505050;
        margin-top: 20px;
    }

    .graveyard-response{
        margin-top: 20px;
    }

    .tot{
        background-color: #f6f6f6;
        padding: 20px 50px;
        margin-bottom: 20px;

        .name{
            font-weight: 700;
            text-transform: uppercase;
            line-height: 60px;
            color: #31455d;
            font-size: 1.6rem;
        }

        .form-group.left{

            .form-label{
                line-height: 10px;

                label{
                    margin-bottom: 0px;
                    color: #31455d;
                }
            }

            .form-field{
                margin-bottom: 10px;
            }
        }

        .seu-btn-square--bordered--core{
            text-decoration: none;
        }
    }

    margin-bottom: 40px;
}
