@keyframes slowZoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}
@keyframes check {
	0% {
		height: 0;
		width: 0;
	}

	33.3333% {
		width: 6px;
		height: 0;
	}
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}