@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

/* Barre de boutons dans la configuration */
.portlet-configuration-setup form.form {
  margin-bottom: 100px;
  .button-holder.dialog-footer {
    position: fixed;
    background: white;
  }
}
