.mns-p-list-agenda .search-asset-portlet-page {
  .date-selection .input-checkbox-wrapper {
    display: none;
  }
  .date-selection input[type=text], .date-selection input[type=date] {
    display: inline-block;
    width: 100%;
  }
  .lfr-pagination-config {
    display: none !important;
  }
  .taglib-page-iterator-wrapper {
    padding-top: 100px;
    clear: both;
    height: auto;
    overflow: hidden;
    width: auto;
  }
  .search-asset-results > * {
    height: 580px;
  }
  .checkbox .form-group.form-inline {
    margin-bottom: 0;
    padding: 5px 0;    
    overflow: hidden;
  }
}