/***************************/
/***************************/

/* -- PAGE RESULTS -- */

/***************************/
/***************************/

.mns-view-filters {
	padding: 40px 50px;
	background-color: $c_main;

	label {
		color: $c_white;
	}

	.mns-general-keywords {
    	width: 100%;
	    height: 50px;
	    background-color: #f6f6f6;
	    border: 2px solid transparent;
	    border-radius: 0;
	    padding: 0 20px;
	    transition: all,.5s;
	    line-height: 50px;
		}

	.mns-btn-line {
	    display: flex;
	    justify-content: center;
	    margin-top: 20px;

	     @media only screen and (max-width: 767px) {
		    display: block;
		    text-align: center;

		    button+button {
		    	margin: 0 !important;
				margin-top: 10px !important;
		    }

		}
	}

	.mns-btn-square {
		padding: 15px 20px;
	    text-decoration: none;
	    position: relative;
	    display: inline-block;
	    border-color: transparent;
	    transition: all,.5s;
	    overflow: hidden;


	    &:before {
    		content: '';
		    display: block;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 1px;
		    transition: all .3s ease;
		    z-index: 1;
		    background-color: $c_white;
		}

	    &.mns-filled {
			background-color: $c_white;
			color: $c_main;
			margin-left: 20px;   

			&:hover {
	    		.mns-btn-text {
	    			color: $c_white;
	    		}
	    		&:before {
	    			height: 103%;
	    			background-color: $c_main;
	    		}
	    	}			
	    }

	    &.mns-bordered {
	    	background-color: transparent;
	    	color: $c_white;
	    	border: 0;

	    	&:hover {
	    		.mns-btn-text {
	    			color: $c_main;
	    		}
	    		&:before {
	    			height: 100%;
	    		}
	    	}
	    }

	    .mns-flexbox {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    z-index: 2;
			position: relative;

		    .mns-btn-text {
		    	font-size: 1.4rem;
			    text-transform: uppercase;
			    font-weight: 600;
			    transition: all,.3s;
			    width: 100%;
		    }
	    }
	}
}

.mns-view-results {
	@include ft($f_txt, 14px, 400, $c_txt, normal);
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;

    .customSelectContain{
    	width: 85px;
		margin-left: 20px;
        @extend %atom-customSelect--custom;   
    } 

    .mns-filler {
    	flex: 1;
    }

    .mns-result-filter {
    	display: flex;
	    align-items: center;
    }
}

.search-asset-search-container .mns-pagination {
	width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    position: relative;
    padding: 45px 0px 10px 0px;
    margin-bottom: 60px;


    li:nth-child(2) {
    	padding: 0;
    }

	.mns-pagin-prev {
	    margin-left: 0;
	    margin-right: auto;
	    padding: 0;
	    width: 150px;

	    .mns-btn-text {
	    	order: 2;
	    	margin-left: 20px;
	    	@media only screen and (max-width: 767px) {
	    		font-size: 0 !important;
	    		&:before {
	    			content:'PREC';
	    			font-size: 14px;
	    		}
	    	}
	    }
	    .mns-btn-arrow {
		    transform: rotate(-180deg);
		    order: 1;
	    }
	}

	.mns-pagin-next {
		margin-left: auto;
			margin-right: 0;
	    padding: 0;
	    width: 150px;
			.mns-btn-text {
				margin-right: 20px;
	    	@media only screen and (max-width: 767px) {
	    		font-size: 0 !important;
	    		&:before {
	    			content:'SUIV';
	    			font-size: 14px;
	    		}
	    	}
	    }
	}

	.mns-pagin-item {
		.mns-btn-text {
			font-weight: 600;
			color: $c_main;
		}

		&.mns-is-active {
			.mns-btn-text {
				color: $c_txt;
			}
		}

		@media only screen and (max-width: 767px) {
			&:not(.mns-pagin-next):not(.mns-pagin-prev) {
				display: none;
			}
		}
	}

	.mns-btn-square {
		padding: 15px 20px;
	    text-decoration: none;
	    position: relative;
	    display: inline-block;
	    border-color: transparent;
	    transition: all,.5s;
	    overflow: hidden;


	    &:before {
    		content: '';
		    display: block;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 1px;
		    transition: all .3s ease;
		    z-index: 1;
		    background-color: $c_main;
		}


	    &.mns-bordered {
	    	background-color: transparent;
	    	color: $c_main;
	    	border: 0;

	    	&:hover {
	    		.mns-btn-text {
	    			color: $c_white;
	    		}
				.mns-btn-arrow{
	                background-image: url( svg-bg-uri($svg-arrow1, $c_white) );
	            }
	    		&:before {
	    			height: 100%;
	    		}
	    	}
	    }

	    .mns-flexbox {
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    z-index: 2;
			position: relative;

		    .mns-btn-text {
		    	font-size: 1.4rem;
			    text-transform: uppercase;
			    font-weight: 600;
			    transition: all,.3s;
			    width: 100%;
		    }

		    .mns-btn-arrow{
                background-image: url( svg-bg-uri($svg-arrow1, $c_main) );
                content: '';
			    display: inline-block;
			    width: 20px;
			    height: 20px;
			    background-size: 14px;
			    background-position: center;
			    background-repeat: no-repeat;
            }
    
	    }
	}
}

.mns-item-results {
	text-align: center;
	padding: 2px 0;
	> a {
		padding: 35px 0;
		display: block;
		border-top: 1px solid $c_filet;
		@include an(all, 0.3);
		&:hover {
			transform: scale(1.02);
			-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
		}
	}
	h3 {
		@include ft($f_hx, 28px, 700, $c_txt, normal);
		margin-bottom: 10px;
	}

	.mns-indic {
		margin-bottom: 15px;
		text-align: center;
	}

	p {
		clear: both;
		width: 75%;
		margin: auto;
		margin-bottom: 10px;
		@include tablet_portrait {
			width: 90%;
		}
	}
	.basic-link {
		text-align: center;
	}
}

.mns-pagination {
	margin-top: 0;
}