.wi-edition-detail {
	margin-bottom: 60px;
    .edition-date {
        color: $core-color;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .seu-wi-link-group .seu-media-picto {
        background-size: 30px;
        background-image: url(svg-bg-uri($svg-link-group, $core-color));
    }
}