#ops-header {
	z-index : 150;
	border-bottom : 1px solid rgba(0,0,0,0.2);
}

//Necessaire pour cacher des marges de la dropzone de porlet de liferay...
body {
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
}

//Pour supprimers les marges des portlet liferay
.portlet {
  margin-bottom: 0;
}

.btn{
  font-size: 14px;
}

.btn-default {
  color: #333;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

.caret {
  border-width: 4px;
}

.mb-2{
  display: none;
}

.mb-4{
  margin-bottom: 0 !important;
}

.autofit-float.autofit-row.portlet-header{
  display: none;
}

figure{
  margin: 0;
}

.portlet-layout .portlet-header {
  margin-bottom: 0;
}


main {
	z-index : auto;
}

//pour que le header du thème ne soit pas caché par le header de Liferay en mode connecté
.has-control-menu #ops-header {
  top : 56px;
}

//Pour que l'affichage du contenu principal et le footer prennent en compte le header de liferay 
.has-control-menu #ops-wrapper main{
	margin-top : 56px;
}

//Idem pour les bordures
.portlet-content-editable {
	border-width : 0px;
}

.form-group {
  margin-bottom: 0px;
}

//Force l'affichage du header de configuration des portlet en mode admin
.portlet-topper {
	z-index : 989;
}

//Force l'opacite à 1 de certains portlets pour ne pas etre cache par le header 
//vu que le z-index ne fonctionne pas dans ce cas precis
.lfr-configurator-visibility {
	opacity : 1;
}

//Cache le titre d'un web content...
.portlet .portlet-title-text {
	display: none;
}

//Applique le style prévu pour les boutons de langue mais avec les elements du portlet de selection de la langue
.ops-top-header>div a.ops-language-entry-short-text, .ops-top-header>div span.ops-language-entry-short-text{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0 15px;
    border-left: 1px solid #5C5C5C;
    display: inline-block;
    font-family: "Roboto",Sans-Serif;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    line-height: 40px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

.ops-top-header>div span.ops-language-entry-short-text {
	color: #D4B979;
}

.ops-top-header-btn {
	display : flex;
}

//Désactive le style du portlet de selection de la langue
#ops-header .portlet-decorate .portlet-content {
	background-color : #333;
	border-width : 0px;
	padding : 0px;
}

//Pour faire passer le container des vidéos sous le header
.ops-bloc-video .ops-wrapper-video .mask-video, .ops-bloc-video .ops-infos-videos:after {
	z-index : 100;
}

//Pour faire passer la liste du formulaire de recherche devant les vignettes
.ops-bloc-facettes {
	z-index : 101;
}

//appliquer le style du theme avec un autre classe que ops-scrollto dans le but de ne pas appliquer de js
.ops-wrapper-content-rh aside .ops-noscrollto a {
  position: relative;
  z-index: 10;
  color: #fff;
  display: block;
  margin-bottom: 10px;
  padding: 8px 10px
}

.ops-wrapper-content-rh aside .ops-noscrollto a:last-child {
  margin-bottom: 0
}

.ops-wrapper-content-rh aside .ops-noscrollto a.ops-btn-inversed {
  color: #000
}

//Ajustement du positionnement de l'icone de billeterie vers la doite.
.ops-bloc-slider-concerts .ops-item .ops-bottom-card .ops-places-dispo:after {
  right: 7px;
}

//Cache le tiret avant la date du bloc liste d'actualites
.ops-date-article:before {
  content : none;
}

@media screen and (max-width: 599px) {
  .ops-col-33 {
    margin-bottom: 18px;
  }
}

/** Début des correctifs du menu liferay modifié par le theme du site **/
// Change la font-size pour le menu de gauche et la barre du haut
[data-qa-id = 'controlMenu'],.text-muted.truncate-text{
	font-size: 14px;
	font-family: OpenSans, arial;

	[data-qa-id = 'headerTitle'] {
		font-size: 16px !important;
		font-family: OpenSans, arial;
	}
}

// Logo Liferay était coupé dans le menu de gauche
.lfr-product-menu-sidebar .sidebar-body, .lfr-admin-panel .sidebar-body{
	top: 56px !important;
}

// Replace icone des contenus dans menu de droite
.lfr-product-menu-sidebar .sidebar-body .icon-sites .lexicon-icon-sites {
	margin-top: -15px;
}

// Replace icone lorsqu'il n'y a pas de logo pour le site choisi dans le menu de gauche
.lfr-product-menu-sidebar .sidebar-body .sticker-default .lexicon-icon-sites {
	margin-top: 3px;
}

// "Aller au site" avec la bonne size
.goto-link.list-group-heading.panel-header-link{
	font-size: 14px;
}

// Menu de droite
.lfr-add-panel{
	font-size: 15px;
	font-family: OpenSans, arial;

	.lfr-content-item{  
		margin-bottom: 8px;

		.taglib-icon-label {
		font-size: 16px;
		}

		.lexicon-icon {
		height: 14px;
		margin-top: 3px;
		width: 14px;
		}

		.list-group-item-content{      
		h1{
		font-size: 14px !important;
		font-family: OpenSans, arial;
		font-weight: 600;
		}

		h2,h3{
		font-size: 14px !important;
		font-family: OpenSans, arial;
		}
		}
	}
} 
	
// Formulaire de connexion
#portlet_com_liferay_login_web_portlet_LoginPortlet .icon-monospaced svg.lexicon-icon.lexicon-icon-angle-left{
  display: none;
}

.portlet-login {
  margin: 100px auto 200px auto;
  max-width: 500px;
  font-size: 1.5em;
  font-family: Arial, sans-serif;

  section {
    min-height: 245px;
    display: flex;

    div {
      margin: auto;
    }
  }
}

.login-container{
	.field.form-control {
		border-width: 1px 1px 1px 1px;
		height: 30px;
		width: 190px;
		padding: 6px 12px;
		margin: 1px;
		font-size: 14px;
		font-family: Arial, sans-serif;
	}

	.btn.btn-primary.btn-default {
		height: 45px;
		width: 100%;
		background-color: rgb(51, 122, 183);
		border-color: rgb(46, 109, 164);
		font-size: 18px;
	}

	.btn.btn-primary.btn-default:hover {
		background-color: rgb(40, 96, 144);
		border-color: rgb(32, 77, 116);
	}
}

// Message de notification
.lfr-notification-container{
	font-size: 14px;
	font-family: OpenSans, arial;
}

// Notification alerte
.liferayalert.alert-warning {
	background-color: #fff4ec;
	border-color: #ff8f39;
	color: #B95000;
	padding-bottom:17.5px;
	padding-left:16px;
	padding-right:40px;
	padding-top:17.5px;


	.lead{
		font-size: 14px;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-weight: 600;
		margin-right: 5px;
	}
}

// Notification danger
.liferayalert.alert-danger {
	background-color: #feefef;
	border-color: #f48989;
	color: #DA1414;
	padding-bottom:17.5px;
	padding-left:16px;
	padding-right:40px;
	padding-top:17.5px;

	.lead{
		font-size: 14px;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-weight: 600;
		margin-right: 5px;
	}
}

// Contenu sous menu dans le menu de gauche 
a[data-qa-id = 'app'] {
	padding: 12px 16px !important;
}

// Formulaire mot de passe oublié taille des inputs
input#_com_liferay_login_web_portlet_LoginPortlet_captchaText,input#_com_liferay_login_web_portlet_LoginPortlet_emailAddress{
	width: 100%;
}

// Regle qui passait pour toutes ces classes le line-height en inherit
[data-qa-id = 'controlMenu'],.lfr-notification-container,.lfr-admin-panel,.lfr-product-menu-sidebar {
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
		line-height: initial;
	} 
}

// Retire les borders des labels en trop dans demande-concerne-service-de-la-collectivite
#tfa_0-WRPR{
	label{
		border-style: none;
	}

	.oneChoice{
		label{
			font-size: 12px;
		}
	}
}