.mfp-objtp {
	.mfp-content {
		margin: 0px !important;
	
		.mfp-bottom-bar {
			margin-top: -36px !important;

			.mfp-title {
				text-align: center;
				padding: 0px 10px;
				padding-bottom: 5px;
			}
		}

		.mfp-figure {
		    border-radius: 5px;
		    background-color: #FFFFFF;
	    }

	    .mfp-img {
		   padding: 10px; 
		   padding-bottom: 40px !important;
	    }
	}
}