#objtp-detail-container{

    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: row;
   
    // Taille et design des slides
    .objtp-detail-item{
        max-width: 288px;
        min-width: 288px;
        margin-bottom: 20px !important;
        margin: 5px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        height: 355px;
        content: '';
        display: block;
        transition: opacity 1s;
        position: relative;
        overflow: hidden;
       
        @extend %atom-objtp-detail-vignette;
        @include RWD(mobile){
            height: 355px;
        }
    }
    .gutter-sizer {     
        width: 1%;
    }   
}

$itemWidth: 288px;
$itemMargin: 5px;

@for $i from 1 through 4 {
  @media only screen and (min-width: $i * $itemWidth + 2 * $i * $itemMargin) {
    #objtp-detail-container{
      width: $i * $itemWidth + 2 * $i * $itemMargin;
    }
  }
}