
/**** FOOTER *****/
.footer {
    background: #3A3A3A center top repeat-x;
    padding-top: 20px;
}
.footer .footer-top .f-left {
    width: 620px;
}
.footer .footer-top .nav-footer {
    width: 100%;
    height: 1.1em;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 20px;
    border-bottom: 1px solid #4d4d4d;
}
.footer .footer-top .nav-footer li {
    display: block;
    float: left;
    border-left: 1px solid #4d4d4d;
}
.footer .footer-top .nav-footer li:first-child {
    border: none;
}
.footer .footer-top .nav-footer li a {
    display: block;
    line-height: 1.18em;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 11px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.footer .footer-top .nav-footer li a:hover {
    color: #b44b4a;
}
.footer .footer-top .nav-footer li:first-child a {
    padding-left: 0;
}
.footer .footer-top .footer-contact {
    clear: both;
    margin: 20px 0 5px 0;
    font-family: Arial;
    font-size: 14px;
    font-size: 1.1em;
    line-height: 1.18em;
    color: #b1b1b1;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase; 
    font-family: 'Open Sans', sans-serif;
}
.footer .footer-top .coordonnees, 
.footer .footer-top .coordonnees a {
    color:#b1b1b1;
}

.footer .footer-top .coordonnees .numeros{
    float:left;
    width:175px;
    line-height: 20px;
    margin-bottom: 20px;
}

.footer .footer-top .coordonnees .strong
{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.footer .footer-top .coordonnees .adresse{
    float:left;
    line-height: 20px;
    border-left: 1px solid #616161;
    padding-left: 15px;
}
.footer .footer-top .coordonnees .adresse .point_map{
    font-weight: 800;
    color:white;
    padding-left: 16px;
    height: 18px;
    display: block;
    background-image: url(../../img/bg/point_map.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.footer .footer-top .coordonnees .adresse .point_map:hover{
    text-decoration: underline;
}


.footer .footer-top .social-network {
    width:300px;
    background: right top url(../../img/bg/rappel_logo.png) no-repeat;
}
.footer .footer-top .social-network span {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    font-size: 1em;
    line-height: 1.18em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #4d4d4d;
}
.footer .footer-top .social-network ul {
    margin: 0;
    padding: 15px 0;
    list-style: none;
}
.footer .footer-top .social-network ul li {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    border-left: 1px solid #4d4d4d;
    padding: 0 7px
}
.footer .footer-top .social-network ul li:first-child {
    border: none;
    padding-left: 0;
}
.footer .footer-top .social-network ul li a {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    height: 24px;
    background: transparent url(../../img/btn/social-network.png) top left no-repeat;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer .footer-top .social-network ul li a:hover {
    opacity: 0.4;
    filter: progid_DXImageTransform.Microsoft.Alpha(Opacity=40);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.footer .footer-top .social-network ul li a.btn-fb {
    background-position: top left;
    width: 95px;
}
.footer .footer-top .social-network ul li a.btn-dm {
    background-position: -121px 0;
    width: 115px;
}
.footer .footer-top .social-network ul li a.btn-tw {
    background-position: top right;
    width: 95px;
}
.footer .closure {
    height: 50px;
    width: 100%;
    background: #2d2d2d;
}
.footer .closure a {
    text-indent: -9999em;
    overflow: hidden;
    background: transparent url(../../img/btn/btn-stras-eu.png) center center no-repeat;
    height: 50px;
    width: 126px;
    display: block;
}