
/**** NEWS *****/
.content-side{
    float: left;
    width: 600px;
}
.news .btn-flux-actus {
	background: transparent url(../../img/btn/btn-abonner-actus.png) bottom left no-repeat;
	position: relative;
	float: right;
	width: 228px;
	height: 38px;
	text-indent: -9999em;
	overflow: hidden;
	margin: 6px 0;
	margin-right: 20px;
	padding-right: 40px;
}
.news .btn-flux-actus .icon-rss {
    height: 28px;
    width: 28px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent url(../../img/btn/icon-rss.png) left center no-repeat;
}
.news .btn-flux-actus:hover .icon-rss {
	background-position: right center;
}
.news .list-news {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.news .list-news .btn-news
{
    margin-right:0; 
}

.news h2.title {
	margin: 0;
    padding: 15px 0;
    color: black;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #3a3a3a;
    background: url(../../img/bg/title_underline.png) bottom left no-repeat;
    margin-bottom:15px;
}
.news .new {
    width: 299px;
    height: 203px;
    overflow: hidden;
    float: left ;
    position: relative;
    border-right:1px solid #f2f1e8;
    border-bottom:1px solid #f2f1e8;
    background: #ad3939;
    vertical-align: top;
}
.news .new .infos{
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    background: url(../../img/bg/bg_news.png);
    color:white;
    display: none;
}
.news .new .entry-header h2 {
    height: 2.3em;
    font-family: Arial;
    font-size: 1.25em;
    line-height: 1.1em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-bottom: 13px;
    background: url(../../img/bg/actu_underline.png) no-repeat left bottom;
    padding: 15px 0 9px 0;
    margin: 0 15px 9px 15px;
    position: relative;
    display: none;
} 
.news .new img {
    display: block;
    margin: auto;
	width: 100%;
    position: absolute;
}
.news .new .entry-header h2 a {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 0.9em;
    font-family: 'Lato',sans-serif;
}

.news .new .entry-content {
    padding: 15px;
    padding-top: 0;
    font-family: Arial;
    font-size: 1em;
    line-height: 1.3em;
    font-weight: 300;
    min-height: 3.5em;
    position: relative;
    display: none;
    font-family: 'Lato',sans-serif;
    font-size: 1.1em;
}
.news .new .entry-content a{
    color:white;
    text-decoration: none;
}

.news .new .entry-header h2 a:hover,
.news .new .entry-content a:hover{
    text-decoration: underline;
    color: white;
}
.news .new .entry-meta {
    height: 3.3em;
    line-height: 3.3em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.news .new .entry-meta time {
    font-family: Arial;
    font-weight: 700;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #FFF;
    float: left;
    text-indent: 15px;
}
.news .new .entry-meta .btn-more {
    float: right;
    border-color: white;
    color:white;
    margin-right:5px;
    margin-top:0;
}

.news .new .entry-meta .btn-more:hover {
    float: right;
    border-color: white;
    background:white;
    margin-right:5px;
    color: #b44b4a;
}
