

/**** PAGER *****/
.search-pages{
    width:100%;
    text-align: center;
}

.pager {
    margin-bottom: 25px;
    display: inline-block;
    text-align: center;
}
.pager.pager-bottom {
	margin-bottom: 0;
}
.pager .nav {
	text-indent: -9999em;
	overflow: hidden;
    display: inline-block;
	height: 18px;
	width: 18px;
	background: url(../../img/btn/sprite_pager.png) top left no-repeat;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    transition: 0;
    vertical-align: middle;
}
.pager .nav-next:hover {
    background-position: top right;
}
.pager .nav-next {
    background-position: top left;
}
.pager .nav-prev:hover {
    background-position: bottom right;
}
.pager .nav-prev {
    background-position: bottom left;
}
.pager ul {
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
    vertical-align: middle;
}
.pager ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
    font-family: Arial;
    font-size: 1.16em;
    font-weight: 700;
    color: #3a3a3a;
	line-height: 1em;
}
.pager ul li a {
    color: #3a3a3a;
    padding: 0 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.pager ul li.active a,
.pager ul li a:hover {
	color: #ad3939;
    font-size: 1.3em;
}
.pager ul li.last a {
	border: none;
}