/* ------------------
--- CSS GLOBAL + GRILLE RESPONSIVE ---
------------------ */

html, body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Images
// ==========================================================================
.th-no-photo {
	height: 100%;
	background: $core-color;
}

.fit-cover {
    background: $c_dark;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover';
	img {
		object-fit: cover;
		font-family: 'object-fit: cover';
		width: 100%;
		height: 100%;
	}
}

// Alignements
// ==========================================================================
.aligncenter {
	text-align: center;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

// Viewports
// ==========================================================================
.th-v-mobile{
	display: none !important;
	@include RWD(tablet_portrait){
		display: block !important;
	}
}
.th-v-tablet-p{
	display: none !important;
	@include RWD(tablet_portrait){
		display: block !important;
	}
}
.th-v-tablet-l{
	display: none !important;
	@include RWD(tablet){
		display: block !important;
	}
}
.th-hide-mobile{
	display: block;
	@include RWD(mobile){
		display: none !important;
	}
}
.th-hide-tablet-p{
	display: block;
	@include RWD(tablet_portrait){
		display: none !important;
	}
}
.th-hide-tablet-l{
	display: block;
	@include RWD(tablet){
		display: none !important;
	}
}