%appearance {
	-webkit-appearance: none;
	resize: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
	outline: none;
	&::-ms-clear{
		display: none;
	}
}

%aligncenter {
	display: flex;
	display: -ms-flexbox;
	align-items: center;
	justify-content: center;
}

%center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}