%molecule-slider--slide{
    position: relative;

    // Activation du mode background-cover
    @extend %bones-slider-cover-ratio--cms; 
 
    // Animation arrow prev next
    //@include animationArrowSliderMoveIn(-20%, 40px); 
    
    // FULL HEIGHT => .owl-item: 100vh + le slider en position absolute, top/bottom/left/right 0 + pager en position absolute;

    // Taille et couleur des slides
    .owl-item{ 
        height: 320px;
        background-color: #d4d4d4;

        // Slide image
        &:not([data-video]) > li{
            @extend %atom-slide--cms;
            cursor: zoom-in;
            img{
                display: none;
            }
        }

        // Slide Video
        .owl-video-tn{
            @extend %atom-slide--cms--video;
        }
    }

    // NEXT/PREV ARROWS
    .owl-nav{ 
        justify-content: center;
        display: flex;

        .seu-owl-prev{
            @extend %atom-home-slider-arrow; // Flèches
            left: 0;
            .seu-picto{
                height: 40px;
                width: 40px;
                left: 10px;
                background-size: 20px;
                transform: rotate(-180deg);
            }
        }
        .seu-owl-next{ 
            @extend %atom-home-slider-arrow; // Flèches
            right: 0;
            .seu-picto{
                height: 40px;
                width: 40px;
                right: 10px;
                background-size: 20px;
                left: 10px;
            }
        } 

        &.disabled{
            display: none;
        }
    }

}