%molecule-slider--pop{
    position: fixed;
    top: 0; left: 0; 
    z-index: 999999999999999999999;
    width: 0; height: 0;
    overflow: hidden;
    transition: all, 0s;
    transition-delay: 0.5s;

    &.opened{ 
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all, 0s;
        transition-delay: 0;

        .pop-box{
            opacity: 1;
        }
        .pop-area{
            transform: translateY(-50%);
            opacity: 1;
        }
    }

    .pop-box{
        background-color: $core-color;
        display: flex;
        flex-direction: column;
        height: 100%;
        opacity: 0;
        transition: all, 0.5s;
    }
    .pop-head,
    .pop-foot{
        height: 80px;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include RWD(mobile){
            padding: 0 15px;
        }
    }
    .pop-head{
        position: relative;
        z-index: 999999999;
        @include RWD(mobile){
            padding: 15px;
        }
    }
        .pop-title{
            font-family: $main-font;
            font-size:  3.7rem;
            color: #FFFFFF;
            font-weight: 500;
            text-transform: uppercase;
            height: 60px;
            display: flex;
            align-items: center;
            @include RWD(mobile){
                font-size: 2.2rem;
            }
        }
        .pop-close{
            content: '';
            display: inline-block;
            width: 30px;
            height: 30px;
            background-size: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url( svg-bg-uri($svg-cross, #FFFFFF) );
            @include RWD(mobile){
                background-size: 20px;
            }
        }
    .pop-foot{ 
    }
        .pop-description{
            color: #FFFFFF;
            font-size: 1.6rem;
            letter-spacing: 2px;
            line-height: normal;
            text-transform: capitalize;
            height: 60px;
            display: flex;
            align-items: center;
            padding-right: 20px;

            @include RWD(tablet){
                font-size: 1.2rem;
            }
        }
        .pop-pager{
            color: #FFFFFF;
            font-size: 1.6rem;
            letter-spacing: 2px;
            line-height: normal;
            text-transform: capitalize;
            text-align: right;
            display: flex;
            align-items: center;
            .pop-current{}
            .pop-total{
                &:before{
                    content: '/';
                }
            }
        }
        .fill{
            flex: 1;
        }
    .pop-area{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 100px; right: 100px;
        transform: translateY(-50%) translateY(20px);
        opacity: 0;
        transition: all, 0.5s;
        
        @include RWD(tablet){
            left: 60px; right: 60px;
        }
    }
        .pop{
            padding: 0;
            list-style: none;
            height: 100%;
        }

    // Slides
    .owl-item{
        transition: opacity 1.2s, transform 1s;
        transform: translateY(-20px);
        opacity: 0;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100vh - 160px);
            background: none !important;
            margin: 0 auto;
        }
        img{
            width: auto;
            max-width: 100%;
        }
        &.active{
            transform: translateY(0);
            opacity: 1;
        }
    }
    // Navigation
        .seu-owl-prev{
            @extend %atom-home-slider-arrow;
            left: 10px;
            .seu-picto{
                transform: rotate(-180deg);
                left: 0;
            }
        }
        .seu-owl-next{
            @extend %atom-home-slider-arrow;
            right: 10px;
            .seu-picto{
                left: auto;
                @include RWD(mobile){
                    right: -18px;                        
                }
            }
        }
}