// form general
.search-asset-portlet form {
	.block-filter{
		background-color:#f2f2f2;
		padding:40px 80px;
		margin-bottom: 30px;
		@include RWD(tablet_only){
			padding:40px 2.9%;
		}
		@include RWD(mobile){
			padding: 40px 20px;
		}
	}	
	.col-filter{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		
		.date-selection .input-checkbox-wrapper {
		  display: none;
		}
		
		.date-selection label {
		  display: inline-block !important;
		  float: none !important;
		}
		
		.date-selection > label {
		  width: auto !important;
		}
		
		.date-selection .date-selector {
		  display: inline-block;
		  min-width: 210px;
		  margin-left: 10px;
		}
		.date-selection-control > div {
		    width: 45%;
		    display: inline-block;
		}
		
		.date-selection-control input {
		    width: 115px;
		}
		
		.date-selection-control label {
		    font-size: 28px !important;
		    text-transform: capitalize !important;
		    color: black !important;
		    display: inline-block;
		    width: 30px !important;
		}
		
		.date-selector {
		    min-width: 0 !important;
		}
		
		
		.form-control {
		    border-width: 1px 1px 1px 1px;
		    border-radius: 0;
		    box-shadow: none;
		    border: 0px;
		}
		
		
		& > * {
		  width: 400px;
		  display: inline-block;
		  margin-right: 41px;
		  margin-bottom: 20px;
		}

	}
	
	label{
		font-family: $font-title;
		font-size:32px;
		font-size:3.2rem;
		font-weight: normal;
		line-height: normal;
		color:#008ce7;
		text-transform: uppercase;
		margin-bottom:10px;
		width:100%;
	}
}

// form search
.search-form{
	.field{
		margin:0px;
		input{
			width: calc(100% - 185px);
			@include RWD(mobile){
				width:100%;
				margin-bottom:20px;
			}
		}
		.btn-submit{
			float:right;
			@include RWD(mobile){
				float:none;
			}
		}
		@include RWD(mobile){
			text-align: right;
			label{
				text-align: left;
			}
		}
	}
}

.btn-submit, .primaryAction{
	@extend %btn-light;
}

input{
	&.btn-submit, &.primaryAction{
		@extend %btn-light;
		&:hover, &:active, &:focus{
			background-color: $color-primary;
			color:#fff;
		}
	}
}
.actions{
	text-align: right;
	margin-top:40px;
	@include RWD(mobile){
		margin-bottom:20px;
	}
}

//Formulaire
	
//Titre form
.wFormTitle{
	@extend %h2;
	font-size: 32px !important;
	font-size: 3.2rem !important;
	text-transform: none;
	margin-top:70px;
  margin-bottom:20px;
}

.wForm {
	//Label
	.oneField{
		margin-bottom:30px;
		margin-top:30px;
		//Pas très propre 
		br{
			display: none;
		}
	}
	.preField{
		font-family: 'robotobold';
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		width:25.41%;
		padding-right:18px;
		font-family: 'robotobold';
		padding-right: 18px;
		@include RWD(mobile){
			width:100%;
		}
	}
	.label{
		display: inline-block;
		vertical-align: top;
		text-align: right;
		font-size: 15px;
		font-size: 1.5rem;
		width:25.41%;
		padding-top:5px;
		//Asterisque
		&.reqMark::after {
			content: " *";
		    color: #ff3636;
		    font-size: 90%;
		}
		@include RWD(mobile){
			width:100%;
			text-align: left;
		}
	}
	//Input
	.inputWrapper,
	.htmlSection p{
		display: inline-block;
		vertical-align: middle;
		width: 73.59%;
		input, textarea{
			height:40px;
			line-height: 40px;
			border: 2px solid #f1f1f1;
			padding:0px 15px;
			width:54.5%;
			@include RWD(mobile){
				width:100%;
			}
		}
		textarea{
			min-height:175px;
		}
		@include RWD(mobile){
			width:100%;
		}
	}

	.errMsg{
		color:#ff3636;
		padding-left:25.41%;
		margin-bottom:15px;
		@include RWD(mobile){
			padding:0px;
		}
	}
	.primaryAction {
		background-color: white !important;
    color: #00aeef !important;
    font-family: inherit !important;
    border: 1px solid #00aeef !important;
    font-weight: normal !important;
    &:hover {
    	background-color: #00aeef !important;
    	color: white !important;
    }
	}
}