.btn-submit{
	float: right;
	margin-top:20px;
  text-shadow: none !important;
}

// Tuiles
.list-evt{
	@include flex(display, flex);
	@include flex(flex-wrap, wrap);
	.portlet-event-item{
		width:32.33%;
		margin-right: 1.5%;
		@include box-shadow($left:0px, $top:3px, $blur:7px, $color: rgba(0,0,0,0.35), $inset:"");
		margin-bottom:40px;
		&:nth-of-type(3n+3){
			margin-right:0px;
		}
		.entry-category{
			display: none;
		}
		.entry-image{
			height: 385px;
			overflow: hidden;
			width: 100%;
			position: relative;
			a{
				&:before{
					content:"";
					height:100%;
					width:100%;
					opacity: 0;
					background-color: #212121;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					@include transition(opacity 0.3s);
				}
				&:hover, &:active, &:focus{
					&:before{
						opacity: 0.3;
					}
				}
			}
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				min-width: 100%;
				min-height: 100%;
				max-width: none;
			}
		}
		.entry-header{
			padding:15px 20px 30px;
			.category{
				font-family: 'robotomedium';
				color: $color-primary;
				text-transform: uppercase;
			}
			h2{
				font-size: 20px;
				font-size: 2rem;
				color: #1b1b1b;
				text-transform: uppercase;
				margin: 0 0 15px;
				a{
					color: #1b1b1b;
					text-decoration: none;
					&:hover, &:active, &:focus{
						text-decoration: underline;
					}
				}
			}
			.date{
				@extend %date;
			}
			.place{
				@extend %map;	
			}
		}
		footer{
			display: none;
		}
		@include RWD(tablet_only){
			width: 48.5%;
			margin-right:3%;
			&:nth-of-type(3n+3){
				margin-right:3%;
			}
			&:nth-of-type(2n+2){
				margin-right:0px;
			}			
		}
		@include RWD(mobile){
			width:100%;
			margin-right:0;
			margin-bottom: 30px;
			&:nth-of-type(3n+3){
				margin-right:0%;
			}			
		}
	}
}

// Spécifique LR7
.search-asset-results {
	display: flex;
	flex-wrap: wrap;
	justify-content : space-between;
	& > div {
		display: inline-block;
		flex-basis: 32.5%;
		@include RWD(tablet_only){
		   flex-basis: 48.5%;
		}
		@include RWD(mobile){
			flex-basis: 100%;
		}
	}
}
.portlet-event-item {
	width: 100% !important;
	margin-right: 0 !important;
}