#global #big-news{
    padding: 0 5px;

    .content{
        padding: 0 45px;
        display: flex;
        flex-direction: column-reverse;
    
        @include RWD(tablet_portrait){
            flex-direction: row;
            justify-content: space-between;
        }

        h2{
            @include ft($times, 1.875rem, 400, $color_main, 2.125rem, italic);
            text-align: center;
            margin-bottom: 40px;
            text-transform: uppercase;

            &.desktop{
                display: none;
            }

            @include RWD(tablet_portrait){
                font-size: 3.75rem;
                line-height: 4.25rem;
                text-align: start;
                margin-bottom: 80px;

                &.desktop{
                    display: block;
                }

                &.mobile{
                    display: none;
                }
            }

            span{
                @include ft($proximaNova, 1.35rem, 700, $color_txt, 1.875rem, "");
                display: block;
                text-transform: none;
    
                @include RWD(tablet_portrait){
                    font-size: 2.25rem;
                    line-height: 3.25rem;
                    margin-bottom: 35px;
                }
            }
        }

        .info{
            position: relative;
    
            @include RWD(tablet_portrait){
                width: calc(40% - 20px);
                padding: 80px 10px 60px 0;

                &:before{
                    content: '';
                    @include positionAbsolute(-1, "", (bottom: 0, left: -160px));
                    width: 320px;
                    height: 320px;
                    background: #F2F2F2;
                }
            }

            .title{
                @include ft($proximaNova, 1.4375rem, 700, $color_txt, 1.75rem, "");
                margin-bottom: 20px;
                text-transform: uppercase;
            }
    
            .date{
                @include ft($times, 1rem, 400, $color_txt, 1.125rem, italic);
                margin-bottom: 20px;
            }
    
            .museums{
                @include ft($proximaNova, 0.9375rem, 400, $color_txt, 1.3125rem, "");
                margin-bottom: 40px;
            }
        }

        img{
            margin-bottom: 20px;
            object-fit: contain;
    
            @include RWD(tablet_portrait){
                margin-bottom: 0;
                width: calc(60% - 20px);
            }
        }
    }
}