#global #editions{
        
    @include RWD(tablet_portrait){
        &:before {
            content: '';
            width: 100vw;
            background: #2d2d2d;
            @include positionAbsolute(-1, '', '');
            height: 350px;
        }
    }

    .content{
        padding-top: 30px;
    
        @include RWD(tablet_portrait){
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 15px;
        }

        .infos{    
            @include RWD(tablet_portrait){
                width: 100%;
                margin-left: 40px;
            }

            h2{
                @include ft($times, 1.875rem, 400, white, 2.125rem, italic);
                text-align: center;
                margin-bottom: 20px; 

                @include RWD(tablet_portrait){
                    margin-bottom: 80px;
                    font-size: 3.75rem;
                    line-height: 4.3125rem;
                }
            }
        }

        .list{
            padding-bottom: 50px;
            position: relative;
            width: 100%;
            display: grid;
            gap: 20px;

            @include RWD(tablet_portrait){
                padding-top: 20px; 
                grid-template-columns: repeat(3, 1fr);
                gap: 100px;
                align-items: start;
            }
        }
    }
}