#global #expo{

    .content{
        padding: 30px 15px 0;   

        h2{
            @include ft($times, 1.875rem, 400, $color_main, 2.125rem, italic);
            text-align: center;
            margin-bottom: 25px; 

            @include RWD(tablet_portrait){
                font-size: 3.75rem;
                line-height: 4.3125rem;
            }

            span{
                display: block;
                @include ft($proximaNova, 1.375rem, 700, $color_txt, 1.875rem, "");

                @include RWD(tablet_portrait){
                    font-size: 2.125rem;
                    line-height: 3.125rem;
                    margin-bottom: 50px;
                }
            }
        }

        .slider{

            @include RWD(tablet_portrait){
                position: relative;
                width: 100%;
                margin-bottom: 20px;
            }

            .swiper{

                @include RWD(tablet_portrait){
                    position: static;
                    padding-bottom: 15px;
                    overflow: visible;
                }

                .swiper-wrapper{
                    flex-direction: column;

                    @include RWD(tablet_portrait){
                        flex-direction: row;
                    }

                    .swiper-slide{
                        padding: 5px;
                        height: auto;
                    }
                }

                .swipper-buttons {
                    display: none;

                    @include RWD(tablet_portrait){
                        display: block;
                        width: 76px;
                        @include positionAbsolute("", "", (bottom: -10px, right: 20px));
                    }
                }
            }
        }

        .button1{
            margin: auto;
        }
    }
}