@keyframes scale {
	0% {transform: scale(1)}
    100% { transform: scale(1.5)}
}

#global #headerMuseum{
    h1{
        @include ft($proximaNova, 24px, 700, white, 1.875rem, "");
        text-transform: uppercase;
        @include positionAbsolute(2, translate(-50%, -50%), (top: 50%, left: 50%));

        @include RWD(tablet_portrait){
            font-size: 44px;
            line-height: 54px;
        }
    }

    .slider{
        .swiper{
            .swiper-slide{
                height: 200px;

                @include RWD(tablet_portrait){
                    height: calc(100vh - 40px);
                    
                    &.swiper-slide-active .info .image{
                        animation: scale 20s;
                    }
                }

                .info{
                    overflow: hidden;
                    height: 100%;
                    width: 100%; 

                    .image{ 
                        display: inline-block;   
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                        width: 100%; 
                    }

                    .copyright{
                        @include positionAbsolute("", "", (bottom: 10px, right: 20px));
                        background: rgba(0, 0, 0, 0.7);
                        border-radius: 60px;
                        @include ft($proximaNova, 0.8125rem, 700, white, 1rem, "");
                        text-transform: uppercase;
                        height: 21px;
                        width: 21px;
                        overflow: hidden;
                        transition: width 1s ease;
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
    
                        &:active, &:focus{
                            width: auto;
                        }
    
                        @include RWD(tablet_portrait){
                            bottom: 30px;
                            right: 25px;
    
                            &:hover{
                                width: auto;
                            }
                        }
    
                        :first-child(){
                            min-width: 20px;
                            line-height: 20px;
                            text-align: center;
                            font-size: 1rem;
                        }
    
                        :nth-child(2){
                            font-size: 0.75rem;
                            padding: 0 10px;
                        }
                    }
                }
            }

            .swipper-buttons {
                display: none;

                @include RWD(tablet_portrait){
                    @include positionAbsolute(1, "", (bottom: 70px, right: 20px));
                    display: inline-block;

                    .swiper-button-prev, .swiper-button-play, .swiper-button-pause, .swiper-button-next{ 
                        background-color: white;
                        color: #313841;
                        display: inline-block;
                        position: relative;
                        left: 0;

                        &:after{
                            @include positionAbsolute("", translate(-50%, -50%), (top: 50%, left: 50%));
                        }
                    }

                    .swiper-button-play{
                        display: none;
                        height: 37px;
                        width: 37px;
                        border-radius: 50%;
                        cursor: pointer;

                        &:after{
                            content: '';
                            width: 20px;
                            height: 20px;
                            background-image: url( svg-bg-uri($svg-play, #313841) );
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            display: inline-block;
                        }
                    }

                    .swiper-button-pause{
                        height: 37px;
                        width: 37px;
                        border-radius: 50%;
                        cursor: pointer;

                        &:after{
                            content: '';
                            width: 20px;
                            height: 15px;
                            background-image: url( svg-bg-uri($svg-pause, #313841) );
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}