#global{
    .search-asset-portlet {
        .search-asset-portlet-page {

            &.agenda{
                display: grid;
                grid-template-areas:
                    "count"
                    "search"
                    "results";
                margin-bottom: 30px;
        
                @include RWD(tablet_portrait){
                    grid-template-columns: 250px auto;
                    grid-template-rows: auto 1fr;
                    grid-template-areas:
                        "search count"
                        "search results";
                    gap: 15px 35px;
                }
                
                @include RWD(tablet_landscape){
                    grid-template-columns: 300px auto;
                    gap: 35px;
                }

                .search-asset-form {
    
                    &:first-child(){
                        grid-area: search;
                    } 

                    .search-asset-fields{
    
                        .date-selection, .vocabulary-selection, .asset-type-selection, .keywords-selection{
                            margin-bottom: 25px;
    
                            legend{
                                @include ft($times, 1.375rem, 400, $color_main, 1.5625rem, italic);
                                padding: 10px 30px 10px 10px;
                                margin: auto;
                                border-bottom: 1px solid #D8DAE4;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }

            &:not(.agenda){
                .search-asset-form > form{
                    background-color: $color_main;
                    margin-bottom: 80px;
                    padding: 15px;
    
                    @include RWD(tablet_portrait){
                        padding: 30px 80px;
                    }

                    .search-asset-fields{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 20px 10px;

                        .date-selection, .vocabulary-selection, .asset-type-selection, .keywords-selection{
                            width: 100%;
    
                            @include RWD(tablet_portrait){
                                width: calc(25% - 10px);
                                flex-grow: 1;
                            }
    
                            legend{
                                @include ft($proximaNova, 1.125rem, 700, white, 1.3125rem, "");
                                margin-bottom: 15px;
                                text-transform: capitalize;

                                label{
                                    cursor: default;
                                    margin-bottom: 0;
                                    display: block;
                                }
                            }
                        }

                        .vocabulary-selection{
                            .select2-selection{
                                padding: 0 40px 0 0;
                            }

                            .select2-selection__rendered{
                                margin-bottom: 0;
                            }

                            .select2-selection__choice{
                                background-color: #e4e4e4;
                                border: 1px solid #aaa;
                                border-radius: 4px;
                                cursor: default;
                                float: left;
                                margin: 5px 5px 5px 0;
                                padding: 0 5px;

                                &+.select2-search{
                                    display: none;
                                }
                            }
                        }

                        .date-selection{
                            input{
                                height: 45px; 
                                width: 100%;
                                border: none;
                                padding: 10px;
                            }
                        }
                    }
                }

                .search-asset-search-container{
                    padding: 0 30px;
    
                    .search-asset-results{ 
                        margin-bottom: 40px;
 
                        > a{
                            width: 100%;
                
                            @include RWD(tablet_landscape){
                                width: calc(calc(100% - 65px) / 3);
                            }
                        }
                    }
                }

                .btn-more{
                    @include ft($proximaNova, 1rem, 700, black, 1.1875rem, "");
                    text-align: center;
                    margin: 0 auto 35px;
        
        
                    @include RWD(tablet_portrait){
                        &:not(:first-child()){
                            margin-top: -20px;
                        }
                    }
        
        
                    button{
                        background-color: $color-main;
                        border-radius: 0;
                        margin: 10px auto;
                        width: 36px;
                        height: 36px;
                        display: block;
                        position: relative;
        
                        &:after{
                            content: '';
                            @include positionAbsolute("", translate(-50%, -50%), (top: 50%, left: 50%));
                            background-image: url( svg-bg-uri($svg-plus, white) );
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }

            .search-asset-form {            
                .search-asset-fields{

                    .date-selection{
                        a{
                            width: 100%;
                            margin-bottom: 20px;
                            cursor: pointer;

                            &.active{
                                color: $color_main;
                                background-color: white;
                            }
                        }

                        .date-selection-control{
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;

                            @include RWD(tablet_landscape){
                                flex-direction: row;
                            }

                            .mns-ico-date {
                                position: relative;

                                @include RWD(tablet_landscape){
                                    &:after {
                                        content: '';
                                        width: 20px;
                                        height: 20px;
                                        background-image: url( svg-bg-uri($svg-calendar, $color_main) );
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        @include positionAbsolute("", translateY(-50%), (top: 50%, right: 10px));
                                    }
                                }
                                
                                .date{
                                    @include ft($proximaNova, 0.9375rem, 400, $color_txt, 1.3125rem, "");
                                    border-radius: 0;
                                    border: solid 1px #a6a6a6;
                                    height: 45px;
                                    width: 100%;
                                    padding: 10px;
                                }
                            }

                            .input-checkbox-wrapper{
                                display: none;
                            }

                            label{
                                margin: 10px;

                                &:first-child(){
                                    margin-top: 0;

                                    @include RWD(tablet_landscape){
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    .vocabulary-selection{
                        .select2{ 
                            border: 1px solid #A6A6A6;
                            background-color: white;

                            .select2-selection{
                                @include ft($proximaNova, 0.9375rem, 400, $color_txt, 1.3125rem, "");
                                min-height: 45px;
                                padding: 5px 8px;
                                display: flex;
                                align-items: center;
                            
                                &:before {
                                    content: '';
                                    @include positionAbsolute("", translateY(-50%) rotate(90deg), (top: 23px, right: 15px));
                                    display: block;
                                    height: 20px;
                                    width: 20px;
                                    background-size: 15px;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-image: url( svg-bg-uri($svg-arrow, $color_txt) );
                                }
                            }
                        }
                    }

                    .asset-type-selection{
                        .input-checkbox-wrapper {
            
                            @include RWD(tablet_landscape){
                                margin-bottom: 25px;
                            }

                            label{
                                &:before {
                                    content: '';
                                    @include positionAbsolute("", "", (top: 2px, left: 0));
                                    width: 19px;
                                    height: 19px;
                                    border: 1px solid #A6A6A6;
                                    cursor: pointer;
                                }

                                input{
                                    visibility: hidden;
                                    margin-left: 10px;
                                }

                                &:after {
                                    content: '';
                                    @include positionAbsolute("", rotate(45deg), (top: 0, left: 9px));
                                    width: 7px;
                                    height: 17px;
                                    border: 4px solid $color_main;
                                    border-top: 0;
                                    border-left: 0;
                                    opacity: 0;
                                    transition: opacity 0.3s ease;
                                }

                                &.checked:after {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    .keywords-selection{
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;

                        @include RWD(tablet_portrait){
                            margin: 0;
                        }

                        legend{
                            width: 100%;

                            @include RWD(tablet_portrait){
                                display: none;
                            }
                        }

                        .keywords-selection-control{
                            flex-grow: 1;

                            input{
                                border-radius: 0;
                                border: solid 1px #a6a6a6;
                                height: 45px;
                                width: 100%;
                                padding: 10px;
                            }
                        }
                    }
                }
            }

            .button1{
                margin: auto;
                margin-bottom: 30px;
                max-width: 100%;
            }

            h2{
                @include ft($times, 1.875rem, 400, $color_txt, 2.125rem, italic);
                text-align: right;
                grid-area: count;
                margin-bottom: 0;
            
                @include RWD(tablet_portrait){
                    font-size: 2.3125rem;
                    line-height: 2.6875rem;
                    margin-top: 36px;
                    text-align: left;
                }
            
                @include RWD(tablet_landscape){
                    margin-top: 0;
                }
            }

            .search-asset-search-container{
                grid-area: results;

                .search-asset-results{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 50px 10px;

                    .search-asset-thumbnail{            
                        display: contents;
                    }
                }
            }
        }
    }
}