*.sql
*.war
*.jar
!configs/liferay-ems/files/osgi/war/*
*.log
*.7z
*.zip
!configs/liferay-ems/patching/*.zip
*.aatf
*.tar.gz
*.cer
.env
*portal-ext.properties
*portal-setup-wizard.properties
/images/liferay-ems/dist/*
!images/mysql-upgrade/sources/pre-upgrade.sql
!images/mysql-ems/sources/pre-request.sql
!configs/liferay-ems/files/tomcat/*