*.sql
*.war
*.jar
*.log
*.7z
*.zip
*.aatf
*.tar.gz
*.cer
.env
*portal-ext.properties
*portal-setup-wizard.properties
/images/liferay-ems/dist/*
!images/mysql-upgrade/sources/pre-upgrade.sql
!images/mysql-ems/sources/pre-request.sql
!*mysql-connector-java*.jar
!configs/liferay-ems/files/tomcat/lib/ext/*
!configs/liferay-ems/files/osgi/war/*
!configs/liferay-ems/files/tomcat/*
!configs/liferay-ems/patching/*.zip