.form-builder-layout {
    background-color: #F6F6F6;
    input.ddm-field-text.form-control {
        border-color: white;
        height: 50px;
    }
    textarea.ddm-field-text.form-control {
        border-color: white;
    }
    .form-text {
        font-size: 1.2rem;
    }
    label, .lfr-ddm-legend {
        font-size: 1.8rem;
        font-weight: 600;
    }
}

.lfr-ddm-form-pagination-controls button.btn.btn-primary.lfr-ddm-form-submit.pull-right {
        width: 150px;
        height: 50px;
        font-size: 1.8rem;
        display: inline-block;
        border-color: transparent;
        background-color: #46cfc0;
        color: #31455d;
        font-family: MontSerrat,arial;

        &:hover{
            background-color: #31455d;
            color: #46cfc0;
        }        
        &:after{
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background-size: 14px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url( svg-bg-uri($svg-arrow1, $core-color) );
            vertical-align: middle;
            margin-left: 20px;
        }
        &:hover, &:focus{
            background-color: $core-color;
            color: $second-color;
            &:after{
                background-image: url( svg-bg-uri($svg-arrow1, $second-color) );
            }
        }
    }