%jscrollpane{
	.scroll-pane{
		@extend %tram-destination;

		.row{
			margin: 5px 0;

			div:last-child{
				margin-left: auto;
			}
		}

		.jspContainer{
			overflow: hidden;
			position: relative;

			.jspPane{
				position: absolute;
			}

			.jspVerticalBar{
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: 5px;
				
				.jspArrow{
					height: 16px;
					
					&:focus{
						border: 1px solid red;
						outline: none;
					}
				}
			}

			.jspHorizontalBar{
				background: red;
				bottom: 0;
				height: 5px;
				left: 0;
				position: absolute;
				width: 100%;
			
				.jspCap	{
					float: left;
				}
			
				.jspArrow{
					float: left;
					height: 100%;
					width: 16px;
				}

				.jspTrack, .jspDrag	{
					float: left;
					height: 100%;
				}
			}

			.jspCap{
				display: none;
			}

			.jspTrack{
				background: #ddd;
				position: relative;

				.jspDrag{
					background: #7e7e7e;
					cursor: pointer;
					left: 0;
					position: relative;
					top: 0;
				}
			}

			.jspCorner{
				background: #eeeef4;
				float: left;
				height: 100%;
			}
		}
		
	}
	.jspArrow{
		cursor: pointer;
		direction: ltr;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		text-indent: -20000px;
		height: 20px;

		&.jspDisabled{
			cursor: default;
		}

		&:before{
			display: block;
			content: '';
			width: 100%;
			height: 1px;
			background-color: #ddd;
		}
		

		&.jspArrowUp:before{
			margin-top: 20px;
			margin-bottom: 12px;
		}

		&.jspArrowDown:before{
			margin-top: 19px;
		}

		&:not(.jspDisabled):after{
			display: block;
			content: '';
			width: 32px;
			height: 32px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			margin: auto;
		}

		&.jspArrowUp:not(.jspDisabled):after{
			margin-top: -30px;
			background-image: url( svg-bg-uri($svg-arrow-up, #fff) );
		}
		
		&.jspArrowDown:not(.jspDisabled):after{
			margin-top: -16px;
			background-image: url( svg-bg-uri($svg-arrow-down, #fff) );
		}
	} 

	/* Yuk! CSS Hack for IE6 3 pixel bug :( */
	* html .jspCorner{
		margin: 0 -3px 0 0;
	}
}