.seu-wi-duo{
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    display: flex;
    justify-content: center;
    @include RWD(mobile){
        display: block;
    }

    @include RWD(tablet) {
        &.portlet-nested-portlets {
            padding: 0;
        }
    }
    .seu-wi, section.portlet {
        @extend %molecule-wi-section;
        @extend %organism-wi-duo;
    }
    section.portlet {
        padding: 0 !important;
    }

    .seu-wi-crossreading{
    }
    .seu-wi-contact{
        .seu-wi-text{
            margin-bottom: 40px;
        }
    }

    // Solo
    &.seu-wi-solo{
        .seu-wi{
            @extend %wi-centered-text;
            .seu-container{
                @include RWD(desktop){
                    padding-right: 0 !important;                
                }
            }
        }
        .seu-core {
            margin: auto;
        }
        .seu-container{
            padding-right: 60px;
            @include RWD(tablet){
                padding-right: 40px;
            }
            @include RWD(mobile){
                padding-right: 20px;
            }
        }
        &:before{
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            left: -999999px;
            right: -999999px;
            top: 0;
            bottom: 0;
            background-color: $second-color;
            @include RWD(tablet){
                display: none;
            }
        }
        @include RWD(tablet){
            background-color: $second-color;   
        }

    }
}