.ops-page-musicien{
	padding-bottom: 40px;
}

.ops-header-musicien{
	position: relative;
	padding-top: 120px;
	margin-bottom: 43px;

	.ops-content-wrapper{
		min-height: 410px;
		height: calc(100vh - 120px);
		@include clearfix();
		@include tablet_portrait{
			height: 100%;
		}

		&.ops-figure-empty{
			height: 100%;
			@include mobile{
				min-height: 250px;
			}
			.ops-meta-musicien{
				width: 100%;
				h1{
					max-width: 100%;
				}
			}
		}

		.ops-figure-musicien{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			figure{
				width: 100%;
				height: 100%;
				background: none;
				img{
					width: auto;
					height: 100%;
					float: right;
				}
				figcaption{
					display: none;
				}
			}

			& + .ops-meta-musicien{
				bottom: 160px;
				width: calc(100% - 40% + 40px);
				@include tablet_landscape{
					width: calc(50% + 40px);
				}
				@include tablet_portrait{
					width: calc(60% + 40px);
					bottom: 80px;
				}
				@include mobile{
					top: auto;
					transform: none;
					bottom: 40px;
					width: calc(100% - 40px);
				}
				@include mobile_small{
					bottom: 0;
					width: calc(100% - 30px);
				}
			}
		}


		// META DONNEES DU MUSICIEN
		.ops-meta-musicien{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 95px;
			padding: 0 40px;
			width: calc(100% - 533px + 40px);
			background: $c_white;
			z-index: 100;
			@include tablet_landscape{
				width: 100%;
				padding: 20px 0;
			}
			@include mobile {
				width: 100%;
				top: 50%;
				transform: translateY(-50%);
				bottom: auto;
			}
		}

		.ops-typologie{
			margin-bottom: 3px;
			.ops-ie & {
				margin-bottom: 15px;
			}
		}
		h1{
			margin: 0;
			max-width: calc(100% - 40px);
			font-size: 73px;
			line-height: 73px;
			@include tablet_landscape{
				font-size: 50px;
				line-height: 50px;
			}
			@include mobile{
				max-width: calc(100% - 20px);
				font-size: 35px;
				line-height: 38px;
			}
			@include mobile_small{
				font-size: 30px;
				line-height: 33px;
			}
		}
		.ops-function{
			font-size: 23px;
			line-height: 34px;
			color: $c_dark;
			@include mobile{
				font-size: 18px;
				line-height: 29px;
			}
		}
	}
}