.ops-wrapper-listing-saison{
	position: relative;
	padding-top: 110px;
	padding-bottom: 40px;
	min-height: 500px;
	@include mobile{
		padding-top: 40px;
	}
}


.ops-listing-wrapper{
	position: relative;
	@include clearfix();
	> * {
		float: left;
		width: calc(33.33% - 20px);
		margin: 15px 0;
		margin-left: 30px;
		&:nth-child(3n + 1){
			margin-left: 0;
			clear: left;
		}

		@include wide(){
			width: calc(25% - 23px);
			margin-left: 30px;
			&:nth-child(3n + 1){
				clear: none;
				margin-left: 30px;
			}
			&:nth-child(4n + 1){
				margin-left: 0;
				clear: left;
			}
		}

		@include tablet_portrait{
			width: calc(50% - 15px);
			&:nth-child(3n + 1){
				margin-left: 30px;
				clear: none;
			}
			&:nth-child(odd){
				margin-left: 0;
				clear: left;
			}
		}

		@include mobile{
			width: 100%;
			margin-left: 0;
			&:nth-child(3n + 1){
				margin-left: 0;
			}
		}
	}
}


.ops-listing-recrutement{
	padding: 75px 0;
	.ops-col-wrapper{
		margin-bottom: 55px;
		&:last-child{
			margin-bottom: -15px;
		}
	}

	.ops-col-50{
		margin: 20px 0;
		@include wide(){
			width: 33.33%;
		}
	}

	.ops-card-emploi{
		> div{
			padding: 0 30px;
			@include mobile{
				min-height: auto !important;
			}
			> * {
				&:first-child{
					padding-top: 67px;
					@include tablet_portrait{
						padding-top: 40px;
					}
				}
				&:last-child{
					margin-bottom: 45px;
					@include tablet_portrait{
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}