.council-web {

    .error-vote-message {
        margin-top: 30px;
        color: #DB0545;
    }

    .main-message-title {
        margin-top: 30px;
        margin-top: 30px;
    }

    .main-message-text {
        text-align: center;
    }

    .front-message-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

}