//Pour faire venir les iceberg et les banquises
@keyframes flip {
  0% { 
    @include transform(translate3d(100%, 0, 0));
  }
  100% {
    @include transform(translate3d(0, 0, 0));
  }
}
@-webkit-keyframes flip {
  0% { 
    @include transform(translate3d(100%, 0, 0));
  }
  100% {
    @include transform(translate3d(0, 0, 0));
  }
}