additionalConfigurations=""
additionalIndexConfigurations=""
additionalTypeMappings=""
bootstrapMlockAll="false"
clientTransportIgnoreClusterName="false"
clientTransportNodesSamplerInterval=""
clientTransportPingTimeout=""
clientTransportSniff="true"
clusterName="LiferayElasticsearchCluster"
discoveryZenPingUnicastHostsPort="9300-9400"
httpCORSAllowOrigin="/https?://localhost(:[0-9]+)?/"
httpCORSConfigurations=""
httpCORSEnabled="true"
httpEnabled="true"
indexNamePrefix="liferay-"
indexNumberOfReplicas=""
indexNumberOfShards=""
logExceptionsOnly="true"
networkBindHost=""
networkHost=""
networkPublishHost=""
operationMode="REMOTE"
overrideTypeMappings=""
retryOnConflict="5"
transportAddresses=[ \
  "localhost:9300", \
  ]
transportTcpPort=""