#seu-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $core-color;
    z-index: 400;

    .seu-loaded{
        font-size: 2.0rem;
        font-family: $montserrat;
        font-weight: 900;
        color: #FFFFFF;
        opacity: 0.1;
        @include RWD(mobile){
            font-size: 1.4rem;
        }
    }
    svg{
        animation: fadeToggle 1s infinite alternate;
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    @keyframes fadeToggle{
        0% {
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}

.seu-not-front #seu-loader{
    display: none !important;
}
