.produit h3 {
  line-height: 0.5em;
}

.useful-links li {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}

h3#rubricTitle {
  line-height: 12px !important;
}

h3#rubricTitle a {
  text-decoration: none !important;
}

.ond .wrapper .content .col-md-12 .portlet-boundary_com_liferay_asset_publisher_web_portlet_AssetPublisherPortlet_ .portlet .portlet-content .content.video .entry-header {
  height: 76px;
}

.portlet-cus-image-fo .entry-header {
  height: 76px;
}

.portlet-visuel-item .entry-header {
  height: 76px;
}