// Style Page Registre
// ==========================================================================
.pro-wrapper-registre {
	min-height: 800px;

	.pro-p-150{
		padding-left: 150px;
	}

	//  Signalement
	form#form-signalements {
		margin-bottom: 0;
	
		.pro-form-submit {
			background: none;
			border: none;
			padding: 0;
			button {
				margin: 0 !important;
				right: 0 !important;
				&:hover, &:focus {
					background: $c_dark;
					border-color: $c_dark;
					border: 2px solid $c_main;
				}
			}
		}
	}

	// Pagination
	.pro-pagination {

		ul li:before{
			content: none;
		}

		.selectric-wrapper {

			.selectric{
				border: none;
				border-radius: 4px;
				background: none;
				@include addTransition();

				.label{
					@include ft($f_hx, 0.938em, 400, $c_txt, 1.6em);
					position: relative;
					display: block;
					text-align: left;
					margin: 0;
					padding: 0;

					&:after{
						content: '';
						@include font();
						position: absolute;
						font-size: 20px;
						margin-top: -10px;
						top: auto;
						right: 0;
					}
				}

				.button {
					display: none;
				}
			}

			.selectric-items{   
				background: $c_white; 
				top: 110%;
				border: none;
				
				ul{
					font-size: 12px;
					margin: 0;

					li{   
						@include ft($f_hx, 0.938em, 400, $c_txt, 1.6em);
						padding: 8px 15px;
						&:before {
							content: none;
						}
						&:hover {
							background: $c_light;
						}
						&.selected, &.highlighted {
							background: #E5E5E5;
						}               
					}
				}
			}
		}
	}
}

// Questionnaire
// ==========================================================================
.pro-wrapper-numeric-form {

	.portlet-forms {

		.form {
			margin-bottom: 80px;
			@include mobile {
				margin-bottom: 40px;
			}

			.ddm-form-basic-info{
				.ddm-form-name {
					display: none;
				}

				.ddm-form-description{
					@include ft($f_hx, 1.250em, 700, $c_dark, 1.3em);
					text-transform: uppercase;
					margin-bottom: 10px;
					display: inline-block;
					padding: 0;
					
					&:before {
						content: '';
						position: absolute;
						top: 5px;
						left: -70px;
						height: 13px;
						width: 72px;
						background: $c_main;
					}
	
					&:after{
						content:"Tous les champs marqués par * sont requis.";
						@include ft($f_txt, 0.8em, 400, $c_grey, 1.25em);
						display: block;
						text-transform: none;
					}
				}
			}
			
			.ddm-form-page{
				padding: 0;

				h3, h4 {
					display: none;
				}

				.row{
					margin-top: 25px;

					label {
						@include ft($f_hx, 1.250em, 700, $c_dark, 1.625em);
						position: relative;
						display: block;
						margin: 10px 0 5px 0;
						text-transform: none;

						.reference-mark{
							display: inline-block;
			
							svg{
								display: none;
							}
			
							&:after {
								content: '*';
								color: #ff0000;
								position: relative;
								margin: 0 2px;
								top: -1px;
							}
						}
					}

					p{
						position: relative;
						display: block;
						margin: 0 0 20px 0;
						@include ft($f_txt, 1.143em, 400, $c_dark, 1.6em);
					}

					.form-text{
						font-style: italic;
					}

					.form-control, .dropdown-toggle{
						box-shadow: none;

						&:focus, &:hover{
							border-color: $c_sub;
						}
					}
					
					.custom-control-label-text {
						@include ft($f_txt, 1em, 400, $c_dark, 1.571em);
						margin: 0 40px 10px 0;
						user-select: none;
						padding: 0 0 0 30px;
					}

					input[type="checkbox"]{
						
						+span{
							&:before {
								content: '';
								position: absolute;
								float: left;
								margin-right: 10px;
								transform: none;
								text-align: left;
								width: 20px;
								height: 20px;
								border: 1px solid #a6a6a6;
								border-radius: 2px;
								background: #fff;
								cursor: pointer;
								left: 0;
								top: 2px;
								box-shadow: none;
							}
						}

						&:checked+span:after {
							content: "\e91a";
							font-family: 'icomoon' !important;
							font-weight: normal;
							line-height: 1;
							text-shadow: 1px 1px 0 #fff, 0px -2px 0 #fff;
							left: 5px;
							top: 2px;
						}
					} 


					input[type="radio"]{
						position: relative;
						
						/* dans les grids */						
						&:before {
							content: "";
							position: absolute;
							top: -1px;
							left: -1px;
							width: 16px;
							height: 16px;
							border: 1px solid #adb5bd;
							border-radius: 50%;
							background: white;
						}
						
						&:checked:after {
							content: "";
							position: absolute;
							top: 2px;
							left: 2px;
							width: 10px;
							height: 10px;
							border-radius: 50%;
							background: $c_sub;
						}
						/* dans les grids */

						&+span {
							padding: 7px;

							.custom-control-label-text{
								padding-left: 5px;
							}

							&:before{
								top: 3px;
								border-color: #adb5bd;
								background-color: transparent;
								box-shadow: none;
							}
						}
					
						&:checked+span:after {
							content: " ";
							position: absolute;
							top: 6px;
							left: 3px;
							width: 10px;
							height: 10px;
							border-radius: 50px;
							background: $c_sub;
						}
					}

					.results-chosen{
						justify-content: start;padding: 0.375rem 0.75rem;

						a{
							display: none;
						}

						&:after {
							content: "\e930";
							font-family: 'icomoon' !important;
							font-style: normal;
							font-weight: normal;
							font-variant: normal;
							text-transform: none;
							line-height: 1;
							display: inline-block;
							vertical-align: middle;
							position: absolute;
							top: 50%;
							right: 10px;
							font-size: 20px;
							margin-top: -10px;
						}

						li{
							padding-left: 0;
							padding-right: 15px;

							&:before {
								content: none;
							}

							span{
								margin: 0;

								.label-item-expand{
									padding-right: 10px;
								}
							}
						}
					}
				}
			}
			
			.lfr-ddm-form-pagination-controls{
				text-align: center;

				button {
					@include ft($f_hx, 0.938em, 700, $c_dark, 22px);
					@extend %appearance;
					padding: 14px 20px;
					text-align: center;
					background: $c_main;
					border-radius: 4px;
					text-transform: uppercase;
					width: 300px;
					margin: 40px auto 0;
					float: none !important;
					@include addTransition();
					@include mobile {
						width: 100%;
						margin: 30px auto 10px;
					}
					&:hover, &:focus {
						background: $c_dark;
						color: $c_main;
					}
				}
			}
		}
	}
}

// Listing des Réponses
// ==========================================================================
.pro-wrapper-propositions {
	padding-bottom: 30px;

	.pro-title-propositions {
		@include ft($f_hx, 3.750em, 700, $c_dark, normal);
		position: relative;
		margin: 0 0 40px 0;
		@include tablet_landscape {
			font-size: 3em;
			margin: 0 0 30px 0;
		}
		@include tablet_portrait {
			font-size: 2.5em;
		}
		@include mobile {
			font-size: 2em;
		}
		&:before {
			content: '';
			position: absolute;
			left: -110px;
			top: 30px;
			width: 90px;
			height: 40px;
			background: $c_main;
			@include tablet_landscape {
				top: 20px;
				left: -42px;
				width: 20px;
			}
			@include tablet_portrait {
				left: -25px;
				width: 10px;
				height: 30px;
			}
			@include mobile {
				left: -15px;
				width: 5px;
				height: 30px;
				top: 10px;
			}
		}
	}

	.pro-item-proposition {
		margin-bottom: 40px;

		.pro-published {
			@include ft($f_txt, 1em, 400, $c_white, 1.2em);
			position: relative;
			display: block;
			background: $c_dark;
			padding: 10px 20px;
			margin-bottom: 25px;
			time {
				span {
					font-weight: 700;
				}
			}
		}

		.pro-title-question {
			@include ft($f_hx, 1.250em, 700, $c_dark, 1.625em);
			position: relative;
			display: block;
			margin: 10px 0 5px 0;
			text-transform: none;
			&:before {
				content: none;
			}
			& + div {
				margin-bottom: 15px;
			}
		}

		.pro-item-response {
			border: 1px solid rgba($c_dark, 0.2);
			border-radius: 10px;
			background: $c_white;
			padding: 27px 25px;
			margin-bottom: 40px;
			margin-top: 25px;
			&.pro-item-response-highlight {
				.pro-bloc-texte {
									
					> * {
						color: #b0b0b0;
						strong {
							color: #b0b0b0;
						}
						span {
							position: relative;
							z-index: 10;
							display: inline;
							background: $c_main;
							color: $c_dark;
							padding: 0 5px;
						}
					}
					
					table {
						width: 100%;
						
						td{
							border: solid #b0b0b0 1px;
							padding: 5px;
							text-align: center;
						}
					}
				}
			}
	
			.pro-interactions {
				text-align: right;
				margin-top: 25px;
				> * {
					display: inline-block;
					vertical-align: middle;
				}
				> span, > a {
					position: relative;
					@include ft($f_txt, 0.813em, 400, $c_txt, 1.462em);
					margin: 0 12px;
					transition: none;
					&:hover, &:focus, &:active {
						color: $c_grey;
						text-decoration: underline;
						&:before {
							color: $c_grey;
						}
					}
					&:before {
						content: "\e913";
						@include font();
						float: left;
						margin-right: 5px;
						line-height: 1.5em;
						position: relative;
						top: -2px;
					}
					&.pro-dislike {
						@include mobile {
							margin-right: 0;
						}
						&:before {
							transform: rotate(-180deg);
							top: 2px;
						}
					}
				}
				> div {
					@include mobile {
						display: block;
						margin-top: 10px;
					}
				}
	
				.pro-action-link {
					margin-left: 6px;
					a {
						@include ft($f_txt, 13px, 400, $c_txt, 20px);
						&:hover, &:focus {
							text-decoration: underline;
							color: $c_txt;
						}
					}
				}
			}
	
			.pro-footer-response {
				position: relative;
				padding-top: 25px;
				margin-top: 25px;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: -25px;
					right: -25px;
					width: calc(100% + 50px);
					height: 1px;
					background: rgba($c_dark, 0.2);
				}
	
				.pro-waiting-response {
					@include ft($f_txt, 0.813em, 400, $c_dark, 1.188em);
					position: relative;
					display: block;
					text-transform: uppercase;
					span {
						margin-right: 12px;
						font-size: 19px;
						line-height: 19px;
						position: relative;
						top: 3px;
					}
				}
	
				.pro-txt {
					> * {
						&:last-child {
							margin: 0;
						}
					}
				}
			}
	
		}
	}

}

// Barre latérale - Les chiffres
// ==========================================================================
.pro-bloc-aside-chiffre {
	background: #fafbfb;
	padding: 35px 50px;
	@include tablet_portrait {
		padding: 15px 20px;
	}
	> * {
		background: none;
	}
	.pro-title-aside {
		@include ft($f_hx, 2.5em, 700, $c_dark, normal);
		position: relative;
		display: block;
		text-transform: uppercase;
		margin-bottom: 5px;
		@include tablet_landscape {
			font-size: 2em;
		}
		@include tablet_portrait {
			font-size: 1.5em;
		}
	}

	a{
		font-size: 1.143em;
		color: #000;
		text-decoration: underline;

		&:hover{
			text-decoration: none;
		}
	}

	.pro-list-chiffres {
		li {
			display: block;
			font-size: 1em;
			margin: 10px 0 20px;
			.pro-nb {
				@include ft($f_hx, 3.438em, 700, $c_dark, normal);
				position: relative;
				display: block;
				z-index: 10;
				margin-bottom: 7px;
				@include tablet_landscape {
					font-size: 3em;
				}
				@include tablet_portrait {
					font-size: 2.5em;
				}
				&:before {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 6px;
					width: 100%;
					height: 18px;
					z-index: -1;
					background: $c_main;
				}
			}
			strong {
				display: block;
				@include ft($f_txt, 0.938em, 700, $c_dark, 1.5em);
			}
		}
	}
}