#global{
    #footer{
        background-color: #3a3a3a;
        margin-bottom: 35px;

        @include RWD(tablet_portrait){
            margin-bottom: 0;
        }

        a{
            text-decoration: none;
        }

        .container{
            display: block;
            flex-wrap: wrap;

            @include RWD(tablet_portrait){
                display: flex;
            }

            .col-top{
                width: 100%;
                padding-top: 80px;
                text-align: center;

                @include RWD(tablet_portrait){
                    padding-top: 55px;
                    text-align: start;
                }
            }

            .col-left{
                width: 100%;   
                margin-bottom: 35px;
                margin-top: 30px;
                text-align: center;

                @include RWD(tablet_portrait){
                    width: 50%;
                    text-align: start;
                }

                .title{
                    display: none;
                    @include ft($montserrat, 1.125rem, 700, white, 1.375rem, "");
                    text-transform: uppercase;    
                    margin-bottom: 10px; 

                    @include RWD(tablet_portrait){
                        display: block;
                    }   
                }

                .address{
                    @include ft($opensans, 0.8125rem, 400, #b4b4b4, 1.375rem, "");
                    margin-bottom: 25px;

                    @include RWD(tablet_portrait){
                        font-size: 1rem;
                        margin-bottom: 40px;
                    }
                }

                .buttons{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: fit-content;
                    margin: auto;

                    @include RWD(tablet_portrait){
                        margin: 0;
                    }

                    .tel, .contact{
                        display: flex;
                        align-items: center;
                        padding: 10px 20px;
                        @include ft($montserrat, 1.025rem, 700, #3a3a3a, 1.25rem, "");
                        background-color: #f6f6f6;
                        border-radius: 10px;
        
                        &:hover, &:focus{
                            text-decoration: none;
        
                            .text:after{
                                @extend %animation-hoverBar-out;
                            }
                        }
        
                        .picto{
                            content: '';
                            display: inline-block;
                            width: 22px;
                            height: 22px;
                            background-size: 22px;
                            background-position: center;
                            background-repeat: no-repeat;
                            margin-right: 20px;
                        }
        
                        .text{
                            position: relative;
        
                            &:after{
                                @extend %animation-hoverBar-in;
                                background-color: #3a3a3a;
                            }
                        }
                    }
        
                    .tel{
        
                        .picto{
                            background-image: url( svg-bg-uri($svg-tel, #7e7e7e) );
                        }
                    }
        
                    .contact{
        
                        .picto{
                            background-image: url( svg-bg-uri($svg-contact, #7e7e7e) );
                        }
                    }
                }
            }

            .col-right{
                padding: 0;
                width: 100%;

                @include RWD(tablet_portrait){
                    width: 50%;
                    padding-left: 120px;
                }

                .follow{
                    padding-bottom: 15px;
                    border-bottom: solid 1px #ddd;
                    width: fit-content;
                    margin: auto;

                    @include RWD(tablet_portrait){
                        width: auto;
                        margin: auto;
                    }

                    .footer-title{
                        @include ft($montserrat, 1.125rem, 700, white, 1.375rem, "");
                        margin-bottom: 20px;
                        text-align: center;

                        @include RWD(tablet_portrait){
                            text-align: start;
                        }
                    }

                    .social-list{
                        display: flex;
                        margin: 0 15px;

                        @include RWD(tablet_portrait){
                            margin: 0;
                        }

                        .social{
                            margin: 0 5px;
                            border-radius: 50%;
                            height: 37px; 
                            width: 37px;
                            background-color: #FFFFFF;
                            transition: all, 0.5s;
                            border: solid 1px #FFFFFF; 
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:first-child{
                                margin-left: 0;
                            }

                            &:last-child{
                                margin-right: 0;
                            }

                            svg{
                                fill: #3a3a3a;
                                height: 15px;
                                width: 15px;
                                transition: all , 0.5s;
                            }

                            &:hover, &:focus{
                                background-color: #3A3A3A;

                                svg{
                                    fill: #FFFFFF;
                                }
                            }
                        }
                    }
                }

                .link{
                    padding-top: 25px;
                    width: fit-content;
                    margin: auto;

                    @include RWD(tablet_portrait){
                        width: auto;
                    }
                    .bottom-links{
                        margin-bottom: 15px;
                        @include ft($montserrat, 0.875rem, 700, white, 1.375rem, "");
                        display: block;
                        position: relative;
                        text-align: center;

                        &:before{
                            @extend %animation-hoverBar-in;
                            background-color: #b4b4b4;
                            height: 2px;
                        }
    
                        &:hover, &:focus{
                            text-decoration: none;
    
                            &:before{
                                @extend %animation-hoverBar-out;
                            }
                        }

                        @include RWD(tablet_portrait){
                            justify-content: normal;
                            font-size: 1.125rem;
                            text-align: start;
                        }      
                    }
                }
            }

        }

        .footer-bottom{
            background-color: $color_txt;

            .container{
                display: block;
                height: unset;
                margin-top: 35px;
                padding: 30px;
                text-align: center;

                @include RWD(tablet_portrait){
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 50px;
                    padding: 0 15px;
                    text-align: start;
                    margin-top: 45px;
                }

                .fill{
                    flex: 1;
                    height: 20px;

                    @include RWD(tablet_portrait){
                        height: 0;
                    }
                }

                .bottom-links{
                    display: block;
                    padding: 0 10px;
                    position: relative;
                    @include ft($montserrat, 0.75rem, 700, white, 1.375rem, "");
                    text-transform: uppercase;
                    margin-bottom: 20px;

                    &:before{
                        @extend %animation-hoverBar-in;
                        background-color: #b4b4b4;
                        width: calc(100% - 20px);
                    }

                    &:hover, &:focus{
                        text-decoration: none;

                        &:before{
                            @extend %animation-hoverBar-out;
                        }
                    }

                    &:nth-child(3){
                        padding-left: 0;
                    }

                    &:last-child{
                        padding-right: 0;

                        &:before{
                            width: calc(100% - 10px);
                        }
                        
                        &:after{
                            display: none;
                        }
                    }

                    @include RWD(tablet_portrait){
                        margin-bottom: 0;

                        &:after{
                            content: '';
                            display: block;
                            height: 20px;
                            width: 1px;
                            background-color: #606060;
                            @include positionAbsolute("", translateY(-50%), (top: 50%, right: 0));
                        }
                    }
                }
            }
        }
    }
}