#header{
    &.home{
        background: no-repeat center center /cover;
        height: 200px;

        @include RWD(tablet_portrait){
            height: 800px;
        }

        h1{
            @include ft($times, 1.625rem, 400, white, 1.875rem, italic);
            text-transform: uppercase;
            width: calc(100% - 50px);
            @include positionAbsolute(1, translate(-50%, -50%), (top: 50%, left: 50%));
            
            @include RWD(tablet_portrait){
                font-size: 4.75rem;
                line-height: 5.4375rem;
                width: auto;
            }
        }
        
        .menu{
            display: none;

            @include RWD(tablet_portrait){
                display: block;
                @include positionAbsolute("", translateX(-50%), (bottom: 0, left: 50%));
                width: 100%;

                .quicklinks{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px 40px;
                    background: white;
                    padding: 80px;
                    justify-content: center;
                }
            } 
        }
    }

    &:not(.home){
        margin-top: 40px;

        @include RWD(tablet_portrait){
            margin-top: 0;
        }

        h1{
            @include ft($proximaNova, 24px, 700, $color_txt, 29px, "");
            text-align: center;
            text-transform: uppercase;

            @include RWD(tablet_portrait){
                font-size: 44px;
                line-height: 54px;
            }
        }

        .chapo{
            margin-top: 25px;
            text-align: center;
        }
    }
}