#menu-smartphone{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 100%;

    #more{
        background: white;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        max-height: calc(100vh - 110px);
        overflow-y: scroll;
        transition : max-height 0.5s ease;

        &.hidden{
            max-height: 0;
            padding: 0;

            #closed{
                opacity: 0;
            }
        }

        #closed{
            width: calc(calc(100% - 130px) / 5);
            aspect-ratio: 1/1;
            background-color: $color_third;
            display: flex;
            justify-content: center;
            align-items: center;
            @include positionAbsolute("", "", (top: 0, right: 0));
            transition : opacity 0.5s ease;
            z-index: 10;

            &:before{
                content: '';
                width: 30px;
                height: 30px;
                background-image: url( svg-bg-uri($svg-closed, $color_second) );
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
            }
        }

        .title{
            @include ft($proximaNova, 0.9375rem, 400, $color_txt, 1.3125rem, "");
            margin-bottom: 15px;
            text-align: center;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            padding: 0 45px;
            list-style: none;
            width: 100%;

            li{
                @include ft($proximaNova, 0.9375rem, 400, white, 1.3125rem, "");
                text-decoration: none;
                aspect-ratio : 1 / 1;
                background: $color_main;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $color_main;
                width: calc(calc(100% - 40px) / 5);

                &:hover {
                    background: white;
                    color: $color_main;
                    text-decoration: none;
                    border: 1px solid $color_main;
                }

                a{
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    text-align: center;
                    color: inherit;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &.access-by-public{
                li{
                    width: 100%;
                    aspect-ratio: auto;
                }
            }
        }
    }

    .menu-mobile.content{
        background: $color_main;
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: 0 15px;
        width: 100%;

        a{ 
            color: white;
            @include ft($proximaNova, 0.75rem, 400, white, 0.875rem, "");
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            height: 60px;
            padding: 10px 0;
            z-index: 1;
            flex-grow: 1;

            &:hover{
                color: white;
            }

            &.active{
                background-color: #87102C;
            }
        }

        .menu{
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    }

    @include RWD(tablet_portrait){
        display: none;
    }
}