header.page-header{
	height:calc(100vh - 40px);
	position:relative;
	overflow:hidden;
	z-index:0;
	//Triangle
	&:before{
		content:'';
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		width: 0;
		height: 0;
		z-index: 10;
		border-top: 135px solid transparent;
		border-right: 50vw solid #ffffff;
		border-left: 50vw solid #ffffff;
	}
	//Filtre
	&:after{
		content:'';
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		z-index:1;
		background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.69) 14%, rgba(255,255,255,0) 45%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.69) 14%,rgba(255,255,255,0) 45%);
		background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.69) 14%,rgba(255,255,255,0) 45%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
	}
	h2{
		display: block;
		margin-top:40px;
		font-family: 'roadwayregular';
		font-size:30px;
		font-size:3rem;
		line-height: 2.26em;
		color:#fefefe;
		text-transform:uppercase;
		text-align:center;
		position:relative;
		z-index:3;
		span{
			display: block;
			font-size:65px;
			font-size:6.5rem;
			line-height: 1em;
			color:#ffffff;
			&:before{
				content:'';
				height:1px;
				width:100px;
				display: block;
				background-color:$color-primary;
				margin: 0px auto 12px;
				@include RWD(mobile){
					margin-top:10px;
				}
			}
			@include RWD(mobile){
				font-size:35px;
				font-size:3.5rem;
			}
		}
		@include RWD(tablet){
			margin-top:120px;
		}
		@include RWD(mobile){
			font-size:20px;
			font-size:2rem;
			line-height: normal;
			margin-top: 50px;
		}
	}
	.parameter-video{
		display: block;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
	}
	//Video
	#player{
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		@include RWD(tablet){
			display: none;
		}
	}
	@include RWD(tablet_only){
		height:700px;
	}
	@include RWD(mobile){
		height:450px;
	}
}