.mfp-content {
	background: #FFF;
	padding: 20px 15px;
	text-align: left;
	max-width: 650px; /* TODO */
	margin: 40px auto;
	position: relative;
	width: auto !important;
}

/* Max width for images forced to "important" */
.mfp-content img {
	max-width: 100% !important;
	height: auto !important;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
	border-radius: 5px;
}

/* No margin for "no margins" class */
.mfp-no-margins .mfp-content {
	padding: 0 !important;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

/* Line height pour les sous titres dans les lightbox */
.mfp-content h2 {
	line-height: 1.2em;
}


/* 

for zoom animation 
uncomment this part if you haven't added this code anywhere else

*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-image .mfp-content {
	padding: 0;
	background: transparent;
}

/* Style pour affichage popup ajax et inline avec bordure */
.mfp-ajax-holder .mfp-content 
, .mfp-inline-holder .mfp-content {
	box-sizing: border-box;
	border: 10px solid #7d7d7b;
}

.mfp-inline-holder .mfp-content {
	padding: 0;
}

.mfp-ajax-holder .mfp-content h1 {
	font-size: 1.6em;
}

/* Modification apparence bouton fermeture pour popup "comment commander" de la boutique */
.mfp-inline-holder #how-to-order .mfp-close {
	color: #FFF;
	text-shadow: none;
	font-weight: 100;
}

/* Modification placement bouton fermeture pour popup image */
.mfp-figure .mfp-close {
	margin-top: -35px;
	text-shadow: none;
	moz-text-shadow: none;
	webkit-text-shadow: none;
	o-text-shadow: none;
	font-weight: 100;
}

/* Bouton fermeture : pas d'ombre */
.mfp-close {
	text-shadow: none;
	font-weight: 100;
}

/* Gallerie images */
.imageLightboxGallery {
	margin: 0 !important;
}

.imageLightboxGallery img {
	max-width: none !important;
}

.imageLightboxGallery .image-informations {
	padding: 0 10px;
	box-sizing: border-box;
	display: table;
	width: 1px;
}

.imageLightboxGallery .image-informations h2.gallery-title {
	padding-top: 35px;
	padding-bottom: 10px;
}


.image-gallery-lightbox .mfp-content {
	max-width: none;
}

.image-gallery-main {
	display: none;
}

@media screen and (max-width: 900px) {
	/* On colle les flèches de navigation à gauche et à droite de l'écran */
	.mfp-arrow-left {
		left: 0;
	}

	.mfp-arrow-right {
		right: 0;
	}

	.mfp-arrow {
		top: 180px;
	}
}

@media screen and (max-width: 640px) {
	h2.gallery-title {
		line-height: 1.2em;
	}

	/* Width for images forced to "100%" */
	.mfp-content img {
		width: 100% !important;
	}
	
	.imageLightboxGallery .image-informations {
		width: auto;
	}

}