.seu-page-lieu{
    // Structure
    main > .seu-flexbox{
        display: flex;    
        @include RWD(tablet){
            flex-direction: column;
        } 
    }
    .seu-container-left{
        flex: 1;
        @include RWD(tablet){
            order: 2;
            flex: auto;
        }
    }
    .seu-container-right{
        @include RWD(desktop){
            margin-left: 20px;
            width: 340px;            
        }
        @include RWD(tablet){
            order: 1;
        }
        @include RWD(tablet_only){
            padding: 20px;
            display: flex;
            background-color: $second-color;
        }
        flex-shrink: 0;
    } 

    // Gmap
    .seu-map{
        width: 100%;
        height: 320px;
        & + *{
            margin-top: 45px;
        }
    }

    // Contexte slider
    .seu-wi-slideNpop{
        height: 320px;
        width: 100%;
        flex-shrink: 0;
        @include RWD(tablet_only){
            width: 320px;
        }
    }

    // Encart information
    .seu-location-infos{
        background-color: $second-color;
        padding: 45px 30px;
        @include RWD(tablet_only){
            flex: 1;
            padding-top: 0; padding-bottom: 0; padding-right: 0;
        }
        font-family: $main-font;
        font-size: 1.8rem;
        color: $core-color;
        h3{
            font-family: $site-font;
            font-weight: 700;
            text-transform: uppercase;
        }
        .seu-crowded-flexbox{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        .crowded-amount{
            text-align: center;
            width: 70px;
            height: 70px;
            line-height: 70px;
            background-color: #40A040;
            font-size: 2.8rem;
            color: #FFFFFF;
            font-weight: 600;
            font-family: $site-font;
            border-radius: 50%;
            margin: 5px 0;
            flex-shrink: 0;
            margin-left: 10px;
            border: solid 2px #FFFFFF;
            white-space: nowrap;
            &.green{background-color: #40A040}
            &.orange{background-color: #FF470F}
            &.red{background-color: #FF0F0F}
            &.black{background-color: #272222}
            &.white{background-color: #FFFFFF; color: #000000;}
            &.grey{background-color: #9E9E9E}
        }
        .crowded-caption{
            font-size: 1.5rem;
            font-weight: 700;
        }
        .crowded-fyi{
            font-size: 1.5rem;
            margin-bottom: 25px;
        }
        .rte{
            color: $core-color;

            a:hover, &:focus{
                color: #545454;
            }
        }
    }


    .seu-wi--collapsing{
        margin-bottom: 45px;
        &:last-child{
            // margin-bottom: 0;
        }
        @include RWD(mobile){
            margin-left: -20px;
            margin-right: -20px;
            .seu-toggle-collapse{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .seu-svg-list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        //margin-bottom: -20px !important;

        svg{
            fill: $core-color;
            height: 35px;
            width: 35px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        .seu-picto{
            content: '';
            display: inline-block;
            width: 35px;
            height: 35px;
            background-size: 33px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 20px;
            margin-bottom: 20px;
        }        
        .seu-picto-deaf{background-image: url( svg-bg-uri($svg-deaf, $core-color) );}
        .seu-picto-mental{background-image: url( svg-bg-uri($svg-tabou, $core-color) );}
        .seu-picto-pmr{background-image: url( svg-bg-uri($svg-pmr, $core-color) );}
        .seu-picto-blind{background-image: url( svg-bg-uri($svg-blind, $core-color) );}
        .seu-picto-wheelchair{background-image: url( svg-bg-uri($svg-wheelchair, $core-color) );}
    }
}
