.seu-event-categories{
    font: 400 1.8rem $main-font;
    text-transform: none;
    color: #5c5c5c;
    line-height: 1.2;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &:before{
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url( svg-bg-uri($svg-label, #5c5c5c) );
        margin-right: 10px;  
        transform: rotate(90deg);
    }
}
.seu-event-visu{
    text-align: center;
    img{
        max-width: 100%;
    }
}