.management-bar .container-fluid-1280{
    display: flex
}

.management-bar .container-fluid-1280 .management-bar-nav li:first-child a{
    padding-bottom: 1.21875rem;
    padding-top: 1.21875rem;
}

#grade-range-fields {

    .undomanager{
        display: none;
    }

    .unvisible{
        display: none;
    }

    .lfr-form-row{
        border: solid #ccc 1px;
        padding: 20px;

        .lfr-autorow-controls{
            position: static;
            float: right;
        }

        .offerCategoryError, .offerFiliereError, .offerGradeMinMaxError, .offerGradeMinError, .offerGradeMaxError {
            margin-top: -10px;
            margin-bottom: 10px;
            color: #CC6677;
        }
    }
}

#email-fields .lfr-form-row{
    display: flex;
    padding: 0;
    margin: 0;
    border: none;

    &:hover{
        border: none;
    }

    .row-fields{
        flex-grow: 1;
        margin-right: 10px;
    }

    &:not(:last-of-type) .row-fields .form-group{
        margin-bottom: 5px;
    }

    .lfr-autorow-controls{
        position: static;
    }
}
