.cc-window.cc-banner.cc-type-info.cc-theme-block.cc-bottom {
    position: fixed;
    z-index: 1000;
    bottom: 80px;
    top: auto;
    left: auto;
    right: 40px;
    width: 600px;
    max-width: 80%;
    font-size: 1.5rem;
    padding: 10px 20px;
}

.cc-banner a.cc-dismiss {
    font-family: "MontSerrat", arial;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 40px;
    margin-left: 20px;
    &:hover {
        color: #46cfc0;
        background: #31455d;
    }
    @media screen and (max-width: 414px) and (orientation: portrait),
    screen and (max-width: 736px) and (orientation: landscape) {
        margin-left: 0;
        line-height: 40px;
    }
}

@media screen and (max-width: 414px) and (orientation: portrait),
screen and (max-width: 736px) and (orientation: landscape) {
    .cc-window.cc-bottom {
        bottom: 0;
        padding: 10px 20px !important;
        font-size: 1.4rem;
    }
}