operationMode="REMOTE"
transportAddresses="elasticsearch:9300"
clusterName="LiferayElasticsearchCluster"
additionalIndexConfigurations = "{\n\t\"index.mapping.total_fields.limit\": 90000,\n\t\"analysis\": {\n\t\t\"filter\": {\n\t\t\t\"strasbourg_synonyms_filter\": {\n\t\t\t\t\"type\": \"synonym\",\n\t\t\t\t\"synonyms_path\": \"analysis/synonyms.txt\"\n\t\t\t}\n\t\t},\n\t\t\"analyzer\": {\n\t\t\t\"strasbourg_analyzer\": {\n\t\t\t\t\"tokenizer\": \"standard\",\n\t\t\t\t\"filter\": [\n\t\t\t\t\t\"lowercase\",\n\t\t\t\t\t\"strasbourg_synonyms_filter\"\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t}\n}"
indexNumberOfShards="3"
indexNumberOfReplicas="0"