#socials{
    .filters{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;

        .social-filter{
            margin: 0 5px;
            padding: 0px !important;
            height: 40px; width: 40px;
            
            // Bouton texte
            &.texted{
                @extend %atom-btn-round--grey;
                .btn-text{
                    font-size: 1.0rem;
                    font-weight: 800;
                    color: $core-color;
                }
                &.actif{
                    background-color: $second-color;
                    border-color: $second-color;
                    pointer-events: none;
                    svg{
                        fill: $core-color; 
                    }          
                } 
                &:hover, &:focus{
                    background-color: $second-color !important;
                    .btn-text{
                        color: $core-color !important;
                    }
                }   
            }
            // Boutons Picto
            &:not(.texted){
                border-radius: 10px;
                transition: all, 0.5s;
                border-style: solid;
                border-width: 1px;
                border-color: transparent;
                background-color: #ffffff;
                border-color: #ffffff;
                
                svg{
                    height: 17px;
                    width: 17px;
                    fill: $core-color;
                    transition: all, 0.5s;
                }
                &:hover, &:focus{
                    background-color: $second-color;
                }
                &.actif{
                    background-color: $second-color;
                    border-color: $second-color;
                    pointer-events: none;
                    svg{
                        fill: $core-color; 
                    }              
                }

            }
        }
    }
    // Slider
    .slider-social-container{
        @extend %organism-slider-social;
    }

    // Templates
    #social-templates{
        display: none; 
    } 
}