@font-face {
  font-family: 'smurf';
  src:
    url('smurf.woff?mw0uu3') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="sm-"], [class*=" sm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'smurf' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sm-home:before {
  content: "\e900";
}
.sm-home2:before {
  content: "\e901";
}
.sm-home3:before {
  content: "\e902";
}
.sm-office:before {
  content: "\e903";
}
.sm-newspaper:before {
  content: "\e904";
}
.sm-pencil:before {
  content: "\e905";
}
.sm-pencil2:before {
  content: "\e906";
}
.sm-quill:before {
  content: "\e907";
}
.sm-pen:before {
  content: "\e908";
}
.sm-blog:before {
  content: "\e909";
}
.sm-eyedropper:before {
  content: "\e90a";
}
.sm-droplet:before {
  content: "\e90b";
}
.sm-paint-format:before {
  content: "\e90c";
}
.sm-image:before {
  content: "\e90d";
}
.sm-images:before {
  content: "\e90e";
}
.sm-camera:before {
  content: "\e90f";
}
.sm-headphones:before {
  content: "\e910";
}
.sm-music:before {
  content: "\e911";
}
.sm-play:before {
  content: "\e912";
}
.sm-film:before {
  content: "\e913";
}
.sm-video-camera:before {
  content: "\e914";
}
.sm-dice:before {
  content: "\e915";
}
.sm-pacman:before {
  content: "\e916";
}
.sm-spades:before {
  content: "\e917";
}
.sm-clubs:before {
  content: "\e918";
}
.sm-diamonds:before {
  content: "\e919";
}
.sm-bullhorn:before {
  content: "\e91a";
}
.sm-connection:before {
  content: "\e91b";
}
.sm-podcast:before {
  content: "\e91c";
}
.sm-feed:before {
  content: "\e91d";
}
.sm-mic:before {
  content: "\e91e";
}
.sm-book:before {
  content: "\e91f";
}
.sm-books:before {
  content: "\e920";
}
.sm-library:before {
  content: "\e921";
}
.sm-file-text:before {
  content: "\e922";
}
.sm-profile:before {
  content: "\e923";
}
.sm-file-empty:before {
  content: "\e924";
}
.sm-files-empty:before {
  content: "\e925";
}
.sm-file-text2:before {
  content: "\e926";
}
.sm-file-picture:before {
  content: "\e927";
}
.sm-file-music:before {
  content: "\e928";
}
.sm-file-play:before {
  content: "\e929";
}
.sm-file-video:before {
  content: "\e92a";
}
.sm-file-zip:before {
  content: "\e92b";
}
.sm-copy:before {
  content: "\e92c";
}
.sm-paste:before {
  content: "\e92d";
}
.sm-stack:before {
  content: "\e92e";
}
.sm-folder:before {
  content: "\e92f";
}
.sm-folder-open:before {
  content: "\e930";
}
.sm-folder-plus:before {
  content: "\e931";
}
.sm-folder-minus:before {
  content: "\e932";
}
.sm-folder-download:before {
  content: "\e933";
}
.sm-folder-upload:before {
  content: "\e934";
}
.sm-price-tag:before {
  content: "\e935";
}
.sm-price-tags:before {
  content: "\e936";
}
.sm-barcode:before {
  content: "\e937";
}
.sm-qrcode:before {
  content: "\e938";
}
.sm-ticket:before {
  content: "\e939";
}
.sm-cart:before {
  content: "\e93a";
}
.sm-coin-dollar:before {
  content: "\e93b";
}
.sm-coin-euro:before {
  content: "\e93c";
}
.sm-coin-pound:before {
  content: "\e93d";
}
.sm-coin-yen:before {
  content: "\e93e";
}
.sm-credit-card:before {
  content: "\e93f";
}
.sm-calculator:before {
  content: "\e940";
}
.sm-lifebuoy:before {
  content: "\e941";
}
.sm-phone:before {
  content: "\e942";
}
.sm-phone-hang-up:before {
  content: "\e943";
}
.sm-address-book:before {
  content: "\e944";
}
.sm-envelop:before {
  content: "\e945";
}
.sm-pushpin:before {
  content: "\e946";
}
.sm-location:before {
  content: "\e947";
}
.sm-location2:before {
  content: "\e948";
}
.sm-compass:before {
  content: "\e949";
}
.sm-compass2:before {
  content: "\e94a";
}
.sm-map:before {
  content: "\e94b";
}
.sm-map2:before {
  content: "\e94c";
}
.sm-history:before {
  content: "\e94d";
}
.sm-clock:before {
  content: "\e94e";
}
.sm-clock2:before {
  content: "\e94f";
}
.sm-alarm:before {
  content: "\e950";
}
.sm-bell:before {
  content: "\e951";
}
.sm-stopwatch:before {
  content: "\e952";
}
.sm-calendar:before {
  content: "\e953";
}
.sm-printer:before {
  content: "\e954";
}
.sm-keyboard:before {
  content: "\e955";
}
.sm-display:before {
  content: "\e956";
}
.sm-laptop:before {
  content: "\e957";
}
.sm-mobile:before {
  content: "\e958";
}
.sm-mobile2:before {
  content: "\e959";
}
.sm-tablet:before {
  content: "\e95a";
}
.sm-tv:before {
  content: "\e95b";
}
.sm-drawer:before {
  content: "\e95c";
}
.sm-drawer2:before {
  content: "\e95d";
}
.sm-box-add:before {
  content: "\e95e";
}
.sm-box-remove:before {
  content: "\e95f";
}
.sm-download:before {
  content: "\e960";
}
.sm-upload:before {
  content: "\e961";
}
.sm-floppy-disk:before {
  content: "\e962";
}
.sm-drive:before {
  content: "\e963";
}
.sm-database:before {
  content: "\e964";
}
.sm-undo:before {
  content: "\e965";
}
.sm-redo:before {
  content: "\e966";
}
.sm-undo2:before {
  content: "\e967";
}
.sm-redo2:before {
  content: "\e968";
}
.sm-forward:before {
  content: "\e969";
}
.sm-reply:before {
  content: "\e96a";
}
.sm-bubble:before {
  content: "\e96b";
}
.sm-bubbles:before {
  content: "\e96c";
}
.sm-bubbles2:before {
  content: "\e96d";
}
.sm-bubble2:before {
  content: "\e96e";
}
.sm-bubbles3:before {
  content: "\e96f";
}
.sm-bubbles4:before {
  content: "\e970";
}
.sm-user:before {
  content: "\e971";
}
.sm-users:before {
  content: "\e972";
}
.sm-user-plus:before {
  content: "\e973";
}
.sm-user-minus:before {
  content: "\e974";
}
.sm-user-check:before {
  content: "\e975";
}
.sm-user-tie:before {
  content: "\e976";
}
.sm-quotes-left:before {
  content: "\e977";
}
.sm-quotes-right:before {
  content: "\e978";
}
.sm-hour-glass:before {
  content: "\e979";
}
.sm-spinner:before {
  content: "\e97a";
}
.sm-spinner2:before {
  content: "\e97b";
}
.sm-spinner3:before {
  content: "\e97c";
}
.sm-spinner4:before {
  content: "\e97d";
}
.sm-spinner5:before {
  content: "\e97e";
}
.sm-spinner6:before {
  content: "\e97f";
}
.sm-spinner7:before {
  content: "\e980";
}
.sm-spinner8:before {
  content: "\e981";
}
.sm-spinner9:before {
  content: "\e982";
}
.sm-spinner10:before {
  content: "\e983";
}
.sm-spinner11:before {
  content: "\e984";
}
.sm-binoculars:before {
  content: "\e985";
}
.sm-search:before {
  content: "\e986";
}
.sm-zoom-in:before {
  content: "\e987";
}
.sm-zoom-out:before {
  content: "\e988";
}
.sm-enlarge:before {
  content: "\e989";
}
.sm-shrink:before {
  content: "\e98a";
}
.sm-enlarge2:before {
  content: "\e98b";
}
.sm-shrink2:before {
  content: "\e98c";
}
.sm-key:before {
  content: "\e98d";
}
.sm-key2:before {
  content: "\e98e";
}
.sm-lock:before {
  content: "\e98f";
}
.sm-unlocked:before {
  content: "\e990";
}
.sm-wrench:before {
  content: "\e991";
}
.sm-equalizer:before {
  content: "\e992";
}
.sm-equalizer2:before {
  content: "\e993";
}
.sm-cog:before {
  content: "\e994";
}
.sm-cogs:before {
  content: "\e995";
}
.sm-hammer:before {
  content: "\e996";
}
.sm-magic-wand:before {
  content: "\e997";
}
.sm-aid-kit:before {
  content: "\e998";
}
.sm-bug:before {
  content: "\e999";
}
.sm-pie-chart:before {
  content: "\e99a";
}
.sm-stats-dots:before {
  content: "\e99b";
}
.sm-stats-bars:before {
  content: "\e99c";
}
.sm-stats-bars2:before {
  content: "\e99d";
}
.sm-trophy:before {
  content: "\e99e";
}
.sm-gift:before {
  content: "\e99f";
}
.sm-glass:before {
  content: "\e9a0";
}
.sm-glass2:before {
  content: "\e9a1";
}
.sm-mug:before {
  content: "\e9a2";
}
.sm-spoon-knife:before {
  content: "\e9a3";
}
.sm-leaf:before {
  content: "\e9a4";
}
.sm-rocket:before {
  content: "\e9a5";
}
.sm-meter:before {
  content: "\e9a6";
}
.sm-meter2:before {
  content: "\e9a7";
}
.sm-hammer2:before {
  content: "\e9a8";
}
.sm-fire:before {
  content: "\e9a9";
}
.sm-lab:before {
  content: "\e9aa";
}
.sm-magnet:before {
  content: "\e9ab";
}
.sm-bin:before {
  content: "\e9ac";
}
.sm-bin2:before {
  content: "\e9ad";
}
.sm-briefcase:before {
  content: "\e9ae";
}
.sm-airplane:before {
  content: "\e9af";
}
.sm-truck:before {
  content: "\e9b0";
}
.sm-road:before {
  content: "\e9b1";
}
.sm-accessibility:before {
  content: "\e9b2";
}
.sm-target:before {
  content: "\e9b3";
}
.sm-shield:before {
  content: "\e9b4";
}
.sm-power:before {
  content: "\e9b5";
}
.sm-switch:before {
  content: "\e9b6";
}
.sm-power-cord:before {
  content: "\e9b7";
}
.sm-clipboard:before {
  content: "\e9b8";
}
.sm-list-numbered:before {
  content: "\e9b9";
}
.sm-list:before {
  content: "\e9ba";
}
.sm-list2:before {
  content: "\e9bb";
}
.sm-tree:before {
  content: "\e9bc";
}
.sm-menu:before {
  content: "\e9bd";
}
.sm-menu2:before {
  content: "\e9be";
}
.sm-menu3:before {
  content: "\e9bf";
}
.sm-menu4:before {
  content: "\e9c0";
}
.sm-cloud:before {
  content: "\e9c1";
}
.sm-cloud-download:before {
  content: "\e9c2";
}
.sm-cloud-upload:before {
  content: "\e9c3";
}
.sm-cloud-check:before {
  content: "\e9c4";
}
.sm-download2:before {
  content: "\e9c5";
}
.sm-upload2:before {
  content: "\e9c6";
}
.sm-download3:before {
  content: "\e9c7";
}
.sm-upload3:before {
  content: "\e9c8";
}
.sm-sphere:before {
  content: "\e9c9";
}
.sm-earth:before {
  content: "\e9ca";
}
.sm-link:before {
  content: "\e9cb";
}
.sm-flag:before {
  content: "\e9cc";
}
.sm-attachment:before {
  content: "\e9cd";
}
.sm-eye:before {
  content: "\e9ce";
}
.sm-eye-plus:before {
  content: "\e9cf";
}
.sm-eye-minus:before {
  content: "\e9d0";
}
.sm-eye-blocked:before {
  content: "\e9d1";
}
.sm-bookmark:before {
  content: "\e9d2";
}
.sm-bookmarks:before {
  content: "\e9d3";
}
.sm-sun:before {
  content: "\e9d4";
}
.sm-contrast:before {
  content: "\e9d5";
}
.sm-brightness-contrast:before {
  content: "\e9d6";
}
.sm-star-empty:before {
  content: "\e9d7";
}
.sm-star-half:before {
  content: "\e9d8";
}
.sm-star-full:before {
  content: "\e9d9";
}
.sm-heart:before {
  content: "\e9da";
}
.sm-heart-broken:before {
  content: "\e9db";
}
.sm-man:before {
  content: "\e9dc";
}
.sm-woman:before {
  content: "\e9dd";
}
.sm-man-woman:before {
  content: "\e9de";
}
.sm-happy:before {
  content: "\e9df";
}
.sm-happy2:before {
  content: "\e9e0";
}
.sm-smile:before {
  content: "\e9e1";
}
.sm-smile2:before {
  content: "\e9e2";
}
.sm-tongue:before {
  content: "\e9e3";
}
.sm-tongue2:before {
  content: "\e9e4";
}
.sm-sad:before {
  content: "\e9e5";
}
.sm-sad2:before {
  content: "\e9e6";
}
.sm-wink:before {
  content: "\e9e7";
}
.sm-wink2:before {
  content: "\e9e8";
}
.sm-grin:before {
  content: "\e9e9";
}
.sm-grin2:before {
  content: "\e9ea";
}
.sm-cool:before {
  content: "\e9eb";
}
.sm-cool2:before {
  content: "\e9ec";
}
.sm-angry:before {
  content: "\e9ed";
}
.sm-angry2:before {
  content: "\e9ee";
}
.sm-evil:before {
  content: "\e9ef";
}
.sm-evil2:before {
  content: "\e9f0";
}
.sm-shocked:before {
  content: "\e9f1";
}
.sm-shocked2:before {
  content: "\e9f2";
}
.sm-baffled:before {
  content: "\e9f3";
}
.sm-baffled2:before {
  content: "\e9f4";
}
.sm-confused:before {
  content: "\e9f5";
}
.sm-confused2:before {
  content: "\e9f6";
}
.sm-neutral:before {
  content: "\e9f7";
}
.sm-neutral2:before {
  content: "\e9f8";
}
.sm-hipster:before {
  content: "\e9f9";
}
.sm-hipster2:before {
  content: "\e9fa";
}
.sm-wondering:before {
  content: "\e9fb";
}
.sm-wondering2:before {
  content: "\e9fc";
}
.sm-sleepy:before {
  content: "\e9fd";
}
.sm-sleepy2:before {
  content: "\e9fe";
}
.sm-frustrated:before {
  content: "\e9ff";
}
.sm-frustrated2:before {
  content: "\ea00";
}
.sm-crying:before {
  content: "\ea01";
}
.sm-crying2:before {
  content: "\ea02";
}
.sm-point-up:before {
  content: "\ea03";
}
.sm-point-right:before {
  content: "\ea04";
}
.sm-point-down:before {
  content: "\ea05";
}
.sm-point-left:before {
  content: "\ea06";
}
.sm-warning:before {
  content: "\ea07";
}
.sm-notification:before {
  content: "\ea08";
}
.sm-question:before {
  content: "\ea09";
}
.sm-plus:before {
  content: "\ea0a";
}
.sm-minus:before {
  content: "\ea0b";
}
.sm-info:before {
  content: "\ea0c";
}
.sm-cancel-circle:before {
  content: "\ea0d";
}
.sm-blocked:before {
  content: "\ea0e";
}
.sm-cross:before {
  content: "\ea0f";
}
.sm-checkmark:before {
  content: "\ea10";
}
.sm-checkmark2:before {
  content: "\ea11";
}
.sm-spell-check:before {
  content: "\ea12";
}
.sm-enter:before {
  content: "\ea13";
}
.sm-exit:before {
  content: "\ea14";
}
.sm-play2:before {
  content: "\ea15";
}
.sm-pause:before {
  content: "\ea16";
}
.sm-stop:before {
  content: "\ea17";
}
.sm-previous:before {
  content: "\ea18";
}
.sm-next:before {
  content: "\ea19";
}
.sm-backward:before {
  content: "\ea1a";
}
.sm-forward2:before {
  content: "\ea1b";
}
.sm-play3:before {
  content: "\ea1c";
}
.sm-pause2:before {
  content: "\ea1d";
}
.sm-stop2:before {
  content: "\ea1e";
}
.sm-backward2:before {
  content: "\ea1f";
}
.sm-forward3:before {
  content: "\ea20";
}
.sm-first:before {
  content: "\ea21";
}
.sm-last:before {
  content: "\ea22";
}
.sm-previous2:before {
  content: "\ea23";
}
.sm-next2:before {
  content: "\ea24";
}
.sm-eject:before {
  content: "\ea25";
}
.sm-volume-high:before {
  content: "\ea26";
}
.sm-volume-medium:before {
  content: "\ea27";
}
.sm-volume-low:before {
  content: "\ea28";
}
.sm-volume-mute:before {
  content: "\ea29";
}
.sm-volume-mute2:before {
  content: "\ea2a";
}
.sm-volume-increase:before {
  content: "\ea2b";
}
.sm-volume-decrease:before {
  content: "\ea2c";
}
.sm-loop:before {
  content: "\ea2d";
}
.sm-loop2:before {
  content: "\ea2e";
}
.sm-infinite:before {
  content: "\ea2f";
}
.sm-shuffle:before {
  content: "\ea30";
}
.sm-arrow-up-left:before {
  content: "\ea31";
}
.sm-arrow-up:before {
  content: "\ea32";
}
.sm-arrow-up-right:before {
  content: "\ea33";
}
.sm-arrow-right:before {
  content: "\ea34";
}
.sm-arrow-down-right:before {
  content: "\ea35";
}
.sm-arrow-down:before {
  content: "\ea36";
}
.sm-arrow-down-left:before {
  content: "\ea37";
}
.sm-arrow-left:before {
  content: "\ea38";
}
.sm-arrow-up-left2:before {
  content: "\ea39";
}
.sm-arrow-up2:before {
  content: "\ea3a";
}
.sm-arrow-up-right2:before {
  content: "\ea3b";
}
.sm-arrow-right2:before {
  content: "\ea3c";
}
.sm-arrow-down-right2:before {
  content: "\ea3d";
}
.sm-arrow-down2:before {
  content: "\ea3e";
}
.sm-arrow-down-left2:before {
  content: "\ea3f";
}
.sm-arrow-left2:before {
  content: "\ea40";
}
.sm-circle-up:before {
  content: "\ea41";
}
.sm-circle-right:before {
  content: "\ea42";
}
.sm-circle-down:before {
  content: "\ea43";
}
.sm-circle-left:before {
  content: "\ea44";
}
.sm-tab:before {
  content: "\ea45";
}
.sm-move-up:before {
  content: "\ea46";
}
.sm-move-down:before {
  content: "\ea47";
}
.sm-sort-alpha-asc:before {
  content: "\ea48";
}
.sm-sort-alpha-desc:before {
  content: "\ea49";
}
.sm-sort-numeric-asc:before {
  content: "\ea4a";
}
.sm-sort-numberic-desc:before {
  content: "\ea4b";
}
.sm-sort-amount-asc:before {
  content: "\ea4c";
}
.sm-sort-amount-desc:before {
  content: "\ea4d";
}
.sm-command:before {
  content: "\ea4e";
}
.sm-shift:before {
  content: "\ea4f";
}
.sm-ctrl:before {
  content: "\ea50";
}
.sm-opt:before {
  content: "\ea51";
}
.sm-checkbox-checked:before {
  content: "\ea52";
}
.sm-checkbox-unchecked:before {
  content: "\ea53";
}
.sm-radio-checked:before {
  content: "\ea54";
}
.sm-radio-checked2:before {
  content: "\ea55";
}
.sm-radio-unchecked:before {
  content: "\ea56";
}
.sm-crop:before {
  content: "\ea57";
}
.sm-make-group:before {
  content: "\ea58";
}
.sm-ungroup:before {
  content: "\ea59";
}
.sm-scissors:before {
  content: "\ea5a";
}
.sm-filter:before {
  content: "\ea5b";
}
.sm-font:before {
  content: "\ea5c";
}
.sm-ligature:before {
  content: "\ea5d";
}
.sm-ligature2:before {
  content: "\ea5e";
}
.sm-text-height:before {
  content: "\ea5f";
}
.sm-text-width:before {
  content: "\ea60";
}
.sm-font-size:before {
  content: "\ea61";
}
.sm-bold:before {
  content: "\ea62";
}
.sm-underline:before {
  content: "\ea63";
}
.sm-italic:before {
  content: "\ea64";
}
.sm-strikethrough:before {
  content: "\ea65";
}
.sm-omega:before {
  content: "\ea66";
}
.sm-sigma:before {
  content: "\ea67";
}
.sm-page-break:before {
  content: "\ea68";
}
.sm-superscript:before {
  content: "\ea69";
}
.sm-subscript:before {
  content: "\ea6a";
}
.sm-superscript2:before {
  content: "\ea6b";
}
.sm-subscript2:before {
  content: "\ea6c";
}
.sm-text-color:before {
  content: "\ea6d";
}
.sm-pagebreak:before {
  content: "\ea6e";
}
.sm-clear-formatting:before {
  content: "\ea6f";
}
.sm-table:before {
  content: "\ea70";
}
.sm-table2:before {
  content: "\ea71";
}
.sm-insert-template:before {
  content: "\ea72";
}
.sm-pilcrow:before {
  content: "\ea73";
}
.sm-ltr:before {
  content: "\ea74";
}
.sm-rtl:before {
  content: "\ea75";
}
.sm-section:before {
  content: "\ea76";
}
.sm-paragraph-left:before {
  content: "\ea77";
}
.sm-paragraph-center:before {
  content: "\ea78";
}
.sm-paragraph-right:before {
  content: "\ea79";
}
.sm-paragraph-justify:before {
  content: "\ea7a";
}
.sm-indent-increase:before {
  content: "\ea7b";
}
.sm-indent-decrease:before {
  content: "\ea7c";
}
.sm-share:before {
  content: "\ea7d";
}
.sm-new-tab:before {
  content: "\ea7e";
}
.sm-embed:before {
  content: "\ea7f";
}
.sm-embed2:before {
  content: "\ea80";
}
.sm-terminal:before {
  content: "\ea81";
}
.sm-share2:before {
  content: "\ea82";
}
.sm-mail:before {
  content: "\ea83";
}
.sm-mail2:before {
  content: "\ea84";
}
.sm-mail3:before {
  content: "\ea85";
}
.sm-mail4:before {
  content: "\ea86";
}
.sm-amazon:before {
  content: "\ea87";
}
.sm-google:before {
  content: "\ea88";
}
.sm-google2:before {
  content: "\ea89";
}
.sm-google3:before {
  content: "\ea8a";
}
.sm-google-plus:before {
  content: "\ea8b";
}
.sm-google-plus2:before {
  content: "\ea8c";
}
.sm-google-plus3:before {
  content: "\ea8d";
}
.sm-hangouts:before {
  content: "\ea8e";
}
.sm-google-drive:before {
  content: "\ea8f";
}
.sm-facebook:before {
  content: "\ea90";
}
.sm-facebook2:before {
  content: "\ea91";
}
.sm-instagram:before {
  content: "\ea92";
}
.sm-whatsapp:before {
  content: "\ea93";
}
.sm-spotify:before {
  content: "\ea94";
}
.sm-telegram:before {
  content: "\ea95";
}
.sm-twitter:before {
  content: "\ea96";
}
.sm-vine:before {
  content: "\ea97";
}
.sm-vk:before {
  content: "\ea98";
}
.sm-renren:before {
  content: "\ea99";
}
.sm-sina-weibo:before {
  content: "\ea9a";
}
.sm-rss:before {
  content: "\ea9b";
}
.sm-rss2:before {
  content: "\ea9c";
}
.sm-youtube:before {
  content: "\ea9d";
}
.sm-youtube2:before {
  content: "\ea9e";
}
.sm-twitch:before {
  content: "\ea9f";
}
.sm-vimeo:before {
  content: "\eaa0";
}
.sm-vimeo2:before {
  content: "\eaa1";
}
.sm-lanyrd:before {
  content: "\eaa2";
}
.sm-flickr:before {
  content: "\eaa3";
}
.sm-flickr2:before {
  content: "\eaa4";
}
.sm-flickr3:before {
  content: "\eaa5";
}
.sm-flickr4:before {
  content: "\eaa6";
}
.sm-dribbble:before {
  content: "\eaa7";
}
.sm-behance:before {
  content: "\eaa8";
}
.sm-behance2:before {
  content: "\eaa9";
}
.sm-deviantart:before {
  content: "\eaaa";
}
.sm-500px:before {
  content: "\eaab";
}
.sm-steam:before {
  content: "\eaac";
}
.sm-steam2:before {
  content: "\eaad";
}
.sm-dropbox:before {
  content: "\eaae";
}
.sm-onedrive:before {
  content: "\eaaf";
}
.sm-github:before {
  content: "\eab0";
}
.sm-npm:before {
  content: "\eab1";
}
.sm-basecamp:before {
  content: "\eab2";
}
.sm-trello:before {
  content: "\eab3";
}
.sm-wordpress:before {
  content: "\eab4";
}
.sm-joomla:before {
  content: "\eab5";
}
.sm-ello:before {
  content: "\eab6";
}
.sm-blogger:before {
  content: "\eab7";
}
.sm-blogger2:before {
  content: "\eab8";
}
.sm-tumblr:before {
  content: "\eab9";
}
.sm-tumblr2:before {
  content: "\eaba";
}
.sm-yahoo:before {
  content: "\eabb";
}
.sm-yahoo2:before {
  content: "\eabc";
}
.sm-tux:before {
  content: "\eabd";
}
.sm-appleinc:before {
  content: "\eabe";
}
.sm-finder:before {
  content: "\eabf";
}
.sm-android:before {
  content: "\eac0";
}
.sm-windows:before {
  content: "\eac1";
}
.sm-windows8:before {
  content: "\eac2";
}
.sm-soundcloud:before {
  content: "\eac3";
}
.sm-soundcloud2:before {
  content: "\eac4";
}
.sm-skype:before {
  content: "\eac5";
}
.sm-reddit:before {
  content: "\eac6";
}
.sm-hackernews:before {
  content: "\eac7";
}
.sm-wikipedia:before {
  content: "\eac8";
}
.sm-linkedin:before {
  content: "\eac9";
}
.sm-linkedin2:before {
  content: "\eaca";
}
.sm-lastfm:before {
  content: "\eacb";
}
.sm-lastfm2:before {
  content: "\eacc";
}
.sm-delicious:before {
  content: "\eacd";
}
.sm-stumbleupon:before {
  content: "\eace";
}
.sm-stumbleupon2:before {
  content: "\eacf";
}
.sm-stackoverflow:before {
  content: "\ead0";
}
.sm-pinterest:before {
  content: "\ead1";
}
.sm-pinterest2:before {
  content: "\ead2";
}
.sm-xing:before {
  content: "\ead3";
}
.sm-xing2:before {
  content: "\ead4";
}
.sm-flattr:before {
  content: "\ead5";
}
.sm-foursquare:before {
  content: "\ead6";
}
.sm-yelp:before {
  content: "\ead7";
}
.sm-paypal:before {
  content: "\ead8";
}
.sm-chrome:before {
  content: "\ead9";
}
.sm-firefox:before {
  content: "\eada";
}
.sm-IE:before {
  content: "\eadb";
}
.sm-edge:before {
  content: "\eadc";
}
.sm-safari:before {
  content: "\eadd";
}
.sm-opera:before {
  content: "\eade";
}
.sm-file-pdf:before {
  content: "\eadf";
}
.sm-file-openoffice:before {
  content: "\eae0";
}
.sm-file-word:before {
  content: "\eae1";
}
.sm-file-excel:before {
  content: "\eae2";
}
.sm-libreoffice:before {
  content: "\eae3";
}
.sm-html-five:before {
  content: "\eae4";
}
.sm-html-five2:before {
  content: "\eae5";
}
.sm-css3:before {
  content: "\eae6";
}
.sm-git:before {
  content: "\eae7";
}
.sm-codepen:before {
  content: "\eae8";
}
.sm-svg:before {
  content: "\eae9";
}
.sm-IcoMoon:before {
  content: "\eaea";
}
