%atom-objtp-detail-vignette{
 
    .objtp-image-container {
        max-height: 216px;
        min-height: 216px;
        height: 216px;
        width: auto;
        text-align: center;

        .objtp-picture{
            max-width: 100%;
            max-height: 100%;
            position: relative;
            border-bottom-width: 100%;
            border-bottom-color: #31455d;
            border-bottom : 1px;
            vertical-align: top;
        }
    }
    .objtp-info{
        color: #31455d;
        margin-top: 10px;
        margin-left: 20px;
        font-family: $opensans;
        font-weight: 600;
        font-size: 2.0rem;
        line-height: 1.8;   
    }
}