// Variables
// ==========================================================================
@import "base/var";


// Base Styles
//=====================================
@import "base/reset";
@import "base/mixins";
@import "base/auto";
@import "base/text";
@import "base/anim";


// Library styles + Library Custom
// ==========================================================================
@import "libs/owl";
@import "libs/owl-custom";
@import "libs/selectric";
@import "libs/selectric-custom";
@import "libs/icomoon";
@import "libs/pikaday";
@import "libs/leaflet-custom";
@import "libs/simplebar";
@import "libs/squireUI";


// Éléments communs du site
// ==========================================================================
@import "layouts/cards";
@import "layouts/pagination";
@import "layouts/social-share";
@import "layouts/commentaires";
@import "layouts/aside";
@import "layouts/modal";
@import "layouts/facette";


// Style Header + Footer + Éléments communs du site
// ==========================================================================
@import "style/layout";
@import "style/layout_header";
@import "style/layout_footer";


// Style Pages du site
// ==========================================================================
@import "pages/page-search";
@import "pages/page-detail-participation";
@import "pages/page-detail-projet";
@import "pages/page-detail-initiative";
@import "pages/page-carte";
@import "pages/page-pacte";
@import "pages/page-budget-participatif";
@import "pages/page-404";
@import "pages/page-registre";
@import "pages/page-detail";
@import "pages/page-listing";
@import "pages/page-signataire";



// Style des blocs modulables
// ==========================================================================
@import "blocs/bloc";
@import "blocs/bloc-texte";
@import "blocs/bloc-image";
@import "blocs/bloc-iframe";
@import "blocs/bloc-form";
@import "blocs/bloc-colonne";
@import "blocs/bloc-actu";
@import "blocs/bloc-video";
@import "blocs/bloc-text-img";
@import "blocs/bloc-slider";
@import "blocs/bloc-large";
@import "blocs/bloc-select";
@import "blocs/bloc-listing";
@import "blocs/bloc-parallax";
@import "blocs/bloc-telechargements";
@import "blocs/bloc-prefooter";
@import "blocs/bloc-detail-video";
@import "blocs/bloc-listing-participation";
@import "blocs/bloc-widget";
@import "blocs/bloc-pub";
@import "blocs/bloc-accordion";
@import "blocs/bloc-dashboard";
@import "blocs/bloc-photo-profil";

// Style override
// ==========================================================================
@import "override/custom";