.row-fields {
	padding: 20px;
}

.main-content-card > h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding: 10px 15px;
    position: relative;
    background: #37474F;
    margin: 0 -21px;
    margin-bottom: 20px;
}