#sliders{
    @extend %molecule-district-section;

    padding: 0px;
    box-shadow: none;
    position: static;
    background-color: transparent;
    border-radius: 0;
    display: block;
    flex-direction: row;
    justify-content: normal;

    h1, .seu-btn-line{
        text-align: center;
        margin-bottom: 40px;
    }
}
