/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

.wrapper h1:first-child, .wrapper h2:first-child, .wrapper h3:first-child {
    margin-top: 0.25em;
}

.autofit-float.autofit-row.portlet-header{
	display: none;
}
/*
.portlet-title-default{
	display: none;
}*/

.autofit-col.autofit-col-expand{
	display: none;
}

.wrapper > .header .nav-lang li a {
    font-size: 14px;
}

.popup-help{
	font-size: 14px;
}

.footer .footer-top {

	.nav-footer li a {
		font-size: 11.34px;
	}

	.social-network span {
		font-size: 12.6px;
	}

	.footer-contact {
		font-size: 12.6px;
	}

}

a:hover, a:focus{
	color: white;
}

body{
	background: #EDEDED !important;
    font-family: 'Open Sans';
    margin-top: -10.8px;
}


.portlet-boundary .portlet .portlet-title-text {
	display: none;
}

#wrapper {
	padding-top: 0px;

	.row{
		margin-left: 0px;
		margin-right: 0px;
	}

	.portlet-boundary:not(.popup) .portlet{
		margin: 0px;

		.portlet-content{
			border: none;
			background: transparent;
			padding: 0px;
			margin: 0px;
		}
	}

	.portlet-boundary .portlet {

		h2{
			font-weight: bold;
			margin: 1em 0;

			em{
				font-weight: normal;
			}
		}

		.portlet-content{
			border-radius: 0px;
		}
	}

	.portlet-boundary.popup .content-metadata-asset-addon-entries{
		clear: both;
	}

	.breadcrumb{
		display: table;
		padding: 0px;
		border-bottom: 4px solid white;
		margin-bottom: 20px;
		
		.breadcrumb-item{
			margin-right: 0em;
		}

		.breadcrumb-item + .breadcrumb-item::before {
			margin-left: 0.2rem;
			font-size: 14px;
		}

		> li {
			background-image: url();
			content: "\00a0>\00a0";
			margin-top: -0.5em;
			color: #333333;
			margin-left: 2px;

			> a {
				> span {
					font-size: 14px;
				}
			}

			> span {
				font-size: 14px;
			}
		}
	}

	.col-md-12{
		padding: 0px;
	}

	.col-md-8{
		padding: 0px;
		padding-right: 20px;

		#tipi #tipi-page {
			border: none;
		}
	}

	.col-md-4{
		padding: 0px;
		padding-left: 5px;
	}

	.portlet-boundary_eu_strasbourg_portlet_tipi_callback_TipiCallbackWebPortlet_{
		display: none;
	}
}

.footer {
	.footer-top .social-network ul li a.btn-fb {
		background-image: url(/o/tipi-theme/images/icone/icone-facebook.jpg);
	}
	
	.footer-top .social-network ul li a.btn-daily {
		background-image: url(/o/tipi-theme/images/icone/icone-dailymotion.jpg);
	}
	
	.footer-top .social-network ul li a.btn-insta {
		background-image: url(/o/tipi-theme/images/icone/icone-instagram.jpg);
	}
	
	.footer-top .social-network ul li a.btn-twitter {
		background-image: url(/o/tipi-theme/images/icone/icone-twitter.jpg);
	}
	
	.footer-top .social-network ul li a.btn-netvibes {
		background-image: url(/o/tipi-theme/images/icone/icone-netvibes.jpg);
	}
	
	.footer-top .social-network ul li a.btn-tumblr {
		background-image: url(/o/tipi-theme/images/icone/icone-tumblr.jpg);
	}	
}