%organism-wi-schedules{
    display: block;
    background-color: #ffffff !important;
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 0;
    }


    // Liste des tab
    .tab-list{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @include RWD(mobile){
            padding: 10px 15px;
            background-color: $core-color;
        }

        .tab-toggle{
            flex-grow: 1;
            padding: 10px 30px;
            color: $core-color;
            background-color: #ffffff;
            border: solid 1px #dddddd;
            font-family: $site-font;
            font-size: 1.4rem;
            text-transform: uppercase;

            div{
                font-size: 1.1rem;
                line-height: 1;
                font-family: $main-font;
                text-transform: none;
            }
            &.current{
                background-color: $core-color;
                color: #ffffff;
                border-color: $core-color;
            }
            
            @include RWD(mobile){
                width: 100%;
                &.current{
                    background-color: #FFFFFF;
                    color: $core-color;
                    position: relative;
                    &:after{
                        content: '';
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        background-size: 15px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-image: url( svg-bg-uri($svg-arrow1, $core-color) );
                        transform: translateY(-50%) rotate(90deg);
                        position: absolute;
                        top: 50%;
                        right: 10px;
                    }
                }
            }
        }

        // RWD
        @include RWD(mobile){
            & > .tab-toggle{
                &:not(.current){
                    display: none;
                }
            }
        }
        .tab-menu-rwd{
            @include RWD(desktop){
                display: none !important;
            }
            @include RWD(tablet_only){
                display: none !important;
            }
            display: none;
            position: absolute;
            top: 100%;
            transform: translateX(-50%);
            width: 100%;
            left: 50%;
            z-index: 10;
            padding: 20px;
            background-color: rgba($core-color, 0.9);
            box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);

            .current{
                display: none;
            }
            &.opened{
                display: block;
            }
        }

    }
    // Contenu du tableau
    .tab-content{
        padding: 30px;
        @include RWD(mobile){
            padding: 20px;
        }
        display: none;
        &.tabbed{
            display: block;
        }
    }
    .tab-title{
        font-family: "MontSerrat", arial;
        font-weight: 700;
        text-transform: uppercase;
        color: $core-color;
        &:first-child{
            margin-top: 0;
        }   
    }
    .schedule-list{
        padding: 0 20px;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }

        li{
            display: flex;
            border-bottom: solid 1px #DDDDDD;
            padding: 5px 0;
            &:last-child{
                border-bottom: none;
            }

            span{
                flex-shrink: 0;
            }
            span + span{
                text-align: right;
                padding-left: 100px;
                flex: 1;

                @include RWD(mobile){
                    padding-left: 50px;
                }
            }
            .exception {
                color: #F44336;
                &:after {
                    content: "*";
                    display: inline;
                }
            }
        }
        @include RWD(mobile){
            padding: 0;
        }
    }
}