.portlet {
  margin-bottom: 0;
}

.portlet-body>div>div.h2 {
  display: none;
}


/* Formulaire de connexion */
.portlet-login {
  margin: 100px auto 200px auto;
  max-width: 500px;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
}


/* Formulaire de récupération de mot de passe */
#portlet_new-password + form {
  margin: 100px auto 200px auto;
  max-width: 500px;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
}


/* Formulaire de création de question de sécurité */
form.update-reminder-query  {
  margin: 100px auto 200px auto;
  max-width: 500px;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
}


/* Décallage lorsqu'un utilisateur est connecté */

.has-control-menu .seu-header, .has-control-menu .smag-header {
  top: 66px;
}
.has-control-menu .seu-nav-bottom.seu-nav-bottom {
  top: calc(100vh - 120px);
}

.seu-not-front.has-control-menu, .smag.has-control-menu {
  margin-top: 66px;
}

.page-header {
  border-bottom: none;
}

.smag header{
  z-index: 200;
}

/* suppression du déplacement du header au dessus du portlet */
.portlet {
	&:hover, &.focus {
		> .portlet-topper {
			@media only screen and (min-width: 768px) {
        transform: translateY(0);
        width: calc(100% - 35px);
        z-index: 201;
			}
		}
	}
}

/* Taille minimum d'un portlet pour affichage de l'header (pb rencontré quand un portlet est vide) */
.has-control-menu .portlet-content-editable {
  min-height: 50px;
}