%atom-btn-round{
    padding: 12px 20px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    // border-style: solid;
    // border-width: 1px;
    // border-color: transparent;
    transition: all, 0.5s;
    overflow: hidden;
    border-radius: 10px;

    
    .seu-btn-text{
        font-family: $montserrat;
        font-size: 1.4rem;
        text-transform: uppercase; 
        font-weight: 400;
        letter-spacing: 0px;
        transition: all, 0.3s;
        line-height: 1;
        padding-top: 3px;
        display: block;
    }
    &--core{
        @extend %atom-btn-round;
        background-color: $core-color;
        border-color: $core-color;
        .seu-btn-text{
            color: #FFFFFF;
        }
        &:not(.seu-actif){
            &:hover, &:focus{
                background-color: #FFFFFF;
                .seu-btn-text{ 
                    color: $core-color;
                }
            }
        }
    }
    &--inverted{
        @extend %atom-btn-round;
        background-color: $second-color;
        border-color: $second-color;
        .seu-btn-text{
            color: $core-color;
        }
        &:not(.seu-actif){
            &:hover, &:focus{
                background-color: #FFFFFF;
                .seu-btn-text{ 
                    color: $second-color;
                }
            }
        }
    }
    &--grey{ 
        @extend %atom-btn-round;
        background-color: #ffffff;
        border-color: #ffffff;
        .seu-btn-text{
            color: #7e7e7e;
        }
        &:not(.seu-actif){
            &:hover, &:focus{
                background-color: #7e7e7e;
                .seu-btn-text{ 
                    color: #ffffff;
                }
            }
        }
    }
}

.seu-btn-round{
    &.seu-core{
        @extend %atom-btn-round--core;
    } 
    &.seu-inverted{ 
        @extend %atom-btn-round--inverted;
    }
    &.seu-grey{
        @extend %atom-btn-round--grey;
    }
}
//~#BUTTONS
.seu-btn-round--core{
    @extend %atom-btn-round--core;
}
.seu-btn-round--inverted{
    @extend %atom-btn-round--inverted;
}
.seu-btn-round--grey{
    @extend %atom-btn-round--grey;
}
//#BUTTONS
