@charset "UTF-8";

@import "_t_vars";
@import "_t_mixins";

body{
	-webkit-font-smoothing: antialiased;
}

#mns-global{
	overflow-x: hidden;
	.container{
		@media (min-width: 1200px){
			width: 1200px;
		}
	}

	.small-container{
		width: 100%;
		max-width: 960px;
		margin: auto;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		@include mobile{
			width: 100%;
		}
	}

	.mns-p50{
		padding: 50px 0;
		@include mobile{
			padding: 30px 15px;
		}
	}

	.mns-left{
		text-align: left;
	}
	.mns-right{
		text-align: right;
		span{
			overflow-x: hidden;
			display: block;
			height: 38px;
		}
	}

	.mns-date-event{
		@include ft($f_txt, 16px, 700, $c_main, normal);	
		margin-bottom: 10px;
		display: block;
	}

	.publication{
		@include ft($f_txt, 14px, 300, #808080, 16px);
		display: block;
	}

	/* MNS FCK EDITOR */
	.mns-fck{
		h1{
			@include ft($f_hx, 58px, 700, $c_txt, 62px);
			width: 85%;
			margin-bottom: 40px;
			@include tablet_portrait{
				width: 100%;
			}
			@include mobile{
				font-size: 40px;
				line-height: normal;
			}
		}
		h2{
			@include ft($f_txt, 26px, 400, $c_txt, 48px);
			margin-bottom: 15px;
			@include mobile{
				line-height: normal;
			}
		}
		h3{
			@include ft($f_txt, 26px, 400, $c_txt, 28px);
			margin-bottom: 20px;
		}
		strong, p{
			font-size: 16px;
			margin-bottom: 20px;
			display: block;
		}
		img{
			margin-bottom: 40px;
		}

		.mns-line{
			width: 25px;
			height: 4px;
			background: #ebded3;
			display: block;
			margin: 40px 0;
		}

		figure{
			position: relative;
			@include mobile{
				margin-bottom: 40px;
			}

			img{
				@include mobile{
					margin-bottom: 0;
				}
			}

			figcaption{
				position: absolute;
				top: 45px;
				left: -40%;
				width: 47%;
				border-top: 1px solid #ebded3;
				padding-right: 10%;
				padding-top: 20px;
				text-align: right;
				@include ft($f_txt, 14px, 400, #808080, 21px);
				@include desktop{
					left: -38%;
					width: 45%;
				}
				@include mobile {
					position: relative;
					left: 0;
					top: 15px;
					width: 100%;
					padding: 20px 0 0 0;
				}
			}
		}

		ul{
			padding-left: 15px;
			list-style-type: disc;
			margin-bottom: 20px;
			li{
				margin: 0;
				font-size: 16px;
				line-height: 28px;
				padding-left: 0;
			}
		}

		blockquote{
			position: relative;
			border-left: none;
			padding: 0;
			width: 85%;
			margin: 35px 0 55px 15%;
			@include mobile{
				margin-left: 0;
				width: 100%;
			}
			&:before{
				content: "";
				background: url(/o/noel-theme/images/cote-left.png) no-repeat center center /contain;
				position: absolute;
				top: -30px;
				left: -150px;
				display: block;
				width: 170px; 
				height: 130px;
				@include mobile{
					top: -15px;
					left: -15px;
					width: 120px;
					height: 90px;
				}
			}
			.title{
				@include ft($f_hx, 22px, 700, $c_txt, 30px);
			}
			p{
				@include ft($f_txt, 15px, 400, $c_txt, 26px);
			}
		}
	}


	/* GLOBAL STYLE PAGINATION */
	.mns-pagination{
		padding: 10px 0;
		border-top: 1px solid $c_filet;
		border-bottom: 1px solid $c_filet;
		margin-bottom: 40px;
		margin-top: 20px;
		@include mobile{
			padding: 20px 0;
		}

		p, form{
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
		p{
			margin-left: 15px;
			font-size: 14px;
			@include tablet_portrait{
				font-size: 9px;
			}
		}

		.selectric-wrapper{
			width: 150px;
			display: inline-block;
			vertical-align: middle;
			.selectric{
				border: 2px solid #ebded3;
				border-radius: 21px;
				background: none;
				.button{
					background: none;
					&:after{
						content: "\e90e";
						font-family: 'icomoon' !important;
						speak: none;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						color: $c_txt;
						font-size: 16px;
						position: absolute;
						right: 30px;
						left: initial;
						top: -14px;
						border: none;
					}
				}

				.label{
					margin-left: -20px;
					@include ft($f_hx, 14px, 700, $c_txt, 31px);
				}
			}

			.selectric-items{
				top: 110%;
				background: #FFF;
				border: 1px solid #ebded3;
				z-index: -1;
				border-radius: 10px;
				ul{
					li{
						@include ft($f_hx, 14px, 700, $c_txt, 31px);
						padding-left: 15px;
						&.highlighted{
							background: none;
						}
						&:hover{
							background: none;
							color: $c_main;
						}
					}
				}
			}
		}

		.pull-left{
			@include mobile{
				text-align: center;
			}
		}

		.pull-right{
			line-height: 38px;
			text-align: right;
			@include mobile{
				text-align: center;
				margin-top: 20px;
			}
			ul{
				padding: 0;margin: 0;
				li{
					padding: 0;margin: 0;
					display: inline-block;
					vertical-align: middle;
					@include an(all,0.3);
					&:hover{
						a{
							color: $c_main;
							span{
								border-color: $c_main;
								background: $c_main;
								color: $c_white;
							}
						}
					}
					a{
						margin: 0 5px;
						@include ft($f_hx, 14px, 700, $c_txt, normal);	
						position: relative;
						span{
							padding: 5px;
							border: 2px solid #ebded3;
							border-radius: 50%;
							font-size: 22px;
							top: 2px;
							position: relative;
							@include an(all,0.3);
							// &:hover{
							// 	border-color: $c_main;
							// 	background: $c_main;
							// 	color: $c_white;
							// }
						}

						&.mns-prev{
							&:before{
								content: "\e909";
								font-family: 'icomoon' !important;
								font-size: 12px;
								display: inline-block;
								vertical-align: middle;
								margin-right: 5px; 
							}
							&:after{
								content: '';
								display: inline-block;
								vertical-align: middle;
								background: $c_txt;
								width: 1px;
								height: 15px;
								margin-left: 25px;
							}
						}

						&.mns-next{
							margin-left: 15px;
							&:after{
								content: "\e90a";
								font-family: 'icomoon' !important;
								font-size: 12px;
								display: inline-block;
								vertical-align: middle;
								margin-left: 5px; 
							}
						}
					}
				}
			}
		}
	}


	/* ICONE Indicateur Lieu / Type */ 
	.mns-indic{
		span, img{
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
		img{
			margin: 0 !important;
		}
		span{
			@include ft($f_txt, 14px, 400, #808080, normal);
		}
		&:nth-child(1){
			text-align: right;
		}
		&:nth-child(2){
			text-align: left;
		}
	}


	/* Fil d'ariane */ 
	.mns-wrapper-bread{
		position: relative;
	}

	.mns-breadcrumbs{
		position: absolute;
		left: 0;
		top: -70px;
		padding: 25px 15px;
		@include mobile{
			top: -80px;
			overflow: scroll;
			white-space: nowrap;
			width: calc(100% - 15px);
		}
		&.mns-bread-color{
			a{
				color: $c_txt;
				&:after{
					background: $c_txt;
				}
			}
			span{
				color: $c_txt;
			}
		}
		a{
			@include ft($f_hx, 13px, 400, $c_white, normal);
			position: relative;
			display: inline-block;
			@include an(all,0.3);
			&:after{
				content: '';
				height: 1px;
				width: 10px;
				background: $c_white;
				position: relative;
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
			}
			&:hover{
				color: $c_main;
			}
		}
		span{
			@include ft($f_hx, 13px, 700, $c_white, normal);
		}
	}
}