@charset "UTF-8";

@import "_t_vars";
@import "_t_mixins";


#mns-global{

	a{
		text-decoration: none;
		font-weight: 400;
	}

	a,
	a:hover,
	a:active,
	a:focus,
	input,
	input:hover,
	input:active,
	input:focus
	{
		outline: none;
	}

	a img
	{
		border: none;
	}

	img
	{
		position: relative;
		display: block;
		max-width: 100%;
		height: auto;
	}

	h1,
	span.h1
	{
		position: relative;
		display: block;
		margin: 0 0 20px 0;
		@include ft($f_hx,$s_h1,700,$c_main,$s_h1+10);

		strong, a, u, i, em
		{
			font-family: $f_hx;
		}
	}

	h2,
	span.h2
	{
		position: relative;
		display: block;
		margin: 0 0 20px 0;
		@include ft($f_hx,$s_h2,700,$c_sub,$s_h2+10);

		strong, a, u, i, em
		{
			font-family: $f_hx;
		}

		@include mobile{
			font-size: 46px;
		}
	}

	h3,
	span.h3
	{
		position: relative;
		display: block;
		margin: 0 0 10px 0;
		@include ft($f_hx,$s_h3,700,$c_main,$s_h3+10);

		strong, a, u, i, em
		{
			font-family: $f_hx;
		}
	}

	h4,
	span.h4
	{
		position: relative;
		display: block;
		margin: 0 0 10px 0;
		@include ft($f_hx,$s_h4,700,$c_sub,$s_h4+10);

		strong, a, u, i, em
		{
			font-family: $f_hx;
		}
	}

	p, 
	span.p
	{
		position: relative;
		display: block;
		margin: 0 0 20px 0;
		@include ft($f_txt,$s_p,400,$c_txt,$s_p+10);

		&.intercalaire
		{
			display: none;
		}

		strong, a, u, i, em
		{
			font-family: $f_txt;
		}

		a
		{
			color: $c_sub;
		}
	}

	ul
	{
		position: relative;
		display: block;
		list-style-type: none;

		li
		{
			position: relative;
			margin: 0 0 5px 0;
			padding: 0 0 0 20px;
			@include ft($f_txt,$s_p,400,$c_txt,$s_p+5);
			strong, a, u, i, em
			{
				font-family: $f_txt;
			}

			a
			{
				color: $c_sub;
			}
		}
	}

	.btn-filtre{
		@include ft($f_hx, 22px, 700, $c_white, normal);
		display: inline-block;
		background: #FFF;
		padding: 15px 80px;
		color: #000;
		height: auto;
		transform: translateY(50%);
		box-shadow: 0 14px 29px rgba(0,0,22,0.10), 0 0px 10px rgba(0,4,20,0.10);
		@include an(all,0.3);
		border: none;
		border-style: none;
		&:hover{
			color: $c_main;
		}

	}

	.mns-btn{
		@include btn($c_white, $c_txt, 0, $f_hx, $s_link);
		@include an(all,0.3);
		min-width: 270px;
		@include mobile{
			width: auto;
		}
		&:hover{
			background: $c_main;
			color: $c_white;
		}
	}

	a.link,
	span.link{
		@include ft($f_hx, 18px, 700, $c_txt, normal);
		display: inline-block;
		&:after{
			content: '';
			display: block;
			height: 4px; 
			width: 25px;
			background: #ebded3;
			position: relative;
			top: 10px;
			@include an(ease-in, 0.3);
		}
		&:hover:after{
			width: 100%;
		}

		&.align-right{
			position: relative;
			padding-left: 15px;
			&:before{
				content: '';
				width: 9999px;
				height: 1px;
				background-color: #d8dae4;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: -9999px;
			}
		}
	}

	a.basic-link, 
	span.basic-link{
		@include ft($f_txt, 16px, 700, $c_main, normal);
		display: block;
		text-align: left;
	}

	a.large-link,
	span.large-link{
		@include ft($f_hx, 24px, 700, $c_txt, normal);
		text-transform: uppercase;
		display: inline-block;
		position: relative;
		z-index: 2000;
		&:after{
			content: '';
			display: block;
			height: 4px; 
			width: 180px;
			background: #ebded3;
			position: relative;
			top: 10px;
			left: calc(50% - 90px);
			@include an(ease-in, 0.3);
		}
		&:hover:after{
			width: 100%;
			left: 0;
		}
		@include mobile {   
			margin-bottom: 50px;
		}
	}
}