@charset "UTF-8";

$c_main: #baa56f;																		
$c_sub: #808080;																		
$c_white: #ffffff;
$c_txt: #000000;
$c_grey: #333333;
$c_light: #f5f5f5;	
$c_filet: #d8dae4;	

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i); /* 'Playfair Display', serif; */	
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i); /* 'Source Sans Pro', sans-serif; */																													

$f_arial: 'Arial', sans-serif;
$f_hx: 'Playfair Display', serif;														
$f_txt: 'Source Sans Pro', sans-serif;												

$s_h1: 72px;																			
$s_h2: 108px;																			
$s_h3: 66px;																		
$s_h4: 42px;																			
$s_p: 16px;	
$s_link: 18px;																			

$g: 15px;																				

$container_wd: 1300px;
$container_de: 1170px;
$container_tl: 940px;
$container_tp: 720px;
$container_mo: 100%;

$breakpoint_wd: 1329px;
$breakpoint_de: 1199px;
$breakpoint_tl: 991px;
$breakpoint_tp: 980px;
$breakpoint_mo: 767px;

$video-width: 780px;