%organism-mairie-direction{    
    @extend %molecule-district-section;

    .flexbox{
        display: flex; 
        width: 100%;

        @include RWD(tablet){
            flex-direction: column;
        } 

        .container-left{
            width: 50%;
            flex: 1;
            @include RWD(tablet){
                order: 2;
                flex: auto;
            }

            .add-favorites{    
                width: max-content;
            }
        }

        .container-right{
            @include RWD(desktop){
                margin-left: 20px;
                width: 50%;            
            }
            @include RWD(tablet){
                order: 1;
            }
            @include RWD(tablet_only){
                padding: 20px;
                display: flex;
                background-color: $second-color;
            }
            flex-shrink: 0;

            .crowded-date{
                text-transform: none;
            }

            .crowded-caption {
                font-weight: 700;
                margin-bottom: 0px;
            }

            .crowded-amount{
                text-align: center;
                width: 70px;
                height: 70px;
                line-height: 70px;
                background-color: #40A040;
                font-size: 2.8rem;
                color: #FFFFFF;
                font-weight: 600;
                font-family: $site-font;
                border-radius: 50%;
                margin: 5px 0;
                flex-shrink: 0;
                margin-left: 10px;
                border: solid 2px #FFFFFF;
                &.green{background-color: #40A040}
                &.orange{background-color: #FF470F}
                &.red{background-color: #FF0F0F}
                &.black{background-color: #272222}
                &.white{background-color: #FFFFFF; color: #000000; border-color: #000000}
                &.grey{background-color: #9E9E9E}
            }
        }
    }
}
