.bloc-iframe {

	iframe {
		width: 100%;
		min-height: 300px;
	}

}

.pro-listing-map {
	position: absolute;
	height: 100%;
	top: 0;
	left: 15px;
	right: 15px;
	bottom: 0;
	width: calc(100% - 30px);
	@include tablet_portrait {
		height: 50vh;
		position: relative;
		left: 0;
		right: 0;
		width: 100%;
		margin-bottom: 40px;
		margin-top: 40px;
	}
	@include mobile{
		height: 500px;
	}
	.pro-fixed-map {
		height: 100%;
		.wrapper-map {
			height: 100%;
		}
	}
}

.gm-style-iw.gm-style-thuria {
	overflow: visible;
	padding: 0;
	> div {
		box-shadow: 0 14px 29px rgba(0, 0, 22, 0.2), 0 0px 10px rgba(0, 4, 20, 0.2);
		margin-bottom: -30px;
		max-width: 400px;
		min-width: 280px;
		&:after {
			content: "\e91d";
			@include font();
			position: absolute;
			bottom: -55px;
			left: calc(50% + 2px);
			color: $c_white;
			font-size: 64px;
			transform: rotate(180deg) translateX(50%);
		}
		> div {
			border-radius: 0;
			overflow: hidden !important;
			background: #FFF;
		}
	}


	.pro-bloc-card-map-event {
		max-width: 250px;
	}

	.pro-bloc-card-petition {
		&:hover {
			transform: none;
			box-shadow: none;
		}
		.pro-content-petition {
			h3 {
				line-height: 1.5em;
				margin-bottom: 0;
			}
		}
	}

	.pro-bloc-card-initiative {
		&:hover {
			transform: none;
			box-shadow: none;
		}
		.pro-content-initiative {
			h3 {
				clear: both;
				margin-top: 20px;
				padding-top: 10px;
			}
		}
	}

	.pro-bloc-card-budget {
		&:hover {
			transform: none;
			box-shadow: none;
		}
		.pro-info-top-right{
			position: relative;
			top: 0;
			left: 0;
			text-align: left;
			width: 100%;
			right: 0;
			margin: 20px 0 0 0;
			span{
				line-height: 25px;
			}
		}
	}

	.pro-bloc-card-projet {
		&:hover {
			transform: none;
			box-shadow: none;
		}
		.pro-content-projet {
			h3 {
				clear: both;
				margin-bottom: 0;
				height: 40px;
			}
			.pro-wrap-thematique {
				height: 21px;
			}
		}
	}
}


.gm-style-iw-t{
	&::after{
		content: none !important;
	}
}


.pro-vignette-map-inte {
	position: relative;
	z-index: 10;
	font-size: 1em;
	a, .pro-bloc-card-participation {
		&:hover, &:focus {
			> div {
				transform: none;
			}
		}

		.pro-header-participation {
			.pro-info-top-right {
				right: 40px;
				@include mobile {
					right: 0;
				}
				span {
					line-height: 25px;
				}
			}
		}
		.pro-footer-participation {
			.pro-avis {
				> * {
					&:first-child {
						margin-right: 4px;
					}
				}
			}
			.pro-form-style {
				font-size: 1em;
				line-height: 2.777em;
				&:hover {
					border-color: rgba($c_dark, 0.25);
				}
			}
			p {
				line-height: 3.8em !important;
			}
		}

		&.pro-bloc-actu {
			> .content {
				padding: 15px;
			}
		}
	}
}

#map-inte-container {
	padding: 0;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
	background: #FFF;
	border-radius: 0;
	display: block;
	.map-inte-header {
		position: relative;
		padding: 30px 30px 10px 30px;
		text-align: center;

		.pro-time {
			@include ft($f_txt, 0.846em, 400, $c_txt, normal);
			padding: 0;
			background: none;
			margin-bottom: 5px;
		}

		p {
			@include ft($f_txt, 1.077em, 400, $c_txt, 1.286em);
			margin-bottom: 0;
		}

		figure {
			overflow: hidden;
			position: relative;
			height: 160px;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 10;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+54,0.65+99 */
				background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
			}
			img {
				@include addTransition(all, 5s, linear);

				animation: slowZoom 5s linear forwards 0s;
				animation-play-state: paused;
			}
		}
	}

	.map-inte-content {
		background: $c_white;
		position: relative;
		z-index: 10;
		border-radius: 12px;
		display: block;

		&:hover, &:focus {
		}
	}
	.map-inte-content-text {
		padding: 5px 15px 15px 15px;
		position: relative;
		z-index: 10;
		left: 0;
		right: 0;
		width: 100%;
		bottom: 0;
		.wrapper-rate {
			position: relative;
			margin-bottom: 5px;
			@include clearfix();
			.rate {
				float: left;
				margin-bottom: 0;
			}
			.location {
				display: inline-block;
				float: right;
				color: $c_txt;
			}
		}
		.theme {
			span {
				color: #4c4c4c;
			}
		}
		h3 {
			@include ft($f_hx, 1.538em, 700, $c_txt, 1.4em);
			z-index: 11;
			text-transform: uppercase;
			text-align: center;
		}

		.pro-btn-yellow {
			@include ft($f_hx, 1.154em, 700, $c_txt, 3em);
			text-transform: uppercase;
			text-align: center;
			&:hover, &:focus {
				background: $c_dark;
				color: $c_main;
				border-color: $c_dark;
			}
		}

		.link {
			@include ft($f_hx, 20px, 700, $c_main, 24px);
			margin-bottom: 10px;
			display: block;
		}

		&.txt {
			border: 1px solid #cccccc;
			border-bottom: none;
			padding: 30px;

			> * {
				&:last-child {
					margin-bottom: 0;
				}
			}

			address {
				display: block;
				@include ft($f_txt, 13px, 400, $c_txt, 19px);
				margin-bottom: 10px;
				strong {
					display: block;
				}
			}
			span {
				@include ft($f_txt, 13px, 700, $c_txt, 19px);
				display: block;
			}
			p {
				@include ft($f_txt, 13px, 400, $c_txt, 19px);
				margin-bottom: 10px;
				strong {
					color: $c_txt;
				}
			}
			.btn {
				margin-top: 0;
				display: inline-block;
				margin-bottom: 10px;
				padding: 8px 15px;
			}

			.link {
				@include ft($f_txt, 15px, 700, $c_main, 19px);
				&:hover, &:focus {
					color: darken($c_main, 15%);
				}
			}

		}
	}
}