.pro-bloc-select {
	position: relative;
	padding: 90px 0 60px 0;
	overflow: hidden;
	@include mobile {
		padding: 20px 0 0 0;
	}
	> * {
		position: relative;
	}
	.pro-btn {
		position: absolute;
		right: 0;
		bottom: 0;
		@include tablet_portrait {
			position: relative;
		}
	}

	.pro-intro {
		position: relative;
		margin-bottom: 25px;
		> * {
			max-width: 750px;
			@media screen and (max-width: 1200px) {
				max-width: 700px;
			}
		}
	}
	h2 {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 10px;
		font-size: 2.500em;
		line-height: 1em;
		@include mobile {
			font-size: 1.500em;
			line-height: 1.5em;
			display: block;
			margin-bottom: 5px;
		}
	}

	.row {
		margin-top: 20px;
		@include tablet_portrait {
			margin-top: 40px;
		}
	}

	.pro-wrapper-quartier {
		display: none;
		&.active {
			display: block;
		}
	}

}