.mseu .front{
    position: relative;

    .bg-banner{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 755px;
        z-index: 1;
        background-image: url('../images/banner.jpg');
        background-size: cover;
        background-position: center;
    }
    #main-content > *:not(.bg-banner) {
        z-index: 2;
        position: relative;
    }

    .wi-wrapper{
        display: flex;
        & > * {
            width: 50%;
        }
    }
    
}