.mseu body.welcome{
    .custom-container{
        
        @include RWD(desktop){
            &:not(.boutons){
                padding: 0 28px;
            }
        }

        .nav-contact{
            margin-right: 0 ;
            padding: 0;
            @include RWD(mobile){
                margin-right: 20px;
            }
        }

        .account-wrapper{
            display: none;
        }
    }

    header .nav-top:after{
        content: none;
    }

    #welcome-page {
        font-family: $site-font;
        line-height: 1.2em;
        font-size: 1.7rem;

        section.portlet{
            margin: 0;
        }

        .bloc-content{
            max-width: 1200px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        
            .bloc-text{
                padding: 50px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &.demarches:before, &.favorites:before, &.aroundme:before, &.documents:before {
                    display: block;
                    content: '';
                    height: 40px;
                    background-position: top;
                    background-repeat: no-repeat;
                    margin-bottom: 10px;
                }
                &.demarches:before{background-image: url( svg-bg-uri($svg-welcome-demarches, '#F0B143') );}
                &.favorites:before{background-image: url( svg-bg-uri($svg-welcome-favorites, '#F0B143') );}
                &.aroundme:before{background-image: url( svg-bg-uri($svg-welcome-aroundme, '#F0B143') );}
                &.documents:before{background-image: url( svg-bg-uri($svg-welcome-documents, '#F0B143') );}

                .title{
                    font-size: 3.5rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: center;
                    margin-bottom: 25px;
                }

                p:not(.title){
                    font-family: $opensans;
                    font-style: 1.8rem;
                }
            }
        }

        .welcome-menu{
            min-height: 400px;

            h1{
                padding-top:30px;

                &:before{
                    content: none;
                }

                svg{
                    width: 350px;
                }
            }

            .boutons{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                padding-bottom: 50px;

                a{
                    width: 350px;
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 15px 60px;
                    margin: 0 5px 10px;
                    height: 3.55em;

                    .btn-text{
                        line-height: 1em;
                        font-size: 1.7rem;
                        font-weight: 700;
                        text-align: center;
                    }
                }
            }
        }

        .bloc-bleu{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: $core-color;
            color: white;

            .bloc-text{
                width: calc(100% / 3);
                min-height: 450px;
                justify-content: flex-start;
                padding: 40px 30px;

                &:only-child{
                    width: 50%;
                    min-height: auto;
                }
            }

            .bloc-fond-image{
                position: relative;
                width: calc((100% / 3) * 2);

                .image{
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: calc(100% + 50px);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 0 105px;
                }
            }
        }

        .bloc-blanc{
            display: flex;
            flex-wrap: wrap;
            color: $core-color;
            justify-content: center;
            padding: 50px;

            .bloc-fond-image{
                display: flex;
                flex-direction: row;
                width: calc(50% + 50px);
                margin-top: 50px;

                .image{
                    width: 100%;
                    height: 500px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    margin-left: 100px;
                }

                &.multiple{
                    width: calc(100% - 40px);
    
                    .image{
                        height: 300px;
                        background-size: cover;
                        margin-left: 0;
                    }
                }
            }

            .bloc-text{
                width: calc(50% - 50px);
            }

            .bloc-fond-image.multiple + .bloc-text{
                width: 65%;
            }
        }

        .bloc-image{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            color: white;

            .bloc-text{
                width: 50%;
                min-height: 400px;
                margin-right: auto;
            }
        }

        .bloc-video{
            display: flex;
            justify-content: center;
            background-color: $core-color;
            color: white;
            margin-top: 50px;

            .video-content{
                position: relative;


                .video-container, .video-info{
                    max-width: 800px;
                    max-height: 450px;
                    width: 75vw;
                    height: 42vw;
                    transform: translateY(-75px);
                }

                .video-container{
                    background-size: cover;

                    & > *{
                        width: 100%;
                        height: 100%;
                    }

                    &:not(:empty){
                        background-image: none;
                    }
                }

                .video-info{
                    position: absolute;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.2);
                    color: white;
                    font-size: 3.5rem;
                    font-weight: 700;
                    text-transform: uppercase;

                    &:before {
                        display: block;
                        content: '';
                        width: 100%;
                        height: 60px;
                        background-image: url( svg-bg-uri($svg-welcome-play, '#F0B143') );
                        background-size: 40px;
                        background-position: top;
                        background-repeat: no-repeat;
                    }

                    p{
                        text-align: center;
                    }
                }
            }
        }

        @include RWD(tablet){
            .bloc-bleu {
                padding: 0px;

                .bloc-text{
                    padding: 50px 30px;
                    width: 100%;
                    min-height: auto;
                    margin-right: 0;
                }

                .bloc-fond-image{
                    width: 100%;

                    .image{
                        position: static;
                        z-index: 1;
                        width: 100%;
                        height: 150px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }

        @include RWD(mobile){
            section[class*=bloc]{
                padding: 0px;

                .bloc-text{
                    padding: 50px 30px;
                    width: 100%;
                    min-height: auto;
                    margin-right: 0;

                    &:only-child{
                        width: 100%;
                    }
                }

                .bloc-fond-image.multiple + .bloc-text{
                    width: 100%;
                }
            }

            .welcome-menu{
                h1 svg{
                    width: 80%;
                }

                .boutons{
                    flex-direction: column;

                    a{
                        margin: 0 0 20px;
                        width: 100%;
                    }
                }
            }

            .bloc-blanc .bloc-fond-image{
                display: none;
            }

            .bloc-video{
                height: 56vw;
                margin-top: 0;
                
                .video-content{

                    .video-container, .video-info{
                        width: 100vw;
                        height: 56vw;
                        transform: none;
                    }

                    .video-info{
                        font-size: 2.4rem;
                    }
                }
            }
        }
    }
}