.pro-widget-participation {
	padding: 0 0 0 30px;
	margin-bottom: 35px;
	@include clearfix();
	@include tablet_portrait {
		margin-top: 35px;
		padding: 0;
	}

	h4 {
		@include ft($f_hx, 0.938em, 400, $c_txt, 1.5em);
		text-transform: uppercase;
		margin-bottom: 5px;
		padding: 8px 0;
		display: block;
		border-bottom: 1px solid #a6a6a6;
		position: relative;
	}

	> a {
		position: relative;
		display: block;
		padding: 15px 0;
		&:hover, &:focus {
			&:after {
				height: 4px;
				background: $c_main;
			}
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 1.5px;
			background: #cecece;
			transform-origin: bottom;
			@include addTransition();
		}
		.pro-meta {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			margin-bottom: 5px;
			text-align: left;
			> * {
				&:first-child {
					padding-left: 0;
				}
				position: relative;
				font-size: $s_small;
				line-height: normal;
				display: inline-block;
				vertical-align: middle;
				float: none;
				&:after {
					height: 12px;
					right: -1px;
					bottom: 0;
					top: 3px;
					transform: none;
				}
			}
		}
		h3 {
			@include ft($f_hx, 1.125em, 700, $c_txt, 1.25em);
			text-transform: uppercase;
		}

		.pro-meta-footer {
			position: relative;
			@include clearfix();

			.pro-comments {
				float: left;
				width: 55%;
				@include ft($f_txt, $s_small, 400, $c_txt, 1.2em);
				&:before {
					content: "\e924";
					@include font();
					float: left;
					line-height: 1.4em;
					font-size: 1em;
					margin-right: 10px;
				}
				&.pro-comments-right{
					float: right;
					width: auto;
				}
			}

			.pro-citoyen-petition{
				float: left;
				width: 80%;
				@include ft($f_txt, $s_small, 400, $c_txt, 1.2em);
			}

			.pro-citoyen-initiative{
				float: left;
				width: 55%;
				@include ft($f_txt, $s_small, 400, $c_txt, 1.2em);
			}

			.pro-avis {
				width: 45%;
				float: right;
				text-align: right;
				@include tablet_landscape {
					width: 100%;
					float: left;
					text-align: left;
					margin-top: 6px;
				}
				> * {
					@include ft($f_txt, 0.750em, 400, $c_txt, 1.3em);
					margin-left: 17px;
					&:first-child {
						margin-left: 0;
					}
					> span {
						font-size: 1.2em;
						line-height: 1;
						margin-right: 3px;
					}
					&.pro-dislike {
						> span {
							transform: rotate(180deg);
							display: inline-block;
						}
					}
				}
			}

		}
	}

}