.pro-bloc-facette {
	overflow: hidden;

	@include tablet_portrait {
		min-height: auto !important;
	}

	.pro-affiner {
		@include ft($f_hx, 0.938em, 400, $c_main, 1.5em);
		text-transform: uppercase;
		display: block;
		padding: 20px 0;
		position: relative;
		margin-bottom: 30px;
		&:before {
			content: '';
			background: url(../../assets/images/background/small-rec-black.png);
			position: absolute;
			left: -20px;
			top: -25px;
			height: 130%;
			width: calc(100% + 40px);
			bottom: 30px;
			z-index: -1;
			transform: rotate(-4.6deg);
			overflow: hidden;
			-webkit-backface-visibility: hidden;
			@include tablet_portrait {
				top: -35px;
				height: 140%;
				transform: rotate(-2.6deg);
			}
		}
		> span {
			display: none;
			margin-left: 10px;
			font-size: 10px;
			@include tablet_portrait {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	form {
		@include tablet_portrait {
			display: none;
		}
		&.is-display {
			display: block;
			padding: 0;
		}

		.pro-group {
			.pro-header {
				padding: 8px 0;
				display: block;
				border-bottom: 1px solid #a6a6a6;
				position: relative;

				h4 {
					@include ft($f_hx, 0.938em, 400, $c_txt, 1.5em);
					text-transform: uppercase;
					margin-bottom: 0;
				}
				span {
					@include ft($f_txt, $s_small, 400, $c_txt, 2em);
					text-transform: lowercase;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					transform: translate3d(0, -50%, 0);
					&:after {
						content: "\e91b";
						@include font();
						float: right;
						margin-left: 10px;
						line-height: 30px;
						font-size: 11px;
					}
					&:hover {
						cursor: pointer;
					}
				}
			}

			fieldset {
				padding-top: 15px;
				padding-bottom: 25px;

				&.pro-text{
					> * {
						input{
							@include ft($f_txt, $s_small, 400, $c_txt, 46px);
							display: block;
							-webkit-appearance: none;
							box-shadow: none;
							outline: none;
							width: calc(100% - 1px);
							border: 1px solid #a6a6a6;
							height: 46px;
							padding: 0 15px;
							border-radius: 4px;
							margin: 0;
							@include addTransition();
							&:hover, &:focus{
								border-color: $c_dark;
							}
						}
					}
				}

				&.pro-checkbox {
					> * {
						input {
							display: none;
						}
						label {
							position: relative;
							user-select: none;
							display: block;
							padding: 0;
							@include ft($f_txt, $s_small, 400, $c_txt, 2em);
							@include addTransition();
							&:before {
								content: '';
								position: relative;
								float: left;
								margin-right: 10px;
								transform: none;
								text-align: left;
								width: 16px;
								height: 16px;
								border: 1px solid #a6a6a6;
								border-radius: 2px;
								background: #fff;
								cursor: pointer;
								top: 4px;
							}
							&:after {
								content: "\e91a";
								@include font();
								text-shadow: 1px 1px 0 $c_white, 0px -2px 0 $c_white;
								font-size: 14px;
								position: absolute;
								left: 4px;
								top: 3px;
								transform: translateY(-50%);
								transform: translate3d(0, -50%, 0);
								cursor: pointer;
								color: $c_txt;
								transition: all .2s;
								background: none;
								opacity: 0;
								transform: scale(0);
								@include addTransitionCurve();
							}
							&:hover, &:focus {
								cursor: pointer;

							}
						}
						input {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							opacity: 0;
							&:focus {
								& + label {
									color: $c_main;
								}
							}
						}
						input[type="checkbox"]:checked + label:after, input[type="radio"]:checked + label:after {
							opacity: 1;
							transform: scale(1);
						}
					}
				}
				> * {
					position: relative;
					display: block;

					.selectric-wrapper {
						display: inline-block;
						vertical-align: middle;
						&:after {
							content: "\e902";
							@include font();
							float: right;
							font-size: 10px;
							line-height: normal;
							position: absolute;
							right: -25px;
							top: 18px;
							transform: translateY(-50%);
							transform: translate3d(0, -50%, 0);
						}
						.selectric {
							background: none;
							border: none;
							height: 30px;
							position: relative;
							.label {
								@include ft($f_hx, 0.938em, 400, $c_txt, 1.5em);
								text-transform: uppercase;
								height: 100%;
								padding: 8px 0;
								text-align: left;
								margin: 0;
								border-radius: 0;
								&:after {
									content: '';
									position: absolute;
									bottom: 4px;
									left: 0;
									right: 0;
									height: 4px;
									width: 100%;
									z-index: -1;
									background: $c_main;
									@include addTransitionCurve();
								}
								&:hover {
									&:after {
										height: 10px;
									}
								}
							}
							.button {
								display: none;
							}
						}
						.selectric-items {
							position: relative;
							background: none;
							box-shadow: none;
							margin-top: 10px;
							border: none;
							width: 300px !important;
							ul {
								li {
									@include ft($f_txt, 1em, 400, $c_txt, 2em);
									padding: 1px 0;
									@include addTransition();
									&:hover, &:focus {
										background: none;
										font-weight: 700;
									}
									&.selected, &.highlighted {
										background: none;
									}
								}
							}
						}
					}

					.pro-facette-date {
						float: none;
						width: 100%;
						.pro-wrapper-date {
							margin: 0;
							display: inline-block;
						}
						label {
							margin: 0 10px;
							padding: 0;
							display: inline-block;
							&:before, &:after {
								content: none;
							}
							@include tablet_landscape {
								margin: 0 4px;
							}
						}
						input {
							font-weight: 400;
							position: relative;
							display: block;
						}
					}

				}
			}

		}
	}

}