.pro-bloc-content-video {

	> * {
		@include tablet_portrait {
			padding: 0;
		}
	}

	#breadcrumb {
		padding: 15px 0;
	}

	.pro-time {
		margin-bottom: -5px;
		position: relative;
		left: -15px;
		@include tablet_portrait {
			left: 0;
		}
	}

	h1 {
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	.pro-bloc-texte {
		> * {
			max-width: 90%;
		}
	}

	aside {
		> * {
			background: none;
		}
		.pro-meta-avis {
			padding: 25px 0 15px 0;
			border-bottom: 1px solid #b2b2b2;
			@include clearfix();
			@include mobile {
				border-top: 1px solid #b2b2b2;
				padding-top: 15px;
				margin-top: 30px;
			}
			.pro-avis {
				line-height: 40px;
				margin-right: 20px;
			}

			.pro-view {
				@include ft($f_txt, $s_p, 700, #4c4c4c, 2.667em);
				@include tablet_portrait {
					float: none;
					width: 100%;
				}
			}
		}

		.pro-item {
			padding-top: 20px;
			@include clearfix();
			> * {
				float: left;
			}
			p, a {
				@include ft($f_txt, 0.875em, 400, #4c4c4c, 2em);
				margin-right: 3px;
				margin-bottom: 0;
			}
			a {
				text-decoration: underline;
				&:hover, &:focus {
					color: $c_txt;
					font-weight: 700;
				}
				&:after {
					content: ',';
					margin-right: 2px;
				}
				&:last-child {
					&:after {
						content: none;
					}
				}
			}
		}
	}

}