#th-global {

	.pro-bloc-image {
		figure {
			width: 100%;
			margin: 0;
		}
	}


	.pro-bloc-image-slider{
		padding: 20px 0;
		figure{
			margin: 0;
			figcaption{
				display: none;
			}
		}
		.owl-carousel{
			.owl-item{
				.item{
					@include mobile{
						height: 70vh;
					}
					figure{
						img{
							@include mobile{
								height: 70vh;
							}
						}
					}
					.caption{
						> * {
							@include mobile{
								padding: 0;
							}
						}
						h3{
							@include ft($f_hx, 1.875em, 700, $c_white, 1.267em);
							text-transform: uppercase;
							margin-bottom: 10px;
							display: inline-block;
						}
						p{
							width: 50%;
							@include tablet_portrait{
								width: 70%;
							}
							@include mobile{
								width: 100%;
							}
						}
						a{
							color: $c_txt;
							&:hover, &:focus{
								color: $c_main;
							}
						}

						&.pro-captioncenter{
							width: 50%;
							margin: auto;
							text-align: center;
							@include tablet_portrait{
								width: 80%;
							}
							@include mobile{
								width: 100%;
							}
							> * {
								text-align: center;
							}
							p{
								width: 100%;
							}
						}

						&.pro-captionright{
							text-align: right;
							> * {
								max-width: 100%;
							}
							p{
								width: 50%;
								margin-left: 50%;
								text-align: right;
								@include tablet_portrait{
									width: 70%;
									margin-left: 30%;
								}
								@include mobile{
									margin-left: 0;
									width: 100%;
								}
							}
						}
					}
				}
			}

			.owl-nav{
				@include mobile{
					display: none;
				}
				.owl-prev, .owl-next{
					height: 30px;
					width: 30px;
					@include addTransition();
					&:hover{
						border-color: $c_main;
					}
					@media screen and (max-width: 1080px){
						height: 15px;
						width: 15px;
					}
				}
				.owl-prev{
					left: 40px;
					border-top: 5px solid $c_white;
					border-left: 5px solid $c_white;
					@media screen and (max-width: 1080px){
						border-width: 3px;
						left: 15px;
					}
				}
				.owl-next{
					right: 40px;
					border-top: 5px solid $c_white;
					border-right: 5px solid $c_white;
					@media screen and (max-width: 1080px){
						border-width: 3px;
						right: 15px;
					}
				}
			}
		}
	}

}