.pro-page-detail-initiative{

	.pro-timer{
		position: relative;
	}

	article {

		header {
			.pro-header-participation {
				position: relative;

				h1 {
					&:before {
						content: none;
					}
				}

				.pro-wrapper-meta {
					margin-top: 4px;
					&:after {
						content: '';
						display: block;
						clear: both;
					}
					> * {
						float: left;
					}
				}

				.pro-statut {
					margin-right: 8px;
					position: relative;
					top: 4px;
					@include mobile{
						top: 0;
					}
					span {
						@include ft($f_hx, 0.875em, 700, $c_txt, normal);
						background: $c_main;
						border-radius: 4px;
						text-transform: uppercase;
						display: block;
						padding: 3px 10px;
					}
				}

				.pro-header-auteur {
					margin-bottom: 10px;
					padding: 12px 0 5px;
					figure {
						float: left;
						width: 40px;
						height: 40px;
						overflow: hidden;
						border-radius: 50%;
						margin-right: 15px;
					}
					p {
						@include ft($f_txt, 0.875em, 400, $c_txt, 1.533em);
						display: inline-block;
						width: calc(100% - 70px);
						margin-bottom: 0;
					}
				}


				&.pro-theme-embryon{
					.pro-wrapper-meta{
						.pro-statut{
							span{
								background: #72dde5;
							}
						}
					}
				}

				&.pro-theme-croissance{
					.pro-wrapper-meta{
						.pro-statut{
							span{
								background: #89f3d8;
							}
						}
					}
				}

				&.pro-theme-floraison{
					.pro-wrapper-meta{
						.pro-statut{
							span{
								background: #ff85b2;
							}
						}
					}
				}

				&.pro-theme-fecondation{
					.pro-wrapper-meta{
						.pro-statut{
							span{
								background: #8ba8d5;
							}
						}
					}
				}

				&.pro-theme-fructification{
					.pro-wrapper-meta{
						.pro-statut{
							span{
								background: #ffed00;
							}
						}
					}
				}

			}

			#breadcrumb {
				padding: 15px 0;
				a {
					&:after {
						top: 0;
					}
				}
			}
		}

		.pro-main-img {
			position: relative;
		}

		.pro-tabs {
			&:after {
				content: '';
				display: block;
				clear: both;
			}
			ul.nav-tabs {
				position: relative;
				border: none;
				margin-bottom: 20px;
				&:after {
					content: '';
					display: block;
					clear: both;
				}
				> li {
					width: 50%;
					float: left;
					border: none;
					position: relative;
					&.active {
						&:before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							width: 100%;
							height: 5px;
							background: $c_main;
						}
						> a {
							background: none;
							color: $c_txt;
						}
					}
					> a {
						@include ft($f_hx, 1em, 400, rgba($c_txt, 0.5), 4.667em);
						text-align: center;
						padding: 0;
						text-transform: uppercase;
						border: none;
						background: #ececec;
						margin: 0;
						border-radius: 0;
						@include mobile {
							font-size: 0.850em;
						}
					}
				}
			}
		}

		.pro-wrapper-people {
			&:after {
				content: '';
				display: block;
				clear: both;
			}
			> * {
				margin: 15px 0;
				> div {
					position: relative;
					display: block;
					border: 1px solid #b2b2b2;
					border-radius: 2px;
					figure.fit-cover {
						margin: 0;
						height: 115px;
						background: none;
						img{
							width: 70px;
							height: 70px;
							border-radius: 50%;
							margin: auto;
							top: 25px;
						}
						figcaption {
							display: none;
						}
					}
					> div {
						padding: 5px 25px 25px;
						text-align: center;
						@include tablet_landscape {
							padding: 5px 15px 15px;
						}
						time{
							font-size: 0.875em;
							line-height: normal;
						}
						h3 {
							@include ft($f_hx, 1.125em, 700, $c_txt, 1.200em);
							display: block;
							margin: 5px 0 8px 0;
						}
						p{
							font-size: 0.813em;
							margin: 0;
							line-height: normal;
						}
					}
				}
			}
		}

		.pro-bloc-telechargements {
			padding: 50px 0;
			@include tablet_portrait {
				padding: 50px 0 20px 0;
			}
			h3 {
				text-transform: uppercase;
				margin-bottom: 10px;
			}
		}

		.pro-bloc-texte {
			h2 {
				margin-top: 20px;
			}
		}

		aside {
			@include mobile {
				margin-top: 40px;
			}
			.pro-btn-yellow {
				background: transparent;
				color: $c_main;
				&:hover, &:focus {
					background: $c_main;
					color: $c_txt;
				}
			}

			.pro-push-avis {
				background: $c_main;
				height: 60px;
				position: absolute;
				top: -60px;
				left: 15px;
				right: 15px;
				z-index: 100;
				width: calc(100% - 30px);
				@include mobile {
					position: relative;
					top: 0;
					width: 100%;
					left: 0;
					right: 0;
				}
				&:after {
					content: '';
					display: block;
					clear: both;
				}
				> a {
					position: relative;
					@include ft($f_txt, $s_small, 400, $c_txt, 4.615em);
					width: 50%;
					float: left;
					padding: 0 10px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					@include addTransition();
					&:first-child {
						&:after {
							content: '';
							position: absolute;
							top: 0;
							bottom: 0;
							right: 0;
							width: 1px;
							height: 100%;
							background: #d4c500;
						}
					}

					&:hover, &:focus, &.active {
						background: $c_dark;
						color: $c_main;
						> span.icon-ico-like {
							background: $c_main;
							color: $c_txt;
						}
					}

					> span.icon-ico-like {
						position: relative;
						top: -2px;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						background: $c_white;
						margin-right: 10px;
						display: inline-block;
						vertical-align: middle;
						text-align: center;
						line-height: 40px;
						font-size: 1.3em;
						@include addTransition();
					}

					> span:not(.icon-ico-like) {
						@media screen and (max-width: 1200px) {
							display: none;
						}
						@include mobile {
							display: inline-block;
						}
						@include mobile_small {
							display: none;
						}
					}

					&.pro-dislike {
						> span.icon-ico-like {
							transform: rotate(180deg);
						}
					}
				}
			}

			.pro-wrapper-links{
				padding: 40px;
				background: $c_dark;
				@include tablet_portrait{
					padding: 20px;
				}
				> a {
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}

	}



	.pro-bloc-slider{
		&.pro-slider-event{
			@include mobile{
				padding: 20px 0 80px 0;
			}
		}
		.pro-wrapper{
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			transform: translate3d(0,-50%,0);
			&:after{
				content: '';
				display: block;
				clear: both;
			}
			@include tablet_portrait{
				position: relative;
				transform: none;
			}
			> * {
				@include mobile{
					margin-left: 0;
					margin-top: 10px;
				}
			}
			.pro-btn-yellow{
				float: left;
				display: inline-block;
				padding: 0 15px;
				width: 234px;
				text-align: center;
				position: relative;
				&:hover, &:focus{
					background: $c_dark;
					color: $c_white;
					border-color: $c_dark;
					z-index: 10;
				}
			}
			.pro-btn{
				position: relative;
				right: 0;
				top: 0;
				float: left;
				display: inline-block;
				height: 46px;
				margin-left: 10px;
				width: 234px;
				text-align: center;
				&:hover, &:focus{
					background: $c_dark;
					color: $c_white;
				}
				&:after{
					content: none;
				}
				@include mobile{
					margin-left: 0;
				}
			}
		}
	}


}