.pro-page-pacte {

	> .container {
		position: relative;
		width: 1060px;
		@media screen and (max-width: 1200px) {
			max-width: 970px;
			padding: 0 15px;
		}
		@media screen and(max-width: 992px) {
			max-width: 750px;
		}
		@include mobile {
			width: 100%;
		}
	}

	.pro-wrapper-title {
		width: auto;
		position: absolute;
		right: 0;
		top: 80px;
		@include tablet_portrait {
			top: 40px;
		}
		@include mobile {
			position: relative;
		}
		h1 {
			@include ft($f_hx, 15.625em, 700, $c_txt, 1em);
			text-transform: uppercase;
			@media screen and (max-width: 1200px) {
				font-size: 12em;
			}
			@include mobile {
				font-size: 8em;
				line-height: 1.1em;
			}
			@include mobile_small {
				font-size: 7em;
			}
			span {
				display: block;
				@include ft($f_hx, 0.600em, 700, $c_txt, 1em);
				@media screen and (max-width: 1200px) {
					font-size: 0.4em;
					position: relative;
					left: 5px;
				}
			}
		}

		.pro-surtitre {
			@include ft($f_hx, 1.563em, 700, $c_txt, 1em);
			position: absolute;
			right: 0;
			top: 115px;
			background: none;
			letter-spacing: 0px;
			@media screen and (max-width: 1200px) {
				font-size: 1.263em;
				right: 5px;
				top: 52px;
			}
			@include mobile {
				font-size: 1em;
				top: 31px;
			}
			@include mobile_small {
				top: 27px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 1.5px;
				left: -195px;
				height: 20px;
				width: 195px;
				background: $c_main;
				@media screen and (max-width: 1200px) {
					left: -159px;
					height: 15px;
					width: 160px;
				}
				@include mobile {
					top: 8px;
					height: 7px;
					width: 70px;
					left: -70px;
				}
				@include mobile_small {
					top: 8px;
					height: 5px;
					width: 40px;
					left: -37px;
				}
			}
		}
	}

	.pro-wrapper-content {
		padding-top: 235px;
		&:after {
			content: '';
			display: block;
			clear: both;
		}

		.pro-preambule {
			position: relative;
			padding: 80px 0;
			@include mobile {
				margin-top: 40px;
			}
			&:before {
				content: '';
				background: url(../../assets/images/background/bg-yellow.png);
				position: absolute;
				left: -100px;
				top: 30px;
				height: calc(100% - 30px);
				width: calc(100% + 100px);
				bottom: 0;
				z-index: -1;
				transform: rotate(-4.6deg);
				overflow: hidden;
				-webkit-backface-visibility: hidden;
				@include tablet_portrait {
					left: -60px;
				}
			}
			> * {
				max-width: 420px;
			}

			.pro-title {
				@include ft($f_hx, 2.813em, 700, $c_txt, 1em);
				text-transform: none;
				display: inline-block;
				border-bottom: 6px solid $c_dark;
				padding-bottom: 10px;
				margin-bottom: 30px;
			}
			h3 {
				@include ft($f_hx, 1.125em, 700, $c_txt, 1.444em);
			}
			p {
				@include ft($f_txt, 1em, 400, #797000, 1.625em);
				margin-bottom: 10px;
			}
			figure {
				margin: 20px 0;
				max-width: 100%;
			}
		}

		.pro-annexes {
			position: relative;
			top: 300px;
			padding: 0 0 0 80px;
			@media screen and (max-width: 1200px) {
				padding: 0 0 0 40px;
			}
			@include mobile {
				top: 0;
				padding: 0;
				margin: 50px 0;
			}
			h3 {
				@include ft($f_hx, 1.250em, 700, $c_txt, 1.3em);
				text-transform: uppercase;
			}
			ul {
				li {
					margin-bottom: 20px;
					&:before {
						content: "\e914";
						@include font();
						position: absolute;
						left: 0;
						top: 13px;
						font-size: 1.5em;
					}
					a {
						@include ft($f_txt, 0.938em, 700, $c_dark, normal);
						display: block;
						padding: 10px 60px 10px 30px;
						@include addTransitionCurve();
						&:after {
							content: '';
							position: absolute;
							left: 0;
							right: 0;
							bottom: 0;
							background: $c_main;
							height: 1px;
							@include addTransition();

						}
						span {
							display: block;
							@include ft($f_txt, 0.929em, 400, #666666, 1.385em);
						}
						&:hover, &:focus {
							&:after {
								height: 4px;
							}
						}

						&:focus {
							outline: 1px dashed $c_main;
						}
					}
				}
			}
		}
	}

	.pro-wrapper-pacte {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		> * {
			float: left;
			width: 50%;
			@include mobile {
				float: none;
				width: 100%;
			}
			&:last-child {
				padding-left: 35px;
				transform: translateY(-150px);
				transform: translate3d(0, -150px, 0);
				@include mobile {
					padding: 0;
					transform: none;
				}
			}
		}
		.pro-wrapper {
			position: relative;
			background: $c_white;
			margin: 50px 0;
			max-width: 440px;
			padding: 15px;
			&:after {
				content: '';
				position: absolute;
				bottom: -10px;
				left: 15px;
				right: 15px;
				height: 10px;
				background: $c_main;
			}
			> * {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.pro-big-letter {
			@include ft($f_hx, 15.625em, 700, $c_txt, 1em);
			text-transform: uppercase;
			position: absolute;
			left: -58px;
			top: -96px;
			z-index: -1;
			@include tablet_portrait {
				font-size: 10em;
				left: -20px;
				top: -65px;
			}
			@include mobile {
				display: none;
			}
			&.pro-big-letter-a {
				top: -40px;
				left: -68px;
				@include tablet_portrait {
					left: -30px;
				}
			}
			&.pro-big-letter-t {
				top: -65px;
				left: -85px;
				z-index: 10;
				@include tablet_portrait {
					left: -50px;
				}
			}
			&.pro-big-letter-e {
				top: auto;
				bottom: -300px;
				left: auto;
				right: 200px;
				@include tablet_portrait {
					bottom: -180px;
					right: 140px;
				}
			}
		}
		h2 {
			@include ft($f_hx, 1.5em, 700, $c_dark, normal);
			text-transform: uppercase;
			display: block;
			margin-bottom: 5px;
		}
		h3 {
			@include ft($f_txt, 1.125em, 700, $c_dark, normal);
		}
		p {
			@include ft($f_txt, 1em, 400, #606060, 1.5em);
			margin-bottom: 10px;
		}
	}

	.pro-bloc-facette {
		> form {
			display: block;
		}
	}

}