/* STYLE PAGE CARTE INTERACTIVE */

.pro-page-carte {

	.pro-wrapper-map.maps {
		position: relative;
		height: calc(100vh - 167px);
		@include tablet_portrait {
			height: calc(100vh - 123px);
		}
		@include mobile {
			min-height: auto;
		}
	}
}

.pro-menu-carte-mobile {
	display: none;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	transform: translate3d(-50%, 0, 0);
	width: 38px;
	height: 38px;
	z-index: 100;
	background: $c_white;
	box-shadow: 2px 1px 12px 0px rgba(0, 0, 0, 0.2);
	@include addTransition();
	&.btn-map-active {
		background: $c_main;
		span {
			color: $c_white;
		}
	}
	@include mobile {
		display: block;
	}
	span {
		font-size: 25px;
		text-align: center;
		display: block;
		line-height: 40px;
	}
}

.pro-wrapper-facette-carte {
	position: absolute;
	top: 200px;
	right: 30px;
	z-index: 100;

	@include tablet_portrait {
		top: 150px;
	}

	@include mobile {
		width: calc(100% - 40px);
		transform: translate3d(-20px, 0, 0);
		opacity: 0;
		transition: all 0.2s cubic-bezier(0.25, 0.5, 0.5, 0.9);
		left: 20px;
		right: 20px;
		pointer-events: none;

		&.show-menu-map {
			opacity: 1;
			transform: translate3d(0, 0, 0);
			pointer-events: auto;
		}
	}

	form {
		display: inline-block;
		box-shadow: 2px 1px 12px 0px rgba(0, 0, 0, 0.2);
		width: 340px;
		background: $c_white;
		@include mobile {
			width: 100%;
		}

		.pro-overflow {
			overflow: hidden;
			padding-bottom: 20px;
			position: relative;
			z-index: 100;
			@include mobile {
				display: none;
			}
		}

		.pro-affiner {
			@include ft($f_hx, 0.938em, 400, $c_main, 1.5em);
			text-transform: uppercase;
			display: block;
			padding: 30px;
			position: relative;
			&:before {
				content: '';
				background: url(../../assets/images/background/small-rec-black.png);
				position: absolute;
				left: -20px;
				top: -25px;
				height: 130%;
				width: calc(100% + 40px);
				bottom: 30px;
				z-index: -1;
				transform: rotate(-4.6deg);
				overflow: hidden;
				-webkit-backface-visibility: hidden;
				@include tablet_portrait {
					top: -35px;
					height: 140%;
					transform: rotate(-2.6deg);
				}
			}
			> span {
				display: none;
				margin-left: 10px;
				font-size: 10px;
				@include tablet_portrait {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}


		.pro-remove-chk {
			@include ft($f_txt, $s_small, 400, $c_txt, 2em);
			text-transform: lowercase;
			position: relative;
			clear: both;
			display: block;
			text-align: right;
			line-height: 1.5em;
			&:after {
				content: "\e91b";
				@include font();
				float: right;
				margin-left: 10px;
				line-height: 21px;
				font-size: 11px;
			}
			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}

		.pro-wrapper-group {
			overflow: hidden;
			height: 100%;
			max-height: 550px;
			padding: 10px 0 0 0;
			@include desktop {
				max-height: 400px;
			}
			@include tablet_portrait {
				max-height: 550px;
			}
			@include mobile {
				max-height: 300px;
			}
			@media screen and (max-height: 800px){
				max-height: 250px;
			}

			> div {
				overflow: auto;
				height: 100%;
				max-height: 550px;
				padding: 0 30px;
				padding-bottom: 20px;
				@include desktop {
					max-height: 400px;
				}
				@include tablet_landscape {
					max-height: 285px;
				}
				@include tablet_portrait {
					max-height: 550px;
				}
				@include mobile {
					max-height: 300px;
				}
				@media screen and (max-height: 800px){
					max-height: 250px;
				}

				> div {
					border-bottom: 1px solid #a6a6a6;
					&:last-child {
						border: none;
					}
				}
			}

		}

		.selectric-wrapper {
			position: relative;
			display: inline-block;
			z-index: 100;
			&:after {
				content: "\e902";
				@include font();
				float: right;
				font-size: 8px;
				line-height: normal;
				position: absolute;
				right: -20px;
				top: 20px;
				transform: translateY(-50%);
			}
			.selectric {
				background: none;
				border: none;
				.label {
					@include ft($f_hx, 0.938em, 400, $c_txt, 1.200em);
					padding: 11px 0;
					text-transform: uppercase;
					height: 100%;
					margin: 0;
					border-radius: 0;
					text-align: left;
					&:after {
						content: '';
						position: absolute;
						bottom: 14px;
						left: 0;
						right: 0;
						height: 4px;
						width: 100%;
						z-index: -1;
						background: $c_main;
						@include addTransitionCurve();
					}
					&:hover {
						&:after {
							height: 10px;
						}
					}
				}
				.button {
					display: none;
				}
			}
			.selectric-items {
				background: $c_white;
				box-shadow: none;
				border: none;
				width: 100% !important;
				position: relative;
				margin-bottom: 15px;
				margin-top: -5px;
				ul {
					font-size: 1em;
					li {
						@include ft($f_txt, $s_small, 400, $c_txt, 1em);
						padding: 5px 0;
						@include addTransition();
						&:hover, &.selected, &.highlighted {
							background: none;
						}
						&:hover {
							font-weight: 700;
						}
					}
				}
			}
		}

		.pro-group {
			display: block;
			@include addTransition();
			&.opened {
				height: auto;
				.item {
					&:after {
						transform: rotate(0deg);
					}
				}
			}
			&:first-child {
				.item {
					border-top: none;
				}
			}

			.pro-item {
				//border-top: 1px solid #a6a6a6;
				//border-bottom: 1px solid #a6a6a6;
				position: relative;
				text-align: left;
				user-select: none;
				z-index: 10000;
				@include addTransition();
				&:hover {
					color: $c_main;
					cursor: pointer;
				}
				label {
					@include ft($f_hx, 0.938em, 400, $c_txt, 1.200em);
					padding: 12px 45px 12px 0;
					display: block;
					text-transform: uppercase;
					position: relative;
					z-index: 1000;
					@include addTransition();
					&:hover {
						cursor: pointer;
						color: $c_main;
					}
				}

				input {
					position: absolute;
					top: 7px;
					left: 0;
					opacity: 0;
					&:focus {
						& + .pro-switch {
							outline: 1px dashed $c_main;
						}
					}
				}

				.pro-switch {
					bottom: 0;
					cursor: pointer;
					position: absolute;
					right: 0;
					top: 10px;
					left: auto;
					width: 40px;
					height: 20px;
					border: 1px solid #999999;
					@include addTransition();
					&:before {
						content: "";
						background-color: #000;
						bottom: 3px;
						height: 12px;
						left: 4px;
						position: absolute;
						width: 12px;
						@include addTransition();
					}

					&.pro-round {
						border-radius: 34px;
						&:before {
							border-radius: 50%;
						}
					}
				}

				input:checked + .pro-switch:before {
					transform: translateX(19px);
				}
				input:checked + .pro-switch {
					background: $c_main;
					border-color: #e5e5e5;
				}

				input:checked ~ .pro-wrapper-chk {
					display: block;
				}

			}

			.pro-wrapper-chk {
				position: relative;
				z-index: 100;
				display: none;
				margin-top: -5px;
				margin-bottom: 15px;
				> * {
					label {
						position: relative;
						user-select: none;
						display: block;
						padding: 0;
						text-transform: none;
						padding-left: 23px;
						@include ft($f_txt, $s_small, 400, $c_txt, 2em);
						@include addTransition();
						&:before {
							content: '';
							position: relative;
							float: left;
							margin-right: 10px;
							transform: none;
							text-align: left;
							width: 16px;
							height: 16px;
							border: 1px solid #a6a6a6;
							border-radius: 2px;
							background: #fff;
							cursor: pointer;
							top: 5px;
							position: absolute;
							left: 0;
						}
						&:after {
							content: "\e91a";
							@include font();
							text-shadow: 1px 1px 0 $c_white, 0px -2px 0 $c_white;
							font-size: 14px;
							position: absolute;
							left: 4px;
							top: 5px;
							transform: translateY(-50%);
							transform: translate3d(0, -50%, 0);
							cursor: pointer;
							color: $c_txt;
							transition: all .2s;
							background: none;
							opacity: 0;
							transform: scale(0);
							@include addTransitionCurve();
						}
						&:hover, &:focus {
							cursor: pointer;

						}
					}
					input {
						position: absolute;
						top: 7px;
						left: 0;
						opacity: 0;
						display: block;
						&:focus {
							& + label {
								color: $c_main;
							}
						}
					}
					input[type="checkbox"]:checked + label:after, input[type="radio"]:checked + label:after {
						opacity: 1;
						transform: scale(1);
					}
				}
			}

		}
	}
}