.categories-selectors .field-content {
	margin-bottom: 20px;
}

.period-label {
	margin-bottom: 10px;
}

.date-range {
	cursor: pointer; 
	padding: 5px 10px; 
	border: 1px solid #ccc; 
	width: 100%
}

.time-detail-wrapper {
   margin-top: 10px;
   margin-bottom: -40px;
}

.time-detail-generator-wrapper {
	margin-top: 10px;
}

.event-periods-title {
	margin-top: 30px;
}

.add-dates-section {
	padding: 10px 20px;
}

.row-fields {
	padding: 20px;
}

.event-period-conflict {
    margin-top: 40px;
    display: inline-block;
    padding: 5px 10px;
    background: #F44336;
    color: white;
    border-radius: 4px;
}
.daterangepicker {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;  
}