#wi-aroundme{
    @extend %molecule-home-section;
    z-index: 5;
    
    #aroundme{
        z-index: 10;
        overflow: hidden;
    }
    .meta {
        padding: 20px 75px 45px 75px;
        text-align: center;
        @include RWD(mobile){
            padding: 20px 20px 45px;
        }

        @include RWD(tablet){            
            padding: 20px 0 45px;
        }
    }
    .subtitle{
        font-size: 1.8rem;
        color: #5c5c5c;
        margin-bottom: 20px;

    }
    .btn-line{
        margin-top: 20px;
    }
}