@charset "UTF-8";


/* FONT IN LOCAL - PLAYFAIR */
@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-black-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* FONT IN LOCAL - SOURCE SANS PRO */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-blackit-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-blackit-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-boldit-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-boldit-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-lightit-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-lightit-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-semiboldit-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semiboldit-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}


/* FONT IN LOCAL - TRASHHAND */
@font-face {
    font-family: 'Trashhand';
    src: url('../fonts/trashhand-webfont.woff2') format('woff2'),
    url('../fonts/trashhand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$c_main: #baa56f;																		
$c_sub: #808080;
$c_rose: #d5afae;
$c_dark: #000000;
$c_white: #ffffff;
$c_txt: #000000;
$c_grey: #333333;
$c_light: #f5f5f5;	
$c_filet: #d8dae4;	
$third-color: #fbb52d;	

$crowded-orange: #ff470f;
$crowded-green: #40a040;
$crowded-grey: #9E9E9E;
$crowded-white: #FFFFFF;
$crowded-red: #FF0F0F;
$crowded-black: #272222;																									

$f_arial: 'Arial', sans-serif;
$f_hx: 'playfair', serif;														
$f_txt: 'Source Sans Pro', sans-serif;
$f_spe : 'Trashhand', sans-serif;

$s_h1: 72px;																			
$s_h2: 108px;																			
$s_h3: 66px;																		
$s_h4: 42px;																			
$s_p: 16px;	
$s_link: 18px;																			

$g: 15px;																				

$container_wd: 1300px;
$container_de: 1170px;
$container_tl: 940px;
$container_tp: 720px;
$container_mo: 100%;

$breakpoint_wd: 1329px;
$breakpoint_de: 1199px;
$breakpoint_tl: 991px;
$breakpoint_tp: 980px;
$breakpoint_mo: 767px;
$breakpoint_mo_small: 320px;

$video-width: 780px;

$svgFillPH: '##FILL##';
$svg-pmr: '<svg xmlns="http://www.w3.org/2000/svg" fill="'+$svgFillPH+'" viewBox="0 0 43.8 41.2"><title>  Personnes à mobilité réduite</title><circle class="st0" cx="12.6" cy="4.4" r="4.1"/><circle class="st0" cx="32.3" cy="4.1" r="4.1"/><path class="st0" d="M42.5 17.6c0 0-5.8-2-6.6-2.3s-2.6-2.8-4.2-4.9c-1.5-2.1-2.1-2-3.5-2.1s-5.7 3.8-6.9 4.7 -1.1 1.7-1.1 1.7V16h-2.9c0 0-6.2-6.9-7.3-6.9C9.5 9 9 9.1 8.5 9.3c-0.1 0-0.2 0.1-0.3 0.2l-5.6 3.3c-0.7 0.4-1.1 1.1-1.2 1.8C1 17.9 0 26.9 0 28.3c-0.1 0.9 0.5 1.7 1.3 2v8.3c0 0 0.5 2.3 2.3 2.3s2.6-2.3 2.6-2.3v-7.2h1.9c0 0 0.2 6.7 0.2 7.7s0.6 2 2.3 2c1.1-0.2 2-0.9 2.4-2 0 0 0.2-5.6 0.1-7.7 0.7-0.1 1.2-0.8 1.2-1.6v-9.7c0.6 0.5 1.3 0.8 2.1 1.1 0.9 0 1.9-0.2 2.8-0.4 0 0-1.6 8.3-1.5 9s1 1.5 1 1.5 -0.4 6.3-0.5 7c-0.1 1.3 0.8 2.4 2.1 2.5 0 0 0.1 0 0.1 0 1.9 0 2.7-2.3 2.7-2.3l0.3-7 1.9 0.1c0 0-0.3 5.9-0.3 7 -0.1 1.3 0.8 2.5 2.1 2.6 0.1 0 0.2 0 0.3 0 1.9 0.1 2.5-2.3 2.5-2.3l1.4-19.2h2.2l6.1 2 -4.8 17.8c0 0-0.4 1.5 0.6 1.8s1.4-1.6 1.4-1.6l5-17.6c0.8-0.2 1.5-0.7 1.8-1.5C44.3 18.9 42.5 17.6 42.5 17.6z"/></svg>';
$svg-pmr-color: #31455d;

$svgFillPH: '##FILL##';

$svg-poi-list: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="0 0 21.4 26.8"><path d="M10.7 0C4.8 0 0.1 4.8 0.1 10.7c0 8.9 10.7 16.1 10.7 16.1S21.4 19 21.4 10.7C21.4 4.8 16.6 0 10.7 0zM10.9 16.2c-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5S13.7 16.2 10.9 16.2z"/></svg>';

$svg-arrow1: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" width="31" height="22"><path d="m21.2 0.3a1.1 1.1 0 1 0-1.6 1.6l8 8 -26.5 0a1.1 1.1 0 0 0-1.1 1.2 1.1 1.1 0 0 0 1.1 1.1l26.6 0 -8 8a1.1 1.1 0 0 0 0 1.6 1.1 1.1 0 0 0 1.6 0l10-10a1.1 1.1 0 0 0 0-1.6l-10.1-9.9z"/></svg>';

$svg-filled-close: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '"  viewBox="0 0 511.8 511.8"><path d="M436.9 74.9c-99.8-99.8-262.2-99.8-362 0 -99.8 99.8-99.8 262.2 0 362 49.9 49.9 115.5 74.8 181 74.8s131.1-24.9 181-74.8C536.7 337.1 536.7 174.7 436.9 74.9zM361.5 331.3c8.3 8.3 8.3 21.8 0 30.2 -4.2 4.2-9.6 6.3-15.1 6.3 -5.5 0-10.9-2.1-15.1-6.3L255.9 286l-75.4 75.4c-4.2 4.2-9.6 6.3-15.1 6.3 -5.5 0-10.9-2.1-15.1-6.3 -8.3-8.3-8.3-21.8 0-30.2l75.4-75.4 -75.4-75.4c-8.3-8.3-8.3-21.8 0-30.2 8.3-8.3 21.8-8.3 30.2 0l75.4 75.4 75.4-75.4c8.3-8.3 21.8-8.3 30.2 0 8.3 8.3 8.3 21.8 0 30.2L286 255.9 361.5 331.3z"/></svg>';

$svg-filters: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="0 0 178.3 187.2"><path class="st0" d="M148.7 6v31.4c-10.1 2.7-17.6 11.9-17.6 22.8 0 10.9 7.5 20.2 17.6 22.8v98.2c0 3.3 2.7 6 6 6 3.3 0 6-2.7 6-6V83.1c10.1-2.7 17.6-11.9 17.6-22.8 0-10.9-7.5-20.2-17.6-22.8V6c0-3.3-2.7-6-6-6C151.4 0 148.7 2.7 148.7 6L148.7 6zM166.3 60.2c0 6.4-5.2 11.6-11.6 11.6 -6.4 0-11.6-5.2-11.6-11.6 0-6.4 5.2-11.6 11.6-11.6C161.1 48.6 166.3 53.9 166.3 60.2L166.3 60.2zM166.3 60.2"/><path class="st0" d="M95.1 181.2v-40c10.1-2.7 17.6-11.9 17.6-22.8 0-10.9-7.5-20.2-17.6-22.8V6c0-3.3-2.7-6-6-6 -3.3 0-6 2.7-6 6v89.6c-10.1 2.7-17.6 11.9-17.6 22.8 0 10.9 7.5 20.2 17.6 22.8v40c0 3.3 2.7 6 6 6C92.5 187.2 95.1 184.5 95.1 181.2L95.1 181.2zM77.5 118.4c0-6.4 5.2-11.6 11.6-11.6 6.4 0 11.6 5.2 11.6 11.6 0 6.4-5.2 11.6-11.6 11.6C82.7 130 77.5 124.8 77.5 118.4L77.5 118.4zM77.5 118.4"/><path class="st0" d="M29.6 181.2V83.1c10.1-2.7 17.6-11.9 17.6-22.8 0-10.9-7.5-20.2-17.6-22.8V6c0-3.3-2.7-6-6-6 -3.3 0-6 2.7-6 6v31.4C7.5 40.1 0 49.3 0 60.2c0 10.9 7.5 20.2 17.6 22.8v98.2c0 3.3 2.7 6 6 6C26.9 187.2 29.6 184.5 29.6 181.2L29.6 181.2zM12 60.2c0-6.4 5.2-11.6 11.6-11.6 6.4 0 11.6 5.2 11.6 11.6 0 6.4-5.2 11.6-11.6 11.6C17.2 71.8 12 66.6 12 60.2L12 60.2zM12 60.2"/></svg>';

$svg-fullscreen: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="31.4 221.3 351.5 351.4"><path  d="M376.6 221.3h-94.7c-3.4 0-6.1 2.7-6.1 6.1v24.4c0 3.4 2.8 6.1 6.1 6.1l38.2 0 -78.7 78.7c-2.4 2.4-2.4 6.3 0 8.6l17.3 17.3c2.4 2.4 6.3 2.4 8.6 0l78.7-78.7v38.2c0 3.4 2.7 6.1 6.1 6.1h24.4c3.4 0 6.1-2.8 6.1-6.1v-94.7C382.7 224.1 379.9 221.3 376.6 221.3z"/><path  d="M172.6 336.7L93.9 258l38.2 0c3.4 0 6.1-2.7 6.1-6.1v-24.4c0-3.4-2.8-6.1-6.1-6.1H37.4c-3.4 0-6.1 2.8-6.1 6.1v94.7c0 3.4 2.7 6.1 6.1 6.1h24.4c3.4 0 6.1-2.7 6.1-6.1l0-38.2 78.7 78.7c2.4 2.4 6.3 2.4 8.6 0l17.3-17.3C175 342.9 175 339.1 172.6 336.7z"/><path  d="M172.6 448.7l-17.3-17.3c-2.4-2.4-6.3-2.4-8.6 0L68 510.1l0-38.2c0-3.4-2.7-6.1-6.1-6.1H37.4c-3.4 0-6.1 2.8-6.1 6.1v94.7c0 3.4 2.8 6.1 6.1 6.1v0h94.7c3.4 0 6.1-2.7 6.1-6.1v-24.4c0-3.4-2.8-6.1-6.1-6.1l-38.2 0 78.7-78.7C175 454.9 175 451.1 172.6 448.7z"/><path  d="M376.6 465.8h-24.4c-3.4 0-6.1 2.7-6.1 6.1v38.2l-78.7-78.7c-2.4-2.4-6.3-2.4-8.6 0l-17.3 17.3c-2.4 2.4-2.4 6.3 0 8.6l78.7 78.7 -38.2 0c-3.4 0-6.1 2.7-6.1 6.1v24.4c0 3.4 2.8 6.1 6.1 6.1h94.7v0c3.4 0 6.1-2.8 6.1-6.1v-94.7C382.7 468.5 379.9 465.8 376.6 465.8z"/></svg>';

$svg-smallscreen: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="0 0 351.5 351.4"><path class="st0" d="M214.2 143h94.7c3.4 0 6.1-2.7 6.1-6.1v-24.4c0-3.4-2.8-6.1-6.1-6.1h-38.2l78.7-78.7c2.4-2.4 2.4-6.3 0-8.6L332.1 1.8c-2.4-2.4-6.3-2.4-8.6 0l-78.7 78.7V42.3c0-3.4-2.7-6.1-6.1-6.1h-24.4c-3.4 0-6.1 2.8-6.1 6.1V137C208.1 140.2 210.9 143 214.2 143z"/><path class="st0" d="M19 2L1.7 19.3c-2.4 2.3-2.4 6.2 0 8.6l78.7 78.7H42.2c-3.4 0-6.1 2.7-6.1 6.1v24.4c0 3.4 2.7 6.1 6.1 6.1h94.7c3.3 0 6.1-2.7 6.1-6.1V42.4c0-3.3-2.7-6.1-6.1-6.1h-24.4c-3.4 0-6.1 2.7-6.1 6.1v38.2L27.7 1.9C25.3-0.5 21.5-0.5 19 2z"/><path class="st0" d="M1.7 332.3L19 349.6c2.4 2.4 6.3 2.4 8.6 0l78.7-78.7v38.2c0 3.4 2.7 6.1 6.1 6.1h24.5c3.4 0 6.1-2.8 6.1-6.1v-94.7c0-3.4-2.8-6.1-6.1-6.1l0 0H42.2c-3.4 0-6.1 2.7-6.1 6.1v24.4c0 3.4 2.8 6.1 6.1 6.1h38.2L1.7 323.6C-0.7 326.1-0.7 329.9 1.7 332.3z"/><path class="st0" d="M214.5 315.1h24.4c3.4 0 6.1-2.7 6.1-6.1v-38.2l78.7 78.7c2.4 2.4 6.3 2.4 8.6 0l17.3-17.3c2.4-2.4 2.4-6.3 0-8.6l-78.7-78.7h38.2c3.4 0 6.1-2.7 6.1-6.1v-24.4c0-3.4-2.8-6.1-6.1-6.1h-94.7l0 0c-3.4 0-6.1 2.8-6.1 6.1v94.7C208.4 312.4 211.2 315.1 214.5 315.1z"/></svg>';

$svg-zoomin: '<svg xmlns="http://www.w3.org/2000/svg"  fill="' + $svgFillPH + '" viewBox="0 0 13 13"><path  d="M13 6l-1-1H8V1L7 0H6L5 1v4H1L0 6v1l1 1h4v4l1 1h1l1-1V8h4l1-1V6z"/></svg>';

$svg-zoomout: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '"  viewBox="0 0 13 3"><path  d="M1 0h11l1 1v1l-1 1H1L0 2V1L1 0z"/></svg>';

$svg-locate: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="0 0 420.2 420.3"><path d="M210 106.2c-57.4 0-103.9 46.5-103.9 104 0 57.4 46.5 103.9 103.9 103.9 57.4 0 103.9-46.5 103.9-103.9C314 152.7 267.5 106.2 210 106.2L210 106.2z"/><path d="M380.8 191c-8.8-79.6-72-142.8-151.6-151.6V0h-38.2v39.4c-79.6 8.8-142.8 72-151.6 151.6H0v38.2h39.4c8.8 79.6 72 142.8 151.6 151.6v39.4h38.2v-39.4c79.6-8.8 142.8-72 151.6-151.6h39.3V191H380.8zM210 343.8c-73.9 0-133.7-59.8-133.7-133.7S136.1 76.4 210 76.4c73.9 0 133.7 59.8 133.7 133.7S284 343.8 210 343.8z"/></svg>';

$svg-home: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="0 0 41.1 39.8"><path d="M40.6 19.4c0.7-0.8 0.7-2.1-0.2-2.8L22.1 0.5c-0.8-0.7-2.2-0.7-3 0L0.7 17.5c-0.8 0.7-0.9 2-0.1 2.8L1 20.8c0.8 0.8 2 0.9 2.8 0.2l1.4-1.2v18.1c0 1.1 0.9 2 2 2h7.2c1.1 0 2-0.9 2-2V25.2h9.2v12.6c0 1.1 0.8 2 1.9 2H35c1.1 0 2-0.9 2-2V20c0 0 0.4 0.3 0.9 0.7 0.5 0.4 1.5 0.1 2.2-0.7L40.6 19.4zM40.6 19.4"/></svg>';

$svg-success: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="0 0 392.3 392.4"><path d="M196.2 392.3c108.2 0 196.2-88 196.2-196.2S304.3 0 196.2 0 0 88 0 196.2 88 392.3 196.2 392.3L196.2 392.3zM196.2 19.6c97.4 0 176.6 79.2 176.6 176.6 0 97.4-79.2 176.6-176.6 176.6 -97.4 0-176.6-79.2-176.6-176.6C19.6 98.8 98.8 19.6 196.2 19.6L196.2 19.6zM196.2 19.6"/><path d="M251.3 146.3l-78.6 78.6L141 193.1c-3.9-3.9-10.2-3.9-14.1 0 -3.9 3.9-3.9 10.2 0 14.1l38.8 38.8c1.9 1.9 4.5 2.9 7.1 2.9 2.6 0 5.1-1 7.1-2.9 0 0 0 0 0 0l85.6-85.6c3.9-3.9 3.9-10.2 0-14.1C261.6 142.4 255.2 142.4 251.3 146.3L251.3 146.3zM251.3 146.3"/></svg>';

$svg-delete: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="0 0 392.3 392.6"><path d="M196.1 392.5c108.2 0 196.2-88 196.2-196.2S304.3 0.1 196.1 0.1 -0.1 88.1-0.1 196.3 87.9 392.5 196.1 392.5L196.1 392.5zM196.1 19.7c97.4 0 176.6 79.2 176.6 176.6 0 97.4-79.2 176.6-176.6 176.6 -97.4 0-176.6-79.2-176.6-176.6C19.6 98.9 98.7 19.7 196.1 19.7L196.1 19.7zM196.1 19.7"/><path d="M144.2 248.2c1.9 1.9 4.4 2.9 7 2.9 2.6 0 5-1 7-2.9l38.1-38.1 38.1 38.1c1.9 1.9 4.4 2.9 7 2.9 2.6 0 5-1 7-2.9 3.8-3.8 3.8-10 0-13.8l-38.2-38.1 38.1-38.1c3.8-3.8 3.8-10 0-13.8 -3.8-3.8-10-3.8-13.8 0l-38.1 38.1L158 144.4c-3.8-3.8-10-3.8-13.8 0 -3.8 3.8-3.8 10 0 13.8l38.1 38.1 -38.1 38.1C140.3 238.2 140.3 244.4 144.2 248.2L144.2 248.2zM144.2 248.2"/></svg>';

$svg-favoris: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '"   viewBox="0 0 240.7 240.7"><path d="M123.8 80l-3.4 3.4 -3.4-3.4c-14.7-14.7-38.6-14.7-53.3 0 -14.4 14.4-14.5 37.2-0.2 53.1 13 14.5 51.4 45.7 53 47 1.1 0.9 2.4 1.3 3.8 1.3 0 0 0.1 0 0.1 0 1.4 0.1 2.7-0.4 3.9-1.3 1.6-1.3 40-32.6 53-47 14.3-15.9 14.2-38.7-0.2-53.1C162.4 65.3 138.5 65.3 123.8 80zM168.4 125c-10.1 11.3-38 34.5-48 42.8 -10-8.2-37.9-31.5-48-42.8 -10-11.1-10-26.8-0.2-36.6 5-5 11.6-7.5 18.2-7.5 6.6 0 13.2 2.5 18.2 7.5l7.5 7.5c0.9 0.9 2 1.4 3.2 1.6 1.9 0.4 4-0.1 5.5-1.6l7.5-7.5c10-10 26.4-10 36.4 0C178.4 98.2 178.3 114 168.4 125z"/><path d="M120.4 240.7C54 240.7 0 186.7 0 120.4S54 0 120.4 0s120.4 54 120.4 120.4S186.7 240.7 120.4 240.7zM120.4 11.5c-60 0-108.9 48.8-108.9 108.9S60.3 229.2 120.4 229.2s108.9-48.8 108.9-108.9S180.4 11.5 120.4 11.5z"/></svg>';

$svg-heart-filled: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="0 0 240.7 240.7"><path class="st0" d="M120.4 240.7C54 240.7 0 186.7 0 120.4S54 0 120.4 0s120.4 54 120.4 120.4S186.7 240.7 120.4 240.7zM120.4 11.5c-60 0-108.9 48.8-108.9 108.9s48.8 108.9 108.9 108.9 108.9-48.8 108.9-108.9S180.4 11.5 120.4 11.5z"/><path class="st0" d="M177 80c-14.7-14.7-38.6-14.7-53.3 0l-3.4 3.4L117 80c-14.7-14.7-38.6-14.7-53.3 0 -14.4 14.4-14.5 37.2-0.2 53.1 13 14.5 51.4 45.7 53 47 1.1 0.9 2.4 1.3 3.8 1.3 0 0 0.1 0 0.1 0 1.4 0.1 2.7-0.4 3.9-1.3 1.6-1.3 40-32.6 53-47C191.5 117.2 191.4 94.3 177 80z"/></svg>';

$svg-account: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '"  viewBox="0 0 44 44"><path d="M44 22C44 9.9 34.1 0 22 0S0 9.9 0 22c0 6.4 2.8 12.2 7.1 16.2l0 0 0.7 0.6c0 0 0.1 0.1 0.1 0.1 0.4 0.3 0.8 0.6 1.2 0.9 0.1 0.1 0.3 0.2 0.4 0.3 0.4 0.3 0.9 0.6 1.3 0.8 0.1 0.1 0.2 0.1 0.3 0.2 0.5 0.3 1 0.5 1.5 0.8 0 0 0.1 0 0.1 0.1 1.7 0.8 3.5 1.3 5.3 1.7 0.1 0 0.1 0 0.1 0 0.6 0.1 1.2 0.2 1.8 0.2 0.1 0 0.1 0 0.2 0 0.6 0 1.2 0.1 1.8 0.1 0.6 0 1.2 0 1.8-0.1 0.1 0 0.1 0 0.2 0 0.6-0.1 1.2-0.1 1.7-0.2 0.1 0 0.1 0 0.2 0 1.8-0.3 3.6-0.9 5.2-1.6 0.1 0 0.1-0.1 0.2-0.1 0.5-0.2 1-0.5 1.5-0.8 0.1-0.1 0.2-0.1 0.4-0.2 0.4-0.3 0.9-0.5 1.3-0.8 0.1-0.1 0.3-0.2 0.4-0.3 0.4-0.3 0.7-0.5 1-0.8 0.1-0.1 0.2-0.1 0.2-0.2l0.7-0.6 0 0C41.2 34.2 44 28.4 44 22L44 22zM1.6 22C1.6 10.8 10.7 1.6 22 1.6S42.4 10.8 42.4 22c0 6.1-2.7 11.5-6.9 15.3 -0.2-0.2-0.5-0.3-0.7-0.4L28 33.4c-0.6-0.3-1-0.9-1-1.6v-2.4c0.2-0.2 0.3-0.4 0.5-0.7 0.9-1.2 1.6-2.6 2.1-4.1 1-0.5 1.7-1.5 1.7-2.6v-2.8c0-0.7-0.3-1.4-0.7-1.9v-3.7c0-0.4 0.2-2.8-1.5-4.7 -1.5-1.7-3.9-2.5-7.1-2.5 -3.2 0-5.6 0.9-7.1 2.5 -1.7 1.9-1.5 4.3-1.5 4.7v3.7c-0.5 0.5-0.7 1.2-0.7 1.9v2.8c0 0.9 0.4 1.7 1.1 2.3 0.6 2.5 2 4.5 2.5 5.1v2.3c0 0.7-0.4 1.3-0.9 1.6L9 36.8c-0.2 0.1-0.4 0.2-0.6 0.4C4.2 33.4 1.6 28 1.6 22L1.6 22zM34 38.5c-0.3 0.2-0.6 0.4-0.9 0.6 -0.1 0.1-0.3 0.2-0.4 0.3 -0.4 0.2-0.8 0.5-1.2 0.7 -0.1 0-0.2 0.1-0.3 0.1 -0.9 0.5-1.8 0.9-2.8 1.2 0 0-0.1 0-0.1 0 -0.5 0.2-1 0.3-1.5 0.4h0c-0.5 0.1-1 0.2-1.6 0.3 0 0 0 0 0 0 -0.5 0.1-1 0.1-1.5 0.2 -0.1 0-0.2 0-0.3 0 -0.5 0-1 0.1-1.5 0.1 -0.5 0-1 0-1.5-0.1 -0.1 0-0.2 0-0.3 0 -0.5 0-1-0.1-1.5-0.2l-0.1 0c-1.1-0.2-2.1-0.4-3.1-0.8 0 0-0.1 0-0.1 0 -0.5-0.2-1-0.4-1.5-0.6 0 0 0 0 0 0 -0.5-0.2-0.9-0.4-1.4-0.7 -0.1 0-0.1-0.1-0.2-0.1 -0.4-0.2-0.8-0.5-1.2-0.7 -0.1-0.1-0.2-0.1-0.3-0.2 -0.4-0.2-0.7-0.5-1.1-0.7 0 0-0.1-0.1-0.1-0.1l0.1 0 6.3-3.4c1.1-0.6 1.8-1.7 1.8-3v-2.9l-0.2-0.2c0 0-1.7-2.1-2.4-5l-0.1-0.3 -0.3-0.2c-0.4-0.2-0.6-0.7-0.6-1.1v-2.8c0-0.4 0.2-0.7 0.4-1L15 18v-4.5l0-0.1c0 0-0.2-1.9 1.1-3.5 1.2-1.3 3.1-2 5.9-2 2.7 0 4.7 0.7 5.9 2 1.4 1.5 1.1 3.5 1.1 3.5l0 4.6 0.3 0.2c0.3 0.3 0.4 0.6 0.4 1v2.8c0 0.6-0.4 1.1-0.9 1.3l-0.4 0.1 -0.1 0.4c-0.5 1.5-1.1 2.8-2 4 -0.2 0.3-0.4 0.6-0.6 0.8l-0.2 0.2v3c0 1.3 0.7 2.4 1.9 3l6.8 3.4c0 0 0.1 0 0.1 0.1C34.1 38.4 34.1 38.4 34 38.5L34 38.5zM34 38.5"/></svg>';

$svg-dashboard: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="0 0 512 512"><path d="M232 0H0v232h232V0zM216 216H16V16h200V216z"/><path d="M280 232h232V0H280V232zM296 16h200v200H296V16z"/><path d="M232 280H0v232h232V280zM216 496H16V296h200V496z"/><path d="M280 512h232V280H280V512zM296 296h200v200H296V296z"/></svg>';

$svg-notification: '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="0 0 512 512"><path d="M302.2 431.9c-3-5.1-9.5-6.7-14.6-3.8 -5.1 3-6.8 9.5-3.8 14.6 2.8 4.7 4.3 10.4 4.3 15.9 0 17.6-14.4 32-32 32s-32-14.4-32-32c0-5.6 1.5-11.2 4.3-15.9 3-5.1 1.3-11.6-3.8-14.6 -5.1-2.9-11.6-1.3-14.6 3.8 -4.7 8.1-7.2 17.3-7.2 26.7 0 29.4 23.9 53.3 53.3 53.3s53.3-23.9 53.4-53.3C309.4 449.2 306.9 440 302.2 431.9z"/><path d="M256 0c-23.5 0-42.7 19.1-42.7 42.7v42.7c0 5.9 4.8 10.7 10.7 10.7s10.7-4.8 10.7-10.7V42.7c0-11.8 9.6-21.3 21.3-21.3s21.3 9.6 21.3 21.3v42.7c0 5.9 4.8 10.7 10.7 10.7s10.7-4.8 10.7-10.7V42.7C298.7 19.1 279.5 0 256 0z"/><path d="M467.8 431.9l-36.7-61.1c-16.9-28.2-25.8-60.4-25.8-93.3V224c0-82.3-67-149.3-149.3-149.3s-149.3 67-149.3 149.3v53.5c0 32.9-8.9 65.1-25.8 93.3l-36.7 61.1c-2 3.3-2 7.4-0.1 10.7 1.9 3.3 5.5 5.4 9.3 5.4h405.3c3.8 0 7.4-2.1 9.3-5.4C469.8 439.3 469.8 435.1 467.8 431.9zM72.2 426.7l26.9-44.9C118 350.3 128 314.2 128 277.5V224c0-70.6 57.4-128 128-128s128 57.4 128 128v53.5c0 36.7 10 72.8 28.9 104.3l27 44.9L72.2 426.7 72.2 426.7z"/></svg>';

$svg-close:         '<svg xmlns="http://www.w3.org/2000/svg" fill="' + $svgFillPH + '" viewBox="0 0 380.2 380.2"><path d="M324.5 55.7C288.6 19.8 240.9 0 190.1 0 139.3 0 91.6 19.8 55.7 55.7 19.8 91.6 0 139.3 0 190.1c0 50.8 19.8 98.5 55.7 134.4 35.9 35.9 83.6 55.7 134.4 55.7 50.8 0 98.5-19.8 134.4-55.7 35.9-35.9 55.7-83.6 55.7-134.4 0-50.8-19.8-98.5-55.7-134.4zm-15.3 253.5c-31.8 31.8-74.2 49.4-119.1 49.4-45 0-87.3-17.5-119.1-49.4C5.3 243.5 5.3 136.6 71 71c31.8-31.8 74.2-49.4 119.1-49.4 45 0 87.3 17.5 119.1 49.4 65.7 65.6 65.7 172.5 0 238.2zm0 0"/><path d="M273.8 106.3c-4.2-4.2-11-4.2-15.3 0L190 174.8l-68.5-68.5c-4.2-4.2-11-4.2-15.3 0-4.2 4.2-4.2 11 0 15.3l68.5 68.5-68.5 68.5c-4.2 4.2-4.2 11 0 15.3 2.1 2.1 4.9 3.2 7.6 3.2 2.7 0 5.5-1 7.6-3.2l68.5-68.5 68.5 68.5c2.1 2.1 4.9 3.2 7.6 3.2 2.8 0 5.5-1 7.6-3.2 4.2-4.2 4.2-11 0-15.3l-68.3-68.5 68.5-68.5c4.3-4.2 4.3-11 0-15.3zm0 0"/></svg>';

// BreakPoints
$break-small: 767;
$break-large: 1280; // Cette valeur doit être égale à la largeur du container + X pixel. Le passage en tablette se fera dont à X pixel de plus que la largeur du container principal, permettant de ne jamais avoir le contenu collé au bord de l'écran.