.autocomplete-suggestions {
  position: absolute;
  z-index: 1051;
  left: -100000px;
  display: block;
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 0 0 4px 4px;
  background-color: white;
}

.autocomplete-suggestion {
  padding: 6px;
}

.autocomplete-suggestion:hover {
  color: white;
  background-color: #5897fb;
}

.autocomplete-suggestion strong {
  font-weight: bold;
  color: #31455d;
}