@import "lr6/custom.scss";

.has-control-menu #wrapper {
	margin-top: 100px !important;
}

#wrapper {
	padding-top: 0px;

	.search-box .search-form #search-input{
		float:left;
		color: initial;
	}
	.portlet-layout.row{
		margin: 0px;
	}

	.col-md-12{
		padding:0px;
	}

	.portlet {
		padding: 0px;
		margin: 0px;

		.portlet-content {
			border: none;
			background: none;
			padding: 0px;

			.portlet-title-text{
				display: none;
			}

			.video-wrapper {
				margin-left: auto;
				margin-right: auto;

				.site-title{
					padding: 2rem 0;
				    font-weight: normal;
				    font-size: 3rem;
				}

				.video-data{
					margin-top: 2em;

					.video-play-button{
						padding: 20px;
						border-radius: 0px;
						position: relative;
						z-index: 99;
					}

					.video-play-button:hover{
						color: white;
					}
				}

				.video-carousel-controls ul li{
					padding: 0px;
				}
			}

			h3{
				margin: 1em 0;
			}

			label{
				font-weight: normal;
			}

			.form-control{
				border-radius : 0px;
			}

			.btn{
				line-height: normal;
				border-radius: 0px;
			}

			.btn.arrow{
				border: none;
			}

			.video-grid .btn{
				padding: 0px;
			}

			.container button.btn-primary:active, .container button.btn-primary:focus, .container button.btn-primary:active:focus{
				color: white;
				border-color: white;
				background-color: #97bf0c;
			}

			.video-grid .search-asset-results{
				display: flex;
				flex-wrap: wrap;
			}

			.grid-3 form{
				width: 100%;	
			}

			.grid-3> form > div > * {
			    width: 33.33333333%;
			}

			[class*="grid-"]> form > div > * {
			    -webkit-box-flex: 0;
			    -webkit-flex: 0 0 auto;
			    -ms-flex: 0 0 auto;
			    flex: 0 0 auto;
			    display: block;
			    border-left: 1em solid transparent;
			    background-clip: padding-box !important;
			}

			.clearfix.lfr-pagination{
				width: 100%;

				.lfr-pagination-config{
					display: none;
				}

				.search-results{
					color: white;
	    			font-size: 1.6rem;
				}

				.lfr-pagination-buttons li a{
					background: #2d2d2d;
					color: white;
					border: 2px solid white;
					border-radius: 0px;
	    			padding: 0.5rem 1rem;
	    			font-size: 1.6rem;
				}

				.lfr-pagination-buttons li.disabled a{
					color: #5d5d5d;
					border-color: #5d5d5d;
				}

				.lfr-pagination-buttons li a:hover{
					background: #97bf0c;
				}

				.lfr-pagination-buttons li.disabled a:hover{
					background: #2d2d2d;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	#wrapper #content .col-md-12 {
		float: none;
    }
}

@media (max-width: 992px) {
	#wrapper #content .col-md-12 {
		width: 100%;
    }
}
@media (max-width: 1230px){
	.container {
		width: inherit;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	#wrapper .portlet .portlet-content .grid-3 form > div > * {
		width: 33.3333%;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	#wrapper .portlet .portlet-content .grid-3 form > div > * {
		width: 50%;
	}
}
@media (max-width: 480px) {
	#wrapper .portlet .portlet-content .grid-3 form > div > * {
		width: calc(100% + 4.2rem);
	}

	.search-asset-results .video-thumbnail {
		margin-left: -2.8rem;
	}

	.video-thumbnail.meta {
		margin-left: 0px;
	}
}

.portal-popup #column-1 {
	position: absolute !important;
}

/** Début des correctifs du menu liferay modifié par le theme du site **/
// Change la font-size pour le menu de gauche et la barre du haut
[data-qa-id = 'controlMenu'],.text-muted.truncate-text{
	font-size: 14px;
	font-family: OpenSans, arial;

	[data-qa-id = 'headerTitle'] {
		font-size: 16px !important;
		font-family: OpenSans, arial;
	}
}

// Logo Liferay était coupé dans le menu de gauche
.lfr-product-menu-sidebar .sidebar-body, .lfr-admin-panel .sidebar-body{
	top: 56px !important;
}

// Replace icone des contenus dans menu de droite
.lfr-product-menu-sidebar .sidebar-body .icon-sites .lexicon-icon-sites {
	margin-top: -15px;
}

// Replace icone lorsqu'il n'y a pas de logo pour le site choisi dans le menu de gauche
.lfr-product-menu-sidebar .sidebar-body .sticker-default .lexicon-icon-sites {
	margin-top: 3px;
}

// "Aller au site" avec la bonne size
a.goto-link.list-group-heading.panel-header-link{
	font-size: 14px;
}

// Menu de droite
.lfr-add-panel{
	font-size: 15px;
	font-family: OpenSans, arial;

	.lfr-content-item{  
		margin-bottom: 8px;

		.taglib-icon-label {
		font-size: 16px;
		}

		.lexicon-icon {
		height: 14px;
		margin-top: 3px;
		width: 14px;
		}

		.list-group-item-content{      
		h1{
		font-size: 14px !important;
		font-family: OpenSans, arial;
		font-weight: 600;
		}

		h2,h3{
		font-size: 14px !important;
		font-family: OpenSans, arial;
		}
		}
	}
} 
	
// Formulaire de connexion
.login-container{
	.field.form-control {
		border-width: 1px 1px 1px 1px;
		height: 30px;
		width: 190px;
		padding: 6px 12px;
		margin: 1px;
		font-size: 14px;
		font-family: Arial, sans-serif;
	}

	.btn.btn-primary.btn-default {
		height: 45px;
		width: 100%;
		background-color: rgb(51, 122, 183);
		border-color: rgb(46, 109, 164);
		font-size: 18px;
	}

	.btn.btn-primary.btn-default:hover {
		background-color: rgb(40, 96, 144);
		border-color: rgb(32, 77, 116);
	}
}

// Message de notification
.lfr-notification-container{
	font-size: 14px;
	font-family: OpenSans, arial;
}

// Notification alerte
.liferayalert.alert-warning {
	background-color: #fff4ec;
	border-color: #ff8f39;
	color: #B95000;
	padding-bottom:17.5px;
	padding-left:16px;
	padding-right:40px;
	padding-top:17.5px;


	.lead{
		font-size: 14px;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-weight: 600;
		margin-right: 5px;
	}
}

// Notification danger
.liferayalert.alert-danger {
	background-color: #feefef;
	border-color: #f48989;
	color: #DA1414;
	padding-bottom:17.5px;
	padding-left:16px;
	padding-right:40px;
	padding-top:17.5px;

	.lead{
		font-size: 14px;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		font-weight: 600;
		margin-right: 5px;
	}
}

// Contenu sous menu dans le menu de gauche 
a[data-qa-id = 'app'] {
	padding: 12px 16px !important;
}

// Formulaire mot de passe oublié taille des inputs
input#_com_liferay_login_web_portlet_LoginPortlet_captchaText,input#_com_liferay_login_web_portlet_LoginPortlet_emailAddress{
	width: 100%;
}

// Regle qui passait pour toutes ces classes le line-height en inherit
[data-qa-id = 'controlMenu'],.lfr-notification-container,.lfr-admin-panel,.lfr-product-menu-sidebar {
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
		line-height: initial;
	} 
}

//Font size des options de configuration des portlets
.dropdown-menu.dropdown-menu-right li, .dropdown-menu.dropdown-menu-left-side li{
	font-size: 16px;
    margin: 10px;
}

.portlet-name-text{
	font-size: 16px;
}