//Lato Semibold
@font-face {
    font-family: 'latosemibold';
    src: url('fonts/lato/lato-semibold-webfont.woff2') format('woff2'),
        url('fonts/lato/lato-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Roadway Regular
@font-face {
    font-family: 'roadwayregular';
    src: url('fonts/roadway/roadway-regular-webfont.woff2') format('woff2'),
        url('fonts/roadway/roadway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//ProximaNova Light
@font-face {
    font-family: 'proximanovalight';
    src: url('fonts/proximanova/proximanova-light-webfont.woff2') format('woff2'),
        url('fonts/proximanova/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Roboto Regular
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
        url('fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Roboto Medium
@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
        url('fonts/roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Roboto Bold
@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
        url('fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Icomoon
@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon/icomoon.woff2?xfoi9s') format('woff2'),
        url('fonts/icomoon/icomoon.woff?xfoi9s') format('woff');
	font-weight: normal;
	font-style: normal;
}

//Poppins
@font-face {
	font-family: 'poppins';
	src:  url('fonts/poppins/Poppins-Regular.ttf?xfoi9s') format('truetype');
	font-weight: normal;
	font-style: normal;
}