//Lato Semibold
@font-face {
    font-family: 'latosemibold';
    src: url('fonts/lato/lato-semibold-webfont.eot');
    src: url('fonts/lato/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/lato/lato-semibold-webfont.woff2') format('woff2'),
        url('fonts/lato/lato-semibold-webfont.woff') format('woff'),
        url('fonts/lato/lato-semibold-webfont.ttf') format('truetype'),
        url('fonts/lato/lato-semibold-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Roadway Regular
@font-face {
    font-family: 'roadwayregular';
    src: url('fonts/roadway/roadway-regular-webfont.eot');
    src: url('fonts/roadway/roadway-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/roadway/roadway-regular-webfont.woff2') format('woff2'),
        url('fonts/roadway/roadway-regular-webfont.woff') format('woff'),
        url('fonts/roadway/roadway-regular-webfont.ttf') format('truetype'),
        url('fonts/roadway/roadway-regular-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

//ProximaNova Light
@font-face {
    font-family: 'proximanovalight';
    src: url('fonts/proximanova/proximanova-light-webfont.eot');
    src: url('fonts/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/proximanova/proximanova-light-webfont.woff2') format('woff2'),
        url('fonts/proximanova/proximanova-light-webfont.woff') format('woff'),
        url('fonts/proximanova/proximanova-light-webfont.ttf') format('truetype'),
        url('fonts/proximanova/proximanova-light-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Roboto Regular
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto/roboto-regular-webfont.eot');
    src: url('fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
        url('fonts/roboto/roboto-regular-webfont.woff') format('woff'),
        url('fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
        url('fonts/roboto/roboto-regular-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Roboto Medium
@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto/roboto-medium-webfont.eot');
    src: url('fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
        url('fonts/roboto/roboto-medium-webfont.woff') format('woff'),
        url('fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
        url('fonts/roboto/roboto-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Roboto Bold
@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto/roboto-bold-webfont.eot');
    src: url('fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
        url('fonts/roboto/roboto-bold-webfont.woff') format('woff'),
        url('fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
        url('fonts/roboto/roboto-bold-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}