
// Style pour les formulaires
.pro-bloc-texte{
    .pro-wrapper-numeric-form {
        .portlet-forms {
            h2.ddl-form-description {
                @include ft($f_hx, 1.25em, 700, $c_txt, 1.3em);
                text-transform: uppercase;
                margin-bottom: 10px;
                display: inline-block;
            }

            .ddl-form-builder-app .lfr-ddm-form-container .lfr-ddm-form-page {
                padding : 0px;

                .required-warning{
                    margin-top: 0;
                }
                
                > .row {
                    margin-left: -15px;
                    margin-right: -15px;

                    .lfr-ddm-form-field-container{
                        padding: 0px;

                        .input-select-wrapper{        
                            .control-label {
                                @include ft($f_txt, 0.875em, 400, #4c4c4c, 1.571em);
                                position: relative;
                                display: block;
                                text-align: left;
                                clear: both;
                                user-select: none;
                                margin-bottom: 5px;
                                span {
                                    color: #ff0000;
                                }
                            }
                        }
        
                        .control-label {
                            @include ft($f_hx, 1.25em, 700, $c_txt, 1.625em);
                            margin-top: 10px;
                            text-transform: none;
                        }
        
                        .liferay-ddm-form-field-tip {
                            margin: 0 0 20px 0;
                            font-size: .938em;
                            font-weight: 400;
                            color: $c_txt;
                            line-height: 1.6em;
                        }
                        
                        .liferay-ddm-form-field-checkbox-multiple>label{
                            display: inline-block;
                            font-family: $f_hx;
                            font-size: 1.25em;
                            font-weight: 700;
                            line-height: 1.625em;
                            margin-top: 10px;
                            text-transform: none;
                        }

                        .checkbox input[type="checkbox"]{
                            position: relative;
                            margin-right: 10px;
                        }

                        .liferay-ddm-form-field-checkbox, .checkbox-default{
                            margin-top: 20px;
                            margin-bottom: 15px;

                            input {
                                opacity: 1;

                                &:checked {
                                    &:after {
                                        opacity: 1;
                                        transform: scale(1);
                                    }
                                }

                                &:before {
                                    content: '';
                                    position: absolute;
                                    float: left;
                                    margin-right: 10px;
                                    transform: none;
                                    text-align: left;
                                    width: 20px;
                                    height: 20px;
                                    border: 1px solid #a6a6a6;
                                    border-radius: 2px;
                                    background: $c_white;
                                    left: 0;
                                    top: 0;
                                }

                                &:after {
                                    content: "\e91a";
                                    @include font();
                                    text-shadow: 1px 1px 0 $c_white, 0px -2px 0 $c_white;
                                    font-size: 16px;
                                    position: absolute;
                                    left: 5px;
                                    top: 0;
                                    transform: translateY(-50%);
                                    transform: translate3d(0, -50%, 0);
                                    color: $c_txt;
                                    transition: all .2s;
                                    background: none;
                                    opacity: 0;
                                    transform: scale(0);
                                    @include addTransitionCurve();
                                }
                            }
                        }

                        .radio {
                            margin-top: 20px;
                            margin-bottom: 5px;

                            input {
                                opacity: 1;
                                top: 2px;
                                left: 2px;
                                
                                &:checked {
                                    &:after {
                                        background: $c_sub;
                                        border-radius: 50px;
                                        content: " ";
                                        height: 10px;
                                        left: 1px;
                                        position: absolute;
                                        top: 3px;
                                        width: 10px;
                                    }
                                }

                                &:before {
                                    content: '';
                                    position: absolute;
                                    margin-right: 7px;
                                    padding: 7px;
                                    display: inline-block;
                                    border: 1px solid #a6a6a6;
                                    border-radius: 50px;
                                    background: $c_white;
                                    left: -2px;
                                    top: 0;
                                }
                            }
                            
                        }

                        .input-group-container{
                            select{
                                @include ft($f_txt, 0.875em, 400, $c_txt, 20px);

                                option{
                                    @include ft($f_txt, 0.875em, 400, $c_txt, 1.429em);

                                    &:disabled { 
                                        filter: alpha(opacity=50);
                                        opacity: 0.5;
                                        cursor: default !important;
                                        background: none !important;
                                        color: #666 !important;
                                        user-select: none;
                                    }
                                    
                                    &:not(:disabled):checked { 
                                        background: #E5E5E5;
                                    }
                                }
                            }
                        }
                    }
                }

                .icon-asterisk:before{
                    content: none;
                }
            }
        }
    }
}
// Fin du style pour les formulaires

//  Style pour le signalement
.pro-wrapper-registre form#form-signalements {
    margin-bottom: 0;

    button[type="submit"]:hover, button[type="submit"]:focus{
        border: 2px solid #ffed00;
    }
}
// Fin du style pour le signalement

// Style pour la pagination
.pro-wrapper-registre .pro-pagination {

    ul li:before{
        content: none;
    }

    .selectric-wrapper {

        .selectric{
            border: none;

            .label{
                font-family: $f_hx;
                font-size: .938em;
                line-height: 1.6em;
                padding: 0;

                &:after{
                    content: '';
                    top: auto;
                    right: 0;
                }
            }
        }

        .selectric-items{    
            top: 110%;
            border: none;
            
            ul{
                font-size: 12px;

                li{                    
                    font-family: $f_hx;
                    font-size: .938em;
                    line-height: 1.6em;
                }
            }
        }
    }
}
// Fin style pour la pagination

// Style pour la sélection d'image et de documents
.pro-bloc-pcs-form {
    .upload-image, .upload-file {
        padding-right: 35px;
        border-radius: 4px;
    }

    .documentSelected{
        width: 100%;
        margin-bottom: 10px;
        position: relative;
    
        .browsePicture{
            padding-top: 0;
    
            .form-group{
                margin-bottom: 0;
            }
        }
    } 
    
    .deleteImage, .deleteFile {
        font-family: 'icomoon' !important; 
        position: absolute;
        margin-top: -28px;
        right: 10px;
        cursor: pointer;
        
        &::before {
            content: "\e91b";
        }
    }

    .help-block + .deleteImage, .help-block + .deleteFile{
        margin-top: calc(-1em - 43px);
    }

    .btn:hover ~ .deleteImage, .btn:focus ~ .deleteImage, .btn:hover ~ .deleteFile, .btn:focus ~ .deleteFile{
        color: $c_main;
    }
} 
// Fin style pour la sélection d'images et de documents