// Style pour la sélection d'image et de documents
.pro-bloc-pcs-form {
    .upload-image, .upload-file {
        padding-right: 35px;
        border-radius: 4px;
    }

    .documentSelected{
        width: 100%;
        margin-bottom: 10px;
        position: relative;
    
        .browsePicture{
            padding-top: 0;
    
            .form-group{
                margin-bottom: 0;
            }
        }
    } 
    
    .deleteImage, .deleteFile {
        font-family: 'icomoon' !important; 
        position: absolute;
        margin-top: -28px;
        right: 10px;
        cursor: pointer;
        
        &::before {
            content: "\e91b";
        }
    }

    .help-block + .deleteImage, .help-block + .deleteFile{
        margin-top: calc(-1em - 43px);
    }

    .btn:hover ~ .deleteImage, .btn:focus ~ .deleteImage, .btn:hover ~ .deleteFile, .btn:focus ~ .deleteFile{
        color: $c_main;
    }
} 
// Fin style pour la sélection d'images et de documents

// Style pour les alertes de modifications de budget participatifs
[id*=ProjectPopupPortlet] .lfr-alert-container{ 
    position: fixed;
    top: 100px;
} 
// Fin style pour les alertes de modifications de budget participatifs


/** 
* START Adaptations migration 7.2 
**/

// Suppression des border-style sur les labels présents en 7.2
#th-global .selectric .label {
    border-style: none;
}

// Suppression de la bande grise présent sur /mon-activite-citoyenne en 7.2
#th-global .portlet-layout .portlet-header {
    margin-bottom: 0rem;
}

/** 
* END Adaptations migration 7.2 
**/